@keyframes myAnimation1 {
  from {
    height: 300px;
    width: 300px;
  }
  to {
    height: 300px;
    width: 100%;
  }
}

@keyframes myAnimation2 {
  from {
    height: 300px;
    width: 300px;
  }
  to {
    height: 300px;
    width: 100%;
  }
}

@keyframes myAnimation3 {
  from {
    height: 300px;
    width: 300px;
  }
  to {
    height: 300px;
    width: 100%;
  }
}

#id1 {
  background-color: rgb(255, 255, 109);
  animation: myAnimation1 2s ease-in-out 0s infinite;
}

#id2 {
  background-color: rgb(130, 249, 130);
  animation: myAnimation2 2s ease-in-out 0.3s infinite;
}

#id3 {
  background-color: rgb(255, 113, 113);
  animation: myAnimation3 2s ease-in-out 0.6s infinite;
}
