.cat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face {
  width: 500px;
  height: 300px;
  background-color: #931566;
  position: absolute;
  border-radius: 50%;
  top: -200px;
  left: -200px;
}

.ear1,
.ear2 {
  width: 250px;
  height: 250px;
  background-color: #931566;
  border-radius: 100% 0% 97% 3% / 91% 0% 99% 3%;
  transform: rotate(-70deg);
  position: absolute;
  top: -230px;
  left: -190px;
}

.ear2 {
  left: 40px;
  transform: rotate(70deg) rotateY(160deg);
}

.eye1,
.eye2 {
  width: 100px;
  height: 100px;
  background-color: #f1f283;
  border-radius: 0% 100% 0% 100% / 0% 99% 1% 100%;
  transform: rotate(-42deg);
  position: absolute;
  top: 80px;
  left: 100px;
}

.eye2 {
  left: 290px;
  transform: rotate(46deg) rotateY(160deg);
}

.pupil1,
.pupil2 {
  width: 34px;
  height: 34px;
  background-color: #000;
  border-radius: 0% 100% 0% 100% / 0% 99% 1% 100%;
  transform: rotate(45deg);
  position: absolute;
  top: 113px;
  left: 130px;
  animation-name: shift;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes shift {
  0% {
    transform: translateX(-40px) rotate(45deg);
  }
  50% {
    transform: translateX(50px) rotate(45deg);
  }
  100% {
    transform: translateX(-40px) rotate(45deg);
  }
}

.pupil2 {
  left: 324px;
}

.nose {
  width: 60px;
  height: 40px;
  background-color: #f2d6d7;
  border-radius: 52% 48% 52% 48% / 25% 23% 77% 75%;
  transform: rotate(0deg);
  position: absolute;
  top: 160px;
  left: 215px;
}

.smile {
  width: 330px;
  height: 150px;
  border: 55px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 30px;
  clip-path: polygon(100% 61%, 100% 100%, 46% 100%, 0 100%, 0 60%, 49% 39%);
}

.smile-mask {
  width: 370px;
  height: 220px;
  background-color: #931566;
  border-radius: 51% 49% 52% 48% / 66% 68% 32% 34%;
  position: absolute;
  top: 5px;
  left: 65px;
}

.eyebrow1 {
  width: 140px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  transform: rotate(-5deg);
  position: absolute;
  top: 50px;
  left: 70px;
}

.eyebrow2 {
  width: 140px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  transform: rotate(5deg);
  position: absolute;
  top: 50px;
  left: 280px;
}

.eyebrow-mask1 {
  width: 180px;
  height: 90px;
  background-color: #931566;
  border-radius: 50%;
  transform: rotate(-5deg);
  position: absolute;
  top: 60px;
  left: 55px;
}

.eyebrow-mask2 {
  width: 180px;
  height: 90px;
  background-color: #931566;
  border-radius: 50%;
  transform: rotate(5deg);
  position: absolute;
  top: 60px;
  left: 260px;
}

.tooth1,
.tooth2,
.tooth3,
.tooth4,
.tooth5,
.tooth6,
.tooth7,
.tooth8,
.tooth9 {
  width: 45px;
  height: 50px;
  border: 2px solid;
  border-color: #000 transparent transparent transparent;
  transform: rotate(90deg);
  position: absolute;
  top: 222px;
  left: 197px;
}

.tooth2 {
  width: 45px;
  height: 50px;
  transform: rotate(95deg);
  top: 218px;
  left: 149px;
}

.tooth3 {
  width: 45px;
  height: 50px;
  transform: rotate(85deg);
  top: 222px;
  left: 245px;
}

.tooth4 {
  width: 43px;
  height: 50px;
  transform: rotate(104deg);
  top: 204px;
  left: 100px;
}

.tooth5 {
  width: 45px;
  height: 50px;
  transform: rotate(75deg);
  top: 218px;
  left: 295px;
}

.tooth6 {
  width: 40px;
  height: 50px;
  transform: rotate(115deg);
  top: 182px;
  left: 60px;
}

.tooth7 {
  width: 40px;
  height: 50px;
  transform: rotate(65deg);
  top: 208px;
  left: 342px;
}

.tooth8 {
  width: 35px;
  height: 50px;
  transform: rotate(130deg);
  top: 152px;
  left: 30px;
}

.tooth9 {
  width: 34px;
  height: 50px;
  transform: rotate(50deg);
  top: 191px;
  left: 385px;
}
