* {
  margin: 0;
  padding: 0;
  top: 0;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  border: 2px solid royalblue;
  background: white;
  transition: all 0.5s ease;
}

.sidebar header {
  font-size: 22px;
  text-align: center;
  line-height: 80px;
  background: royalblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
}

.sidebar ul {
  padding-top: 50px;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 25px;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: 0.4s;
  text-align: center;
  text-decoration: none;
  color: royalblue;
}

.sidebar ul li:hover a {
  text-decoration: underline royalblue;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
}

label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 6px 12px;
  transition: all 0.5s;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  top: 18px;
  transition: all 0.5s ease;
  font-size: 30px;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

/* #check:checked ~ section {
    margin-left:  250px;
  } */
