.cont1 {
  background-color: #ea8685;
  width: 100%;
  height: 100px;
  display: flex;
  animation-name: ali;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation: ali 2s ease 1s infinite alternate;
}

@keyframes ali {
  from {
    width: 250px;
  }
  to {
    width: 1000px;
  }
}

.cont2 {
  margin-top: 10px;
  background-color: #303952;
  width: 100%;
  height: 100px;
  display: flex;
  animation-name: aliraza;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation: aliraza 5s ease-in-out 1s infinite forwards;
}

@keyframes aliraza {
  from {
    width: 100px;
  }
  to {
    width: 100%;
  }
}

.main {
  background: black;
  width: 330px;
  height: 330px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 300px auto;
  border-radius: 50%;
}
.cont3 {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 6s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
