
.circ{
    width: 200px;
    height: 200px; /* Ensure width and height are equal for a circle */
    border: 10px solid transparent;
    border-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000);
    border-image-slice: 1;
    border-radius: 50%;
    animation: roll 4s linear infinite;
    animation-name: roll;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}