body {
  background-color: #000a1f;
}

.container {
  margin: 100px 0 0 200px;
  width: 70%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.photo-box {
  position: relative;
  width: 5%;
  height: 100%;
  flex-grow: 1;
  transition: flex-grow 0.7s ease-in-out;
}

.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all ease-in-out 0.7s;
  z-index: 1;
}

.photo-box:hover {
  flex-grow: 2;
  z-index: 2;
}

.hover-text {
  visibility: hidden;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photo-box:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

p {
  text-align: center;
  color: antiquewhite;
  font-size: 40px;
  font-style: italic;
  margin-top: 80px;
}
