body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ddd;
}

.heart {
  height: 200px;
  width: 200px;
  background-color: rgb(235, 47, 100);
  position: relative;
  transform: rotate(45deg);
  backface-visibility: hidden;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(235, 47, 100);
}

.heart::before {
  top: 0;
  left: -100px;
}

.heart::after {
  top: -100px;
  right: 0;
}

.heart:hover,
.heart::before,
.heart::after {
  cursor: pointer;
  animation: pulsate 3s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
