.hero-c {
  background-color: #ffffff;
  height: 960px;
  position: relative;
  width: 1680px;
}

.hero-c .rectangle-instance {
  height: 384px !important;
  left: 0 !important;
  position: absolute !important;
  top: 576px !important;
  width: 1680px !important;
}

.hero-c .the-largest-community-of-photo-enthusiasts {
  left: 144px !important;
  position: absolute !important;
  top: 162px !important;
}

.hero-c .button-instance {
  height: 52px !important;
  left: 145px !important;
  position: absolute !important;
  top: 362px !important;
  width: 192px !important;
}

.hero-c .design-component-instance-node {
  font-size: 17px !important;
  height: 21px !important;
  left: 50px !important;
  letter-spacing: -0.26px !important;
  top: 15px !important;
  white-space: unset !important;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: WhiteSmoke;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: WhiteSmoke;
  display: block;
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
}

.circle.rotate a:before {
  content: '';
  width: 60px;
  height: 60px;
  background-color: WhiteSmoke;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rotateCircle 10s infinite;
  z-index: -1;
}

.square.bounce a:before {
  content: '';
  width: 60px;
  height: 60px;
  background-color: WhiteSmoke;
  position: absolute;
  top: 1%;
  bottom: 50%;
  right: 100%;
  transform: translate(-50%, -50%);
  animation: bounceSquare 2s infinite;
  z-index: -1;
}

.triangle.flip a:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 52px solid WhiteSmoke;
  position: absolute;
  top: 60%;
  bottom: 40%;
  right: 100%;
  transform: translate(-50%, -50%);
  animation: flipTriangle 5s infinite;
  z-index: -1;
}

@keyframes rotateCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes bounceSquare {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

@keyframes flipTriangle {

  0%,
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
}