body {

  align-items: center;
  justify-content: center;
  background-color: salmon;
}

.bounce {

  height: 100px;
  width: 100px;
  border-radius: 100%;
  background:linear-gradient(white,black);
  animation: bounce 3s ease-in-out infinite alternate;
}



@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
   

  }

  10% {
    transform: translate(100px, 200px);
    
  }

  20% {
    transform: translate(200px, 0px);
  }

  30% {
    transform: translate(300px, 200px);
  }

  40% {
    transform: translate(400px, 0px);

  }
  50% {
    transform: translate(500px, 200px);

  }
  60% {
    transform: translate(600px, 0px);

  }
  70% {
    transform: translate(700px, 200px);

  }
  80% {
    transform: translate(800px, 0px);

  }
  90% {
    transform: translate(900px, 200px);

  }
  100% {
    transform: translate(1000px, 0px);

  }
}
.road{
  padding:100px;
  border-bottom: 10px dashed whitesmoke;
}