@keyframes example1 {
  from {
    background-color: white;
  }
  to {
    background-color: orange;
  }
}

@keyframes example2 {
  from {
    background-color: white;
  }
  to {
    background-color: white;
  }
}

@keyframes example3 {
  from {
    background-color: white;
  }
  to {
    background-color: green;
  }
}

title {
}

/* The element to apply the animation to */
div#one {
  width: 500px;
  height: 100px;
  background-color: white;
  animation-name: example1;
  animation-duration: 10s;
}

div#two {
  width: 500px;
  height: 100px;
  background-color: white;
  animation-name: example2;
  animation-duration: 10s;
}

div#three {
  width: 500px;
  height: 100px;
  background-color: white;
  animation-name: example3;
  animation-duration: 10s;
}
