body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movement {
  position: relative;
  animation: move 7s infinite alternate ease-in-out;
  margin-right: 300px;
}

h1 {
  background: linear-gradient(to right, #0abfbc, #fc354c);
  font-size: 125px;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: gradient 1s linear infinite alternate;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  position: absolute;
  letter-spacing: 5px;
}

@keyframes move {
  0% {
    left: -200px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: -200px;
    top: 300px;
  }
  75% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: -200px;
    top: 0px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
