.barContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bar1,
.bar2,
.bar3,
.bar4,
.bar5 {
  background-color: #ff2200;
  width: 15px;
  height: 80px;
  margin-left: 5px;
  animation: equalize 1.25s steps(25, end) 0s infinite;
}

.bar1 {
  animation-duration: 1.9s;
}

.bar2 {
  animation-duration: 2s;
}

.bar3 {
  animation-duration: 2.3s;
}

.bar4 {
  animation-duration: 0.9s;
}

.bar5 {
  animation-duration: 1.9s;
}

@keyframes equalize {
  0% {
    height: 60px;
  }
  4% {
    height: 50px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 60px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 70px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 50px;
  }
  68% {
    height: 60px;
  }
  72% {
    height: 70px;
  }
  76% {
    height: 80px;
  }
  80% {
    height: 70px;
  }
  84% {
    height: 60px;
  }
  88% {
    height: 50px;
  }
  92% {
    height: 60px;
  }
  96% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}
