div{
    width: 100px;
    height: 50px;
    background:#040Bfd;
    font-weight:Bold;
    line-height: 50px;
    color: powderblue;
    text-align: center;
    position: relative;
      

}

#div1 {animation-timing-function: linear;
        animation: myfirst 5s infinite;}
#div2 {animation-timing-function: linear;
        animation: mysecond 5s infinite;}
#div3 {animation-timing-function: linear;
        animation: myfirst 5s infinite;}


@keyframes myfirst{
    0%   {background-color:#040Bfd; left:0px; top:0px;}
    25%  {background-color:#4144BC; left:50px; top:0px;}
    50%  {background-color: #8E90CB; left:100px; top:0px;}
    75%  {background-color: #484958; left:150x; top:0px;}
    100% {background-color:#030303; left:200px; top:0px;}
      
  }
  @keyframes mysecond{
    0%   {background-color:#030303; left:0px; top:0px;}
    25%  {background-color:#484958; left:50px; top:0px;}
    50%  {background-color: #484958; left:100px; top:0px;}
    75%  {background-color: #4144BC; left:150x; top:0px;}
    100% {background-color:#040Bfd; left:200px; top:0px;}
      
  }
