<!DOCTYPE html>
<html>
<head>
<style> 


h1 {
  color: skyblue;
  text-align: center;
  margin-left: 75px;
}

.fade-in-text {
  font-family: Arial;
  font-size: 150px;
  color: red;
  animation: fadeIn 15s;
}

 -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}








 </style>
</head>
</body>