h4 {
  color: lightslategray;
  font-size: 36px;
}
/* Animation Work */
@keyframes raceMove {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.car {
  width: 150px;
  height: 80px;
  display: block;
  position: relative;
  margin-top: 10px;
  border-radius: 0px 0px 10px 10px;
  animation: raceMove 5s 1;
  animation-fill-mode: forwards;
  font-size: 20px;
  text-align: center;
}
#car1 {
  background-color: maroon;
  animation-timing-function: ease-in-out;
}
#car2 {
  background-color: purple;
  animation-timing-function: linear;
}
#car3 {
  background-color: tomato;
  animation-timing-function: ease;
}
#car4 {
  background-color: yellowgreen;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes showWinner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#winner {
  animation: showWinner 20s 1;
}
