body,
html {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a0d8f1;
}

.dog {
  position: relative;
  width: 60px;
  height: 40px;
  animation: walk 5s linear infinite;
}

.body {
  position: absolute;
  width: 60px;
  height: 40px;
  background-color: brown;
  border-radius: 30px;
}

.leg {
  position: absolute;
  width: 10px;
  height: 40px;
  background-color: brown;
  border-radius: 5px;
  animation: walkLegs 0.5s linear infinite;
}

.front-left {
  top: 25px;
  left: 10px;
  animation-delay: 0.25s;
}

.front-right {
  top: 25px;
  left: 40px;
}

.back-left {
  top: 25px;
  left: 0;
}

.back-right {
  top: 25px;
  left: 50px;
  animation-delay: 0.25s;
}
.head {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: brown;
  border-radius: 50%;
  top: -15px;
  left: 50px;
}

.head::before,
.head::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: brown;
  border-radius: 50%;
}

.head::before {
  transform: rotate(45deg);
  top: -5px;
  left: -10px;
}

.head::after {
  transform: rotate(-45deg);
  top: -5px;
  right: -10px;
}

@keyframes walk {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes walkLegs {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
