@keyframes rotateAndChangeColor {
  0%,
  100% {
    transform: rotate(0deg);
    background-color: #ffd700;
  }
  25% {
    transform: rotate(90deg);
    background-color: #ff6347;
  }
  50% {
    transform: rotate(180deg);
    background-color: #90ee90;
  }
  75% {
    transform: rotate(270deg);
    background-color: #4169e1;
  }
}

@keyframes snakeMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
    transform: rotate(360deg);
    background-color: #ffd700;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #87ceeb;
}

.container {
  position: relative;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ffd700;
  border-radius: 10px;
  animation: rotateAndChangeColor 8s linear infinite;
  position: absolute;
}

.snake {
  width: 150px;
  height: 20px;
  background-color: #4caf50;
  animation: snakeMove 4s linear infinite;
  position: absolute;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #87ceeb;
}

.ball {
  width: 100px;
  height: 100px;
  background-color: #ff6347;
  border-radius: 50%;
  animation: bounce 2s ease-in-out infinite;
}
