* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  height: 100vh;
}
#bg {
  position: relative;
  margin: auto;
  width: 99vw;
  min-height: 650px;
  background: #181546;
  border-radius: 20px;
  overflow: hidden;
}

#moon_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.moon {
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    135deg,
    white,
    rgba(185, 7, 113, 0) 90%,
    rgba(185, 7, 113, 0) 100%
  );
  border-radius: 50%;
}

.holl1 {
  position: absolute;
  bottom: 20%;
  right: 25%;
  background: #081a3b;
  width: 33px;
  height: 20px;
  border-radius: 60%;
  transform: rotate(-42deg);
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}
.holl1:before {
  content: '';
  position: absolute;
  background: #081a3b4a;
  right: -6px;
  width: 43px;
  height: 30px;
  border-radius: 60%;
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}

.holl2 {
  position: absolute;
  top: 45%;
  left: 2%;
  background: #081a3b;
  width: 23px;
  height: 10px;
  border-radius: 60%;
  transform: rotate(95deg);
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}
.holl2:before {
  content: '';
  position: absolute;
  background: #081a3b4a;
  right: -3px;
  width: 30px;
  height: 15px;
  border-radius: 60%;
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}

.holl3 {
  position: absolute;
  top: 30%;
  right: 25%;
  background: #081a3b;
  width: 16px;
  height: 10px;
  border-radius: 60%;
  transform: rotate(-125deg);
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}
.holl3:before {
  content: '';
  position: absolute;
  background: #081a3b4a;
  right: -2px;
  width: 20px;
  height: 13px;
  border-radius: 60%;
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}

.holl4 {
  position: absolute;
  top: 7%;
  left: 19%;
  background: linear-gradient(to top, transparent 50%, #081a3b 50%);
  width: 18px;
  height: 8px;
  border-radius: 60%;
  transform: rotate(143deg);
  box-shadow: 7px 0 7px rgba(0, 0, 0, 0.2);
}
.holl5 {
  position: absolute;
  top: 50%;
  left: 40%;
  background: #081a3b;
  width: 33px;
  height: 26px;
  border-radius: 60%;
  transform: rotate(-5deg);
  overflow: hidden;
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}
.holl5:before {
  content: '';
  position: absolute;
  background: #081a3b4a;
  right: 0.5px;
  top: 0.5px;
  width: 36px;
  height: 31px;
  border-radius: 60%;
  overflow: hidden;
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
}
.sate {
  position: absolute;
  left: 45%;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    #72d1cf,
    #198684,
    rgba(185, 7, 113, 0) 90%,
    #198684 100%
  );
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  animation: swinging 19.2s infinite;
  animation-direction: alternate;
  z-index: 990;
}

@keyframes swinging {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 28px);
  }
}

.atmosphere {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 330px;
  background: linear-gradient(
    135deg,
    #6989c2 0%,
    rgba(185, 7, 113, 0) 87%,
    rgba(185, 7, 113, 0) 100%
  );
  border-radius: 50%;
  filter: blur(24px);
  z-index: 4;
}

/* PLANET */

#planet {
  position: absolute;
  left: 45%;
  margin: 30px 440px;
  width: 60px;
  height: 60px;
  background: linear-gradient(
    135deg,
    purple,
    rgba(185, 7, 113, 0) 90%,
    rgba(185, 7, 113, 0) 100%
  );
  box-shadow: inset -4px 0px 17px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 3;
}
.p_ring {
  position: absolute;
  width: 33px;
  height: 20px;
  border-radius: 60%;
  margin: 40px 20px;
  transform: rotat(-4deg);
}
.p:before {
  content: '';
  position: absolute;
  left: -69px;
  top: -30px;
  width: 153px;
  height: 40px;
  border-radius: 60%;
  box-shadow: inset -4px -10px 17px rgba(80, 80, 200, 0.2);
}

@keyframes rotat {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

/*  ROCKET  */

#roket_container {
  position: absolute;
  left: 45%;
  margin: 430px -675px;
  animation: myRok 58s infinite;
  z-index: 100;
}

@keyframes myRok {
  0% {
    transform: translate(0, 0) rotate(-40deg);
  }
  100% {
    transform: translate(900px, -500px) rotate(-44deg);
  }
}

.rocket {
  position: absolute;
  background: linear-gradient(to bottom, gold 45%, #ebb200 50%);
  width: 60px;
  height: 30px;
  border-radius: 0 70% 70% 0;
  margin: 340px 200px;
  z-index: 200;
}
.rocket:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 10px;
  margin: 3px -5px;
  background: linear-gradient(to bottom, gold, #ebb200);
  z-index: 200;
}
.rocket:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 10px;
  margin: 17px -5px;
  background: linear-gradient(to bottom, gold, #ebb200);
  z-index: 200;
}

.window {
  position: absolute;
  margin: 6px 30px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background: #113f92c2;
  box-shadow: inset -7px 0 7px rgba(0, 0, 0, 0.2);
  z-index: 220;
}
.wing1 {
  position: absolute;
  margin: -9px 5px;
  width: 20px;
  height: 13px;
  border-radius: 0 60% 0 0;
  background: gold;
  z-index: -1;
}
.wing2 {
  position: absolute;
  margin: 24px 5px;
  width: 20px;
  height: 15px;
  border-radius: 60% 0;
  background: #ebb200;
  z-index: 100;
}
.jet1 {
  position: absolute;
  top: 3px;
  left: -45px;
  width: 40px;
  height: 9px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ffffff00, #fffefe61, #ffffff00);
  background-size: 200% 100%;
  z-index: 200;
  animation: blink 3s linear infinite;
}
.jet2 {
  position: absolute;
  top: 17px;
  left: -45px;
  width: 40px;
  height: 9px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #ffffff00,
    #fffefe61 60%,
    #ffffff00
  );
  background-size: 200% 100%;
  z-index: 200;
  animation: blink 3s linear infinite;
}

@keyframes blink {
  0% {
    background-position: -150% 0;
  }
  100% {
    background-position: 50% 0;
  }
}

.shine {
  position: absolute;
  left: 35%;
  margin: 50px 15px;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: #041f4e;
  filter: blur(40px);
  z-index: 0;
}

.big_cloud_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -55%);
}
.big_cloud {
  position: relative;
  margin: auto;
  background: #081a3b;
  width: 690px;
  height: 350px;
  border-radius: 40px;
  z-index: 1;
}
.dark_cloud1 {
  position: absolute;
  left: -20%;
  background: #081a3b;
  width: 900px;
  height: 68px;
  border-radius: 40px;
  z-index: 1;
}
.dark_cloud2 {
  position: absolute;
  top: 65%;
  left: -15%;
  background: #081a3b;
  width: 900px;
  height: 60px;
  border-radius: 40px;
  z-index: 1;
}
.dark_cloud3 {
  position: absolute;
  bottom: -2%;
  left: -35%;
  background: #081a3b;
  width: 1000px;
  height: 60px;
  border-radius: 60% 30px 60%;
  z-index: 1;
}
.dark_cloud4 {
  position: absolute;
  top: 35%;
  left: -30%;
  background: #081a3b;
  width: 1050px;
  height: 70px;
  border-radius: 50% 40% 40px;
  z-index: 1;
}
.dark_cloud5 {
  position: absolute;
  bottom: 10%;
  left: 35%;
  background: #081a3b;
  width: 730px;
  height: 70px;
  border-radius: 40% 40px;
  z-index: 1;
}

.light_cloud1 {
  position: absolute;
  top: 18%;
  left: 80%;
  background: #181546;
  width: 330px;
  height: 69px;
  border-radius: 60% 40px;
  z-index: 1;
}
.light_cloud2 {
  position: absolute;
  top: 15%;
  left: -35%;
  background: #181546;
  width: 330px;
  height: 98px;
  border-radius: 40px 50%;
  z-index: 1;
}
.light_cloud3 {
  position: absolute;
  top: 50%;
  left: -25%;
  background: #181546;
  width: 240px;
  height: 76px;
  border-radius: 50% 40px;
  z-index: 1;
}
.light_cloud4 {
  position: absolute;
  top: 50%;
  left: 85%;
  background: #181546;
  width: 380px;
  height: 82px;
  border-radius: 50% 50%;
  z-index: 1;
}

.sat1 {
  position: absolute;
  left: 45%;
  margin: 45px -148px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #8131b7);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 66;
}

.sat2 {
  position: absolute;
  left: 45%;
  margin: 545px 248px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #198684);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 66;
  animation: shimmy 4s infinite;
  animation-direction: alternate;
}
.sat2b {
  position: absolute;
  left: 45%;
  margin: 149px 57px;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #198684);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 66;
  animation: shimmy 4.2s infinite;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, 5px);
  }
}

.sat3 {
  position: absolute;
  left: 45%;
  margin: 230px 180px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #198684);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-14deg);
  box-shadow: 0 0 0 #198684;
  animation: pulse 4s infinite;
  z-index: 90;
}
.sat4 {
  position: absolute;
  left: 45%;
  margin: 110px 130px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #8131b7);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 90;
}
.sat5 {
  position: absolute;
  left: 45%;
  margin: 145px 248px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #8131b7);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 90;
}
.sat6 {
  position: absolute;
  left: 45%;
  margin: 245px -448px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #198684);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 90;
}
.sat7 {
  position: absolute;
  left: 45%;
  margin: 145px -348px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #198684);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 90;
}
.sat8 {
  position: absolute;
  left: 45%;
  margin: 345px -548px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #198684);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 90;
}
.sat9 {
  position: absolute;
  left: 45%;
  margin: 445px -248px;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #72d1cf, #8131b7);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 90;
}
.sat10 {
  position: absolute;
  left: 45%;
  margin: 495px -218px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #72d1cf, #8131b7);
  box-shadow: inset -7px 0 5px rgba(0, 0, 0, 0.2);
  animation: pulse 4s infinite;
  z-index: 900;
}
.sat10:before {
  content: '';
  position: absolute;
  width: 125px;
  height: 20px;
  border-radius: 50%;
  top: 70px;
  left: 6px;
  background: linear-gradient(to right bottom, #8131b7 #8131b7);
  box-shadow: inset -7px 5px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(-16deg);
}
.sat10:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 10px;
  left: 19px;
  background: linear-gradient(to right bottom, #8131b7 #8131b7);
  box-shadow: inset -3px -4px 14px rgba(0, 0, 0, 0.2);
  transform: rotate(-16deg) translate(0, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(25, 134, 132, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.sk-circle {
  position: absolute;
  border: 2px solid white;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.sk-child {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background: radial-gradient(#22b7b5, #198684);
  opacity: 0.2;
  border-radius: 100%;
  animation: sk-circleBounceDelay 59.2s infinite ease-in-out both;
  filter: blur(4px);
}

.sk-circle1 {
  transform: rotate(130deg);
}
.sk-circle1:before {
  animation-delay: -3.1s;
}

.sk-circle2 {
  transform: rotate(120deg);
}
.sk-circle2:before {
  animation-delay: -10.8s;
}

@keyframes sk-circleBounceDelay {
  0%,
  100% {
    opacity: 0;
    transform: scale(4);
  }
  50% {
    opacity: 0.1;
    transform: scale(6);
  }
}
