body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
}

.heart {
    width: 100px;
    height: 90px;
    position: relative;
    animation: heartbeat 1s infinite;
}

.heart::before{
    content: "";
    width: 100px;
    height: 170px;
    background-color: red;
    border-radius: 50px 50px 0 0;
    position: absolute;
    top: -50px;
    transform: rotate(-45deg);
}

.heart::after {
    content: "";
    width: 100px;
    height: 170px;
    background-color: red;
    border-radius: 50px 50px 0 0;
    position: absolute;
    top: -50px;
    left: 50px;
    transform: rotate(45deg);
}


@keyframes heartbeat {
    0% { transform: scale(1)  }
    50% { transform: scale(1.1)  }
    100% { transform: scale(1) }
}
