html,
body {
  height: 100%;
  background-color: #2b2c2f;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: pulsate 3s linear infinite;
  -moz-animation: pulsate 3s linear infinite;
  animation: pulsate 3s linear infinite;
}

.spin {
  -webkit-animation: spin 3s ease-in-out infinite;
  -moz-animation: spin 3s ease-in-out infinite;
  animation: spin 3s ease-in-out infinite;
}

.circle1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #3e4358;
  border-top-color: transparent;
}

.circle2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 15px solid #562a29;
  border-bottom-color: transparent;
}

.circle3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid #4f5428;
  border-top-color: transparent;
}

.circle4 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 15px solid #453e3e;
  border-bottom-color: transparent;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes pulsate {
  100% {
    transform: scale(1.1);
  }
}
