html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ffcc00;
    border: 2px solid #000;

    animation: move 1s infinite alternate;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200px);
    }
}