*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: black;
    display: flex;
}

.stars {
    position: relative;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: twinkle .5s infinite alternate;
}


.star:nth-child(1) {
    top: 20%;
    left: 10%;
    width: 5px;
    height: 5px;
    animation-delay: 0s;
}

.star:nth-child(2) {
    top: 40%;
    left: 30%;
    width: 3px;
    height: 3px;
    animation-delay: 0.2s;
}

.star:nth-child(3) {
    top: 10%;
    left: 70%;
    width: 7px;
    height: 7px;
    animation-delay: 0.4s;
}

.star:nth-child(4) {
    top: 60%;
    left: 50%;
    width: 4px;
    height: 4px;
    animation-delay: 0.6s;
}

.star:nth-child(5) {
    top: 80%;
    left: 20%;
    width: 6px;
    height: 6px;
    animation-delay: 0.8s;
}

.star:nth-child(6) {
    top: 30%;
    left: 80%;
    width: 2px;
    height: 2px;
    animation-delay: 1s;
}

.star:nth-child(7) {
    top: 70%;
    left: 60%;
    width: 5px;
    height: 5px;
    animation-delay: 1.2s;
}

.star:nth-child(8) {
    top: 50%;
    left: 10%;
    width: 3px;
    height: 3px;
    animation-delay: 1.4s;
}

.star:nth-child(9) {
    top: 90%;
    left: 40%;
    width: 4px;
    height: 4px;
    animation-delay: 1.6s;
}

.star:nth-child(10) {
    top: 20%;
    left: 90%;
    width: 6px;
    height: 6px;
    animation-delay: 1.8s;
}


@keyframes twinkle {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.item {
    width: 200px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: 650px;
    text-transform: uppercase;
    font-size: 20px;
    background: linear-gradient(90deg, #029092, #fc00ff);
    font-family: Poppins;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -325px;
    margin-top: 200px;
}

.container .ring {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container .ring::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
        0 0 0 10px #24ecff22,
        0 0 0 20px #24ecff11,
        0 0 20px #24ecff,
        0 0 50px #24ecff;
}

.container .ring:nth-child(2) {
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d;
}

.container .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d33,
        0 0 0 10px #93ff2d22,
        0 0 0 20px #93ff2d11,
        0 0 20px #93ff2d,
        0 0 50px #93ff2d;
}


@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(3) {
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #e41cf8;
}

.container .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e41cf8;
    box-shadow: 0 0 0 5px #e41cf833,
        0 0 0 10px #e41cf822,
        0 0 0 20px #e41cf811,
        0 0 20px #e41cf8,
        0 0 50px #e41cf8;
}