body { 
  height: 100vh;
  display:  flex;

  justify-content: center;
  align-items:  center;}

div {
  width: 300px;
  height: 300px;
  background-color: red;
  animation-name: example;
  /*animation-duration: 4s;
  animation-iteration-count:infinite;*/
  animation: myfirst 5s linear 2s infinite alternate;
  display:  flex;
  justify-content: center;
  align-items:  center;
}

/*@keyframes example {
  from {background-color: red;}
  to {background-color: blue;}
}*/

@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:purple; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
   from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

h1 {
color: white;
font-family: arial;
font-size: 50px;
animation: myname;
animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes myname {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}