body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.box {
  margin-top: 200px;
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  border-radius: 25%;
  animation: testkeyframes 5s linear 2s infinite alternate;
}

@keyframes testkeyframes {
  0% {
    background-color: red;
    left: -100px;
    top: 0px;
  }
  25% {
    background-color: orange;
    left: 100px;
    top: 0px;
  }
  50% {
    background-color: red;
    left: 100px;
    top: 200px;
  }
  75% {
    background-color: orange;
    left: -100px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: -100px;
    top: 0px;
  }
}
