@keyframes anm {
  from {
    background-color: rgba(55, 101, 252, 0.767);
  }
  to {
    background-color: rgb(17, 180, 158);
  }
}

@keyframes anm1 {
  from {
    background-color: rgb(230, 0, 0);
  }
  to {
    background-color: rgb(180, 180, 17);
  }
}

@keyframes anm2 {
  from {
    background-color: rgb(35, 0, 231);
  }
  to {
    background-color: rgb(180, 180, 17);
  }
}

div#one {
  height: 150px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  background: rgba(170, 255, 255, 0.2);
  animation: anm;
  animation-duration: 3s;
}

div#two {
  height: 150px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  background: rgba(255, 170, 174, 0.2);
  animation: anm1;
  animation-duration: 5s;
}

div#three {
  height: 150px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  background: rgba(201, 32, 167, 0.2);
  animation: anm2;
  animation-duration: 7s;
}
