.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    animation-name: craziness;
    animation-play-state: running;
    animation-duration: 2s
}
@keyframes craziness {
    from {}
    to {
        animation-delay: 15s;
        transform: rotateZ(360deg)
    }
}

.theMask {
    animation-name: animate;
    animation-play-state: running;
    animation-duration: 10s;
  }

@keyframes animate {
      from { 
          opacity: 0;
        }
      to { 
          opacity: 1;
          transform: rotateY(3600deg);
        }
  }

.greeting {
    animation-name: animate2;
    animation-play-state: running;
    animation-duration: 20s;
 
}
@keyframes animate2 {
    from {
        left: 0px;
        opacity: 0;
      }
    to {
        left: 500px; 
        opacity: 1;
      }
}