* {
    margin: 0;
    padding: 0;
    background-color: black;
} 

.stage {
    width: 100vw;
    height: 100vh;
    padding: 20%;
    }
  @-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }

  @keyframes spincube {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }

  .cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
  }

  .cubespinner div {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    line-height: 100px;
    text-align: center;
    font-size: 50pt;
    align-content: center;
    margin:20px;
  }

  .cubespinner .face1 {
    -webkit-transform: translateZ(5vw);
    -moz-transform: translateZ(5vw);
    -ms-transform: translateZ(5vw);
    transform: translateZ(5vw);
  }
  .cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(5vw);
    -moz-transform: rotateY(90deg) translateZ(5vw);
    -ms-transform: rotateY(90deg) translateZ(5vw);
    transform: rotateY(90deg) translateZ(5vw);
  }
  .cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(5vw);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(5vw);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(5vw);
    transform: rotateY(90deg) rotateX(90deg) translateZ(5vw);
  }
  .cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(5vw);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(5vw);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(5vw);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(5vw);
  }
  .cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(5vw);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(5vw);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(5vw);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(5vw);
  }
  .cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(5vw);
    -moz-transform: rotateX(-90deg) translateZ(5vw);
    -ms-transform: rotateX(-90deg) translateZ(5vw);
    transform: rotateX(-90deg) translateZ(5vw);
  }