@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f6efbd;
}

.content {
  position: relative;
}

.content h2 {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 20em;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #024caa;
}

.content h2:nth-child(2) {
  color: #024caa;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 65%,
      10% 55%,
      28% 54%,
      43% 53%,
      57% 48%,
      69% 40%,
      83% 35%,
      100% 33%,
      100% 100%,
      0 100%
    );
  }
  50% {
    clip-path: polygon(
      0 37%,
      19% 38%,
      31% 46%,
      44% 54%,
      60% 60%,
      75% 62%,
      90% 56%,
      100% 54%,
      100% 100%,
      0 100%
    );
  }
}
