body {
  border: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Fredoka One', cursive;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.text .letter.r {
  animation-delay: 0.3s;
  color: #cc4c31;
  text-shadow: 6px 6px #fbaa95, 3px 3px #fbaa95;
}

.text .letter.b {
  animation-delay: 0.15s;
  color: #7cc0be;
  text-shadow: 6px 6px #b4e0e3, 3px 3px #b4e0e3;
}

.text .letter.o {
  animation-delay: 0.4s;
  color: #fdaa35;
  text-shadow: 6px 6px #f6c17e, 3px 3px #f6c17e;
}

.text .letter.g {
  animation-delay: 0.25s;
  color: #58a473;
  text-shadow: 6px 6px #a6caa1, 3px 3px #a6caa1;
}

.text .letter.p {
  animation-delay: 0.5s;
  color: #453876;
  text-shadow: 6px 6px #a49bc0, 3px 3px #a49bc0;
}

.text .letter {
  position: relative;
  animation: move 1.85s infinite;
}

@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
