@media (max-width: 1000px) {
  .doremon {
    transform: scale(0.8);
  }
}
@media (max-width: 800px) {
  .doremon {
    transform: scale(0.7);
  }
}
@media (max-width: 600px) {
  .doremon {
    transform: scale(0.6);
  }
}
body {
  background-color: #000;
  width: 60%;
  height: 80%;
  padding-top: 15%;
  padding-left: 15%;
}
.doremon {
  position: relative;
  top: 100px;
}
.face {
  width: 300px;
  height: 250px;
  border: 4px solid #222;
  border-bottom: 0px;
  border-radius: 100%;

  position: relative;
  margin: 0 auto;
  background-color: #298abf;
  z-index: 2;
}
.inside-face {
  width: 250px;
  height: 200px;
  border: 2px solid #333;
  border-top: 0;
  border-radius: 100%;
  position: absolute;
  top: 50px;
  left: 25px;
  background-color: #eaf4f4;
}
.eye {
  position: absolute;
  width: 60px;
  height: 80px;
  border: 2px solid #333;
  border-radius: 100%;
  top: 20px;
  z-index: 1;
  background-color: #eaf4f4;
}
.eye1 {
  left: 86px;
}
.eye2 {
  right: 86px;
}
.eyeball {
  width: 6px;
  height: 10px;
  border: 8px solid #111;
  border-radius: 100%;
  position: absolute;
  top: 35px;
  animation-name: eye;
  animation-duration: 6s;
  animation-delay: 0.2s;
}
.eyeball1 {
  left: 32px;
}
.eyeball2 {
  right: 32px;
}
.nose {
  width: 40px;
  height: 40px;
  background-color: #dd2c00;
  border: 2px solid #333;
  border-radius: 100%;
  position: absolute;
  top: 90px;
  left: 128px;
  z-index: 1;
}
.inside-nose {
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  top: 10px;
  left: 10px;
  opacity: 0.9;
}
.noseLine {
  width: 0;
  height: 70px;
  border: 1.5px solid #555;
  position: absolute;
  top: 132px;
  left: 148px;
  z-index: 1;
}
.m {
  width: 70px;
  border: 1px solid #888;
  z-index: 1;
  position: absolute;
}
.m1 {
  top: 130px;
  left: 50px;
  transform: rotate(20deg);
}
.m2 {
  top: 160px;
  left: 50px;
}

.m3 {
  top: 190px;
  left: 50px;
  transform: rotate(-20deg);
}

.m4 {
  top: 130px;
  right: 50px;
  transform: rotate(-20deg);
}
.m5 {
  top: 160px;
  right: 50px;
}
.m6 {
  top: 190px;
  right: 50px;
  transform: rotate(20deg);
}
.mouth {
  width: 150px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 80%;
  border-top: 1px solid #eaf4f4;
  border-left: 1px solid;
  border-right: 1px solid;
  position: absolute;
  z-index: 1;
  top: 165px;
  left: 75px;
  animation-name: mouth-animation;
  animation-duration: 6s;
}
/*Jumping ball*/
.ball {
  width: 60px;
  height: 60px;
  border: 6px solid #666;
  position: absolute;
  background-color: green;
  border-radius: 100%;
  top: 10px;
  left: -130px;
  animation-name: bounce;
  animation-duration: 6s;
  animation-delay: 0.2s;
}
.dbody {
  width: 220px;
  height: 180px;
  border: 4px solid #333;
  background-color: #298abf;
  position: absolute;
  border-radius: 45%;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  top: -20px;
  border-bottom: 0;
}
.redLine {
  width: 180px;
  height: 50px;
  left: 15px;
  top: -20px;
  background-color: red;
  border: 2px solid #444;
  border-radius: 40%;
  border-top: 0;
  position: absolute;
}
.yellow-ball {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #333;
  position: absolute;
  left: 83px;
  top: 18px;
  background-color: gold;
}
.ring1 {
  width: 40px;
  height: 5px;
  border: 2px solid #555;
  border-bottom: 2px solid yellow;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 2px;
}
.ring2 {
  width: 46px;
  height: 5px;
  border: 2px solid #555;
  border-bottom: 2px solid yellow;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
}
.inside-yellow-ball {
  width: 15px;
  height: 15px;
  background-color: #888;
  border-radius: 200%;
  position: absolute;
  top: 20px;
  left: 16px;
}
.inside-yellow-ball-2 {
  width: 2px;
  height: 20px;
  background-color: #555;
  position: absolute;
  top: 30px;
  left: 23px;
}
.pocket {
  width: 180px;
  height: 172px;
  background-color: #eaf4f4;
  border: 2px solid #333;
  border-radius: 60%;
  border-top: 2px solid #298abf;
  position: absolute;
  left: 20px;
  z-index: -1;
}
.inside-pocket {
  width: 125px;
  height: 65px;
  border: 2px solid #333;
  position: absolute;
  top: 78px;
  left: 28px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
.hand {
  width: 100px;
  height: 35px;
  border: 2px solid #333;
  position: absolute;
  background-color: #298abf;
  border-radius: 30%;
  top: -10px;
  z-index: -1;
}
.lhand {
  left: -60px;
  transform-origin: right;
  transform: rotate(-40deg);
  animation-name: lhit;
  animation-duration: 1s;
}
.rhand {
  right: -60px;
  transform-origin: left;
  transform: rotate(40deg);
  animation-name: rhit;
  animation-duration: 1s;
  animation-delay: 3s;
}
.palm {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  background-color: #eaf4f4;
  border-radius: 100%;
  position: absolute;
}
.lpalm {
  top: -10px;
  right: 80px;
}
.rpalm {
  top: -10px;
  left: 80px;
}
/*.hi-bye{
top: 215px;
right: 75px;
transform: rotate(-35deg);
}*/
.leg {
  width: 70px;
  height: 40px;
  background-color: #298abf;
  position: absolute;
  bottom: -10px;
  border: 2px solid #333;
  z-index: -2;
  border-top: 0;
}
.lleg {
  left: 17px;
}
.rleg {
  right: 17px;
}
.feet {
  width: 100px;
  height: 40px;
  background-color: #eaf4f4;
  border: 2px solid #333;
  border-radius: 40%;
  position: absolute;
  bottom: -40px;
  left: -14px;
}
/*Targets to which ball hit*/
.target {
  position: absolute;
  width: 590px;
  height: 40px;
  background-color: orange;
  animation-name: target-animation;
  animation-duration: 6s;
}
.target1 {
  left: -462px;
  transform: rotate(90deg);
}

.target2 {
  top: -322px;
  left: -135px;
}
.target3 {
  right: -482px;
  transform: rotate(90deg);
}

/*Animation css*/
@keyframes bounce {
  0% {
    top: 10px;
    left: -130px;
  }
  12.5% {
    top: -250px;
    left: -180px;
    background-color: gold;
    transform: scale(1.2);
  }
  25% {
    top: -500px;
    left: 40px;
    transform: scale(1.4);
  }
  37.5% {
    top: -250px;
    left: 350px;
    background-color: red;
    transform: scale(1.2);
  }
  50% {
    top: 0px;
    left: 260px;
    background-color: green;
    transform: scale(1);
  }
  62.5% {
    top: -250px;
    left: 350px;
    background-color: cyan;
    transform: scale(1.2);
  }
  75% {
    top: -500px;
    left: 40px;
    background-color: orange;
    transform: scale(1.4);
  }
  87.5% {
    top: -250px;
    left: -180px;
    background-color: blue;
    transform: scale(1.2);
  }
  100% {
    top: 10px;
    left: -130px;
    background-color: green;
    transform: scale(1);
  }
}

@keyframes lhit {
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}
@keyframes rhit {
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@keyframes eye {
  0% {
    left: 0px;
    top: 50px;
  }
  12.5% {
    left: 0px;
    top: 25px;
  }
  25% {
    left: 10px;
    top: 10px;
  }
  37.5% {
    left: 30px;
    top: 25px;
  }
  50% {
    left: 30px;
    top: 50px;
  }
  62.5% {
    left: 30px;
    top: 25px;
  }
  75% {
    left: 10px;
    top: 10px;
  }
  87.5% {
    left: 0px;
    top: 25px;
  }
  100% {
    left: 0px;
    top: 50px;
  }
}
@keyframes target-animation {
  50% {
    background-color: green;
  }
  100% {
    background-color: orange;
  }
}

@keyframes mouth-animation {
  50% {
    height: 50px;
  }
  100% {
    height: 40px;
  }
}
