.rotate-in-center {
	-webkit-animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}


 @-webkit-keyframes rotate-in-center {
        0% {
          -webkit-transform: rotate(-360deg);
                  transform: rotate(-360deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          opacity: 1;
        }
      }
      @keyframes rotate-in-center {
        0% {
          -webkit-transform: rotate(-360deg);
                  transform: rotate(-360deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          opacity: 1;
        }
      }
      


      img{
        width: 40%;
        max-width: 70%;
        height: auto;
    }

    *::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


      