* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.loader {
  margin: 50px 50px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #f4d003);
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

.loader:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

.loader:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #f4d003);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.loader2 {
  margin: 50px 50px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #03f4ec);
  animation: animate2 2s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

.loader2:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

.loader2:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #03f4ec);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.loader3 {
  margin: 50px 50px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #03f43f);
  animation: animate3 3s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

.loader3:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

.loader3:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #03f43f);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}
