body {
  background-color: pink;
}

h1 {
  font-size: 80px;
  margin-bottom: 200px;
  text-shadow: currentColor;
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
  color: blue;
}

.squares {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.square1 {
  width: 200px;
  height: 200px;
  background-color: blue;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

.square2 {
  width: 200px;
  height: 200px;
  background-color: red;
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

.square3 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
