/* I found James Bosworth's codepen the other day (https://codepen.io/bosworthco/) and saw his work on shifted perspective and wanted to learn how to make it.
I also found this Youtube video (https://www.youtube.com/watch?v=LgiadQQM6mo&list=PLbu98QxRH81KxxMclY_ZRmm4Dac-n7cSA) which is a great tutorial of the project. Enjoy!
*/

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}

.stairs {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

.stairs-level {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.6s ease-in-out;
}

.stairs-level:nth-child(odd) {
  /* transform: skew(60deg, -30deg) scaleY(0.667); */
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.stairs-level:nth-child(even) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.stairs:hover p {
  transform: translate(0, -50px);
}

.stairs-level:nth-child(1) {
  left: 29px;
}

.stairs-level:nth-child(2) {
  left: 58px;
  background: #f5e769;
}

.stairs-level:nth-child(3) {
  left: 87px;
  background: #f07e6e;
}

.stairs-level:nth-child(4) {
  left: 116px;
  background: #84cdfa;
}

.stairs-level:nth-child(5) {
  left: 145px;
  background: #5ad1cd;
}

.stairs-level:nth-child(6) {
  left: 174px;
  background: #5ad17e;
}

.stairs-level:nth-child(7) {
  left: 203px;
  background: #dddddd;
}
