body {
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
  font-family: 'Lucida Grande', Verdana, Arial;
  font-size: 12px;
  background-color: black;
  background-image: -webkit-gradient(
    radial,
    50% 500,
    1,
    50% 500,
    400,
    from(rgba(255, 255, 255, 0.3)),
    to(rgba(255, 255, 255, 0))
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#container {
  width: 100%;
  height: 100%;
  -webkit-perspective: 800;
  /* For compatibility with iPhone 3.0, we leave off the units here */
  -webkit-perspective-origin: 50% 225px;
}

#stage {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
}

#shape {
  position: relative;
  top: 40%;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
}

.plane {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  -webkit-border-radius: 12px;
  -webkit-box-sizing: border-box;
  /* text-align: center;
      font-family: Times, serif;
      font-size: 124pt;
      color: black; */
  /* background-color: rgba(255, 255, 255, 0.6); */
  -webkit-transition: -webkit-transform 2s, opacity 2s;
  -webkit-backface-visibility: hidden;
}

.one,
.seven {
  background-color: rgba(154, 205, 50, 0.6);
}

.two,
.eight {
  background-color: rgba(70, 130, 180, 0.6);
}

.three,
.nine {
  background-color: rgba(224, 255, 255, 0.6);
}

.four,
.ten {
  background-color: rgba(255, 105, 180, 0.6);
}

.five,
.eleven {
  background-color: rgba(255, 215, 0, 0.6);
}

.six,
.twelve {
  background-color: rgba(238, 232, 170, 0.6);
}

#shape.backfaces .plane {
  -webkit-backface-visibility: visible;
}

#shape {
  -webkit-animation: spin 10s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

/* ---------- cube styles ------------- */

.cube > .one {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
}

.cube > .two {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
}

.cube > .three {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
}

.cube > .four {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
}

.cube > .five {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
}

.cube > .six {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px)
    rotate(180deg);
}

.cube > .seven {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px)
    rotate(180deg);
}

.cube > .eight {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
}

.cube > .nine {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
}

.cube > .ten {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
}

.cube > .eleven {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
}

.cube > .twelve {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
}

/* ---------- ring styles ------------- */

.ring > .one {
  -webkit-transform: translateZ(380px);
}

.ring > .two {
  -webkit-transform: rotateY(30deg) translateZ(380px);
}

.ring > .three {
  -webkit-transform: rotateY(60deg) translateZ(380px);
}

.ring > .four {
  -webkit-transform: rotateY(90deg) translateZ(380px);
}

.ring > .five {
  -webkit-transform: rotateY(120deg) translateZ(380px);
}

.ring > .six {
  -webkit-transform: rotateY(150deg) translateZ(380px);
}

.ring > .seven {
  -webkit-transform: rotateY(180deg) translateZ(380px);
}

.ring > .eight {
  -webkit-transform: rotateY(210deg) translateZ(380px);
}

.ring > .nine {
  -webkit-transform: rotateY(-120deg) translateZ(380px);
}

.ring > .ten {
  -webkit-transform: rotateY(-90deg) translateZ(380px);
}

.ring > .eleven {
  -webkit-transform: rotateY(300deg) translateZ(380px);
}

.ring > .twelve {
  -webkit-transform: rotateY(330deg) translateZ(380px);
}

/* ---------- controls ------------- */

.controls {
  width: 200px;
  position: absolute;
  top: 50px;
  right: 50px;
  /* margin: 0 auto; */
  padding: 5px 10px;
  -webkit-border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

.controls h1 {
  font-size: 13px;
}

.controls > div {
  margin: 10px;
}

/* ---------- sprites ------------- */

.sprite1 {
  width: 100px;
  height: 137.11px;
  background-image: url('rpg-maker-mv-rpg.png');
  -webkit-animation: play1X 1.2s steps(9) infinite,
    play1Y 7.2s steps(6) infinite;
  -moz-animation: play1X 1.2s steps(9) infinite, play1Y 7.2s steps(6) infinite;
  -ms-animation: play1X 1.2s steps(9) infinite, play1Y 7.2s steps(6) infinite;
  -o-animation: play1X 1.2s steps(9) infinite, play1Y 7.2s steps(6) infinite;
  animation: play1X 1.2s steps(9) infinite, play1Y 7.2s steps(6) infinite;
}

.sprite2 {
  width: 92.8px;
  height: 100px;
  background-image: url('i7oRv.png');
  -webkit-animation: play2X 1.5s steps(10) infinite, play2Y 3s steps(2) infinite;
  -moz-animation: play2X 1.5s steps(10) infinite, play2Y 3s steps(2) infinite;
  -ms-animation: play2X 1.5s steps(10) infinite, play2Y 3s steps(2) infinite;
  -o-animation: play2X 1.5s steps(10) infinite, play2Y 3s steps(2) infinite;
  animation: play2X 1.5s steps(10) infinite, play2Y 3s steps(2) infinite;
}

.sprite3 {
  width: 100px;
  height: 100px;
  background-image: url('professor_walk_cycle_no_hat.png');
  -webkit-animation: play3X 1.5s steps(9) infinite, play3Y 6s steps(4) infinite;
  -moz-animation: play3X 1.5s steps(9) infinite, play3Y 6s steps(4) infinite;
  -ms-animation: play3X 1.5s steps(9) infinite, play3Y 6s steps(4) infinite;
  -o-animation: play3X 1.5s steps(9) infinite, play3Y 6s steps(4) infinite;
  animation: play3X 1.5s steps(9) infinite, play3Y 6s steps(4) infinite;
}

.sprite4 {
  width: 110.166px;
  height: 148.6px;
  background-image: url('walking-girl.png');
  -webkit-animation: play4X 1.5s steps(6) infinite,
    play4Y 7.5s steps(5) infinite;
  -moz-animation: play4X 1.5s steps(6) infinite, play4Y 7.5s steps(5) infinite;
  -ms-animation: play4X 1.5s steps(6) infinite, play4Y 7.5s steps(5) infinite;
  -o-animation: play4X 1.5s steps(6) infinite, play4Y 7.5s steps(5) infinite;
  animation: play4X 1.5s steps(6) infinite, play4Y 7.5s steps(5) infinite;
}

.sprite5 {
  width: 121.14px;
  height: 100px;
  background-image: url('PC_HMM_hydra.png');
  -webkit-animation: play5 1.5s steps(7) infinite;
  -moz-animation: play5 1.5s steps(7) infinite;
  -ms-animation: play5 1.5s steps(7) infinite;
  -o-animation: play5 1.5s steps(7) infinite;
  animation: play5 1.5s steps(7) infinite;
}

.sprite6 {
  width: 123.125px;
  height: 100px;
  background-image: url('PC_HMM_catapult.png');
  -webkit-animation: pplay6X 1.5s steps(8) infinite, play6Y 3s steps(2) infinite;
  -moz-animation: play6X 1.5s steps(8) infinite, play6Y 3s steps(2) infinite;
  -ms-animation: play6X 1.5s steps(8) infinite, play6Y 3s steps(2) infinite;
  -o-animation: play6X 1.5s steps(8) infinite, play6Y 3s steps(2) infinite;
  animation: play6X 1.5s steps(8) infinite, play6Y 3s steps(2) infinite;
}

/* sprite1 keyframes rpg-maker-mv-rpg */

@keyframes play1X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1234px;
  }
}

@keyframes play1Y {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -823px;
  }
}

/* sprite2 keyframes i7oRv */

@keyframes play2X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -928px;
  }
}

@keyframes play2Y {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -200x;
  }
}

/* sprite3 keyframes professor_walk_cycle_no_hat */

@keyframes play3X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -900px;
  }
}

@keyframes play3Y {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -400px;
  }
}

/* sprite4 keyframes walking-girl */

@keyframes play4X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -661px;
  }
}

@keyframes play4Y {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -743px;
  }
}

/* sprite5 keyframes PC_HMM_hydra */

@keyframes play5 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -848px;
  }
}

/* sprite6 keyframes PC_HMM_catapult */

@keyframes play6X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -985px;
  }
}

@keyframes play6Y {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -200px;
  }
}
