body {
  background-image: url('animationbg.jpg');
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h1 {
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
  padding-left: 20px;
  margin-bottom: 20px;
}

#top .face {
  position: fixed;
  margin-top: 150px;
  margin-left: 100px;
  background: palegreen;
  width: 170px;
  height: 90px;
  border-radius: 120px 120px 0px 0px;
  animation-name: face;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes face {
  0% {
    background-color: palegreen;
    margin-left: 100px;
    margin-top: 150px;
    border-radius: 120px 120px 0px 0px;
  }
  15% {
    background-color: yellow;
    opacity: 0.3;
    margin-left: 268px;
    margin-top: 150px;
    border-radius: 120px 120px 0px 0px;
  }
  30% {
    background-color: orange;
    opacity: 0.5;
    margin-left: 436px;
    margin-top: 150px;
    border-radius: 120px 120px 0px 0px;
  }
  50% {
    background-color: red;
    opacity: 0.5;
    margin-left: 660px;
    margin-top: 150px;
    border-radius: 120px 120px 0px 0px;
  }
  65% {
    background-color: blue;
    opacity: 0.5;
    margin-left: 828px;
    margin-top: 150px;
    border-radius: 120px 120px 0px 0px;
  }
  80% {
    background-color: violet;
    opacity: 0.5;
    margin-left: 996px;
    margin-top: 150px;
    border-radius: 120px 120px 0px 0px;
  }
  100% {
    background-color: black;
    opacity: 0.5;
    margin-left: 1220px;
    margin-top: 150px;
    border-radius: 120px 120px 0px 0px;
  }
}

#top .eye1 {
  position: fixed;
  margin-top: 185px;
  margin-left: 145px;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 50%;
  animation-name: eye1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes eye1 {
  0% {
    background-color: green;
    margin-left: 145px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  15% {
    background-color: yellow;
    margin-left: 313px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  30% {
    background-color: orange;
    margin-left: 481px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  50% {
    background-color: red;
    margin-left: 705px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  65% {
    background-color: blue;
    margin-left: 873px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  80% {
    background-color: violet;
    margin-left: 1041px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  100% {
    background-color: black;
    margin-left: 1265px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
}

#top .eye2 {
  position: fixed;
  margin-top: 185px;
  margin-left: 205px;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 50%;
  animation-name: eye2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes eye2 {
  0% {
    background-color: green;
    margin-left: 205px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  15% {
    background-color: yellow;
    margin-left: 373px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  30% {
    background-color: orange;
    margin-left: 541px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  50% {
    background-color: red;
    margin-left: 765px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  65% {
    background-color: blue;
    margin-left: 933px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  80% {
    background-color: violet;
    margin-left: 1101px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
  100% {
    background-color: black;
    margin-left: 1325px;
    margin-top: 185px;
    border-radius: 50% 50% 50% 50%;
  }
}

#top .mouth {
  position: fixed;
  margin-top: 220px;
  margin-left: 175px;
  background: green;
  width: 25px;
  height: 5px;
  animation-name: mouth;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes mouth {
  0% {
    background-color: green;
    margin-left: 175px;
    margin-top: 220px;
    width: 25px;
    height: 5px;
  }
  15% {
    background-color: yellow;
    margin-left: 342px;
    margin-top: 220px;
    width: 25px;
    height: 5px;
  }
  30% {
    background-color: orange;
    margin-left: 509px;
    margin-top: 208px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 50%;
  }
  50% {
    background-color: red;
    margin-left: 731px;
    margin-top: 208px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 50%;
  }
  65% {
    background-color: blue;
    margin-left: 898px;
    margin-top: 220px;
    width: 35px;
    height: 20px;
  }
  80% {
    background-color: violet;
    margin-left: 1065px;
    margin-top: 220px;
    width: 35px;
    height: 20px;
  }
  100% {
    background-color: black;
    margin-left: 1290px;
    margin-top: 220px;
    width: 35px;
    height: 20px;
  }
}

#robot1 .lefthand {
  position: fixed;
  margin-top: 250px;
  margin-left: 60px;
  background: palegreen;
  width: 30px;
  height: 150px;
  border-radius: 25px 25px 25px 25px;
}

#robot1 .body {
  position: fixed;
  margin-top: 250px;
  margin-left: 100px;
  background: palegreen;
  width: 170px;
  height: 180px;
  border-radius: 10px 10px 10px 10px;
}

#robot1 .righthand {
  position: fixed;
  margin-top: 250px;
  margin-left: 280px;
  background: palegreen;
  width: 30px;
  height: 150px;
  border-radius: 25px 25px 25px 25px;
  transition: 1s ease-in;
}

#robot1 .righthand:hover {
  transform-origin: top;
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(-120deg);
  transform: rotateZ(-120deg);
}

#robot1 .leftleg {
  position: fixed;
  margin-top: 435px;
  margin-left: 120px;
  background: palegreen;
  width: 30px;
  height: 120px;
  border-radius: 25px 25px 25px 25px;
}

#robot1 .rightleg {
  position: fixed;
  margin-top: 435px;
  margin-left: 220px;
  background: palegreen;
  width: 30px;
  height: 120px;
  border-radius: 25px 25px 25px 25px;
}

#robot2 .lefthand {
  position: fixed;
  margin-top: 250px;
  margin-left: 620px;
  background: red;
  opacity: 0.5;
  width: 30px;
  height: 150px;
  border-radius: 25px 25px 25px 25px;
}

#robot2 .body {
  position: fixed;
  margin-top: 250px;
  margin-left: 660px;
  background: red;
  opacity: 0.5;
  width: 170px;
  height: 180px;
  border-radius: 10px 10px 10px 10px;
}

#robot2 .righthand {
  position: fixed;
  margin-top: 250px;
  margin-left: 840px;
  background: red;
  opacity: 0.5;
  width: 30px;
  height: 150px;
  border-radius: 25px 25px 25px 25px;
}

#robot2 .leftleg {
  position: fixed;
  margin-top: 435px;
  margin-left: 680px;
  background: red;
  opacity: 0.5;
  width: 30px;
  height: 120px;
  border-radius: 25px 25px 25px 25px;
  transition: 1s ease-out;
}

#robot2 .leftleg:hover {
  transform-origin: top;
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}

#robot2 .rightleg {
  position: fixed;
  margin-top: 435px;
  margin-left: 780px;
  background: red;
  opacity: 0.5;
  width: 30px;
  height: 120px;
  border-radius: 25px 25px 25px 25px;
}

#robot3 .lefthand {
  position: fixed;
  margin-top: 250px;
  margin-left: 1180px;
  background: black;
  opacity: 0.5;
  width: 30px;
  height: 150px;
  border-radius: 25px 25px 25px 25px;
  transition: 1s;
}

#robot3 .lefthand:hover {
  transform-origin: top;
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

#robot3 .body {
  position: fixed;
  margin-top: 250px;
  margin-left: 1220px;
  background: black;
  opacity: 0.5;
  width: 170px;
  height: 180px;
  border-radius: 10px 10px 10px 10px;
}

#robot3 .righthand {
  position: fixed;
  margin-top: 250px;
  margin-left: 1400px;
  background: black;
  opacity: 0.5;
  width: 30px;
  height: 150px;
  border-radius: 25px 25px 25px 25px;
}

#robot3 .leftleg {
  position: fixed;
  margin-top: 435px;
  margin-left: 1240px;
  background: black;
  opacity: 0.5;
  width: 30px;
  height: 120px;
  border-radius: 25px 25px 25px 25px;
}

#robot3 .rightleg {
  position: fixed;
  margin-top: 435px;
  margin-left: 1350px;
  background: black;
  opacity: 0.5;
  width: 30px;
  height: 120px;
  border-radius: 25px 25px 25px 25px;
}
