* {
  margin: 0px;
  padding: 0;
  border: 0;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(black, gray, white) no-repeat center center fixed;
}

.vortex {
  width: 100%;
  height: 100%;
  clear: both;
  margin: none;
  overflow: hidden;
}

.first-vortex:after,
.first-vortex:before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: inherit;
  height: inherit;
  animation: first 3s infinite linear;
}
.first-vortex:before {
  border-top: 20px #000 solid;
  top: -3px;
  left: calc(-50% + 1px);
  transform-origin: center right;
}

.first-vortex:after {
  border-bottom: 20px #000 solid;
  top: 5px;
  right: calc(-50% - 1px);
  transform-origin: center left;
}

@keyframes first {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.second-vortex:after,
.second-vortex:before {
  content: '';
  border-radius: 100%;
  position: absolute;
  width: inherit;
  height: inherit;
  animation: second 3s infinite linear;
  transform: rotate(45deg);
}
.second-vortex:before {
  content: '';
  border-top: 20px #000 solid;
  top: 3px;
  left: calc(-50% - 3px);
  transform-origin: right center;
}

.second-vortex:after {
  border-bottom: 20px #000 solid;
  top: 3px;
  right: calc(-50% - 3px);
  transform-origin: left center;
}

@keyframes second {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.third-vortex:after,
.third-vortex:before {
  content: '';
  border-radius: 100%;
  position: absolute;
  width: inherit;
  height: inherit;
  animation: third 3s infinite linear;
  transform: rotate(90deg);
}
.third-vortex:before {
  content: '';
  border-top: 20px #000 solid;
  top: 3px;
  left: calc(-50% - 3px);
  transform-origin: center right;
}

.third-vortex:after {
  content: '';
  border-bottom: 20px #000 solid;
  top: 3px;
  right: calc(-50% - 3px);
  transform-origin: center left;
}

@keyframes third {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}

.fourth-vortex:after,
.fourth-vortex:before {
  content: '';
  border-radius: 100%;
  position: absolute;
  width: inherit;
  height: inherit;
  animation: fourth 3s infinite linear;
  transform: rotate(135deg);
}
.fourth-vortex:before {
  content: '';
  border-top: 20px #000 solid;
  top: 3px;
  left: calc(-50% - 3px);
  transform-origin: center right;
}

.fourth-vortex:after {
  content: '';
  border-bottom: 20px #000 solid;
  top: 3px;
  right: calc(-50% - 3px);
  transform-origin: center left;
}

@keyframes fourth {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(495deg);
  }
}
