body {
  background: #000000;
}
.img-wrapper {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 30vh auto;
}
.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}
.img-1 {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
}
.img-wrapper:hover .img-1 {
  transform: translate(0, 0);
}
.img-2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, -5px);
  transition: transform 300ms ease;
}
.img-wrapper:hover .img-2 {
  transform: translate(0, 0);
}
.img-3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
}
.img-wrapper:hover .img-3 {
  transform: translate(0, 0);
}
.img-4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, -5px);
  transition: transform 300ms ease;
}
.img-wrapper:hover .img-4 {
  transform: translate(0, 0);
}
