h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
  font-size: 3em;
	font-weight: bold;
    color: rgb(0, 255, 191);
	letter-spacing: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.robots {
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
  background-color: 	#663399

} 

.eyes {
	 
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
  
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
  background-color: #CD5C5C;
  
} 

.left_arm { 
	margin-right: 10px; 

 
} 

.right_arm { 
	margin-left: 10px; 
  
  
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
  background-color: #FF7F50;
  
} 

.lower_body { 
	width: 200px;
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
  display: flex;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
  margin: 20px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg:hover { 
	margin-left: 45px; 
  -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
   transform: rotate(-20deg);
 
}

.left_eye, .right_eye { 
	width: 30px; 
	height: 20px; 
	border-radius: 15px; 
	background-color:red;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 120px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}





