html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

@font-face {
  font-family: disco;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display:grid;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box{
  display : flex;
  justify-content:center;
  border: 0.2rem solid rgb(182, 183, 221);
  border-radius: 2rem;
  padding: 20px;
}

.box {
  animation: bx 2s ease infinite;
  -moz-animation: bx 2s ease infinite;
  -webkit-animation: bx 2s ease infinite;
}

@keyframes bx {
  50% {
    box-shadow: 0 0 .1vw #2d65df, 0 0 1.05vw #2d65df, 0 0 0.5vw #2d65df, 0 0 0.5vw #2d65df, 0 0 .1vw #2d65df, .1vw .1vw .1vw #2d65df;
    color: #aae4ee;
  }
}

.letterD {
  font-family: disco;
  color: #ec7526;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #ec7526;;
}

.letterD {
  animation: ld 0.8s ease infinite;
  -moz-animation: ld 0.8s ease infinite;
  -webkit-animation: ld 0.8s ease infinite;
}

@keyframes ld {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.letterI {
  font-family: disco;
  color: #fb42ec;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #fb42ec;
}

.letterI {
  animation: li 0.9s ease infinite;
  -moz-animation: li 0.9s ease infinite;
  -webkit-animation: li 0.9s ease infinite;
}

@keyframes li {
  0%,
  100% {
    text-shadow: 0 0 1vw #700c68, 0 0 3vw #700c68, 0 0 10vw #700c68, 0 0 10vw #700c68, 0 0 .4vw #da68d0, .5vw .5vw .1vw #773874;
    color: #da68d0;
  }
  50% {
    text-shadow: 0 0 .5vw #4b0845, 0 0 1.5vw #4b0845, 0 0 5vw #4b0845, 0 0 5vw #4b0845, 0 0 .2vw #4b0845, .5vw .5vw .1vw #30072c;
    color: #773874;
  }
}

.letterS {
  font-family: disco;
  color: #e9f544;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #e9f544;
}

.letterS {
  animation: ls 1s ease infinite;
  -moz-animation: ls 1s ease infinite;
  -webkit-animation: ls 1s ease infinite;
}

@keyframes ls {
  0%,
  100% {
    text-shadow: 0 0 1vw #8b9414, 0 0 3vw #8b9414, 0 0 10vw #8b9414, 0 0 10vw #8b9414, 0 0 .4vw #d9e43d, .5vw .5vw .1vw #806914;
    color: #d9e43d;
  }
  50% {
    text-shadow: 0 0 .5vw #555a0e, 0 0 1.5vw #555a0e, 0 0 5vw #555a0e, 0 0 5vw #555a0e, 0 0 .2vw #555a0e, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.letterC{
  font-family: disco;
  color: #6dfb42;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #6dfb42;
}

.letterC {
  animation: lc 1.1s ease infinite;
  -moz-animation: lc 1.1s ease infinite;
  -webkit-animation: lc 1.1s ease infinite;
}

@keyframes lc {
  0%,
  100% {
    text-shadow: 0 0 1vw #287c0e, 0 0 3vw #287c0e, 0 0 10vw #287c0e, 0 0 10vw #287c0e, 0 0 .4vw #87f167, .5vw .5vw .1vw #215e0f;
    color: #87f167;
  }
  50% {
    text-shadow: 0 0 .5vw #1a3f0e, 0 0 1.5vw #1a3f0e, 0 0 5vw #1a3f0e, 0 0 5vw #1a3f0e, 0 0 .2vw #1a3f0e, .5vw .5vw .1vw #40340A;
    color: #215e0f;
  }
}

.letterO {
  font-family: disco;
  color: #ac23ce;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #ac23ce;
}

.letterO {
  animation: lo 1.2s ease infinite;
  -moz-animation: lo 1.2s ease infinite;
  -webkit-animation: lo 1.2s ease infinite;
}

@keyframes lo {
  0%,
  100% {
    text-shadow: 0 0 1vw #6c1383, 0 0 3vw #6c1383, 0 0 10vw #6c1383, 0 0 10vw #6c1383, 0 0 .4vw #dc5afd, .5vw .5vw .1vw #571568;
    color: #dc5afd;
  }
  50% {
    text-shadow: 0 0 .5vw #36103f, 0 0 1.5vw #36103f, 0 0 5vw #36103f, 0 0 5vw #36103f, 0 0 .2vw #36103f, .5vw .5vw .1vw #40340A;
    color: #571568;
  }
}