.one {
  border: 60px solid rgb(253, 170, 16);
  margin-left: 35%;
  width: 25%;
}
.two {
  border: 60px solid rgba(158, 145, 145, 0.911);
  margin-left: 15%;
  width: 20%;
}

.three {
  border: 60px solid green;

  width: 15%;
}
div {
  color: black;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  position: relative;
  animation: random 2s linear 1s infinite alternate;
}

@keyframes random {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
    transform: rotate(90deg);
  }
}
