.shapes {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-color: red;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 2;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: blue;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
