*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00ccff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* background: pink; */
  width: 400px;
  height: 400px;
  position: relative;
  transform: scale(0.7);
}

.bar {
  width: 300px;
  height: 200px;
  background: #fafafa;
  position: absolute;
  bottom: 0;
  transform: translateY(200px);
  animation: loading 0.6s forwards;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  overflow: hidden;
}

.circle:nth-child(2) {
  width: 100px;
  height: 100px;
  top: 200px;
  left: 50px;
  overflow: hidden;
}

.circle:nth-child(3) {
  width: 120px;
  height: 120px;
  top: 180px;
  left: 230px;
  overflow: hidden;
}

.base {
  width: 190px;
  height: 40px;
  /* background-color: #00ccff; */
  position: absolute;
  top: 260px;
  left: 100px;
  overflow: hidden;
  z-index: 1;
}

.sun {
  animation-name: grow, rotating;
  animation-duration: 2s, 40s;
  animation-delay: 0.7s, 2.7s;
  animation-timing-function: ease-out, linear;
  animation-iteration-count: 1, infinite;
  transform: scale(0);
  width: 200px;
  height: 200px;
  transform-origin: center;
  position: relative;
  top: 40px;
  left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.sun-ball {
  animation: rotating 10s linear infinite;
  width: 120px;
  height: 120px;
  background-color: rgb(251, 255, 0);
  border-radius: 50%;
  position: absolute;
}
.sun-ray {
  width: 25px;
  height: 5px;
  background-color: yellow;
  position: absolute;
  border-radius: 10px;
  transform: rotate(90deg);
  left: 47px;
  top: -20px;
}

.sun-ray:nth-child(2) {
  transform: rotate(135deg);
  left: 100px;
  top: 0;
}
.sun-ray:nth-child(3) {
  transform: rotate(180deg);
  left: 125px;
  top: 55px;
}
.sun-ray:nth-child(4) {
  transform: rotate(225deg);
  left: 105px;
  top: 110px;
}

.sun-ray:nth-child(5) {
  transform: rotate(270deg);
  left: 47px;
  top: 135px;
}
.sun-ray:nth-child(6) {
  transform: rotate(315deg);
  left: -10px;
  top: 110px;
}
.sun-ray:nth-child(7) {
  transform: rotate(0);
  left: -30px;
  top: 55px;
}
.sun-ray:nth-child(8) {
  transform: rotate(45deg);
  left: -5px;
  top: 0;
}
.rain-drop {
  opacity: 0;
  width: 70px;
  border-radius: 50px;
  height: 10px;
  background-color: #194f96;
  transform: rotate(120deg);
  position: absolute;
  top: 350px;
  left: 80px;
  animation-name: pop;
  animation-duration: 0.3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.rain-drop:nth-child(2) {
  left: 120px;
  animation-delay: 2.1s;
}
.rain-drop:nth-child(3) {
  left: 160px;
  animation-delay: 2.2s;
}

@keyframes loading {
  to {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(0) rotate(120deg);
  }
  50% {
    transform: scale(1.5) rotate(120deg);
  }
  75% {
    transform: scale(0.8) rotate(120deg);
  }
  100% {
    transform: scale(1) rotate(120deg);
    opacity: 1;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
