body {
    height: 100%;
    display: grid;
    justify-content: center;
}

#tehball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: radial-gradient(circle at 50% center, rgb(211, 194, 255) 24%, rgb(68, 131, 29) 47%, rgb(179, 79, 174) 92%);

    position: relative;
    animation-name: theL;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes theL {
      0%   {background: radial-gradient(circle at 50% center, rgb(101, 70, 180) 7%, rgb(109, 155, 80) 31%, rgb(141, 73, 138) 55%); left:0px; right:0px; top: 305px;} 
     25%   {background: radial-gradient(circle at 50% center, rgb(101, 70, 180) 7%, rgb(109, 155, 80) 31%, rgb(141, 73, 138) 55%); left:0px; right:200px; top: 305px;} 
     50%  {background: radial-gradient(circle, rgb(80, 154, 155) 31%, rgb(141, 73, 138) 55%); left:200px; right:200px;}
     75%  {background: radial-gradient(circle at 50% center, rgb(101, 70, 180) 14%, rgb(143, 198, 108) 38%, rgb(192, 109, 188) 43%); left:0px; right:200px; top: 305px} 
    100% {background: radial-gradient(circle at 50% center, rgb(211, 194, 255) 24%, rgba(29, 124, 131, 0.863) 47%, rgba(168, 34, 52, 0.835) 92%);left:0px; top:0px;top:305px; }
  }

 #circle {
    width: 90px;
    height: 90px;
    border: 10px solid rgb(131, 70, 180);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);

    position: relative;
    animation-name: theSmile;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes theSmile {
    0%   {left:200px; top:200px; }
    25%   {left:0px; top:200px;}
   50%  {left:200px; top:200px;}
   75%  {left:200px; top:200px;}
   100% {left:200px; top:200px; }
 }

 #circleTwo {
    width: 90px;
    height: 90px;
    border: 10px solid rgb(131, 70, 180);
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);

    position: relative;
    top: 90px;
  }

  /* p {
      position: relative;
      animation-name: disappear;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
  }

  @keyframes disappear {
    0%   {color: transparent; left:16px; top:-25px; }
    10%   {color: transparent; left:16px; top:-25px;}
   100% { left:16px; top:-25px; }
 } */