:root {
  --body-background: #c4a484;
  --window-color: #3a1f04;
  --sky: #4c5158;
  --grass: #0d1f02;
  --moon: #bebebe;
  --ghost: ghostwhite;
  --eyes: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--body-background);
}

/* Window and Window Frame */

.window {
  width: 300px;
  height: 300px;
  border: solid 20px var(--window-color);
  position: relative;
  z-index: 500;
  overflow: hidden;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}

.window::before,
.window::after {
  content: '';
  background-color: var(--window-color);
  width: 100%;
  height: 5px;
  position: absolute;
  z-index: 500;
}

.window::before {
  top: 50%;
}

.window::after {
  transform: rotate(90deg);
  top: 49%;
  width: 101%;
}

.window-sill {
  width: 400px;
  height: 20px;
  background-color: var(--window-color);
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}

.window-sill-top {
  border-radius: 10px 10px 5px 5px;
  filter: brightness(1.2);
}

.window-sill-bottom {
  width: 350px;
  filter: brightness(1.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Sky */
.sky {
  width: 100%;
  height: 100%;
  background-color: var(--sky);
}

/* Grass */
.ground {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  background-color: var(--grass);
}

.hill {
  width: 145%;
  height: 60%;
  position: absolute;
  top: 40%;
  background-color: var(--grass);
  border-top-right-radius: 100%;
}

/* Moon */
.moon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--moon);
  position: absolute;
  right: -25px;
  top: -25px;
  box-shadow: -5px 10px 20px rgba(190, 190, 190, 0.4);
}

/* Ghost */

.ghost {
  position: absolute;
  bottom: 60px;
  left: 40px;
  opacity: 80%;
  animation-name: ghost-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.ghost .body {
  width: 100px;
  height: 140px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: var(--ghost);
}

.ghost .humps {
  width: 100%;
  display: flex;
  margin-top: -15px;
}

.ghost .body .eyes {
  width: 40%;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.ghost .body .eyes .eye {
  width: 10px;
  height: 30px;
  background-color: var(--eyes);
  border-radius: 100%;
}

.ghost .bottom {
  width: 33.3px;
  height: 33.3px;
  border-radius: 100%;
  background-color: var(--ghost);
}

/* Animation */
@keyframes ghost-animation {
  0% {
    bottom: 70px;
  }
  100% {
    bottom: 10px;
  }
}
