body {
  background: black;
  margin: 200px;
}

.box {
  margin: auto;
  background: orange;
  width: 200px;
  height: 200px;
  animation-name: myanimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.box:hover {
  animation-play-state: paused;
}

@keyframes myanimation {
  0% {
    background-color: orange;
  }
  25% {
    transform: scale(1.25) rotateZ(90deg);
    border-radius: 5% 5% 5% 50%;
  }
  50% {
    transform: scale(1.5) rotateZ(180deg);
    border-radius: 5% 5% 50% 50%;
  }
  75% {
    transform: scale(1.75) rotateZ(270deg);
    border-radius: 5% 50% 50% 50%;
  }
  100% {
    transform: scale(2);
    border-radius: 50% 50% 50% 50%;
  }
}
