@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes example2 {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.code {
  color: red;
  animation-name: example2;
  display: inline-block;
  animation-iteration-count: 3;
  font-family: 'Hanalei', cursive;
}

#c1 {
  animation-duration: 4s;
}

#c2 {
  animation-duration: 5s;
}
#c3 {
  animation-duration: 6s;
}
#c4 {
  animation-duration: 7s;
}
#c5 {
  animation-duration: 8s;
}
#c6 {
  animation-duration: 9s;
}
#c7 {
  animation-duration: 10s;
}
#c8 {
  animation-duration: 11s;
}

p {
  font-size: 500%;
  text-align: center;
  color: green;
  font-family: 'Faster One', cursive;
}

#s {
  animation-name: example;
  animation-duration: 3s;
}
#t {
  animation-name: example;
  animation-duration: 6s;
}
#a {
  animation-name: example;
  animation-duration: 9s;
}
#y {
  animation-name: example;
  animation-duration: 12s;
}
#s1 {
  animation-name: example;
  animation-duration: 15s;
}
#a1 {
  animation-name: example;
  animation-duration: 18s;
}
#f {
  animation-name: example;
  animation-duration: 21s;
}
#e {
  animation-name: example;
  animation-duration: 24s;
}
