
body {
    display: flex;
    justify-content: center;
    background-color: #83c8e6;
  }

.box{
  position: relative;
  margin-top: 8%;
  margin-bottom: 8%;
  width: 600px;
  height:600px;
  animation: move 4s linear forwards infinite;
}

.pacman {
  position:absolute;
  top: 200px;
  left: 200px;
  height: 200px;
  width: 200px;
  background: conic-gradient((#ffff00) calc(360deg),#0000 0);
  border-radius: 50%;
}

.mouth{
  position:absolute;
  top: 200px;
  left: 200px;
  height: 200px;
  width: 200px;
  background-color: #83C8E6;
  border-radius: 50%;
  background: conic-gradient(#83C8E6 calc(60deg),#0000 0);
  transform: rotate(60deg);
}

.pacman-down {
  position:absolute;
  top: 200px;
  left: 200px;
  height: 200px;
  width: 200px;
  background-color: #ffff00;
  border-radius: 50%;
  background: conic-gradient(#ffff00)calc(60deg),#0000 0);
  transform: rotate(30deg);
  animation: pacmandown 1s infinite;
}

.pacman-up {
  position:absolute;
  top: 200px;
  left: 200px;
  height: 200px;
  width: 200px;
  background-color: #ffff00;
  border-radius: 50%;
  background: conic-gradient(#ffff00, calc(60deg),#0000 0);
  transform: rotate(120deg);
  animation: pacmanup 1s infinite;
}

@keyframes move {
  from { transform: translateX(-8em)}
  to { transform: translateX(8em)}
}

@keyframes pacmandown {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(15deg);
    
  }
  50%{
    transform: rotate(31deg);
  }
  75%{
    transform: rotate(15deg);
  }
  100%{

    transform: rotate(0deg);
  }
}

@keyframes pacmanup {
  0%{
    transform: rotate(120deg);
  }
  25%{
    transform: rotate(105deg);
  }
  50%{
    transform: rotate(79deg);
  }
  75%{
    transform: rotate(105deg);
  }
  100%{
    transform: rotate(120deg);
  }
}

.shadow {
  position: absolute;
  top: 420px;
  left: 150px;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: #00000005;
}
