
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #83C8E6;
  }

.box{
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 8%;
  margin-bottom: 8%;
  width: 600px;
  height:600px;
}

.pacman {
  position:absolute;
  top: 200px;
  left: 200px;
  height: 200px;
  width: 200px;
  /* background-color: rgb(255, 255, 0); */
  background: conic-gradient(rgb(255, 255, 0) calc(100*1%),#0000 0);
  border-radius: 50%;
  animation: mouth 1.5s steps(10) infinite;
  
}

.mouth {
  position:absolute;
  top: 200px;
  left: 200px;
  height: 200px;
  width: 200px;
  background-color: #83C8E6;
  border-radius: 50%;
  background: conic-gradient(#83C8E6 calc(20*1%),#0000 0);
  transform: rotate(45deg);
  animation: mouth 1.5s steps(10) infinite;
  
}
/* 
.pacman::before {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:  rgb(255, 255, 0);
  border-radius: 50%;
  background: conic-gradient( rgb(255, 255, 0) calc(315*1%),#0000 0);
  transform: rotate(-315deg);
  transition: all(1s);
}

.pacman::after {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:  rgb(255, 255, 0);
  border-radius: 50%;
  background: conic-gradient( rgb(255, 255, 0) calc(350*1%),#0000 0);
  transform: rotate(-315deg);
  transition: all(1s);
  
} */

@keyframes pacman {
  
}

/* @keyframes mouth {
  0%{
    background: conic-gradient(#83C8E6 calc(0*1%),#0000 0);
  }
  50%{
    background: conic-gradient(#83C8E6 calc(10*1%),#0000 0);
  }
  100%{
    background: conic-gradient(#83C8E6 calc(20*1%),#0000 0);
  }
} */

/* .mouth::before {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #83C8E6;
  border-radius: 50%;
  background: conic-gradient(#83C8E6 calc(10*1%),#0000 0);
  transform: rotate(45deg);
  transition: all(1s);
  
} */

/* .mouth::after {
  content: "";
  position:absolute;
  top: 201px;
  left: 201px;
  height: 201px;
  width: 201px;
  background-color: #83C8E6;
  border-radius: 50%;
  background: conic-gradient(#83C8E6 calc(10*1%),#0000 0);
  transform: rotate(45deg);
  transition: all(1s);
}  */

/* calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2) */
.shadow {
  position: absolute;
  top: 420px;
  left: 150px;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0,0,0, 0.05);
}
