* {
  padding: 0;
  margin: 0;
}
.main-div {
  width: 100vw;
  height: 100vh;
  animation: colorchange 10s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-div {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  animation: complimentarychange 10s infinite;
  background-image: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
@keyframes colorchange {
  0% {
    background: white;
  }
  14% {
    background-color: red;
  }
  28% {
    background-color: orange;
  }
  42% {
    background-color: yellow;
  }
  56% {
    background-color: green;
  }
  70% {
    background-color: blue;
  }
  84% {
    background-color: purple;
  }
  100% {
    background-color: black;
  }
}

@keyframes complimentarychange {
  0% {
    background-image: radial-gradient(
      circle closest-side,
      black,
      rgba(255, 255, 255, 0)
    );
  }
  14% {
    background-image: radial-gradient(
      circle closest-side,
      green,
      rgba(255, 255, 255, 0)
    );
  }
  28% {
    background-image: radial-gradient(
      circle closest-side,
      blue,
      rgba(255, 255, 255, 0)
    );
  }
  42% {
    background-image: radial-gradient(
      circle closest-side,
      purple,
      rgba(255, 255, 255, 0)
    );
  }
  56% {
    background-image: radial-gradient(
      circle closest-side,
      red,
      rgba(255, 255, 255, 0)
    );
  }
  70% {
    background-image: radial-gradient(
      circle closest-side,
      orange,
      rgba(255, 255, 255, 0)
    );
  }
  84% {
    background-image: radial-gradient(
      circle closest-side,
      yellow,
      rgba(255, 255, 255, 0)
    );
  }
  100% {
    background-image: radial-gradient(
      circle closest-side,
      white,
      rgba(255, 255, 255, 0)
    );
  }
}
