:root {
  --heart-background-color: #6b46c1;
  --heart-small-bg: #b794f4;
  --background-color: #e9d8fd;
  --width: 2rem;
  --height: 2rem;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}


.heart {
  position: relative;
  top: 0;
  animation: animate-heart 1s infinite;
}

.heart--big {
  background-color: var(--heart-background-color);
  height: var(--height);
  width: var(--width);
}

.heart--small {
  position: relative;
  background-color: var(--heart-small-bg);
  height: calc(var(--height) * 0.5);
  width: calc(var(--width) * 0.5);
  animation: animate-heart 1s infinite;
  top: -0.2rem;
  left: -1.5rem;
}

.heart:before,
.heart:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  
}

.heart--big:before,
.heart--big:after {
  background-color: var(--heart-background-color);
  width: var(--width);
  height: var(--height);
}

.heart--small:before,
.heart--small:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: var(--heart-small-bg);
  width: calc(var(--width) * 0.5);
  height: calc(var(--height) * 0.5);
}

.heart:before {
  left: 0;
}

.heart--big:before {
  top: calc(-1 * (var(--width) / 2));
}

.heart--small:before {
  left: 0;
  top: calc(-1 * (var(--width) / 4));
}

.heart:after {
  top: 0;
}

.heart--big:after {
  left: calc(var(--width) / 2);
}

.heart--small:after {
  top: 0;
  left: calc(var(--width) / 4);
}

@keyframes animate-heart {
  0% {
    transform: rotate(-45deg) scale(0.2);
  }
  10% {
    transform: rotate(-45deg) scale(0.9);
  }

  100% {
    transform: rotate(-45deg) scale(1.25);
  }
}
