.container {
	height: 100%;
	width: 100%;
/*	display: grid;
	-webkit-grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	-webkit-grid-template-rows: 1fr 1fr 1fr;
	-moz-grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	-moz-grid-template-rows: 1fr 1fr 1fr;
	-ms-grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	-ms-grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;*/
}

.square {
	height: 250px;
	width: 250px;
	background-color: black;
/*	grid-column: 3 / 4;
	grid-row: 2 / 3 ;
	-webkit-grid-column: 3 / 4;
	-webkit-grid-row: 2 / 3 ;
	-moz-grid-column: 3 / 4;
	-moz-grid-row: 2 / 3 ;
	-ms-grid-column: 3 / 4;
	-ms-grid-row: 2 / 3 ;*/
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: spinngrow;
	animation-timing-function: ease-in-out;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: spinngrow;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: spinngrow;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-name: spinngrow;
	margin-left: 400px;
	margin-top: 300px;
}

@keyframes spinngrow {
	from {
	}
	25% {
		transform: rotate(900deg);
		width: 40%;
	}
	to {
	}
}