html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(0, 49, 82);
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  height: 400px;
}

.content-left {
  position: relative;
  grid-column: 1 / 2;
}

.content-right {
  position: relative;
  grid-column: 2 / 3;
}

span {
  position: absolute;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid black;
}

.front {
  z-index: 1;
}

/* ! ANIMATIONS */

@keyframes reveal {
  from {
    width: 100;
  }
  to {
    width: 0;
  }
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* ! LEFT SIDE */

.content-left .lightgreen {
  position: absolute;
  width: 100%;
  top: 59px;
  background-color: rgb(0, 49, 82);
}

.content-left .lightgreen .fill {
  width: 0%;
  height: 100%;
  background-color: lightgreen;
  animation: fill 1s linear 3s 1 forwards running;
}

.content-left .darkgreen {
  position: absolute;
  width: 100%;
  top: 175px;
  background-color: rgb(0, 49, 82);
}

.content-left .darkgreen .fill {
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: green;
  animation: fill 1s linear 2s 1 forwards running;
}

.content-left .red {
  position: absolute;
  width: 100%;
  top: 170px;
  background-color: rgb(0, 49, 82);
}

.content-left .red .fill {
  width: 0%;
  height: 100%;
  background-color: red;
  animation: fill 1s linear 1s 1 forwards running;
}

.content-left .darkred {
  position: absolute;
  width: 100%;
  top: 286px;
  background-color: rgb(0, 49, 82);
}

.content-left .darkred .fill {
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: darkred;
  animation: fill 1s linear 4s 1 forwards running;
}

/* ! RIGHT SIDE */

.content-right .lightgreen {
  position: absolute;
  width: 100%;
  top: 175px;
  background-color: rgb(0, 49, 82);
}

.content-right .lightgreen .fill {
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: lightgreen;
  animation: fill 1s linear 1s 1 forwards running;
}

.content-right .darkgreen {
  position: absolute;
  width: 100%;
  top: 59px;
  background-color: rgb(0, 49, 82);
}

.content-right .darkgreen .fill {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: green;
  animation: fill 1s linear 4s 1 forwards running;
}

.content-right .red {
  position: absolute;
  width: 100%;
  top: 286px;
  background-color: rgb(0, 49, 82);
}

.content-right .red .fill {
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: red;
  animation: fill 1s linear 3s 1 forwards running;
}

.content-right .darkred {
  position: absolute;
  width: 100%;
  top: 170px;
  background-color: rgb(0, 49, 82);
}

.content-right .darkred .fill {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: darkred;
  animation: fill 1s linear 2s 1 forwards running;
}

/* ! SHAPE */

.parallelogram-up {
  width: 0;
  height: 55px;
  transform: skewY(-30deg);
}

.parallelogram-dn {
  width: 0;
  height: 55px;
  transform: skewY(30deg);
}
