html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    overflow: hidden;
    transform: scale(1.5);
}

.btn {
    padding: 15px 40px;
    border: none; 
    outline: none;
    color:#FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    margin: 20px;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.btn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000,#FF7300,  #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100%);
    filter: blur(8px);
    animation: glow 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 00;
    }
    100% {
        background-position: 0 0;
    }
}

.btn:hover::before {
    opacity: 1;
}

.btn:hover:after {
    background: transparent;
}

.btn:active {
    font-weight: bold;
}