.pole {
  width: 10px;
  height: 600px;
  background: red;
  position: relative;
  animation-name: pol;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes pol {
  from {
    left: 0px;
    background-color: brown;
  }
  to {
    left: 200px;
    background-color: black;
  }
}

div {
  width: 400px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes example {
  from {
    left: 0px;
    background-color: orange;
  }
  to {
    left: 200px;
    background-color: black;
  }
}

.div1 {
  width: 400px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: examples;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes examples {
  from {
    left: 0px;
    background-color: white;
  }
  to {
    left: 200px;
    background-color: black;
  }
}

.div2 {
  width: 400px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: exampless;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes exampless {
  from {
    left: 0px;
    background-color: green;
  }
  to {
    left: 200px;
    background-color: black;
  }
}
