body {
  background-color: black;
}

h1 {
  /* text-align: center; */
  color: Black;
}

.background {
  height: 500px;
  width: 100%;
  background: white;
}

.head,
.body,
.leg1,
.leg2,
.leg3,
.leg4 {
  background-color: #deb887;
}

.dog {
  postion: absolute;
}

.head {
  width: 120px;
  height: 80px;
  border-radius: 0px 20px 0px 300px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
  left: 45px;
}

.mouth {
  width: 12px;
  height: 15px;
  border-radius: 0px 0px 15px 15px;
  background-color: red;
  position: relative;
  top: -48px;
  left: 85px;
}

.nose {
  width: 15px;
  height: 18px;
  border-radius: 5px 5px 15px 5px;
  background-color: black;
  position: relative;
  top: -132px;
  left: 45px;
}

.eyes {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: black;
  position: relative;
  top: -90px;
  left: 100px;
}

.body {
  width: 185px;
  height: 95px;
  border-radius: 30px 10px 0px 30px;
  /* margin: 400px */
  position: relative;
  top: -100px;
  left: 115px;
}
.ears {
  width: 30px;
  height: 70px;
  border-radius: 5px 5px 25px 25px;
  background-color: brown;
  position: relative;
  top: -230px;
  left: 135px;
}

.leg1,
.leg2,
.leg3,
.leg4 {
  width: 18px;
  height: 60px;
  border-radius: 0px 0px 0px 0px;
}

.leg1 {
  position: relative;
  top: -180px;
  left: 130px;
}
.leg2 {
  position: relative;
  top: -240px;
  left: 160px;
}
.leg3 {
  width: 18px;
  height: 50px;
  position: relative;
  top: -290px;
  left: 250px;
  background-color: #c8a16f;
}
.leg4 {
  position: relative;
  top: -348px;
  left: 282px;
}

.tail {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 110px solid #deb887;
  transform: rotate(40deg);
  position: relative;
  top: -590px;
  left: 279px;
  transform: rotate(60deg);
  transform-origin: bottom;
  animation: wag 1s infinite;
}
@keyframes wag {
  50% {
    transform: rotate(20deg);
  }
}
