
body{
   background-color: black;

}

#center{
    position: absolute;
    background-color: rgb(201, 239, 255);
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    border: 5px solid black;
    display: flex;
    
}

#cross{
    position: relative;
    left : 20px;
   

}

#rect1{
    position:relative;
    width:100px;
    height:30px;
    background-color: white;
    left:20px;
    top:200px;
    transform : scale(1);
    box-shadow: 5px 5px 5px 5px rgba(75, 202, 241, 0.648);
    animation: pulse 2s infinite;
    
}

#rect2{
    position:relative;
    height:170px;
    width:30px;
    background-color: white;
    left: 55px;
    top:130px;
    transform : scale(1);
    box-shadow: 5px 5px 5px 5px rgba(75, 202, 241, 0.648);
    animation: pulse 2s infinite;

}

.text{
    position: relative;
    left:170px;
    font-family: 'Satisfy', cursive;
    font-size:2.8rem;
    color:rgb(9, 112, 160);
}

@keyframes pulse{
    0% {
        transform: scale(1);
        box-shadow:1px 1px 1px 1px rgba(75, 202, 241, 0.379);
    }

    70% {
        transform: scale(1.1);
        box-shadow:5px 5px 5px 5px rgba(75, 202, 241, 0.628);
    }

    100% {
        transform: scale(1);
        box-shadow:1px 1px 1px 1px rgba(75, 202, 241, 0.379);
    }
}


