body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  width: 190px;
  height: 254px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: relative;
  border: 2px solid aqua;
  animation: open-up 1s ease;
}

.card-img {
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  color: aqua;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  height: 2.2rem;
  transition: height 0.5s ease-in-out;
  padding: 0.6em;
  overflow: hidden;
}

.details > p {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.card:hover > .details {
  height: 5.8rem;
}

@keyframes open-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
