.element{
	height: 250px;
	width: 250px;
	background-color: red;
/*	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;*/
	animation: 
	stretch 1.5s ease-out alternate infinite running,
	nudge 5s linear infinite alternate;
}

@keyframes stretch{
	0%{
		transform:scale(.30);
		background-color: red;
		border-radius: 100%
	}
	50%{
		background-color: orange;
	}
	100%{
		transform: scale(1.5);
		background-color: yellow;
	}
}

@keyframes nudge{
	0%, 100%{
		transform: translate(0,0);
	}
	50%{
		transform: translate(150px,0);
	}
	80%{
		transform: translate(-150px, 0);
	}
}

body,html{
	height: 100%;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
}

