* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 120px;
}

body {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(32, 158, 229)),
    to (rgb(157, 163, 166))
  );
  background: -o-linear-gradient(left, rgb(32, 158, 229), rgb(157, 163, 166));
  background: linear-gradient(to right, rgb(32, 158, 229), rgb(157, 163, 166));
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 2%;
}

.container:hover .letter1,
.container:hover .letter2,
.container:hover .letter3,
.container:hover .letter4,
.container:hover .letter5,
.container:hover .letter6,
.container:hover .letter7,
.container:hover .letter8,
.container:hover .letter9 {
  -webkit-transform: translateX(30vw);
  -ms-transform: translateX(30vw);
  transform: translateX(30vw);
}
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s ease infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  50% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.letter1 {
  color: white;
  -webkit-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  transition: all 1.5s linear;
}

.letter2 {
  color: white;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.letter3 {
  color: white;
  -webkit-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
  animation: Orbit1 7s infinite linear;
  /*animation: upAndDownLeft 1.5s ease-in-out infinite;*/
}

.letter4 {
  color: white;
  -webkit-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  animation: Orbit2 5s infinite linear;
}

.letter5 {
  color: white;
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.letter6 {
  color: white;
  -webkit-transition: all 1.5s cubic-bezier(0, 1, 0.98, 0);
  -o-transition: all 1.5s cubic-bezier(0, 1, 0.98, 0);
  transition: all 1.5s cubic-bezier(0, 1, 0.98, 0);
}

.letter7 {
  color: white;
  -webkit-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  transition: all 1.5s linear;
  /*animation: upAndDownLeft 1.5s ease-in-out infinite;*/
}

.letter8 {
  color: white;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.letter7 {
  color: white;
  -webkit-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

.letter9 {
  color: white;
  -webkit-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  display: block;
  animation: animate 4s ease-in-out;
}

@media only screen and (min-width: 600px) {
  .letter1,
  .letter2,
  .letter3,
  .letter4,
  .letter5,
  .letter6,
  .letter7,
  .letter8,
  .letter9 {
    font-size: 55%;
  }
  .container:hover .letter1,
  .container:hover .letter2,
  .container:hover .letter3,
  .container:hover .letter4,
  .container:hover .letter5,
  .container:hover .letter6,
  .container:hover .letter7,
  .container:hover .letter8,
  .container:hover .letter9 {
    -webkit-transform: translateX(17vw);
    -ms-transform: translateX(17vw);
    transform: translateX(17vw);
  }
}

@media only screen and (min-width: 1200px) {
  .letter1,
  .letter2,
  .letter3,
  .letter4,
  .letter5,
  .letter6,
  .letter7,
  .letter8,
  .letter9 {
    font-size: 100%;
  }
  .container:hover .letter1,
  .container:hover .letter2,
  .container:hover .letter3,
  .container:hover .letter4,
  .container:hover .letter5,
  .container:hover .letter6,
  .container:hover .letter7,
  .container:hover .letter8,
  .container:hover .letter9 {
    -webkit-transform: translateX(22vw);
    -ms-transform: translateX(22vw);
    transform: translateX(22vw);
  }
}

@media only screen and (min-width: 1600px) {
  .letter1,
  .letter2,
  .letter3,
  .letter4,
  .letter5,
  .letter6,
  .letter7,
  .letter8,
  .letter9 {
    font-size: 100%;
  }
  .container:hover .letter1,
  .container:hover .letter2,
  .container:hover .letter3,
  .container:hover .letter4,
  .container:hover .letter5,
  .container:hover .letter6,
  .container:hover .letter7,
  .container:hover .letter8,
  .container:hover .letter9 {
    -webkit-transform: translateX(25vw);
    -ms-transform: translateX(25vw);
    transform: translateX(25vw);
  }
}

@media only screen and (min-width: 1800px) {
  .letter1,
  .letter2,
  .letter3,
  .letter4,
  .letter5,
  .letter6,
  .letter7,
  .letter8,
  .letter9 {
    font-size: 100%;
  }
  .container:hover .letter1,
  .container:hover .letter2,
  .container:hover .letter3,
  .container:hover .letter4,
  .container:hover .letter5,
  .container:hover .letter6,
  .container:hover .letter7,
  .container:hover .letter8,
  .container:hover .letter9 {
    -webkit-transform: translateX(30vw);
    -ms-transform: translateX(30vw);
    transform: translateX(30vw);
  }
}
@keyframes Orbit1 {
  from {
    transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
@keyframes Orbit2 {
  from {
    transform: rotate(0deg) translateX(40px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(40px) rotate(360deg);
  }
}
