.flag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, 1fr);
  max-height: 80%;
  max-width: 80%;
  overflow: hidden;
  position: relative;
  animation: unfoldAndStraighten 8s ease-in-out infinite;
  transform-origin: left bottom;
  margin: auto;
}

@keyframes unfoldAndStraighten {
  0% {
    transform: scaleX(0.3) scaleY(0.3) rotate(20deg);
    /* Small and angled down */
  }

  25% {
    transform: scaleX(0.5) scaleY(0.5) rotate(10deg);
    /* Slightly larger and less angled */
  }

  50% {
    transform: scaleX(0.7) scaleY(0.7) rotate(5deg);
    /* Growing and almost straight */
  }

  75% {
    transform: scaleX(0.9) scaleY(0.9) rotate(2deg);
    /* Nearly full size */
  }

  100% {
    transform: scaleX(1) scaleY(1) rotate(0deg);
    /* Full size, straight */
  }
}

.blue {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: blue;
}

.stars1 {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  margin-left: 0.9em;
  margin-right: -1.1em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid white;
  border-left: 0.3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 1.2rem;

  animation: waveStars 8s ease-in-out infinite;

  &:before,
  &:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid white;
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}

@keyframes waveStars {
  0% {
    transform: translateY(0) scaleY(0.3) rotate(20deg);
  }

  25% {
    transform: translateY(2px) scaleY(0.5) rotate(10deg);
  }

  50% {
    transform: translateY(4px) scaleY(0.7) rotate(5deg);
  }

  75% {
    transform: translateY(2px) scaleY(0.9) rotate(2deg);
  }

  100% {
    transform: translateY(0) scaleY(1) rotate(0deg);
  }
}

.red {
  background-color: red;
  animation: waveStripes 8s ease-in-out infinite;
}

.white {
  background-color: white;
  animation: waveStripes 8s ease-in-out infinite;
}

@keyframes waveStripes {
  0% {
    transform: translateX(0) scaleY(0.3) rotate(20deg);
  }

  25% {
    transform: translateX(2px) scaleY(0.5) rotate(10deg);
  }

  50% {
    transform: translateX(4px) scaleY(0.7) rotate(5deg);
  }

  75% {
    transform: translateX(2px) scaleY(0.9) rotate(2deg);
  }

  100% {
    transform: translateX(0) scaleY(1) rotate(0deg);
  }
}
