div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: square;
  animation-duration: 4s;
}

@keyframes square {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: lime;
    left: 500px;
    top: 0px;
    border-radius: 50%;
  }
  50% {
    background-color: aqua;
    left: 500px;
    top: 500px;
    border-radius: 50%;
  }
  75% {
    background-color: violet;
    left: 0px;
    top: 500px;
    border-radius: 50%;
  }
  100% {
    background-color: blue;
    left: 0px;
    top: 0px;
  }
}
