body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.colorful-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f06, #09f, #6f0, #f06);
  background-size: 400% 400%;
  animation: animateBackground 10s linear infinite;
  filter: brightness(0.8);
}

.animated-text {
  font-size: 80px;
  text-align: center;
  color: white;
  margin-top: 200px;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
