svg{
  background:#222222;
}

.be0{fill:#083B25;}
.be1{fill:#0B4E31;}
.be2{fill:#10744A;}
.be3{fill:#169B62;}
.be4{fill:url(#SVGID_1_);}
.be5{fill:#FFFFFF;}
.be6{fill:#F72B00;}
.be7{fill:#53180B;}
.be8{fill:#7A320F;}
.be9{fill:#98582E;}
.be10{fill:#E18625;}
.be11{fill:url(#SVGID_2_);}
.be12{fill:#1C1400;}
.be13{fill:#BDE877;}
.be14{fill:#f4e095;}
.be15{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.be16{fill:none;stroke:#FFFF83;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}

.beer-1{
transform-origin: center center;
animation: cheers1 1.2s ease infinite;
}

@keyframes cheers1{
0%{
transform:translate(0, 15px) rotate(0);
}
45%{
  opacity:1;
}
50%{
transform: translate(53px, -15px) rotate(16deg);
}
51%{

opacity:0.9;
}
52%{
transform: translate(53px, -15px) rotate(16deg);
}
70%{
  opacity:1;
}
100%{
transform:translate(0, 15px) rotate(0deg);
}

}
.beer-2{
transform-origin: center center;
animation: cheers2 1.2s ease infinite;
}

@keyframes cheers2{
0%{
transform:translate(0, 15px) rotate(0);
}
45%{
  opacity:1;
}
50%{
transform: translate(-54px, -5px) rotate(-13deg);

}
51%{

opacity:0.8;
}
52%{
transform: translate(-54px, -5px) rotate(-13deg);
}
70%{
  opacity:1;
}

100%{
transform:translate(0, 15px) rotate(0deg);
}

}

.be13{
transform-origin: 200px 50px;
animation: bubble1 1.2s ease infinite;
}

@keyframes bubble1{
0%{
  transform:scale(0);
}
50%{
  transform:scale(0);
}


55%{
  transform:scale(1) translate(-5px, 15px);
  opacity(0);
}
64%{
  transform:scale(0.3) translate(0px, 8px);
  opacity(1);
}
74%{
  transform:scale(0.8) translate(-15px, -15px);
  opacity(1);
}
85%{
  transform:scale(0.4) translate(-25px,-50px);
  opacity(1);
}
100%{
  transform:scale(0.4) translate(-35px,-75px);
  opacity(0);
}
}

.be14{
transform-origin: 210px 50px;
animation: bubble2 1.2s ease infinite;
}

@keyframes bubble2{
0%{
  transform:scale(0);
}
45%{
  transform:scale(0);
}
48%{
  transform:scale(1) translate(5px, 10px);
  opacity(0);
}
60%{
  transform:scale(0.3) translate(0px, 0px);
  opacity(1);
}
77%{
  transform:scale(0.8) translate(15px, -13px);
  opacity(1);
}
85%{
  transform:scale(0.4) translate(25px,-35px);
  opacity(1);
}
100%{
  transform:scale(0.4) translate(35px,-45px);
  opacity(0);
}
}

.becircle{
  transform-origin:center center;
  animation: beer-circle 1.2s ease infinite;
}

@keyframes beer-circle{
0%{
  transform:translateY(15px) scale(0);
}
35%{
  transform:translateY(15px) scale(0);
}
51%{
  transform:translateY(15px) scale(0.8);
  opacity:1;
}
70%{
  transform:translateY(15px) scale(0.6);
  opacity:0;
}

}

.be16{

}

@keyframes movebe16{

{stroke-dashoffset:0;}
}