body {
	/* color: rgba(0,0,0, .5); */
	text-align: center;
	/* text-transform: uppercase; */
	/* letter-spacing: 0.5em; */
	top: 15%;
	/* background: linear-gradient(to right, rgb(203, 164, 247), rgb(145, 240, 235)); */
}

h1 {
   margin-top: 50px;
   text-align: center;
   font-size: 30px;
}


.first {
    width: 40px;
    height: 40px;
    /* border-radius: 50%;  */
    background-color: blue;
    margin-bottom: 20px;
    margin-left: 50%;
}

#second {
    width: 70px;
    height: 70px;
    /* border-radius: 50%;  */
    background-color: rgb(70, 224, 147);
    margin-bottom: 20px;
    margin-left: 49%;
}

.third {
    width: 40px;
    height: 40px;
    /* border-radius: 50%;  */
    background-color: blue;
    margin-left: 50%;
}

.mini {
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background-color: white;
    margin-left: 50%;
    margin: 10px;
    position: relative;
    top: 10px;
}
.animate {
    animation: rotation 2s infinite linear;

}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.slow {
    animation: rotation 3s infinite linear;

}


.ani {
    margin-top: 180px;
    transform-origin: 50% 50%;
    animation: rotation 3s infinite linear;
}