body,
html {
  height: 100%;
  width: 100%;
  margin: auto 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#my-ufo,
.main-container,
.hero-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-guide {
  width: 100%;
  position: absolute;
  top: -15px;
  z-index: 1;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  color: #f4f4f4;
  width: 60vw;
  padding: 0.2rem 0;
  text-shadow: 2px 2px #111;
}

.main-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: url(../images/space.jpg) no-repeat center center fixed;
  background-size: cover;
  animation: zooms 5s ease-in-out infinite;
}

.stars::after,
.lone-star::after,
.stars::before,
.lone-star::before,
.evil-eye-host {
  display: block;
  position: absolute;
}

.light-6,
.light-5,
.light-4,
.light-3,
.light-2,
.light-1,
.ufo::before,
.evil-eye::before,
.evil-eye {
  display: block;
  position: relative;
}

.stars::after,
.lone-star::after,
.stars::before,
.lone-star::before,
.ufo::before,
.evil-eye::before {
  border-radius: 50%;
  content: '';
}

.evil-eye-host {
  width: 70px;
  height: 70px;
  left: 10%;
  top: 10px;
}

.evil-eye {
  top: 20px;
  left: 15px;
  border-radius: 50%;
  width: 40px;
  height: 30px;
  background: radial-gradient(ellipse at center, #ff0f0f 40%, #333333 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8),
    inset 0px -10px 20px rgba(0, 0, 0, 0.8);
  animation: eyeLash;
}

.evil-eye::before {
  top: 8px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: #001111;
  animation: eyeMove 10s linear infinite;
  animation-direction: alternate;
}

#my-ufo:focus-within::before {
  display: block;
  content: 'Success! Hero,\a''click to save earth again.';
  white-space: pre;
  text-transform: uppercase;
  color: #f4f4f4;
  text-align: center;
  padding: 0.2rem 0;
  text-shadow: 2px 2px #111;
  font-size: 40px;
  animation: success 2s ease-in-out;
}

#my-ufo-specs-host:focus {
  transition: 2.5s ease-in-out;
  transform: scale(0);
  outline: none;
}

.ufo img {
  width: 200px;
  animation: floats;
  z-index: 1;
}

.ufo::before {
  top: 85px;
  left: 88px;
  width: 25px;
  height: 35px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(51, 51, 51, 0.1) 100%
  );
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8),
    inset 0px -10px 20px rgba(0, 0, 0, 0.8);
  animation: myUfos 2.5s infinite;
  z-index: -1;
}

.stars::after,
.lone-star::after,
.stars::before,
.lone-star::before {
  animation: brightStar 5s infinite;
}

.stars::after,
.lone-star::after,
.stars::before,
.lone-star::before,
.stars {
  background: #5f96ff;
  filter: drop-shadow(0 0 3px #699b9b);
  height: 2px;
}

.stars {
  position: absolute;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  animation: startail 5s infinite;
}

.stars::before,
.lone-star::before {
  position: absolute;
  transform: rotate(-45deg);
}

.stars::after,
.lone-star::after {
  position: relative;
  transform: rotate(45deg);
}

.light-6,
.light-5,
.light-4,
.light-3,
.light-2,
.light-1 {
  background-color: #ff6400;
  filter: brightness(660%);
  animation: lights 0.6s ease-in-out infinite;
}

.light-5,
.light-4,
.light-3,
.light-2 {
  width: 10px;
  height: 3px;
}

.light-6,
.light-1 {
  width: 5px;
  height: 3px;
}

.light-1 {
  top: -31px;
  left: 8px;
}

.light-2 {
  top: -34px;
  left: 30px;
}

.light-3 {
  top: -37px;
  left: 70px;
}

.light-4 {
  top: -40px;
  left: 120px;
}

.light-5 {
  top: -43px;
  left: 160px;
}

.light-6 {
  top: -46px;
  left: 188px;
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 12px;
  }
}

/*# sourceMappingURL=index.css.map */
