@keyframes first-star-shoot {
  from {
    transform: translate3d(500px, 600px, 0);
    -webkit-transform: translate3d(500px, 600px, 0);
  }

  to {
    transform: translate3d(-700px, -250px, 0);
    -webkit-transform: translate3d(-700px, -250px, 0);
  }
}

.first-star-shoot {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: first-star-shoot;
  animation-name: first-star-shoot;
}

@keyframes second-star-shoot {
  from {
    transform: translate3d(600px, 600px, 0);
  }

  to {
    transform: translate3d(-500px, -250px, 0);
  }
}

.second-star-shoot {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: second-star-shoot;
  animation-name: second-star-shoot;
}

@keyframes mylast-star {
  from {
    transform: translate3d(300px, 600px, 0);
  }

  to {
    transform: translate3d(-650px, -250px, 0);
  }
}

.mylast-star {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: mylast-star;
  animation-name: mylast-star;
}

@keyframes brightStar {
  0% {
    width: 0;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 0;
  }
}
.brightStar {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: brightStar;
  animation-name: brightStar;
}

@keyframes startail {
  0% {
    width: 0;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
.startail {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: startail;
  animation-name: startail;
}

@keyframes floats {
  0% {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0);
  }
  20%,
  60%,
  90% {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  50%,
  80% {
    -webkit-transform: translate3d(500px, -250px, 0);
    transform: translate3d(500px, -250px, 0);
  }
  70%,
  95% {
    -webkit-transform: translate3d(-500px, -250px, 0);
    transform: translate3d(-500px, -250px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
}
.floats {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: floats;
  animation-name: floats;
}

@keyframes myUfos {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, calc(100vh - 10px), 0);
    transform: translate3d(0, calc(100vh - 10px), 0);
  }
}
.myUfos {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: myUfos;
  animation-name: myUfos;
}

@keyframes eyeMove {
  0%,
  20% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  35%,
  50% {
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
  }
  30%,
  70% {
    transform: translate(-10px, 0);
    -webkit-transform: translate(-10px, 0);
  }
  65%,
  90% {
    transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
  }
  60%,
  100% {
    transform: translate(10px, 0);
    -webkit-transform: translate(10px, 0);
  }
}
.eyeMove {
  -webkit-animation-name: eyeMove;
  animation-name: eyeMove;
}

@keyframes eyeLash {
  from {
    transform: rotateX(-88deg);
    -webkit-transform: rotateX(-88deg);
  }
  to {
    transform: rotateX(88deg);
    -webkit-transform: rotateX(88deg);
  }
}

.eyeLash {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-delay: 5s;
  -webkit-animation-name: eyeLash;
  animation-name: eyeLash;
}

@keyframes zooms {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.zooms {
  -webkit-animation-name: zooms;
  animation-name: zooms;
}

@keyframes lights {
  from {
  }
  to {
    background-color: rgba(255, 0, 0, 1);
    filter: brightness(660%);
  }
}
.lights {
  -webkit-animation-name: lights;
  animation-name: lights;
}

@keyframes success {
  from {
    transform: translate3d(0, -50vh, 0);
    -webkit-transform: translate3d(0, -50vh, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.success {
  -moz-animation-name: success;
  -webkit-animation-name: success;
  animation-name: success;
}
