.container {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center; 
}

.shape {
	width: 200px;
	height: 200px; 
	float: left; 
	margin: 10px; 
}

.animation {
	animation-duration: 4s; 
	animation-iteration-count: infinite;
	animation-direction: alternate; 
	animation-timing-function: linear; 
	
}

.black {
	animation-name: black; 

}

.white {
	animation-name: white; 
}



.purple {
	animation-name: purple; 
}

.red {
	animation-name: red;  

}


@keyframes black {
  from {background-color: black;}
  to {background-color: white;}
}

@keyframes white {
  from {background-color: white;}
  to {background-color: black;}
}

@keyframes purple {
  from {background-color: #8B1F81;}
  to {background-color: #BF2319;}
}

@keyframes red {
  from {background-color: #BF2319;}
  to {background-color: black;}
}

*/