.ball1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: blueviolet;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  animation: bounce1 3s ease-in-out infinite;
}
.ball2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: blueviolet;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  animation: bounce2 3s ease-in-out infinite;
}
h1 {
  color: blue;
}

@keyframes bounce1 {
  0% {
    left: 0;
  }
  50% {
    left: 44%;
  }

  100% {
    left: 0;
  }
}
@keyframes bounce2 {
  0% {
    right: 0;
  }
  50% {
    right: 44%;
  }

  100% {
    right: 0;
  }
}
