.flex-container {
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@keyframes change1 {
  from {
    background-color: #696969;
    height: 200px;
    width: 50px;
  }
  to {
    background-color: rgb(201, 211, 60);
    height: 400px;
    width: 50px;
  }
}

@keyframes change2 {
  from {
    background-color: #a52a2a;
    height: 150px;
    width: 50px;
  }
  to {
    background-color: rgb(79, 79, 202);
    height: 100px;
    width: 50px;
  }
}

@keyframes change3 {
  from {
    background-color: rgb(33, 33, 116);
    height: 100px;
    width: 50px;
  }
  to {
    background-color: rgb(38, 105, 38);
    height: 250px;
    width: 50px;
  }
}

@keyframes change4 {
  from {
    background-color: rgba(82, 82, 6, 0.678);
    height: 250px;
    width: 50px;
  }
  to {
    background-color: rgb(233, 23, 23);
    height: 50px;
    width: 50px;
  }
}

.element1 {
  height: 200px;
  width: 50px;
  background-color: #696969;
  animation: change1 1s infinite;
}

.element2 {
  height: 50px;
  width: 50px;
  background-color: #a52a2a;
  animation: change2 1s infinite;
}

.element3 {
  height: 150px;
  width: 50px;
  background-color: rgb(33, 33, 116);
  animation: change3 1s infinite;
}

.element4 {
  height: 250px;
  width: 50px;
  background-color: rgba(82, 82, 6, 0.678);
  animation: change4 1s infinite;
}
