.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent .child {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  animation: animation 2.5s ease-in-out infinite;
}

@keyframes animation {
  0%,
  100% {
    height: 10px;
    width: 100px;
  }
  50% {
    height: 100px;
    width: 10px;
  }
}
