/*
** Change this if you need to modify
** the amount of lines displayed
*/
/*
** Leave these unless you want
** to open a whole can of worms
*/
/*
** Set up the experiment
*/
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: grey;
  height: 100%;
}

@keyframes example {
  0% {
    background-color: silver;
    height: 100px;
    width: 100px;
    left:0px;
    top:0px;
  }
  25% {
    background-color: black;
    height: 200px;
    width: 50%;
    left:200px;
    top:0px;
  }
  50% {
    background-color: red;
    height: 300px;
    width: 100%;
    left:200px;
    top:200px;
  }
  75% {
    background-color: black;
    height: 200px;
    width: 50%;
    left:0px;
    top:200px;
  }
  100% {
    background-color: silver;
    height: 100px;
    width: 100px;
    left: 0px;
    top: 0px;
  }
}

.group {
  display: flex;
}

#one, #two, #three {
  width: 100px;
  height: 100px;
  background-color: silver;
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#two {
  animation-delay: .5s;
    animation-timing-function: ease-in;
      animation-duration: 50s;
}

#three {
    animation-timing-function: ease-out;
  animation-delay: .1s;
    animation-duration: 10s;
}
