body {
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.road-out {
    width: 80em;
    height: 80em;
    border-radius: 100em;
    border: 0.2rem rgb(255, 255, 255);
    border-style: solid;
    position: fixed;
    margin-top: -40em;
}

.road-in {
    width: 68em;
    height: 68em;
    border-radius: 100em;
    border: 0.2rem rgb(255, 255, 255);
    border-style: solid;
    position: fixed;
    margin-top: -40em;
}

.road-mid {
    width: 74em;
    height: 74em;
    border-radius: 100em;
    border: 0.2rem rgb(255, 255, 255) dashed;
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: fixed;
    margin-top: -40em;
}

@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

img {
    position: fixed;
    margin-top: 17em;

}

.ztm {
    padding-top: 20em;
    margin-top: 0em;
    width: 4em;
    height: 4em;
    animation-name: ztm;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: top;
}

@keyframes ztm {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

#car {
    animation-name: car;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

@keyframes car {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(15deg);
    }
}

.smoke1 {
    margin-top: 19em;
    margin-left: 5em;
    opacity: 1;
    transform: rotate(-25deg);
    animation-name: smoke1;
    animation-duration: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes smoke1 {
    from {
        opacity: 0.3;
    }
    to {
        margin-left: 5.1em;
        opacity: 1;
    }
}

.smoke2 {
    margin-top: 18em;
    margin-left: 6em;
    opacity: 1;
    transform: rotate(-30deg);
    animation-name: smoke2;
    animation-duration: 1500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes smoke2 {
    from {
        opacity: 0.1;
    }
    to {
        margin-left: 5.2em;
        opacity: 1;
    }
}

.smoke3 {
    margin-top: 21em;
    margin-left: 5em;
    opacity: 1;
    transform: rotate(-20deg);
    animation-name: smoke3;
    animation-duration: 3000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes smoke3 {
    from {
        opacity: 0.3;
    }
    to {
        margin-left: 5.3em;
        opacity: 1;
    }
}

.smoke4 {
    margin-top: 18em;
    margin-left: 2em;
    opacity: 1;
    animation-name: smoke4;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes smoke4 {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.7;
        margin-top: 19em;
        margin-left: 7em;
    }
}

.smoke5 {
    margin-top: 18em;
    margin-left: 2em;
    opacity: 1;
    animation-name: smoke5;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes smoke5 {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.7;
        margin-top: 19em;
        margin-left: 9em;
    }
}

.smoke6 {
    margin-top: 18em;
    margin-left: 2em;
    opacity: 1;
    animation-name: smoke6;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes smoke6 {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.7;
        margin-top: 19em;
        margin-left: 10em;
    }
}