body {
  background-color: burlywood;
}

.circle {
  background-color: black;
  width: 25px;
  height: 25px;
  border: solid;
  border-width: 1px;
  border-radius: 50px;
  position: relative;
  margin: 250px 0px 0px 600px;
  animation: asus2 2s 1s 3;
}

@keyframes asus2 {
  0% {
    top: 0px;
    left: 0px;
  }

  25% {
    top: 50px;
    left: 50px;
  }

  50% {
    top: 0px;
    left: 100px;
  }

  75% {
    top: 50px;
    left: 150px;
  }

  100% {
    top: 0px;
    left: 200px;
  }
}

@keyframes asus1 {
  from {
    width: 50px;
  }
  to {
    width: 10px;
  }
}
