* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #ff5f6d, #ffc371);
    animation: gradient 10s ease infinite;
    color: white;
}

.container {
    text-align: center;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.fade-in:nth-child(2) {
    animation-delay: 1s; /* Delay for the paragraph */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}     

@keyframes gradient {
    0% {
        background: linear-gradient(270deg, #ff5f6d, #ffc371);
    }
    50% {
        background: linear-gradient(270deg, #6a82fb, #fc5c7d);
    }
    100% {
        background: linear-gradient(270deg, #ff5f6d, #ffc371);
    }
}
