.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
  position: absolute;
  left: 100px;
  top: 100px;
  animation-name: smile;
  animation-duration: 2s;
  animation-iteration-count: 4;
}

body {
  background-color: yellow;
}

@keyframes smile {
  0% {
    left: 100px;
    top: 100px;
  }
  10% {
    left: 200px;
    top: 400px;
  }
  20% {
    left: 300px;
    top: 0px;
  }
  30% {
    left: 400px;
    top: 400px;
  }
  40% {
    left: 500px;
    top: 0px;
  }
  50% {
    left: 600px;
    top: 400px;
  }
  60% {
    left: 700px;
    top: 0px;
  }
  70% {
    left: 800px;
    top: 400px;
  }
  80% {
    left: 900px;
    top: 0px;
  }
  90% {
    left: 1000px;
    top: 400px;
  }
  100% {
    left: 100px;
    top: 100px;
  }
}
