* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #2c2e36;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animate {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loader {
  width: 7rem;
  height: 7rem;
}

.loader::after,
.loader::before {
  position: absolute;
  animation: animate 2s linear infinite;
  width: 7rem;
  height: 7rem;
  content: '';
  border: 0.25rem solid rgb(202, 139, 21);
  border-radius: 50%;
}

.loader::after {
  opacity: 0;
  animation-delay: 1s;
}
