
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 5555;
    background-color:rgb(170, 170, 170);
}

.circle{
    background-color:red;
    height:150px;
    width:150px;
    z-index: 1;
    border-radius: 40%;
    position: absolute;
    animation-name: police;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  
}

img{
    position: relative;
    z-index: 4;
    height:350px;
    
   
}

.square{
    background-color:red;
    height:110px;
    width:175px;
    z-index: 0;
    top:460px;
    animation-name: police;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
   
    position: absolute;
}


@keyframes police{

    0%{
        background-color:red;
    }
    50%{
        background-color:blue;
    }

    100%{
        background-color: red;
    }

}