body {
  height: 100vh;
  background: linear-gradient(#600870, #000 76%);
}

.container {
  position: relative;
  height: 100%;
}
.halloween-text {
  font-family: "Griffy", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #c95927;
  font-size: 10rem;
  animation: fadeInAnimation ease 2.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pumpkin {
  position: relative;
  transform: translate(0%, 0%);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  --w: 240px; /* width of the pumpking */
  --h: calc(var(--w) * 5 / 6); /* heigh calcluated on width of the pumpking */
  --bs1: calc(var(--w) / 6); /* box shadow sizing based on width */
  --bs2: calc(var(--w) / 3); /* box shadow sizing based on width */
  width: var(--w);
  height: var(--h);
  z-index: 60;
  background-color: #f18b36;
  box-shadow: calc(-1 * var(--bs1)) 0 0 0 #f38b36,
    calc(-1 * var(--bs2)) 0 0 0 #c95927, calc(var(--bs1)) 0 0 0 #c95927,
    calc(var(--bs2)) 0 0 0 #97441a;
  background-image: linear-gradient(to right, #f4a34b 50%, #f19245 50%);
  z-index: 10;
}
.pumpkin:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 25px;
  top: -20px;
  left: 100px;
  background-image: linear-gradient(-70deg, #a37c00 50%, transparent 50%);
}
.pumpkin:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 25px;
  top: -20px;
  left: 120px;
  background-color: #7b6200;
}
.leaf {
  position: absolute;
  top: -35px;
  left: 70px;
  width: 40px;
  height: 40px;
  border-radius: 0 70px;
  background-color: #1f801f;
  transform: rotate(0deg);
  background-image: linear-gradient(45deg, #1f801f 50%, #116c11 50%);
  z-index: -10;
}

.pumpkin-eye:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 43px;
  top: 20%;
  right: 58%;
  transform: scaleY(1) scaleX(-1);
  background-image: linear-gradient(to left top, #400c18 50%, transparent 50%);
}

.pumpkin-eye:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 43px;
  top: 20%;
  left: 58%;
  background-image: linear-gradient(to left top, #400c18 50%, transparent 50%);
}
.mouth {
  --a: 90deg; /* control the angle */
  --s: 45px; /* size of the zig-zag */
  --b: 30px; /* control the thickness */
  position: absolute;
  top: 58%;
  background: #400c18;
  height: calc(var(--b) + var(--s) / (2 * tan(var(--a) / 2)));
  width: 100%;
  --_g: var(--s) repeat-x
    conic-gradient(
      from calc(var(--a) / -2) at bottom,
      #0000,
      #000 1deg calc(var(--a) - 1deg),
      #0000 var(--a)
    );
  mask: 50% calc(-1 * var(--b)) / var(--_g) exclude, 50% / var(--_g);
  animation: mouth 0.45s infinite ease-in-out;
}

@keyframes mouth {
  0% {
    --b: 30px;
  }
  25% {
    --b: 20px;
  }
  50% {
    --b: 2px;
  }
  75% {
    --b: 20px;
  }
  100% {
    --b: 30px;
  }
}
@keyframes fadeInAnimation
{
   0%
   { 
   opacity: 0;
   }
50%{
  opacity: 1;
}
   100% 
   {
   opacity: 0;
   }
}