body {
  background-color: black;
}
@keyframes move {
  0% {
    top: 300px;
    left: 10px;
  }

  100% {
    top: 0px;
    left: 155px;
    transform: rotate(32deg);
  }
}
@keyframes move2 {
  0% {
    top: 299px;
    left: 10px;
  }

  50% {
    border-bottom: 100px solid red;
  }
  100% {
    border-bottom: 100px solid red;
    top: 15px;
    left: 210px;
    transform: rotate(30deg);
  }
}

@keyframes rocket1 {
  0% {
    border-bottom: 40px solid white;
    top: 275px;
    left: -60px;
  }
  100% {
    border-bottom: 40px solid red;
    top: -90px;
    left: 78px;
    transform: rotate(120deg);
  }
}

@keyframes rocket2 {
  0% {
    border-bottom: 40px solid white;
    top: 235px;
    left: 80px;
  }
  100% {
    border-bottom: 40px solid red;
    top: -70px;
    left: 200px;
    transform: rotate(300deg);
  }
}

@keyframes light {
  0% {
    border-bottom: 80px solid blue;
  }
  25% {
    border-bottom: 80px solid gold;
  }
  50% {
    border-bottom: 80px solid purple;
  }
  75% {
    border-bottom: 80px solid green;
  }
  100% {
    border-bottom: 80px solid red;
  }
}

@keyframes shootingStar {
  0% {
    top: 30px;
    left: 400px;
  }

  100% {
    color: green;
    top: 30px;
    left: -10px;
  }
}

@keyframes circle {
  0% {
    background-color: blue;
  }
  25% {
    background-color: gold;
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: wheat;
  }
}
.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.triangle {
  animation: 4s move2 infinite;
  top: 299px;
  left: 10px;
  position: relative;
  width: 0px;
  border-radius: 5px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;

  border-bottom: 100px solid red;
  border-radius: 25px;
}

.square {
  top: 300px;
  left: 10px;
  height: 130px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(61, 61, 90);
  animation: 4s move infinite;
  position: relative;
  border-radius: 20px;
}
.circle {
  position: relative;
  top: 20px;
  right: 100px;
  left: 15px;
  height: 30px;
  width: 65px;
  border-radius: 50%;
  background-color: black;
  animation: 4s circle infinite;
}

.engine {
  top: 275px;
  left: -60px;
  border-bottom: 40px solid red;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 45px;
  position: relative;
  transform: rotate(90deg);
  border-radius: 10px;
  animation: rocket1 4s infinite;
}
.engine2 {
  top: 235px;
  left: 80px;
  border-bottom: 40px solid red;
  border-left: 50px solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  width: 45px;
  position: relative;
  border-radius: 10px;
  transform: rotate(270deg);
  animation: rocket2 4s infinite;
}

.trapezoid {
  top: 220px;
  left: 10px;
  border-bottom: 80px solid black;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 70px;
  position: relative;
  border-radius: 25px;
  animation: 4s light infinite;
}

.moon {
  margin-top: 200px;
  left: 10px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: grey;
}
.dots {
  position: relative;
  top: 80px;
  right: 100px;
  left: 90px;
  height: 30px;
  width: 65px;
  border-radius: 50%;
  background-color: black;
}
.dots2 {
  position: relative;
  top: 200px;
  right: 10px;
  left: 120px;
  height: 30px;
  width: 21px;
  border-radius: 50%;
  background-color: black;
}
.dots3 {
  position: relative;
  top: 120px;
  right: 30px;
  left: 30px;
  height: 30px;
  width: 45px;

  border-radius: 50%;
  background-color: black;
}
.dots4 {
  position: relative;
  top: 45px;
  right: 100px;
  left: 200px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
}

.star {
  margin: 50px 0;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 75px solid transparent;
  border-bottom: 50px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  animation: shootingStar 4s infinite;

  border-radius: 25px;
}
.star::before {
  border-bottom: 50px solid yellow;
  border-left: 25px solid transparent;
  border-right: 45px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -30px;
  left: -80px;
  display: block;
  content: '';
  transform: rotate(-35deg);

  border-radius: 15px;
}
.star::after {
  position: absolute;
  display: block;

  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 80px solid transparent;
  border-bottom: 50px solid yellow;
  border-left: 80px solid transparent;
  transform: rotate(-70deg);
  content: '';

  border-radius: 25px;
}
