body {
  margin: 0;
  padding: 0;
  background: #aaa;
}

.container {
  width: 200px;
  height: 100px;
  padding-top: 100px;
  margin: 0 auto;
}

.ball {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  border-radius: 50px;
}

.ball:nth-child(1) {
  background: #224564;
  -webkit-animation: right 1s infinite ease-in-out;
  -moz-animation: right 1s infinite ease-in-out;
  animation: right 1s infinite ease-in-out, clearness 1s infinite ease-in-out;
}

.ball:nth-child(2) {
  background: #008000;
  -webkit-animation: left 1.1s infinite ease-in-out;
  -moz-animation: left 1.1s infinite ease-in-out;
  animation: left 1.1s infinite ease-in-out, clearness 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
  background: #0000ff;
  -webkit-animation: right 1.05s infinite ease-in-out;
  -moz-animation: right 1.05s infinite ease-in-out;
  animation: right 1.05s infinite ease-in-out,
    clearness 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
  background: #ff00ff;
  -webkit-animation: left 1.15s infinite ease-in-out;
  -moz-animation: left 1.15s infinite ease-in-out;
  animation: left 1.15s infinite ease-in-out,
    clearness 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
  background: #993300;
  -webkit-animation: right 1.1s infinite ease-in-out,
    clearness 1.1s infinite ease-in-out;
  -moz-animation: right 1.1s infinite ease-in-out,
    clearness 1.1s infinite ease-in-out;
  animation: right 1.1s infinite ease-in-out,
    clearness 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
  background: #b1f9d0;
  -webkit-animation: left 1.05s infinite ease-in-out;
  -moz-animation: left 1.05s infinite ease-in-out;
  animation: left 1.05s infinite ease-in-out,
    clearness 1.05s infinite ease-in-out;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translate(-100px);
  }
  50% {
    -webkit-transform: translate(100px);
  }
  100% {
    -webkit-transform: translate(-100px);
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translate(100px);
  }
  50% {
    -webkit-transform: translate(-100px);
  }
  100% {
    -webkit-transform: translate(100px);
  }
}

@-moz-keyframes right {
  0% {
    -moz-transform: translate(-100px);
  }
  50% {
    -moz-transform: translate(100px);
  }
  100% {
    -moz-transform: translate(-100px);
  }
}

@-moz-keyframes left {
  0% {
    -moz-transform: translate(100px);
  }
  50% {
    -moz-transform: translate(-100px);
  }
  100% {
    -moz-transform: translate(100px);
  }
}

@keyframes right {
  0% {
    transform: translate(-100px);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    transform: translate(-100px);
  }
}

@keyframes left {
  0% {
    transform: translate(100px);
  }
  50% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(100px);
  }
}

@keyframes clearness {
  0% {
    transform: translate(100px, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(-100px, 0%);
    opacity: 0.5;
  }
  100% {
    transform: translate(100px, 0%);
    opacity: 0;
  }
}
@-webkit-keyframes clearness {
  0% {
    transform: translate(100px, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(-100px, 0%);
    opacity: 0.5;
  }
  100% {
    transform: translate(100px, 0%);
    opacity: 0;
  }
}
@-moz-keyframes clearness {
  0% {
    transform: translate(100px, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(-100px, 0%);
    opacity: 0.5;
  }
  100% {
    transform: translate(100px, 0%);
    opacity: 0;
  }
}
