@keyframes shade_animation {
  0% {
    color: white;
  }
  20% {
    color: lime;
  }
  100% {
    color: black;
  }
}

body {
  background-color: black;
}

.grid-container {
  display: grid;
  max-width: 300px;
  max-height: 300px;
  grid-template-columns: repeat(10, 1fr);
  background-color: none;
  padding: 0px;
  margin: 0px;
}

div {
  background-color: none;
  color: lime;
  font-size: 25px;
  text-align: center;
  margin: 0px;
  animation-fill-mode: forwards;
  animation-name: shade_animation;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.anim_div_00 {
  animation-delay: 1.3s;
  animation-duration: 2.4s;
}
.anim_div_01 {
  animation-delay: -2.4s;
  animation-duration: 4s;
}
.anim_div_02 {
  animation-delay: -3.9s;
  animation-duration: 1.3s;
}
.anim_div_03 {
  animation-delay: 1.6s;
  animation-duration: 2s;
}
.anim_div_04 {
  animation-delay: 1.2s;
  animation-duration: 2s;
}
.anim_div_05 {
  animation-delay: 1.3s;
  animation-duration: 3.7s;
}
.anim_div_06 {
  animation-delay: 2.1s;
  animation-duration: 3.1s;
}
.anim_div_07 {
  animation-delay: -2.6s;
  animation-duration: 2.9s;
}
.anim_div_08 {
  animation-delay: 4s;
  animation-duration: 3.5s;
}
.anim_div_09 {
  animation-delay: -0.8s;
  animation-duration: 2.3s;
}
.anim_div_10 {
  animation-delay: 1.4s;
  animation-duration: 2.4s;
}
.anim_div_11 {
  animation-delay: -2.3s;
  animation-duration: 4s;
}
.anim_div_12 {
  animation-delay: -3.8s;
  animation-duration: 1.3s;
}
.anim_div_13 {
  animation-delay: 1.7s;
  animation-duration: 2s;
}
.anim_div_14 {
  animation-delay: 1.3s;
  animation-duration: 2s;
}
.anim_div_15 {
  animation-delay: 1.4s;
  animation-duration: 3.7s;
}
.anim_div_16 {
  animation-delay: 2.2s;
  animation-duration: 3.1s;
}
.anim_div_17 {
  animation-delay: -2.5s;
  animation-duration: 2.9s;
}
.anim_div_18 {
  animation-delay: 4.1s;
  animation-duration: 3.5s;
}
.anim_div_19 {
  animation-delay: -0.7s;
  animation-duration: 2.3s;
}
.anim_div_20 {
  animation-delay: 1.5s;
  animation-duration: 2.4s;
}
.anim_div_21 {
  animation-delay: -2.2s;
  animation-duration: 4s;
}
.anim_div_22 {
  animation-delay: -3.7s;
  animation-duration: 1.3s;
}
.anim_div_23 {
  animation-delay: 1.8s;
  animation-duration: 2s;
}
.anim_div_24 {
  animation-delay: 1.4s;
  animation-duration: 2s;
}
.anim_div_25 {
  animation-delay: 1.5s;
  animation-duration: 3.7s;
}
.anim_div_26 {
  animation-delay: 2.3s;
  animation-duration: 3.1s;
}
.anim_div_27 {
  animation-delay: -2.4s;
  animation-duration: 2.9s;
}
.anim_div_28 {
  animation-delay: 4.2s;
  animation-duration: 3.5s;
}
.anim_div_29 {
  animation-delay: -0.6s;
  animation-duration: 2.3s;
}
.anim_div_30 {
  animation-delay: 1.6s;
  animation-duration: 2.4s;
}
.anim_div_31 {
  animation-delay: -2.1s;
  animation-duration: 4s;
}
.anim_div_32 {
  animation-delay: -3.6s;
  animation-duration: 1.3s;
}
.anim_div_33 {
  animation-delay: 1.9s;
  animation-duration: 2s;
}
.anim_div_34 {
  animation-delay: 1.5s;
  animation-duration: 2s;
}
.anim_div_35 {
  animation-delay: 1.6s;
  animation-duration: 3.7s;
}
.anim_div_36 {
  animation-delay: 2.4s;
  animation-duration: 3.1s;
}
.anim_div_37 {
  animation-delay: -2.3s;
  animation-duration: 2.9s;
}
.anim_div_38 {
  animation-delay: 4.3s;
  animation-duration: 3.5s;
}
.anim_div_39 {
  animation-delay: -0.5s;
  animation-duration: 2.3s;
}
.anim_div_40 {
  animation-delay: 1.7s;
  animation-duration: 2.4s;
}
.anim_div_41 {
  animation-delay: -2s;
  animation-duration: 4s;
}
.anim_div_42 {
  animation-delay: -3.5s;
  animation-duration: 1.3s;
}
.anim_div_43 {
  animation-delay: 2s;
  animation-duration: 2s;
}
.anim_div_44 {
  animation-delay: 1.6s;
  animation-duration: 2s;
}
.anim_div_45 {
  animation-delay: 1.7s;
  animation-duration: 3.7s;
}
.anim_div_46 {
  animation-delay: 2.5s;
  animation-duration: 3.1s;
}
.anim_div_47 {
  animation-delay: -2.2s;
  animation-duration: 2.9s;
}
.anim_div_48 {
  animation-delay: 4.4s;
  animation-duration: 3.5s;
}
.anim_div_49 {
  animation-delay: -0.4s;
  animation-duration: 2.3s;
}
.anim_div_50 {
  animation-delay: 1.8s;
  animation-duration: 2.4s;
}
.anim_div_51 {
  animation-delay: -1.9s;
  animation-duration: 4s;
}
.anim_div_52 {
  animation-delay: -3.4s;
  animation-duration: 1.3s;
}
.anim_div_53 {
  animation-delay: 2.1s;
  animation-duration: 2s;
}
.anim_div_54 {
  animation-delay: 1.7s;
  animation-duration: 2s;
}
.anim_div_55 {
  animation-delay: 1.8s;
  animation-duration: 3.7s;
}
.anim_div_56 {
  animation-delay: 2.6s;
  animation-duration: 3.1s;
}
.anim_div_57 {
  animation-delay: -2.1s;
  animation-duration: 2.9s;
}
.anim_div_58 {
  animation-delay: 4.5s;
  animation-duration: 3.5s;
}
.anim_div_59 {
  animation-delay: -0.3s;
  animation-duration: 2.3s;
}
.anim_div_60 {
  animation-delay: 1.9s;
  animation-duration: 2.4s;
}
.anim_div_61 {
  animation-delay: -1.8s;
  animation-duration: 4s;
}
.anim_div_62 {
  animation-delay: -3.3s;
  animation-duration: 1.3s;
}
.anim_div_63 {
  animation-delay: 2.2s;
  animation-duration: 2s;
}
.anim_div_64 {
  animation-delay: 1.8s;
  animation-duration: 2s;
}
.anim_div_65 {
  animation-delay: 1.9s;
  animation-duration: 3.7s;
}
.anim_div_66 {
  animation-delay: 2.7s;
  animation-duration: 3.1s;
}
.anim_div_67 {
  animation-delay: -2s;
  animation-duration: 2.9s;
}
.anim_div_68 {
  animation-delay: 4.6s;
  animation-duration: 3.5s;
}
.anim_div_69 {
  animation-delay: -0.2s;
  animation-duration: 2.3s;
}
.anim_div_70 {
  animation-delay: 2s;
  animation-duration: 2.4s;
}
.anim_div_71 {
  animation-delay: -1.7s;
  animation-duration: 4s;
}
.anim_div_72 {
  animation-delay: -3.2s;
  animation-duration: 1.3s;
}
.anim_div_73 {
  animation-delay: 2.3s;
  animation-duration: 2s;
}
.anim_div_74 {
  animation-delay: 1.9s;
  animation-duration: 2s;
}
.anim_div_75 {
  animation-delay: 2s;
  animation-duration: 3.7s;
}
.anim_div_76 {
  animation-delay: 2.8s;
  animation-duration: 3.1s;
}
.anim_div_77 {
  animation-delay: -1.9s;
  animation-duration: 2.9s;
}
.anim_div_78 {
  animation-delay: 4.7s;
  animation-duration: 3.5s;
}
.anim_div_79 {
  animation-delay: -0.1s;
  animation-duration: 2.3s;
}
.anim_div_80 {
  animation-delay: 2.1s;
  animation-duration: 2.4s;
}
.anim_div_81 {
  animation-delay: -1.6s;
  animation-duration: 4s;
}
.anim_div_82 {
  animation-delay: -3.1s;
  animation-duration: 1.3s;
}
.anim_div_83 {
  animation-delay: 2.4s;
  animation-duration: 2s;
}
.anim_div_84 {
  animation-delay: 2s;
  animation-duration: 2s;
}
.anim_div_85 {
  animation-delay: 2.1s;
  animation-duration: 3.7s;
}
.anim_div_86 {
  animation-delay: 2.9s;
  animation-duration: 3.1s;
}
.anim_div_87 {
  animation-delay: -1.8s;
  animation-duration: 2.9s;
}
.anim_div_88 {
  animation-delay: 4.8s;
  animation-duration: 3.5s;
}
.anim_div_89 {
  animation-delay: 0s;
  animation-duration: 2.3s;
}
.anim_div_90 {
  animation-delay: 2.2s;
  animation-duration: 2.4s;
}
.anim_div_91 {
  animation-delay: -1.5s;
  animation-duration: 4s;
}
.anim_div_92 {
  animation-delay: -3s;
  animation-duration: 1.3s;
}
.anim_div_93 {
  animation-delay: 2.5s;
  animation-duration: 2s;
}
.anim_div_94 {
  animation-delay: 2.1s;
  animation-duration: 2s;
}
.anim_div_95 {
  animation-delay: 2.2s;
  animation-duration: 3.7s;
}
.anim_div_96 {
  animation-delay: 3s;
  animation-duration: 3.1s;
}
.anim_div_97 {
  animation-delay: -1.7s;
  animation-duration: 2.9s;
}
.anim_div_98 {
  animation-delay: 4.9s;
  animation-duration: 3.5s;
}
.anim_div_99 {
  animation-delay: 0.1s;
  animation-duration: 2.3s;
}
