.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 10px;
    margin: 10px;
    border: 5px solid grey; */
}

body {
    margin: 0px;
    padding: 10px;
    margin: 15px;
    border: 5px solid grey;
}

li,
button {

    display: inline-block;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    margin-top: 0px;
    width: 400px;
    text-align: center;
    background-color: grey;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    margin: 0px;
    width: 400px;
    text-align: center;
    background-color: grey;

}

/* img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
    /*css 3 property 
} */

/*img:hover {
    transform: scale(1.1);
    /*exploring new css 3 property 
}
*/


@keyframes opensource {
    from {
        top: 0px;
    }

    to {
        top: 5px;
    }

}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
    position: relative;
    animation: opensource 5s infinite;
}
