body {
	background-color: black;

}

h1 {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-family: sans-serif;
  font-size: 2.5em;
  text-shadow: 0 5px 15px;
  text-transform: uppercase;
  border: 10px solid;
  border-top: none;
}

h1 span {
	position: relative;
	display: inline-block;
}

h1 span:nth-child(odd)
{
	animation:  animate 3s alternate infinite;
}

@keyframes animate
{
	0% 
	{
		transform: translateY(0px);
	}
	100% 
	{
		transform: translateY(-20px);
	}
}



