body {
  background: #a19797;
}

.anim {
  width: 500px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 300px;
  margin: -70px;
  background: white;
  color: #403131;
  text-align: center;
  font-size: 33px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  animation-name: Zero-To-Mastery;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.9, 1.2, 1.7, 0.9);
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes Zero-To-Mastery {
  0% {
    border-radius: 0%;
    border-style: solid;
  }
  20% {
    border-radius: 20%;
    background-color: grey;
    color: silver;
    border-style: dashed;
    height: 181px;
    width: 189px;
    box-shadow: all;
  }
  50% {
    border-radius: 35%;
    background-color: #ffc300;
    color: white;
    border-style: dashed;
    height: 200px;
    width: 199px;
  }
  70% {
    border-radius: 40%;
    background-color: brown;
    color: silver;
    border-style: dashed;
    height: 277px;
    width: 269px;
  }
  100% {
    border-radius: 50%;
    background-color: tomato;
    color: white;
    border-style: double;
    height: 390px;
    width: 379px;
    text-align: center;
  }
}
