body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: orange; /*happy halloween*/
}

.animation {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.rotating-text {
  display: inline-block;
  position: relative;
  animation: rotateText 6s linear infinite;
}

.dynamic-text::before {
  content: ' world!';
  animation: changeText 6s linear infinite;
}

@keyframes changeText {
  0%,
  25% {
    content: 'world! ]';
  }
  25.01%,
  50% {
    content: 'user! ]';
  }
  50.01%,
  75% {
    content: 'developer! ]';
  }
  75.01%,
  100% {
    content: 'friend! ]';
  }
}
