body {
  background-color: #cdcdf8;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #555573;
}

.teapot {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 250px -100px;
}

.lid,
.spout {
  background-color: #ea5fab;
}

.shape {
  height: 80px;
  width: 90px;
  /* margin to move up and down and left and right */
  margin: 100px;
  border-radius: 25px 25px 40px 40px;
  background-color: #7d7589;
}

.handle {
  width: 17px;
  height: 6px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 7px solid #ea5fab;
  border-bottom: 0;
  border-radius: 100px;
  transform: rotate(270deg);
  margin: 25px -21px;
}

.spout {
  width: 20px;
  height: 10px;
  border-radius: 0 20px 0 0;
  margin: -68px 79px;
  transform: rotate(315deg);
}

.lid {
  width: 30px;
  height: 10px;
  border-radius: 20px 20px 0 0;
  margin: 53px 30px;
}

.drip {
  position: relative;
  width: 20px;
  height: 20px;
  top: -30px;
  margin: 399px 1px;
  background: #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drip:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid rgba(255, 255, 255, 1);
  top: -22px;
}

@keyframes drip {
  to {
    top: 190px;
  }
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
