body {
    margin: 0;
    padding: 0;
    background: #000;
}

.container{
    width: 120px;
    height: 120px;
    margin: 200px auto;
    position: relative;
    padding: 40px;
}

.MJ{
    width: 512px;
    height: 464px;
    background-image: url("MJ.png");
    background-size: cover;
    /* border-radius: 50%; */
}

.ball1{
    width: 100px;
    height: 100px;
    background: url("bball.png") no-repeat;
    background-size: cover;
    /* border-radius: 50%; */
    position: absolute;
    top: 0;
    left: 0;
    animation: ball1 2s infinite; 
}
@keyframes ball1 {
    0%{
        left: 0;
        top: 0;
    }
    50%{
        left: 600px;
        top: 600px;
    }
    100%{
        z-index: -1 ;
        left: 0;
        top: 0;
    }
}


.ball2{
    width: 100px;
    height: 100px;
    background: url("bball.png") no-repeat;
    background-size: cover;
    /* border-radius: 50%; */
    position: absolute;
    top: 290px;
    right: 0;
    animation: ball2 2s infinite; 
}
@keyframes ball2 {
    0%{
        left: 0;
        /* top: 0; */
    }
    50%{
        left: 600px;
        /* top: 0; */
    }
    100%{
        z-index: -1 ;
        left: 0;
    }
}

.ball3{
    width: 100px;
    height: 100px;
    background: url("bball.png") no-repeat;
    background-size: cover;
    /* border-radius: 50%; */
    position: absolute;
    top: 0px;
    left: 500px;
    animation: ball3 2s infinite; 
}
@keyframes ball3 {
    0%{
        left: 600px;
        top: 0;
    }
    50%{
        left: 0;
        top: 600px;
    }
    100%{
        z-index: -1 ;
        left: 600px;
        top: 0;
    }
}

.ball4{
    width: 100px;
    height: 100px;
    background: url("bball.png") no-repeat;
    background-size: cover;
    /* border-radius: 50%; */
    position: absolute;
    top: 500px;
    left: 500px;
    animation: ball4 2s infinite; 
}
@keyframes ball4 {
    0%{
        left: 600px;
        top: 600px;
    }
    50%{
        left: 0;
        top: 0;
    }
    100%{
        z-index: -1 ;
        left: 600px;
        top: 600px;
    }
}

.ball5{
    width: 100px;
    height: 100px;
    background: url("bball.png") no-repeat;
    background-size: cover;
    /* border-radius: 50%; */
    position: absolute;
    top: 0px;
    left: 500px;
    animation: ball5 2s infinite; 
}
@keyframes ball5 {
    0%{
        left: 0;
        top: 600px;
    }
    50%{
        left: 600px;
        top: 0;
    }
    100%{
        z-index: -1 ;
        left: 0;
        top: 600px;
    }
}

.ball6{
    width: 100px;
    height: 100px;
    background: url("bball.png") no-repeat;
    background-size: cover;
    /* border-radius: 50%; */
    position: absolute;
    top: 290px;
    right: 0;
    animation: ball6 2s infinite; 
}
@keyframes ball6 {
    0%{
        left: 600px;
        /* top: 0; */
    }
    50%{
        left: 0;
        /* top: 0; */
    }
    100%{
        z-index: -1 ;
        left: 600px;
    }
}