.gallery {
  display: grid;
  width: 250px;
}
.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f67a7a;
  box-shadow: 0 0 4px #0007;
  animation: slide 6s infinite;
}

.gallery > img:nth-child(2) {
  animation-delay: -2s;
}
.gallery > img:nth-child(3) {
  animation-delay: -4s;
}

@keyframes slide {
  0% {
    transform: translateX(30%);
    z-index: 2;
  }
  16.66% {
    transform: translateX(120%);
    z-index: 2;
  }
  16.67% {
    transform: translateX(120%);
    z-index: 1;
  }
  33.34% {
    transform: translateX(0%);
    z-index: 1;
  }
  50% {
    transform: translateX(0%);
    z-index: 1;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #ecdbbc;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
