html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ececec;
}

#animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ball {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: rgb(128, 0, 0);
  border-radius: 100%;
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    margin: 5px;
  }

  25% {
    margin-top: 20px;
    background-color: orange;
  }

  to {
    margin: 5px;
  }
}

#ball-1 {
  animation-delay: 0.7s;
}

#ball-2 {
  animation-delay: 0.8s;
}

#ball-3 {
  animation-delay: 0.9s;
}
