.parent {
  position:relative;
  height:101px;
  width:412px;
  margin:0 auto;
  background-color: #33FF99;
  animation-name: background_animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.text {
	text-align: center;
	list-style-type: none;
}

@keyframes background_animation {
  0% {background-color: #33FF99;}
  25% {background-color: #66B2FF;}
  50% {background-color: #9933FF;}
  100% {background-color: #99004C;}
}

.spades {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  animation-iteration-count: infinite;
}

.clubs {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  animation-iteration-count: infinite;
}

.hearts {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
  animation-iteration-count: infinite;
}

.diamonds {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

