body {
  background-color: black;
  display: grid;
  place-content: center;
  height: 95vh;
  filter: blur(5px);
}

span,
span:after {
  display: block;
  border-radius: 50%;
}

span {
  width: 320px;
  height: 320px;
  box-shadow: 10px 0 30px 20px #f50, inset -10px 0 30px 40px #f80,
    -40px 0 70px 0 #f60;
  animation: hole 5s linear infinite;
}

span:before,
span:after {
  content: '';
  background: white;
  position: relative;
  top: 5%;
  width: 200px;
  height: 200px;
  opacity: 0.03;
}

@keyframes hole {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
