.musicBox {
   display: flex;
   background-color: aquamarine;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   animation-name: colorChange;
   animation-iteration-count: infinite; 
   animation-duration: 5s;
   animation-direction: alternate;
   position: relative;
}

.bow-icon {
   width: 220px;
   height: 230px;
   object-fit: contain;
   position: absolute;
   transform: rotate(90deg) translateX(-80px);
   animation-name: movement;
   animation-duration: 2s;
   animation-iteration-count: infinite; 
   animation-direction: alternate;
   animation-timing-function: linear;
   z-index: 1; 
} 



.violin-icon {
   width: 220px;
   height: 230px;
   object-fit: contain;
   position: absolute;
   top: 396px;

}

@keyframes movement {
    0% {
       transform: translateX(0) rotate(90deg);
       z-index: 1;
   }
   50% {
       transform: translateX(-30px) rotate(90deg);
       z-index: 3; 
   }
   100% {
       transform: translateX(100px) rotate(90deg);
       z-index: 1; 
   }
} 


@keyframes colorChange {

      from{background-color: aquamarine;}
      to{background-color: yellow;}
}















