body {
  background: #000;
}

/********* FRAME  **********/
.frame {
  position: relative;
  display: block;
  margin: auto;
  /*border: 1px solid red;*/
  width: 500px;
  height: 500px;
  margin-top: 15vh;
  background: none;
}

.outer-circle {
  position: absolute;
  width: 65%;
  height: 65%;
  top: 17%;
  right: 17%;
  border: 1px solid #cde7e7;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px #88fff9;
  animation: pulse 8s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 3px #88fff9;
  }
  50% {
    box-shadow: 0px 0px 30px 12px #88fff9;
  }
  100% {
    box-shadow: 0px 0px 5px 3px #88fff9;
  }
}

.backdrop-mid-circle {
  position: absolute;
  width: 88%;
  height: 88%;
  border-radius: 50%;
  top: 0.4%;
  right: 0.4%;
  border: 20px solid #000;
  border-radius: 50%;
}

.inner-circle {
  position: absolute;
  width: 88%;
  height: 88%;
  border-radius: 50%;
  top: 5.2%;
  right: 5.2%;
  border: 2px solid #d8e8e8;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 1px #88fff9 inset;
  z-index: 2;
}

.rotating-circle {
  width: 119%;
  height: 119%;
  top: -9.5%;
  right: 9.5%;
  background: #88fff9;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    #99fff9 10%,
    rgba(255, 255, 255, 0) 45%
  );
  box-shadow: 0px 0px 10px 3px #88fff9;
  position: relative;
  animation: tracer 1.5s infinite linear;
  z-index: -1;
}

.rotating-circle:before {
  content: '';
  width: 56%;
  height: 56%;
  position: absolute;
  top: 0;
  left: 0;
  background: #88fff9;
  border-radius: 100% 0 0 0;
}

.rotating-circle:after {
  content: '';
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #000;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes tracer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
