* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  height: 100vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(103, 89, 221, 1) 18%,
    rgba(252, 70, 107, 1) 100%
  );
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.container {
  height: 60vh;
  width: 30vw;
  top: 50vh;
  left: 50vw;
  position: absolute;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

@media screen and (max-width: 800px) {
  .container {
    top: 50vh;
    left: 30vh;
  }
}

.box {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 100px;
  left: 100px;
  transform-style: preserve-3d;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  25% {
    transform: rotateY(90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(180deg) rotateX(180deg);
  }
  75% {
    transform: rotateY(270deg) rotateX(270deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.card {
  height: 250px;
  width: 250px;
  text-align: center;
  padding: 100px 0px;
  color: white;
  background-color: rgb(63, 94, 251);
  border: 2px solid white;
  font-size: 32px;
  box-sizing: border-box;
  position: absolute;
  transition: all 1s;
}

#front {
  transform: translateZ(-125px);
}

#back {
  transform: translateZ(125px);
}

#left {
  right: 125px;
  transform: rotateY(-90deg);
}

#rigth {
  left: 125px;
  transform: rotateY(90deg);
}

#top {
  bottom: 125px;
  transform: rotateX(90deg);
}

#bottom {
  top: 125px;
  transform: rotateX(-90deg);
}

input {
  height: 50px;
  width: 100px;
  background-color: purple;
  color: white;
  /* border: none; */
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: -100px;
  left: 175px;
}

input:focus ~ .box #front {
  transform: translateZ(-180px) rotateY(360deg);
}

input:focus ~ .box #back {
  transform: translateZ(180px) rotateY(360deg);
}

input:focus ~ .box #left {
  right: 180px;
}

input:focus ~ .box #rigth {
  left: 180px;
}

input:focus ~ .box #top {
  bottom: 180px;
}

input:focus ~ .box #bottom {
  top: 180px;
}
