.happy-face {
  height: 500px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  30% {
    transform: translateY(-50px);
  }
  50% {
    transform: scale(1.5) rotate(10deg);
  }
}
