html {
    height: 100%; 
    width: 100%; 
    padding: 0; 
    margin: 0;
    background-color: #101113;
    cursor: url('./RocketCursor.cur'), auto;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h6 {
    font: 900 1em 'Raleway', sans-serif;
    color: whitesmoke;
    text-align: center;
    text-transform: none;
    letter-spacing: 2em;
}
#footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 20px;
            background: black;
            text-align: center;
            color: whitesmoke;
            text-transform: none;
            letter-spacing: 0.5em;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 
                -23vw -39vh 1px 2px #fff,41vw 48vh 2px 1px #fff,
                30vw -5vh 0px 3px #fff,-25vw -38vh 0px 2px #fff,
                -10vw -18vh 0px 2px #fff,-40vw 8vh 3px 1px #fff,
                -4vw 35vh 3px 2px #fff,47vw 35vh 0px 1px #fff,
                28vw 41vh 3px 3px #fff,-2vw 48vh 0px 0px #fff,
                -45vw -32vh 0px 3px #fff,20vw 3vh 1px 2px #fff,
                -40vw -32vh 2px 1px #fff,-10vw -23vh 0px 3px #fff,
                16vw -5vh 0px 1px #fff,-22vw -30vh 3px 2px #fff,
                -26vw 35vh 2px 0px #fff,15vw 7vh 1px 2px #fff,
                -40vw 46vh 3px 0px #fff,46vw 7vh 2px 1px #fff,
                -47vw 43vh 0px 2px #fff,22vw -9vh 1px 3px #fff,
                15vw -9vh 1px 2px #fff,43vw 35vh 1px 1px #fff,
                -25vw 14vh 3px 1px #fff,-39vw -34vh 3px 3px #fff,
                36vw 12vh 3px 0px #fff,8vw -17vh 2px 1px #fff,
                35vw 37vh 1px 2px #fff,-11vw 9vh 2px 0px #fff,
                -26vw 2vh 3px 3px #fff,-34vw 20vh 2px 0px #fff, 
                -18vw -33vh 0px 3px #fff,41vw 0vh 0px 2px #fff,
                8vw -38vh 0px 1px #fff,-12vw -24vh 0px 3px #fff,
                -15vw -34vh 2px 0px #fff,15vw 20vh 2px 0px #fff,
                -1vw -14vh 2px 2px #fff,37vw 45vh 2px 3px #fff,
                -23vw 22vh 0px 2px #fff,
                25vw -28vh 0px 0px #fff,-39vw 23vh 1px 0px #fff,
                -8vw -38vh 1px 0px #fff,2vw -5vh 1px 0px #fff,
                -23vw -33vh 2px 2px #fff,-23vw 30vh 0px 0px #fff,
                -31vw 44vh 2px 0px #fff,28vw -22vh 2px 3px #fff,
                -33vw 10vh 3px 2px #fff,7vw -15vh 0px 1px #fff,
                -49vw 31vh 0px 0px #fff,35vw 33vh 0px 2px #fff,
                -36vw -44vh 1px 3px #fff,-49vw 0vh 0px 0px #fff,
                -19vw -41vh 2px 2px #fff,23vw 49vh 2px 1px #fff,
                -39vw 50vh 1px 2px #fff,-19vw 1vh 2px 2px #fff,
                42vw -2vh 1px 2px #fff,-21vw -40vh 2px 2px #fff,
                -27vw -26vh 2px 3px #fff,28vw -32vh 2px 3px #fff,
                1vw -11vh 1px 1px #fff,21vw -46vh 0px 2px #fff,
                32vw -9vh 0px 3px #fff,1vw 29vh 1px 1px #fff,
                23vw -24vh 2px 3px #fff,11vw -1vh 3px 2px #fff,
                -42vw 7vh 3px 1px #fff,17vw -9vh 0px 2px #fff,
                -35vw 10vh 1px 1px #fff,48vw -37vh 1px 3px #fff,
                -16vw -43vh 1px 0px #fff,-22vw 46vh 1px 1px #fff,
                -20vw -32vh 2px 1px #fff,44vw -4vh 1px 2px #fff,
                -40vw 13vh 1px 3px #fff,-23vw -32vh 1px 0px #fff,
                14vw 21vh 1px 2px #fff,-35vw 44vh 0px 0px #fff,
                42vw -31vh 2px 0px #fff,25vw -5vh 3px 2px #fff,
                21vw -24vh 3px 0px #fff,20vw 13vh 0px 1px #fff,
                40vw -23vh 1px 2px #fff,-5vw 39vh 3px 2px #fff,
                21vw 34vh 2px 3px #fff,26vw 5vh 0px 2px #fff,
                -13vw -42vh 3px 1px #fff,45vw -42vh 3px 3px #fff,
                -11vw -44vh 2px 3px #fff,-46vw 35vh 2px 3px #fff,
                20vw -2vh 3px 2px #fff,13vw 22vh 3px 1px #fff,
                16vw -42vh 0px 3px #fff,32vw -50vh 0px 2px #fff,
                0vw -15vh 2px 0px #fff,47vw 25vh 1px 3px #fff;
                animation:  infinite;
}


.hide {
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;


}
.show{
    color: #101113;
    font: 600 1em 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase
    width: 100%;
}
.show:hover {
    color: darkgoldenrod;
}

.show:hover + .hide {
  display: block;
}
.animate__animated.animate__flash.animate__zoomIn.animate__pulse{
  --animate-duration: 5s;
}

