body {
  justify-content: center;
}
.container {
  height: 1000px;
  width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(231, 239, 248, 1);
}
.bigSquare {
  height: 100px;
  width: 100px;
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 200px;
  transform: rotate(45deg);
  animation: square-small-big 2s linear infinite alternate;
}

@keyframes square-small-big {
  50% {
    transform: scale(5) rotate(90deg);
    opacity: 100;
  }
  100% {
    transform: scale(5) rotate(90deg);
    opacity: 0;
  }
}
