body,
html {
  margin: 0;
  padding: 0;
}
div {
  background-color: #3d3d3d;
  top: 200px;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  position: relative;
  font-family: sans-serif;
  font-size: 4em;
  margin: 0;
  color: white;
  text-align: center;
}

p::before {
  content: 'Daywison Silva';
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-shadow: 3px 0px #49fc00;
  clip: rect(30px, 1000px, 200px, 0px);
  animation: texto 2.5s infinite linear alternate-reverse;
}

p::after {
  content: 'Daywison Silva';
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-shadow: 3px 0px #b300fc;
  clip: rect(75px, 200px, 200px, 0px);
  animation: texto2 2.5s infinite linear alternate-reverse;
}

@keyframes texto {
  0% {
    clip: rect(149px, 9999px, 18px, 0);
  }
  4.166666666666666% {
    clip: rect(135px, 9999px, 38px, 0);
  }
  8.333333333333332% {
    clip: rect(90px, 9999px, 10px, 0);
  }
  12.5% {
    clip: rect(136px, 9999px, 46px, 0);
  }
  16.666666666666664% {
    clip: rect(95px, 9999px, 104px, 0);
  }
  20.833333333333336% {
    clip: rect(28px, 9999px, 57px, 0);
  }
  25% {
    clip: rect(13px, 9999px, 136px, 0);
  }
  29.166666666666668% {
    clip: rect(129px, 9999px, 92px, 0);
  }
  33.33333333333333% {
    clip: rect(40px, 9999px, 108px, 0);
  }
  37.5% {
    clip: rect(104px, 9999px, 77px, 0);
  }
  41.66666666666667% {
    clip: rect(126px, 9999px, 58px, 0);
  }
  45.83333333333333% {
    clip: rect(6px, 9999px, 136px, 0);
  }
  50% {
    clip: rect(53px, 9999px, 56px, 0);
  }
  54.166666666666664% {
    clip: rect(16px, 9999px, 117px, 0);
  }
  58.333333333333336% {
    clip: rect(127px, 9999px, 79px, 0);
  }
  62.5% {
    clip: rect(118px, 9999px, 54px, 0);
  }
  66.66666666666666% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  70.83333333333334% {
    clip: rect(11px, 9999px, 87px, 0);
  }
  75% {
    clip: rect(3px, 9999px, 114px, 0);
  }
  79.16666666666666% {
    clip: rect(28px, 9999px, 80px, 0);
  }
  83.33333333333334% {
    clip: rect(88px, 9999px, 135px, 0);
  }
  87.5% {
    clip: rect(9px, 9999px, 68px, 0);
  }
  91.66666666666666% {
    clip: rect(59px, 9999px, 38px, 0);
  }
  95.83333333333334% {
    clip: rect(68px, 9999px, 130px, 0);
  }
  100% {
    clip: rect(107px, 9999px, 84px, 0);
  }
}

@keyframes texto2 {
  6.666666666666667% {
    clip: rect(82px, 9999px, 146px, 0);
  }
  10% {
    clip: rect(64px, 9999px, 64px, 0);
  }
  13.333333333333334% {
    clip: rect(103px, 9999px, 37px, 0);
  }
  16.666666666666664% {
    clip: rect(107px, 9999px, 59px, 0);
  }
  20% {
    clip: rect(20px, 9999px, 72px, 0);
  }
  23.333333333333332% {
    clip: rect(81px, 9999px, 149px, 0);
  }
  26.666666666666668% {
    clip: rect(125px, 9999px, 47px, 0);
  }
  30% {
    clip: rect(52px, 9999px, 78px, 0);
  }
  33.33333333333333% {
    clip: rect(34px, 9999px, 62px, 0);
  }
  36.666666666666664% {
    clip: rect(123px, 9999px, 148px, 0);
  }
  40% {
    clip: rect(36px, 9999px, 79px, 0);
  }
  43.333333333333336% {
    clip: rect(96px, 9999px, 83px, 0);
  }
  46.666666666666664% {
    clip: rect(45px, 9999px, 101px, 0);
  }
  50% {
    clip: rect(69px, 9999px, 20px, 0);
  }
  53.333333333333336% {
    clip: rect(3px, 9999px, 82px, 0);
  }
  56.666666666666664% {
    clip: rect(71px, 9999px, 81px, 0);
  }
  60% {
    clip: rect(111px, 9999px, 65px, 0);
  }
  63.33333333333333% {
    clip: rect(116px, 9999px, 14px, 0);
  }
  66.66666666666666% {
    clip: rect(107px, 9999px, 2px, 0);
  }
  70% {
    clip: rect(27px, 9999px, 3px, 0);
  }
  73.33333333333333% {
    clip: rect(144px, 9999px, 134px, 0);
  }
  76.66666666666667% {
    clip: rect(106px, 9999px, 25px, 0);
  }
  80% {
    clip: rect(44px, 9999px, 111px, 0);
  }
  83.33333333333334% {
    clip: rect(64px, 9999px, 16px, 0);
  }
  86.66666666666667% {
    clip: rect(3px, 9999px, 150px, 0);
  }
  90% {
    clip: rect(140px, 9999px, 145px, 0);
  }
  93.33333333333333% {
    clip: rect(88px, 9999px, 75px, 0);
  }
  96.66666666666667% {
    clip: rect(19px, 9999px, 118px, 0);
  }
  100% {
    clip: rect(122px, 9999px, 87px, 0);
  }
}
