body {
  background-color: #aa5139;
}

.ball {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: 20rem;
  height: 20rem;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -10rem;

  border-radius: 20rem;
  background-color: #28794b;
  animation-name: practice;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes practice {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
