body {
  background: #303030;
  background-image: linear-gradient(black 40%, #303030 60%);
}

.box {
  position: relative;
  margin: auto;
  margin-top: 6.5%;
  display: block;
  height: 300px;
  width: 300px;
  background: none;
}

.abdomen {
  position: absolute;
  top: 60%;
  left: 30%;
  height: 17%;
  width: 40%;
  background: #e67300;
  border-radius: 10px 35px;
}

@keyframes adjust {
  100% {
    transform: rotate(-5deg);
  }
}

.head {
  position: absolute;
  top: -60%;
  left: -4%;
  width: 42.5%;
  height: 110%;
  background: #ff8000;
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  animation-name: adjust;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-image: linear-gradient(to right, #ff8000 80%, black 20%);
}

@keyframes wiggle {
  100% {
    transform: translate(-3px, -3px);
  }
}

.ear {
  position: absolute;
  top: -67%;
  left: -2%;
  width: 25%;
  height: 50%;
  background: #e67300;
  clip-path: polygon(40% 0%, 10% 90%, 80% 90%);
  z-index: -1;
  animation-name: wiggle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.inner-ear {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 16%;
  top: 16%;
  background: #fff3e6;
  clip-path: polygon(40% 0%, 10% 90%, 80% 90%);
}

.eye {
  position: absolute;
  background: #ff8000;
  width: 18%;
  height: 12%;
  left: 18%;
  top: 30%;
  border-radius: 0% 0% 50% 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1));
}

@keyframes twitch {
  100% {
    transform: translate(-1px, -2px);
  }
}

.whisker1 {
  position: absolute;
  background: black;
  width: 10px;
  height: 0.8px;
  left: 45%;
  top: 55%;
  transform: rotate(-10deg);
  animation-name: twitch;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.whisker2 {
  position: absolute;
  background: black;
  width: 10px;
  height: 0.8px;
  left: 47.5%;
  top: 60%;
  transform: rotate(-25deg);
  animation-name: twitch;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.whisker3 {
  position: absolute;
  background: black;
  width: 10px;
  height: 0.8px;
  left: 50%;
  top: 65%;
  transform: rotate(-40deg);
  animation-name: twitch;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tail {
  position: absolute;
  top: -90%;
  left: 93%;
  height: 190%;
  width: 25%;
  background: #e67300;
  border-radius: 35px 4px;
  background-image: linear-gradient(48deg, #ff8000 60%, white 80%);
}

.star1 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25%;
  top: 25%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background: white;
}

.star2 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 55%;
  top: 35%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background: white;
}

.star3 {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 75%;
  top: 20%;
  clip-path: polygon(
    50% 0%,
    56% 40%,
    98% 35%,
    61% 54%,
    79% 91%,
    50% 61%,
    21% 91%,
    38% 54%,
    2% 35%,
    43% 40%
  );
  background: white;
}

@keyframes shootingstar {
  0% {
    background-color: white;
    width: 22px;
    height: 22px;
    left: 45%;
    top: 20%;
  }
  25% {
    background-color: white;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 14%;
  }
  50% {
    background-color: white;
    width: 16px;
    height: 16px;
    left: 55%;
    top: 11%;
  }
  75% {
    background-color: grey;
    width: 10px;
    height: 10px;
    left: 60%;
    top: 9%;
  }
  100% {
    background-color: black;
    width: 2px;
    height: 2px;
    left: 65%;
    top: 8%;
  }
}

.star4 {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 45%;
  top: 20%;
  clip-path: polygon(
    50% 0%,
    56% 40%,
    98% 35%,
    61% 54%,
    79% 91%,
    50% 61%,
    21% 91%,
    38% 54%,
    2% 35%,
    43% 40%
  );
  background: white;
  animation-name: shootingstar;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
