body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  position: relative;
}

h1:before {
  content: 'Loading..';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: greenyellow;
  overflow: hidden;
  border-right: 4px solid greenyellow;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
