html, 
body {
    display: flex;
    background-color: rgb(1, 1, 40);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    width: 100%;
    color: white;
}

.solar-system {
    width: 100%;
    height: 100%;
    display: flex;
}

.solar-system > div {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    border-radius: 50%;
}
  
.solar-system > div > div {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
}

.sun {
    width: 150px;  
	height: 150px; 
	border-radius: 150px; 
    background-color: yellow;
    margin-top: -35px;
    margin-left: -35px;
}

.mercury-orbit {
    margin-top: -85px;
    margin-left: -85px;
    height: 250px;
    width: 250px;
    border: 2px solid lightgrey;
    animation:  orbit 3s linear infinite;
}

.mercury {
    width: 7.5px; 
	height: 7.5px; 
	border-radius: 7.5px; 
    background-color: gray;
    margin-top: -5px;
    margin-left: -5px;
}

.venus-orbit {
    margin-top: -110px;
    margin-left: -110px;
    height: 300px;
    width: 300px;
    border: 2px solid lightgrey;
    animation:  orbit 4s linear infinite;
}

.venus {
    width: 15px; 
	height: 15px; 
	border-radius: 15px; 
    background-color: yellowgreen;
    margin-top: -8px;
    margin-left: -7px;
}

.earth-orbit {
    margin-top: -135px;
    margin-left: -135px;
    height: 350px;
    width: 350px;
    border: 2px solid lightgrey;
    animation:  orbit 6s linear infinite;
}

.earth {
    width: 15px; 
	height: 15px; 
	border-radius: 15px; 
    background-color: blue;
    margin-top: -8px;
    margin-left: -7px;
}

.mars-orbit {
    margin-top: -160px;
    margin-left: -160px;
    height: 400px;
    width: 400px;
    border: 2px solid lightgrey;
    animation:  orbit 8s linear infinite;
}

.mars {
    width: 10px; 
	height: 10px; 
	border-radius: 10px; 
    background-color: red;
    margin-top: -5px;
    margin-left: -4px;
}

.jupiter-orbit {
    margin-top: -220px;
    margin-left: -220px;
    height: 525px;
    width: 525px;
    border: 2px solid lightgrey;
    animation:  orbit 10s linear infinite;
}

.jupiter {
    width: 65px; 
	height: 65px; 
	border-radius: 65px; 
    background-color: orange;
    margin-top: -30px;
    margin-left: -30px;
}

.saturn-orbit {
    margin-top: -270px;
    margin-left: -270px;
    height: 625px;
    width: 625px;
    border: 2px solid lightgrey;
    animation:  orbit 12s linear infinite;
}

.saturn {
    width: 40px; 
	height: 40px; 
	border-radius: 40px; 
    background-color: gold;
    margin-top: -20px;
    margin-left: -20px;
}

.rings {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 10px solid orange;
    margin-top: -15px;
    margin-left: -15px;
}

.uranus-orbit {
    margin-top: -320px;
    margin-left: -320px;
    height: 725px;
    width: 725px;
    border: 2px solid lightgrey;
    animation:  orbit 14s linear infinite;
}

.uranus {
    width: 30px; 
	height: 30px; 
	border-radius: 30px; 
    background-color: rgb(100, 173, 140);
    margin-top: -15px;
    margin-left: -15px;
}

.neptune-orbit {
    margin-top: -370px;
    margin-left: -370px;
    height: 825px;
    width: 825px;
    border: 2px solid lightgrey;
    animation:  orbit 16s linear infinite;
}

.neptune {
    width: 30px; 
	height: 30px; 
	border-radius: 30px; 
    background-color: lightblue;
    margin-top: -15px;
    margin-left: -15px;
}

@keyframes orbit {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}