body {
  font-size: 100px;
  width: 650px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5% auto;
}

@keyframes example {
  0% {
    background-color: rgb(0, 255, 98);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
    transform: rotate(90deg);
  }
  30% {
    border-radius: 100%;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
    transform: rotate(-90deg);
  }
  100% {
    background-color: rgb(124, 11, 35);
    left: 0px;
    top: 0px;
  }
}

.myName {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: bisque;
  background-color: rgb(0, 26, 255);
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  margin: 1% auto;
}
