.ball {
  background-color: rgb(225, 253, 41);
  height: 100px;
  width: 100px;
  position: relative;
  margin-top: 50px;
  left: 300px;
  border-radius: 50%;

  animation: topDown 5s infinite;
}

@keyframes topDown {
  0% {
    top: 50px;
    width: 100px;
    height: 100px;
  }

  50% {
    top: 500px;
    width: 150px;
    height: 150px;
  }

  100% {
    top: 50px;
    width: 100px;
    height: 100px;
  }
}

.ball2 {
  background-color: rgb(217, 173, 26);
  height: 100px;
  width: 100px;
  position: absolute;
  left: 250px;
  top: 50px;

  border-radius: 50%;

  animation: bottomUp 5s infinite;
}

@keyframes bottomUp {
  0% {
    top: 500px;
    width: 100px;
    height: 100px;
  }

  50% {
    top: 50px;
    width: 150px;
    height: 150px;
  }

  100% {
    top: 500px;
    width: 100px;
    height: 100px;
  }
}
