body{
    background-color: rgba(128, 173, 151, 0.43);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 3rem;
}
h1{
    grid-column: 2;
    display: flex;
    justify-content: center;
    padding: 7rem;
    margin: 0;
    color: rgb(82, 148, 116);
    animation: animate 7s infinite;
}
 @keyframes animate{
    0%{
        font-size: 5rem ;
        opacity: 0.25;
        background-color: rgb(21, 158, 92);
        border-radius: 41% 59% 20% 80% / 41% 30% 70% 59% ;
       }
    25%{
        font-size: 6rem ;
        opacity: 0.5;
        background-color: rgb(0, 148, 77);
        border-radius:12% 88% 6% 94% / 60% 30% 70% 40%  ;
    }
    50%{
        font-size: 7rem ;
        color: rgb(202, 203, 203);
        opacity: 0.75;
        border-radius: 12% 88% 31% 69% / 37% 48% 52% 63%;
        background-color: rgb(54, 117, 86);        
    }
    75%{
        font-size: 6rem ;
        opacity: 0.5;
    }
    100%{
        font-size: 5rem ;
        opacity: 0.3;
    }
}