body{
    background-color: #E3C770;
}

.box {
    position: relative; 
    margin: auto;
    display: block; 
    margin-top: 10%;
    width: 600px;
    height: 420px;
    background-color: #ede3c6;
}

/* When the position is set to relative, using display: block; *and *margin:auto; will automatically center the box horizontally. */
/* One thing to note is that we used margin-top: 8% *to lower the box by 8%. Since we are specifically adjusting the top margin, it will not effect our previous *margin:auto which was used to center the box. If we did margin: 8% then the margin:auto would be overwritten. */

.bubble {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(152, 203, 237);
  top: 60%;
  left: 35%;
  z-index: 4;
  opacity: 0;
}

#bubble1 {
  animation: bubble1 4s ease-out 0.1s infinite;
}
#bubble2 {
  animation: bubble2 4s ease-out 1s infinite;
}
#bubble3 {
  animation: bubble3 4s ease-out 1.8s infinite;
}
#bubble4 {
  animation: bubble4 4s ease-out 2.8s infinite;
} 

@keyframes bubble1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.3;}
  100% {transform: translateY(-200px) translateX(-80px) scale(1); opacity: 0;}
}
@keyframes bubble2 {
  0% {transform: translateY(0) translateX(0) scale(0.2); opacity: 0.3;}
  100% {transform: translateY(-200px) translateX(-45px) scale(1); opacity: 0;}
}
@keyframes bubble3 {
  0% {transform: translateY(0) translateX(0) scale(0.5); opacity: 0.3;}
  100% {transform: translateY(-200px) translateX(-60px) scale(1); opacity: 0;}
}
@keyframes bubble4 {
  0% {transform: translateY(0) translateX(0) scale(0.35); opacity: 0.3;}
  100% {transform: translateY(-200px) translateX(-50px) scale(1); opacity: 0;}
}  


.lilbubble {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(173, 221, 255);
  top: 65%;
  left: 55%;
  z-index: 4;
  opacity: .1;
}

#lilbubble1 {
  animation: lilbubble1 4s ease-out 0.5s infinite;
}
#lilbubble2 {
  animation: lilbubble2 4s ease-out 1.2s infinite;
}
#lilbubble3 {
  animation: lilbubble3 4s ease-out 1.7s infinite;
}
#lilbubble4 {
  animation: lilbubble4 4s ease-out 2.5s infinite;
} 

@keyframes lilbubble1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.4;}
  100% {transform: translateY(-200px) translateX(40px) scale(1); opacity: 0;}
}
@keyframes lilbubble2 {
  0% {transform: translateY(0) translateX(0) scale(0.3); opacity: 0.4;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}
@keyframes lilbubble3 {
  0% {transform: translateY(0) translateX(0) scale(0.6); opacity: 0.4;}
  100% {transform: translateY(-200px) translateX(55) scale(1); opacity: 0;}
}
@keyframes lilbubble4 {
  0% {transform: translateY(0) translateX(0) scale(0.7); opacity: 0.4;}
  100% {transform: translateY(-200px) translateX(70px) scale(1); opacity: 0;}
} 
  

.bath {
  top: 60%;
  left: 25%;
  position: absolute;
  height: 100px;
  width: 300px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 7;
}

.bath-shade {
  position: relative;
  top: 90%;
  left: -70%;
  height: 200px;
  width: 600px;
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(20deg);
  z-index: 8;
} 

.head{
    position: absolute;
    top: 28.5%;
    left: 42%;
    width: 15%;
    height: 25%;
    background: #FECD70;
    border-radius: 50%;
  }

  .head-copy{
        width: 100%;
        height: 100%;
        position: absolute;
        background: #FECD70;
        border-radius: 50%;
    z-index: 2; /* z index is like layers in photoshop - higher the number = closer to the top layer */
  }

  .body{
    position: absolute;
    top: 75%;
    width: 150%;
    height: 100%;
    background: #FECD70;
    border-radius: 50%;

  }

 
  .wing{
    position: relative;
    left: 48%;
    top:20%;
    height: 65%;
    width:65%;
    background: #f1bf61;
    -webkit-clip-path: polygon(10% 43%, 24% 14%, 45% 21%, 70% 23%, 94% 19%, 91% 36%, 80% 50%, 54% 58%, 24% 56%);
    clip-path: polygon(10% 43%, 24% 14%, 45% 21%, 70% 23%, 94% 19%, 91% 36%, 80% 50%, 54% 58%, 24% 56%);
    z-index: 5;
    transform: rotate(-20deg);
  }

  .body:hover .wing {
    animation: wiggle 2s ease-in-out; 
  }
  .body:hover .wing2 {
    animation: wiggle2 2s ease-in-out; 
  }

   @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(s10deg);
    }
  } 

  .wing2{
    position: relative;
    left: 46.5%;
    top:-50%;
    height: 65%;
    width:65%;
    background:#fbc96a;
    -webkit-clip-path: polygon(10% 43%, 24% 14%, 45% 21%, 70% 23%, 94% 19%, 91% 36%, 80% 50%, 54% 58%, 24% 56%);
    clip-path: polygon(10% 43%, 24% 14%, 45% 21%, 70% 23%, 94% 19%, 91% 36%, 80% 50%, 54% 58%, 24% 56%);
    z-index: 6;
    transform: rotate(-20deg);
  }

  @keyframes wiggle2 {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(s10deg);
    }
  } 
.mouth{
    position: absolute;
    left: -10%;
    top: 50%;
    width: 120%;
    height: 50%;
    background: #FECD70;
    border-radius: 50%;
    z-index: 3;
  }

  .shaddow-face {
    position: absolute;
    left: 2.5%;
    top: 55%;
    width: 100%;
    height: 50%;
    background: #e4b763;
    border-radius: 50%;
    z-index: 1;
  }

  .beak{
    position: absolute;
    -webkit-clip-path: polygon(13% 44%, 34% 33%, 53% 18%, 68% 30%, 90% 44%, 54% 76%);
    clip-path: polygon(13% 44%, 34% 33%, 53% 18%, 68% 30%, 90% 44%, 54% 76%);
    width: 70%;
    height: 68%;
    top: 10%;
    left: 12%;
    background-color: #FFAE6D;
    z-index:5;
  }

  .beak-bottom{
    position: absolute;
    width: 64%;
    height: 80%;
    top: 10%;
    left: 15%;
    background-color: #c77b3c;
    z-index:4;
     -webkit-clip-path: polygon(13% 44%, 34% 33%, 53% 18%, 68% 30%, 90% 44%, 54% 76%);
    clip-path: polygon(13% 44%, 34% 33%, 53% 18%, 68% 30%, 90% 44%, 54% 76%);
  }
 

 

  .eye-right {
        position: absolute;
        background: white;
        width: 30%;
        height: 35%;
        top: 25%;
        left: 19%;
        border-radius: 50%;
        z-index: 3;
      }

      .eye-left{
        position: absolute;
        background: white;
        width: 30%;
        height: 35%;
        top: 25%;
        right: 20%;
        border-radius: 50%;
        z-index: 3;
      }

      .pupil{
        position: absolute;
        width: 85%;
        height:65%;
        top: 27.5%;
        left: 5.5%;
        border-radius: 50%;
        background: #27354A;
      }

      .eye {
       animation: eyeBlink 3s ease 1s infinite;
       z-index: 10;
      }
    
    @keyframes eyeBlink {
      0% {
      height:30%;
      top: 27.5%;
      }

      5%{
      top: 50%;
      height:0px;
      }

     10% {
      height:30%;
      top: 27.5%;
    }
    100% {
      height:30%;
      top: 27.5%;
    }
    }


      .hair-left{
        position: absolute;
        top: -8%;
        left: 30%;
        width: 20%;
        height: 20%;
        background:  #FECD70;
        -webkit-clip-path: polygon(82% 85%, 81% 58%, 62% 27%, 35% 18%, 13% 15%, 33% 59%, 31% 88%);
        clip-path: polygon(82% 85%, 81% 58%, 62% 27%, 35% 18%, 13% 15%, 33% 59%, 31% 88%);;
      }
      .hair-right{
        position: absolute;
        top: -12%;
        left: 48%;
        width: 20%;
        height: 20%;
        background:  #FECD70;
        -webkit-clip-path: polygon(29% 75%, 72% 76%, 74% 50%, 84% 35%, 55% 39%, 39% 56%);
        clip-path: polygon(29% 75%, 72% 76%, 74% 50%, 84% 35%, 55% 39%, 39% 56%);
      }
      
 /* there is a great tool that will automatically give us the clip-path for different shapes. https://bennettfeely.com/clippy/ */

/* use console to see cubic bezier element - edit path */