#div1 {
  height: 100px;
  width: 70%;
  background: #fbd266;
  animation: slidein 1s linear 1s infinite alternate;
}

#div2 {
  float: right;
  height: 100px;
  width: 70%;
  background: #668cff;
  animation: slidein 1.3s linear 1.3s infinite alternate;
}

#div3 {
  float: left;
  height: 80px;
  width: 40%;
  background: #ff6666;
  animation: slidein 1.8s linear 1.8s infinite alternate;
}

#div4 {
  float: right;
  height: 90px;
  width: 80%;
  background: #ffff66;
  animation: slidein 2.2s linear 2.2s infinite alternate;
}

#div5 {
  float: left;
  height: 120px;
  width: 100%;
  background: #000000;
  animation: slidein 2.6s linear 2.6s infinite alternate;
}

#div6 {
  float: left;
  height: 90px;
  width: 60%;
  background: #69ff33;
  animation: slidein 3s linear 3s infinite alternate;
}

#div7 {
  float: right;
  height: 100px;
  width: 83%;
  background: #ffcc99;
  animation: slidein 3.5s linear 3.5s infinite alternate;
}

@keyframes slidein {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
