* {
  background: rgb(35, 42, 77);
  background: radial-gradient(
    circle,
    rgba(35, 42, 77, 1) 0%,
    rgba(11, 2, 23, 1) 100%
  );
}
.circle-1 {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(0, 0, 0) 100%
  );
  position: relative;
  left: 450px;
  top: 90px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.circle-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  background: black;
  top: 40%;
  left: 50%;
  margin-right: 100%;
  animation-name: motto;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes motto {
  from {
    opacity: 1;
    transform: translate3d(140%, 0, 0);
  }
  to {
    opacity: 2;
    transform: translate3d(-240%, 0, 0);
  }
}
