div#one {
  height: 100px;
  width: 100%;
  background: #331509;
  animation: slidein 0.5s linear 1s infinite;
}

div#two {
  height: 100px;
  width: 100%;
  background: #d19175;
  animation: slidein 0.3s linear 1s infinite;
}

div#three {
  height: 100px;
  width: 100%;
  background: #a46c54;
  animation: slidein 0.4s linear 1s infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
