@keyframes sun-lines-expand {
    from {
        height: 1px;
        margin-top: 50%;

    }
    to {
        height: 10px;
        margin-top: 100%;
    }
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sky {
    height: 50%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(black 80%, #5e03ad);

}

.stars {
    height: 50%;
    width: 100%;
    position: fixed;
}

.star {
    height: 1px;
    width: 1px;
    position: absolute;
    background: #c9ebff;
    top: 30%;
    left: 10%;
}

.star:nth-child(2) {
    top: 10%;
    left: 80%;
}
.star:nth-child(3) {
    top: 7%;
    left: 23%;
}
.star:nth-child(4) {
    top: 27%;
    left: 33%;
}
.star:nth-child(5) {
    top: 43%;
    left: 86%;
}
.star:nth-child(6) {
    top: 45%;
    left: 98%;
}
.star:nth-child(7) {
    top: 15%;
    left: 37%;
}
.star:nth-child(8) {
    top: 47%;
    left: 13%;
}
.star:nth-child(9) {
    top: 23%;
    left: 96%;
}
.star:nth-child(10) {
    top: 10%;
    left: 80%;
}
.star:nth-child(11) {
    top: 32%;
    left: 19%;
}
.star:nth-child(12) {
    top: 41%;
    left: 18%;
}
.star:nth-child(13) {
    top: 19%;
    left: 91%;
}
.star:nth-child(14) {
    top: 42%;
    left: 62%;
}
.star:nth-child(15) {
    top: 48%;
    left: 93%;
}
.star:nth-child(16) {
    top: 51%;
    left: 34%;
}
.star:nth-child(17) {
    top: 29%;
    left: 37%;
}
.star:nth-child(18) {
    top: 33%;
    left: 75%;
}
.star:nth-child(19) {
    top: 22%;
    left: 17%;
}
.star:nth-child(20) {
    top: 54%;
    left: 72%;
}

.sun {
    height: 300px;
    width: 310px;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    background: linear-gradient(#F6E225 30%, #CB4677, #8b07ff, #5c10ce, #4d07ff);
    position: relative;
    overflow: hidden;
}

.sun-line {
    background-color: black;
    width: 310px;
    height: 1px;
    margin: 0;
    margin-top: 150px;
    position: absolute;
    animation-name: sun-lines-expand;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.sun-line:nth-child(1) {
    animation-delay: 0s;
}
.sun-line:nth-child(2) {
    animation-delay: 1s;
}
.sun-line:nth-child(3) {
    animation-delay: 2s;
}
.sun-line:nth-child(4) {
    animation-delay: 3s;
}
.sun-line:nth-child(5) {
    animation-delay: 4s;
}
.sun-line:nth-child(6) {
    animation-delay: 5s;
}
.sun-line:nth-child(7) {
    animation-delay: 6s;
}
.sun-line:nth-child(8) {
    animation-delay: 7s;
}
.sun-line:nth-child(9) {
    animation-delay: 8s;
}
.sun-line:nth-child(10) {
    animation-delay: 9s;
}

.skyline {
    width: 100%;
    height: 100px;
    bottom: 50%;
    position: fixed;
    display: flex;
    flex-direction: row;
    transform: rotateX(180deg);
}

.pointy-roof {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    position: relative;
    top: 100%;
    transform: rotateX(180deg);
}

.slanted-roof {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-bottom: 20px solid black;
    position: relative;
    top: 100%;
    transform: rotateX(180deg);
}

.skyscraper {
    width: 20px;
    height: 80px;
    background-color: black;
}

.skyscraper2 {
    width: 30px;
    height: 80px;
    background-color: black;
}

.building1 {
    width: 18px;
    height: 25px;
    background-color: black;
}

.building2 {
    width: 20px;
    height: 30px;
    background-color: black;
}

.building3 {
    width: 20px;
    height: 45px;
    background-color: black;
}

.building4 {
    width: 22px;
    height: 60px;
    background-color: black;
    /* clip-path: polygon(0, 0, 100% 80%, 0 0, 0 0); */
}

.building5 {
    width: 20px;
    height: 80px;
    background-color: black;
}

.building6 {
    width: 50px;
    height: 30px;
    background-color: black;
}

.building7 {
    width: 80px;
    height: 24px;
    background-color: black;
}

.empty-space1 {
    width: 15px;
    background-color: transparent;
}

.empty-space2 {
    width: 4px;
    background-color: transparent;
}

.grid {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 50px;
    perspective-origin: center;
    z-index: -1;
    background: linear-gradient(#6d02ba 50%,black);
}

.vertical-grid {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg, #7dd6fe, #7dd6fe 1px, transparent 1px, transparent 20px);
    transform: rotateX(45deg);
    position: absolute;
}

.horizon-line {
    height: 20px;
    top: 50%;
    width: 100%;
    background-color: #7dd6fe;
    filter: blur(5px);
}

@keyframes move-grid-lines {
    0% {
        height: 1px;
        top: 50%;
        filter: blur(0px);

    }
    100% {
        height: 12px;
        top: 100%;
        filter: blur(3px);
    }
}

.line-container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
}

.grid-line {
    background-color: #7dd6fe;
    width: 100%;
    height: 1px;
    margin: 0;
    position: absolute;
    animation-name: move-grid-lines;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(1,-0.03,.93,.6);
}

.grid-line:nth-child(1) {
    animation-delay: 0s;
}
.grid-line:nth-child(2) {
    animation-delay: 0.4s;
}
.grid-line:nth-child(3) {
    animation-delay: 0.8s;
}
.grid-line:nth-child(4) {
    animation-delay: 1.2s;
}
.grid-line:nth-child(5) {
    animation-delay: 1.6s;
}
.grid-line:nth-child(6) {
    animation-delay: 2s;
}
.grid-line:nth-child(7) {
    animation-delay: 2.4s;
}
.grid-line:nth-child(8) {
    animation-delay: 2.8s;
}
.grid-line:nth-child(9) {
    animation-delay: 3.2s;
}
.grid-line:nth-child(10) {
    animation-delay: 3.6s;
}
.grid-line:nth-child(11) {
    animation-delay: 4s;
}
.grid-line:nth-child(12) {
    animation-delay: 4.4s;
}
.grid-line:nth-child(13) {
    animation-delay: 4.8s;
}
.grid-line:nth-child(14) {
    animation-delay: 5.2s;
}
.grid-line:nth-child(15) {
    animation-delay: 5.6s;
}
.grid-line:nth-child(16) {
    animation-delay: 6s;
}
.grid-line:nth-child(17) {
    animation-delay: 6.4s;
}
.grid-line:nth-child(18) {
    animation-delay: 6.8s;
}
.grid-line:nth-child(19) {
    animation-delay: 7.2s;
}
.grid-line:nth-child(20) {
    animation-delay: 7.6s;
}

.lambo {
    width: 200px;
    height: auto;
    position: fixed;
    top: 80%;
    z-index: 10;
}