* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5vw;
    height: 100vh;
    background: #222;
    overflow: hidden;
}

#outside-circle {
    position: absolute;
    width: 10vw;
    height: 10vw;
    background: red;
    border-radius: 50%;
    animation: go-around 8s linear infinite;
}

@keyframes go-around {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(calc(100vw - 20vw), 0);
    }
    50% {
        transform: translate(calc(100vw - 20vw), calc(100vh - 20vh));
    }
    75% {
        transform: translate(0, calc(100vh - 20vh));
    }
}

.center-circles-wrapper {
    position: absolute;
    width: 50vw;
    height: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    border-radius: 40%;
    animation: linear 30s infinite color-change;
}

.center-circles-wrapper > div {
    width: 10vw;
    height: 20vw;
    position: absolute;
    top: calc(50% - 10vw);
    left: calc(50% - 5vw);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: linear 5s infinite rotate;
    
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.one {
    rotate: 20deg;
}

.two {
    rotate: 40deg;
}

.three {
    rotate: 60deg;
}

.four {
    rotate: 80deg;
}

.five {
    rotate: 100deg;
}

.six {
    rotate: 120deg;
}

.seven {
    rotate: 140deg;
}

.eight {
    rotate: 160deg;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes color-change {
    0%, 100% {
        background-color: gray;
    }

    10% {
        background-color: red;
    }

    20% {
        background-color: orange;
    }

    30% {
        background-color: yellow;
    }

    40% {
        background-color: green;
    }

    50% {
        background-color: blue;
    }

    60% {
        background-color: indigo;
    }

    70% {
        background-color: violet;
    }

    80% {
        background-color: dodgerblue;
    }

    90% {
        background-color: white;
    }
}