html, body {
    height: 100%;
    margin: 0;
}

body {
    animation: sky 10s linear infinite;
}

.sun {
    height: 80px;
    width: 80px;
    position: absolute;
    background: linear-gradient(#ff0, rgba(221, 33, 0, 0.623));
    border-radius: 50%;
    animation: sun 10s linear infinite;
}

.sea {
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    animation: sea 10s linear infinite;
}

@keyframes sky {
    0% {
        background: linear-gradient(to right bottom, rgb(239, 164, 78), rgb(255, 123, 0));
    }
    25% {
        background: linear-gradient(to right bottom, rgb(239, 223, 78), rgb(255, 255, 0));
    }
    100% {
        background: linear-gradient(to right bottom, rgb(239, 164, 78), rgb(255, 123, 0));
    }
}

@keyframes sun {
    0% {
        transform: translate(-50px, 300px);
        background: linear-gradient(to right, rgba(221, 144, 0, 0.911), rgba(221, 99, 0, 0.623));
    }
    25% {
        transform: translate(300px, 150px);
        background: linear-gradient(#ff0, rgb(221, 162, 0));
    }
    50% {
        transform: translate(600px, 50px);
    }
    75% {
        transform: translate(900px, 150px);
    }
    100% {
        transform: translate(1200px, 300px);
        background: linear-gradient(to right bottom, rgba(221, 144, 0, 0.911), rgba(221, 99, 0, 0.623));
    }
}

@keyframes sea {
    0% {
        background: linear-gradient(to right bottom, rgba(230, 159, 78, 0.9), rgba(249, 118, 0, 0.9));
    }
    25% {
        background: linear-gradient(to right bottom, rgba(230, 218, 78, 0.9), rgba(249, 250, 0, 0.9));
    }
    100% {
        background: linear-gradient(to right bottom, rgba(230, 159, 78, 0.9), rgba(249, 118, 0, 0.9));
    }
}