@keyframes bounceAround {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(2) rotate(0.25turn);
    opacity: 1;
  }
  50% {
    transform: scale(3) rotate(0.75turn);

    opacity: 1;
  }
  75% {
    transform: scale(2) rotate(1turn);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceAround2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(2) rotate(-0.25turn);
    opacity: 1;
  }
  50% {
    transform: scale(3) rotate(-0.75turn);

    opacity: 1;
  }
  75% {
    transform: scale(2) rotate(-1turn);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

div {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  animation: bounceAround 3s ease-in-out infinite;
}
.div2 {
  position: absolute;
  top: 200px;
  left: 400px;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  animation: bounceAround2 3s ease-in-out infinite;
}
.div3 {
  position: absolute;
  top: 500px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  animation: bounceAround 3s ease-in-out infinite;
}
.div4 {
  position: absolute;
  top: 500px;
  left: 200px;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  animation: bounceAround2 3s ease-in-out infinite;
}
.heart {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 15px;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
