body {
  background: linear-gradient(to right, rgb(208, 140, 103), rgb(78, 75, 70));
}

#header1 {
  text-align: center;
  text-shadow: 4px 2px 1px orange;
  font-family: 'Indie Flower', cursive;
  font-size: 350%;
}

#header2 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 325%;
}

img {
  border-radius: 8px;
  max-width: 350px;
  max-height: 350px;
}

img:hover {
  transform: scaleX(-1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.animate__animated.animate__pulse {
  animation-iteration-count: infinite;
}
