body {
   margin: 135px 0 0 430px;
   background-color: white;
   background-size: 400% 400%;
}
.parent{
	height: 140px;
	width: 140px;
}

.child {
	width: 70px;
	height: 70px;
	background: red;
	border-radius: 50%;
	animation: left-to-right 1s ease-in forwards infinite alternate;
}
.parent:hover .child{
	animation-play-state: paused; 
}
.child2 {
	width: 70px;
	height: 70px;
	background: red;
	border-radius: 50%;
	animation: right-to-left 1s ease-in forwards infinite alternate;
}
.parent:hover .child2{
	animation-play-state: paused; 
}
@keyframes left-to-right{
	0% {
		transform: translateX(0%);
	}

	33% {
		transform: translateY(100%);
	
	}
	50% {
		background-color: #F3DB74FF;
	}

	66% {
		transform: translateX(100%) translateY(100%);
	}


	100% {
		background-color: #A13941FF;
		transform: translateX(100%);
	}
}
@keyframes right-to-left{
	0% {
		background-color: white;
		transform: translateX(100%);
	}

	33% {
		transform: translateX(100%) translateY(100%);
	
	}
	50% {
		background-color: #F0E1B9FF;
	}

	66% {
		transform: translateY(100%);
	}


	100% {
		transform: translateX(0%);
	}
}