body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
body:before {
  content: '';
  height: 100%;
  position: absolute;
  animation: backgroundImage 2s 18s normal both;
}
@keyframes backgroundImage {
  from {
    height: 0px;
    width: 100%;
    background-image: none;
    background-size: cover;
  }
  to {
    height: 100vh;
    width: 100%;
    background-image: url('background.jpg');
    background-size: cover;
  }
}

/*after filter*/
body .filter {
  left: 25%;
  z-index: 6;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: message 5s 35s normal both;
}
@keyframes message {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
  90% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
body .filter:before {
  content: '';
  height: 20vh;
  width: 60vw;
  background: grey;
  position: absolute;
  z-index: -1;
  border-radius: 50% 50% 0% 0%;
  opacity: 0.8;
  animation: message 5s 35s normal both;
}
body .blur .hey {
  font: 28px Arial, sans-serif1;
  font-weight: bold;
  color: #5dfa00;
}
body .blur .greet {
  font-family: 'Brush Script MT', cursive;
  font-size: 35px;
  font-weight: bold;
  color: #ff6c00;
}
body .visit {
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times,
    'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;
}
body .second a {
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond,
    'Times New Roman', serif;
  font-weight: bold;
  color: #0ae0bc;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
}
body .suggest {
  font-family: 'Brush Script MT', cursive;
  font-size: 35px;
  font-weight: bold;
}
/*----------------------------*/

body .castle {
  height: 100vh;
  filter: blur(50px);
  animation: Blur 5s 35s normal both;
}

@keyframes Blur {
  0% {
    filter: blur(0px);
  }
  20% {
    filter: blur(50px);
  }
  90% {
    filter: blur(50px);
  }
  100% {
    filter: blur(0px);
  }
}
body .ground {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4vh;
  border: groove 4px green;
  background: green;
  font-family: sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  animation: ground 1s normal both;
}
body .ground a {
  font-size: 1rem;
  color: #ffffff;
}
@keyframes ground {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#front {
  z-index: 5;
  position: relative;
  height: 96vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
body #front .first {
}
body #front .first .firstcolumn {
  margin-left: -0.25vw;
  width: 11.5vw;
  height: 17vh;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  animation: Ffirst 1s 1s normal both;
}
@keyframes Ffirst {
  from {
    height: 0vh;
  }
  to {
    height: 17vh;
  }
}

body #front .first .secondcolumn {
  margin-left: -1vw;
  width: 13vw;
  animation: Fc 1s 2s normal both;
}
@keyframes Fc {
  from {
    width: 0;
    visibility: hidden;
  }
  to {
    width: 13vw;
  }
}
body #front .first .secondcolumn .bevel {
  border-width: 1vh;
}
body #front .first .secondcolumn .bevel {
  border-color: #57b7d0;
  border-style: solid;
}
body #front .first .secondcolumn .secondcolumn .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
}

body #front .first .secondcolumn .br,
body #front .first .secondcolumn .bl {
  border-bottom: 0;
}
body #front .first .secondcolumn .br {
  border-right-color: transparent;
}
body #front .first .secondcolumn .bl {
  border-left-color: transparent;
}

body #front .first .secondcolumn .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  animation: Fc 1s 2s normal both;
}
body #front .secondcolumn .middle .door1 {
  height: 3.3vh;
  width: 0.7vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
  animation: MD 1s 4.5s normal both;
}
body #front .secondcolumn .middle .door2 {
  height: 3.4vh;
  width: 0.9vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
  animation: MD 1s 4.5s normal both;
}
body #front .secondcolumn .middle .door3 {
  height: 3.5vh;
  width: 1.4vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
  animation: MD 1s 4.5s normal both;
}
body #front .secondcolumn .middle .door4 {
  height: 3.4vh;
  width: 0.9vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
  animation: MD 1s 4.5s normal both;
}
body #front .secondcolumn .middle .door5 {
  height: 3.3vh;
  width: 0.7vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
  animation: MD 1s 4.5s normal both;
}
@keyframes MD {
  from {
    height: 0vh;
    width: 0vw;
  }
  to {
    height: 3.3vh;
    width: 0.7vw;
  }
}

body .first .castleRoof {
  margin-left: -1.7vw;
  width: 0;
  height: 0;
  border-left: 7.2vw solid transparent;
  border-right: 7.2vw solid transparent;
  border-bottom: 25vh solid #013990;
  animation: AR 1s 3s normal both;
}
@keyframes AR {
  from {
    border-left: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid #013990;
  }
  to {
    border-left: 7.2vw solid transparent;
    border-right: 7.2vw solid transparent;
    border-bottom: 25vh solid #013990;
  }
}
body .first .castleRoof:before {
  content: '';
  position: absolute;
  height: 0vh;
  width: 0vw;
  margin-left: -1.2vh;
  margin-top: -15vh;
  border-left: 0.75vw solid transparent;
  border-right: 0.75vw solid transparent;
  border-bottom: 20vh solid #013990;
  animation: ART 1s 4s normal both;
}
@keyframes ART {
  from {
    border-left: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid #013990;
  }
  to {
    border-left: 0.75vw solid transparent;
    border-right: 0.75vw solid transparent;
    border-bottom: 20vh solid #013990;
  }
}
body .first .castleRoof:after {
  content: '';
  height: 1vh;
  width: 5vw;
  margin-top: -5vh;
  margin-left: -2.5vw;
  background: #013990;
  position: absolute;
  animation: ARTH 1s 4s normal both;
}
@keyframes ARTH {
  from {
    height: 0vh;
    width: 0vw;
  }
  to {
    height: 1vh;
    width: 5vw;
  }
}

/*second column of castle*/

body #front .second {
  display: flex;
  justify-content: center;
}
body #front .second .firstcolumn {
  width: 11.5vw;
  height: 20vh;

  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  animation: Clii 1s 5s normal both;
}
@keyframes Clii {
  from {
    height: 0;
  }
  to {
    height: 20vh;
  }
}
.window1 {
  height: 5vh;
  width: 1.5vw;
  border: 3px solid #4d8aa7;
  background: #163351;
  animation: shorwin 1s 18s normal both;
}
@keyframes shorwin {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 5vh;
  }
}
.window1 .winH1 {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  margin: 1.5vh 0vh;
}
.window1 .winH2 {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  margin: 1.5vh 0vh;
}
.winH1:before {
  content: '';
  position: absolute;
  margin-top: -1.5vh;
  margin-left: 0.65vw;
  height: 5vh;
  width: 3px;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
}

.middlewindow {
  height: 9vh;
  width: 1.5vw;
  border: 3px solid #4d8aa7;
  background: #163351;
  animation: Longwin 1s 18s normal both;
}

@keyframes Longwin {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 9vh;
  }
}
.middlewindow .winH1 {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  margin: 2vh 0vh;
}
.middlewindow .winH2 {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  margin: 2vh 0vh;
}
.middlewindow .winH3 {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  margin: 2vh 0vh;
}
.middlewindow .winH1:before {
  content: '';
  position: absolute;
  margin-top: -1.95vh;
  margin-left: 0.65vw;
  height: 9vh;
  width: 3px;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
}

#front .second .columnsecond {
  margin-left: -1vw;
  width: 13vw;
  animation: cliiE 1s 6s normal both;
}
@keyframes cliiE {
  from {
    width: 0vw;
    visibility: hidden;
  }
  to {
    width: 13vw;
  }
}
body #front .second .columnsecond .bevel {
  border-width: 10px;
}
body #front .second .columnsecond .bevel {
  border-color: #57b7d0;
  border-style: solid;
}
body #front .second .columnsecond .middle {
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  animation: cliiM 1s 6s normal both;
}
@keyframes cliiM {
  from {
    width: 0vw;
  }
  to {
    width: 13vw;
  }
}

body #front .second .columnsecond .tr,
body #front .second .columnsecond .tl {
  border-top: 0;
}
body #front .second .columnsecond .br,
body #front .second .columnsecond .bl {
  border-bottom: 0;
}
body #front .second .columnsecond .tr,
body #front .second .columnsecond .br {
  border-right-color: transparent;
}
body #front .second .columnsecond .tl,
body #front .second .columnsecond .bl {
  border-left-color: transparent;
}

body #front .first .thirdcolumn {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  align-items: center;
  margin-left: -0.25vw;
  width: 11.5vw;
  height: 19vh;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  animation: CLiii 1s 7s normal both;
}
@keyframes CLiii {
  from {
    height: 0vh;
  }
  to {
    height: 19vh;
  }
}

body #front .first .fourthcolumn {
  margin-left: -1vw;
  width: 13vw;
  animation: CLiv 0.5s 8s normal both;
}
@keyframes CLiv {
  from {
    width: 0vw;
    visibility: hidden;
  }
  to {
    width: 13vw;
  }
}
body #front .second .fourthcolumn .bevel {
  border-width: 10px;
}
body #front .second .fourthcolumn .bevel {
  border-color: #57b7d0;
  border-style: solid;
}
body #front .second .fourthcolumn .secondcolumn .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  animation: CLiv 0.5s 8s normal both;
}
body #front .second .fourthcolumn .br,
body #front .first .fourthcolumn .bl {
  border-bottom: 0;
}
body #front .second .fourthcolumn .br {
  border-right-color: transparent;
}
body #front .second .fourthcolumn .bl {
  border-left-color: transparent;
}

body #front .fourthcolumn .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
}
body #front .fourthcolumn .middle .door1 {
  height: 3.3vh;
  width: 0.7vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #front .fourthcolumn .middle .door2 {
  height: 3.4vh;
  width: 0.9vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #front .fourthcolumn .middle .door3 {
  height: 3.5vh;
  width: 1.4vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #front .fourthcolumn .middle .door4 {
  height: 3.4vh;
  width: 0.9vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #front .fourthcolumn .middle .door5 {
  height: 3.3vh;
  width: 0.7vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}

body #front .second .baseRoof {
  margin-left: -1.7vw;
  width: 0;
  height: 0;
  border-left: 7.2vw solid transparent;
  border-right: 7.2vw solid transparent;
  border-bottom: 25vh solid #013990;
  animation: BroofH 1s 8.5s normal both;
}
@keyframes BroofH {
  from {
    border-left: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid #013990;
  }
  to {
    border-left: 7.2vw solid transparent;
    border-right: 7.2vw solid transparent;
    border-bottom: 25vh solid #013990;
  }
}
body #front .second .baseRoof:before {
  content: '';
  height: 0vh;
  width: 0vh;
  margin-top: -8.6vw;
  margin-left: -0.4vw;
  position: absolute;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  border-bottom: 20vh solid #013990;
  animation: BroofT 0.5s 9s normal both;
}
@keyframes BroofT {
  from {
    border-left: 0vh solid transparent;
    border-right: 0vh solid transparent;
    border-bottom: 0vh solid #013990;
  }
  to {
    border-left: 0.75vh solid transparent;
    border-right: 0.75vh solid transparent;
    border-bottom: 20vh solid #013990;
  }
}
body #front .second .baseRoof:after {
  content: '';
  height: 10px;
  margin-top: -4vh;
  width: 4vw;
  margin-left: -1.8vw;
  position: absolute;
  background-color: #013990;
  animation: BroofTH 0.5s 9s normal both;
}
@keyframes BroofTH {
  from {
    width: 0;
  }
  to {
    width: 4vw;
  }
}

/*calstle middle section*/
body #middle {
  position: relative;
  z-index: 2;
  margin-top: -100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
body #middle #littleHouse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -52vw;
}
body #middle #littleHouse .firstwall {
  height: 21vh;
  width: 20vw;
  background: linear-gradient(
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: Mw 0.7s 9.5s normal both;
}
@keyframes Mw {
  from {
    height: 0;
  }
  to {
    height: 21vh;
  }
}

.Hlines1 {
  height: 1vh;
  width: 100%;
  background: #ffffff70;
  margin: 0.5vh 0vh;
}
.Hlines2 {
  height: 1vh;
  width: 100%;
  background: #ffffff70;
  margin: 0.5vh 0vh;
}
.firstwall .Hlines3 {
  height: 1vh;
  width: 100%;
  background: #ffffff70;
  margin: 1.2vh 0vh;
}
.Smallwindows {
  display: flex;
  justify-content: space-around;
}

@keyframes smallWn {
  from {
    height: 0px;
    visibility: hidden;
  }
  to {
    height: 6vh;
  }
}
.Smallwindows .w1 {
  height: 6vh;
  width: 1.5vw;
  border: 2px solid #ffffff;
  background: #022a44;
  margin: 0.3vw;
  animation: smallWn 1s 18s normal both;
}
.Smallwindows .w2 {
  height: 6vh;
  width: 1.5vw;
  border: 2px solid #ffffff;
  background: linear-gradient(#fabd6d, #f2e98c);
  margin: 0.3vw;
  animation: smallWn 1s 18s normal both;
}
.Smallwindows .w3 {
  height: 6vh;
  width: 1.5vw;
  border: 2px solid #ffffff;
  background: #022a44;
  margin: 0.3vw;
  animation: smallWn 1s 18s normal both;
}

body #middle #littleHouse .trangleRoof {
  height: 0;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 30vh solid rgba(118, 206, 228, 1);
  animation: MwT 0.5s 10s normal both;
}
@keyframes MwT {
  from {
    border-left: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid rgba(118, 206, 228, 1);
  }
  to {
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 30vh solid rgba(118, 206, 228, 1);
  }
}

body #middle #littleHouse .Roof {
  height: 35vh;
  width: 17vw;
  background: #013990;
  position: absolute;
  z-index: -1;
  margin-top: -10.5vh;
  margin-left: 3.7vw;
  transform: skew(-35deg, -5deg);
  animation: MwTR 0.5s 10.5s normal both;
}
@keyframes MwTR {
  from {
    width: 0;
  }
  to {
    width: 17vw;
  }
}

body #middle #longrightHouse {
  margin-left: 25vw;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body #middle #longrightHouse .firstwall {
  height: 22vh;
  width: 20vw;
  background: linear-gradient(
    0deg,
    rgba(99, 199, 225, 1) 59%,
    rgba(62, 133, 185, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  animation: LRH 1s 11s normal both;
}
@keyframes LRH {
  from {
    height: 0;
  }
  to {
    height: 22vh;
  }
}
body #middle #longrightHouse .firstwall .Hline1 {
  height: 1vh;
  width: 100%;
  background: #a1dcee;
}
body #middle #longrightHouse .firstwall .Hline2 {
  height: 1vh;
  width: 100%;
  background: #9ed7ea;
}
body #middle #longrightHouse .firstwall .Hline3 {
  height: 1vh;
  width: 100%;
  background: #a0d3e6;
}

body #middle #longrightHouse .firstwall .SmallWindows {
  display: flex;
  margin-left: -2vw;
  width: 10vw;
  justify-content: space-around;
  align-items: center;
}
body #middle #longrightHouse .firstwall .SmallWindows .win1 {
  height: 4vh;
  width: 1vw;
  background: #0a2842;
  border: 3px solid #bee2f8;
  animation: RLHSW 0.5s 18s normal both;
}
body #middle #longrightHouse .firstwall .SmallWindows .win2 {
  height: 4vh;
  width: 1vw;
  background: #0a2842;
  border: 3px solid #bee2f8;
  animation: RLHSW 0.5s 18s normal both;
}

body #middle #longrightHouse .firstwall .SmallWindows .win3 {
  height: 4vh;
  width: 1vw;
  background: linear-gradient(#facc54, #fcf26f);
  border: 3px solid #bee2f8;
  animation: RLHSW 0.5s 18s normal both;
}
body #middle #longrightHouse .firstwall .SmallWindows .win4 {
  height: 4vh;
  width: 1vw;
  background: #0a2842;
  border: 3px solid #bee2f8;
  animation: RLHSW 0.5s 18s normal both;
}
body #middle #longrightHouse .firstwall .SmallWindows .win5 {
  height: 4vh;
  width: 1vw;
  background: linear-gradient(#facc54, #fcf26f);
  border: 3px solid #bee2f8;
  animation: RLHSW 0.5s 18s normal both;
}
body #middle #longrightHouse .firstwall .SmallWindows .win6 {
  height: 4vh;
  width: 1vw;
  background: linear-gradient(#facc54, #fcf26f);
  border: 3px solid #bee2f8;
  animation: RLHSW 0.5s 18s normal both;
}

@keyframes RLHSW {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 4vh;
  }
}

body #middle #longrightHouse .saperator {
  height: 2vh;
  width: 20vw;
  background: #427ca7;
  animation: RLHS 0.5s 12s normal both;
}
@keyframes RLHS {
  from {
    width: 0vw;
  }
  to {
    width: 20vw;
  }
}
body #middle #longrightHouse .saperator:before {
  content: '';
  height: 10vh;
  width: 20vw;
  background: #013990;
  position: absolute;
  margin-top: -10vh;
  margin-left: -5vw;
  transform: skewX(45deg);
  animation: RLHST 0.5s 12.5s normal both;
}
@keyframes RLHST {
  from {
    width: 0;
  }
  to {
    width: 20vw;
  }
}
body #middle .middleMain {
  position: absolute;
  margin-left: -0.88vw;
}
body #middle .middleMain .wall {
  height: 32vh;
  width: 20vw;
  background: linear-gradient(
    0deg,
    rgba(99, 199, 225, 1) 50%,
    rgba(62, 133, 185, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  animation: Mmain 1s 13s normal both;
}
@keyframes Mmain {
  from {
    height: 0;
  }
  to {
    height: 32vh;
  }
}

.middleMain .wall .maindoor {
  margin-bottom: -0.7vh;
  height: 7vh;
  width: 4vw;
  background-color: #032a47;
  border-radius: 50% 50% 0% 0%;
  border-right: 3px solid #5699b3;
  border-top: 3px solid #5699b3;
  border-left: 3px solid #5699b3;
  animation: maindoor 1s 18s normal both;
}
@keyframes maindoor {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 7vh;
  }
}
.middleMain .wall .littlewin {
  height: 8vh;
  width: 1.8vw;
  border: 3px solid #4385a5;
  background-color: #032a47;
  animation: Littlewin 1s 18s normal both;
}
@keyframes Littlewin {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 8vh;
  }
}
.middleMain .wall .littlewin .wh1 {
  margin: 2.5vh 0vh;
  height: 0.5vh;
  width: 100%;
  background: #4385a5;
}
.middleMain .wall .littlewin .wh2 {
  margin: 2.5vh 0vh;
  height: 0.5vh;
  width: 100%;
  background: #4385a5;
}
.middleMain .wall .littlewin .wh1:before {
  content: '';
  position: absolute;
  margin-top: -2.5vh;
  margin-left: 1.5vh;
  height: 8vh;
  width: 0.3vw;
  background: #4385a5;
}
.middleMain .wall .Hline1 {
  height: 1vh;
  width: 100%;
  background: #91d4ef80;
}
.middleMain .wall .Hline2 {
  height: 1vh;
  width: 100%;
  background: #91d4ef80;
}
.middleMain .wall .doors {
  margin-top: 2vh;
  display: flex;
  width: 10vw;
  justify-content: space-around;
}
.middleMain .wall .doors .d1 {
  height: 5vh;
  width: 1.6vw;
  background-color: #032a47;
  border-radius: 50% 50% 0% 0%;
  animation: mainsmallD 1s 18s normal both;
}

@keyframes mainsmallD {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 5vh;
  }
}
.middleMain .wall .doors .d2 {
  height: 5vh;
  width: 2vw;
  background-color: #032a47;
  border-radius: 50% 50% 0% 0%;
  animation: mainsmallD 1s 18s normal both;
}

.middleMain .wall .doors .d3 {
  height: 5vh;
  width: 1.6vw;
  background-color: #032a47;
  border-radius: 50% 50% 0% 0%;
  animation: mainsmallD 1s 18s normal both;
}

body #middle .middleMain .roof {
  height: 0;
  width: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 47vh solid #013990;
  animation: MmainR 0.5s 14s normal both;
}
@keyframes MmainR {
  from {
    border-left: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid #013990;
  }
  to {
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 47vh solid #013990;
  }
}
body #middle .middleMain .roof:before {
  content: '';
  height: 0vh;
  width: 0vw;
  margin-top: -15vh;
  margin-left: -0.7vw;
  position: absolute;
  border-left: 0.7vw solid transparent;
  border-right: 0.7vw solid transparent;
  border-bottom: 20vh solid #013990;
  animation: MmainRT 0.5s 14.5s normal both;
}
@keyframes MmainRT {
  from {
    border-left: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid #013990;
  }
  to {
    border-left: 0.7vw solid transparent;
    border-right: 0.7vw solid transparent;
    border-bottom: 20vh solid #013990;
  }
}
body #middle .middleMain .roof:after {
  content: '';
  height: 10px;
  margin-top: -5vh;
  width: 4vw;
  margin-left: -2vw;
  position: absolute;
  background-color: #013990;
  animation: MmainRH 0.5s 14.5s normal both;
}
@keyframes MmainRH {
  from {
    width: 0;
  }
  to {
    width: 4vw;
  }
}

/*last layer */
body #Last {
  margin-left: 15vw;
  position: relative;
  z-index: 1;
  margin-top: -100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

body #Last .first {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body #Last .first .firstcolumn {
  width: 11.5vw;
  height: 54vh;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  animation: LHCf 0.5s 15s normal both;
}
@keyframes LHCf {
  from {
    height: 0;
  }
  to {
    height: 54vh;
  }
}
.lastcastlecolumn {
  margin-left: -1vw;
  width: 13vw;
  animation: LHCM 0.5s 15.5s normal both;
}
@keyframes LHCM {
  from {
    width: 0;
    visibility: hidden;
  }
  to {
    width: 13vw;
  }
}
body #Last .first .lastcastlecolumn .bevel {
  border-width: 10px;
}
body #Last .first .lastcastlecolumn .bevel {
  border-color: #57b7d0;
  border-style: solid;
}
body #Last .first .lastcastlecolumn .middle {
  animation: LHCMM 0.5s 15.5s normal both;
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
}
@keyframes LHCMM {
  from {
    width: 0;
  }
  to {
    width: 13vw;
  }
}

body #Last .first .lastcastlecolumn .tr,
body #front .first .lastcastlecolumn .tl {
  border-top: 0;
}
body #Last .first .lastcastlecolumn .br,
body #front .first .lastcastlecolumn .bl {
  border-bottom: 0;
}
body #Last .first .lastcastlecolumn .tr,
body #front .first .lastcastlecolumn .br {
  border-right-color: transparent;
}
body #Last .first .lastcastlecolumn .tl,
body #front .first .lastcastlecolumn .bl {
  border-left-color: transparent;
}

body #Last .first .thirdcolumn {
  margin-left: -0.25vw;
  width: 11.5vw;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
  animation: LHCT 0.5s 16s normal both;
}
@keyframes LHCT {
  from {
    height: 0;
  }
  to {
    height: 14vh;
  }
}

body #Last .first .fourthcolumn {
  margin-left: -1vw;
  width: 13vw;
  animation: LHCFM 0.5s 16.5s normal both;
}
@keyframes LHCFM {
  from {
    width: 0;
    visibility: hidden;
  }
  to {
    width: 13vw;
  }
}
body #Last .first .fourthcolumn .bevel {
  border-width: 10px;
}
body #Last .first .fourthcolumn .bevel {
  border-color: #57b7d0;
  border-style: solid;
}
body #Last .first .fourthcolumn .secondcolumn .middle {
  animation: LHCFM 0.5s 16.5s normal both;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
}

body #Last .first .fourthcolumn .br,
body #front .first .fourthcolumn .bl {
  border-bottom: 0;
}
body #Last .first .fourthcolumn .br {
  border-right-color: transparent;
}
body #Last .first .fourthcolumn .bl {
  border-left-color: transparent;
}

body #Last .first .fourthcolumn .middle {
  animation: LHCFM 0.5s 16.5s normal both;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 13vw;
  background: red;
  background: linear-gradient(
    90deg,
    rgba(118, 206, 228, 1) 0%,
    rgba(209, 240, 245, 1) 36%,
    rgba(63, 141, 190, 1) 100%
  );
}
body #Last .fourthcolumn .middle .door1 {
  height: 3.3vh;
  width: 0.7vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #Last .fourthcolumn .middle .door2 {
  height: 3.4vh;
  width: 0.9vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #Last .fourthcolumn .middle .door3 {
  height: 3.5vh;
  width: 1.4vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #Last .fourthcolumn .middle .door4 {
  height: 3.4vh;
  width: 0.9vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}
body #Last .fourthcolumn .middle .door5 {
  height: 3.3vh;
  width: 0.7vw;
  background: #00213e;
  border-radius: 50% 50% 0% 0%;
}

body #Last .first .baseRoof {
  margin-left: -1.7vw;
  width: 0.5vw;
  height: 7vh;
  border-left: 7.2vw solid transparent;
  border-right: 7.2vw solid transparent;
  border-bottom: 10vh solid #013990;
  animation: RLHR 0.5s 17s normal both;
}
@keyframes RLHR {
  from {
    border-left: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid #013990;
  }
  to {
    border-left: 7.2vw solid transparent;
    border-right: 7.2vw solid transparent;
    border-bottom: 10vh solid #013990;
  }
}
body #Last .first .baseRoof:before {
  content: '';
  height: 10vh;
  width: 1.5vh;
  margin-left: -0.15vw;
  position: absolute;
  background-color: #013990;
  animation: RLHRT 0.5s 17.5s normal both;
}
@keyframes RLHRT {
  from {
    height: 0;
  }
  to {
    height: 10vh;
  }
}
body #Last .first .baseRoof:after {
  content: '';
  height: 10px;
  margin-top: 4vh;
  width: 4vw;
  margin-left: -1.5vw;
  position: absolute;
  background-color: #013990;
  animation: RLHRTH 0.5s 17.5s normal both;
}
@keyframes RLHRTH {
  from {
    width: 0;
  }
  to {
    width: 4vw;
  }
}

.speech-bubble {
  position: absolute;
  background: #00aabb;
  border-radius: 0.4em;
  width: 20vw;
  margin-top: -90vh;
  margin-left: 3vw;
  padding: 2vw;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  animation: seventenS 19s normal both;
}
.speech-bubble .cons {
  color: white;
  opacity: 0.75;
}
@keyframes seventenS {
  0% {
    font-size: 1.2rem;
  }
  95.9% {
    font-size: 1.2rem;
  }
  100% {
    font-size: 0;
    visibility: hidden;
  }
}

.speech-bubble .cons {
  animation: seventenS 19s normal both;
}
