/****************/
/***   MAIN   ***/
/****************/
* {
  box-sizing: border-box;
}
body {
  background-color: thistle;
}
h1 {
  color: darkmagenta;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***************/
/***   FOX   ***/
/***************/
.fox {
  margin-right: 150px;
  /* Animation */
  animation-name: scaleUp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/*** EARS ***/
.fox-ears {
  display: flex;
  position: relative;
  top: 15px;
  z-index: -1;
}
.fox-left_ear,
.fox-right_ear {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 35px solid peru;
}
.fox-left_ear {
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 25px solid transparent;
}
.fox-right_ear {
  border-left: 25px solid transparent;
  border-right: 10px solid transparent;
  transform: translateX(20px);
}
/*** HEAD ***/
.fox-head {
  margin: 0 auto;
  width: 100px;
  height: 110px;
  border-radius: 30px;
  margin-bottom: 10px;
  background-color: peru;
}
/*** EYES ***/
.fox-eyes {
  display: flex;
}
.fox-left_eye,
.fox-right_eye {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background-color: black;
  position: relative;
  top: 15px;
  /*animation*/
  animation-name: blink;
  animation-timing-function: ease-in-out;
  animation-duration: 3.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.fox-left_eye {
  left: 0px;
}
.fox-right_eye {
  left: 80px;
}

/*** ANIMATION ***/
@keyframes blink {
  0% {
    top: 20px;
    height: 1px;
    margin-bottom: 9px;
  }
  10%,
  100% {
    top: 15px;
    height: 10px;
    margin-bottom: 0;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
    transition: 1s ease-in-out;
  }
  50% {
    transform: scale(1.25);
    transition: 1s ease-in-out;
  }
  100% {
    transform: scale(1);
    transition: 1s ease-in-out;
  }
}
/*** CHEEKS ***/
.fox-cheeks {
  display: flex;
}
.fox-left-cheek,
.fox-right-cheek {
  position: relative;
  top: 65px;
  width: 35px;
  height: 35px;
  border: 2px solid wheat;
  background-color: wheat;
}
.fox-left-cheek {
  left: -1px;
  border-radius: 5px 35px 0px 50px;
}
.fox-right-cheek {
  left: 31px;
  border-radius: 5px 35px 0px 50px;
  transform: rotate(-90deg);
}
/*** NOSE ***/
.fox-nose {
  position: relative;
  top: 60px;
  left: 40px;
  height: 15px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}

/****************/
/***   BEAR   ***/
/****************/
.bear {
  /* Animation */
  animation-name: turnUp;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.bear-head,
.bear-left_ear,
.bear-right_ear {
  background-color: rosybrown;
}
/***   EARS   ***/
.bear-ears {
  display: flex;
}
.bear-left_ear,
.bear-right_ear {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 5px;
}
/* relative to parent */
.bear-left_ear {
  left: 0;
}
.bear-right_ear {
  transform: translateX(40px);
}
.bear-inner-ear {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: saddlebrown;
  transform: scale(0.7, 0.7);
}
/***   HEAD   ***/
.bear-head {
  margin: 0 auto;
  width: 100px;
  height: 110px;
  border-radius: 30px;
  margin-bottom: 10px;
}
/***   EYES   ***/
.bear-eyes {
  display: flex;
}
.bear-left_eye,
.bear-right_eye {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background-color: black;
  position: relative;
  top: 15px;
  /* Animation */
  animation-name: blink;
  animation-timing-function: ease-in-out;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
.bear-left_eye {
  left: 20px;
}
.bear-right_eye {
  left: 60px;
}
/*** ANIMATION ***/
@keyframes blink {
  0% {
    top: 20px;
    height: 1px;
    margin-bottom: 9px;
  }
  10%,
  100% {
    top: 15px;
    height: 10px;
    margin-bottom: 0;
  }
}
@keyframes turnUp {
  0% {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
  }
  50% {
    transform: rotate(-360deg);
    transition: 1s ease-in-out;
  }
  100% {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
  }
}
/***   NOSE   ***/
.bear-nose {
  position: relative;
  top: 35px;
  left: 40px;
  height: 15px;
  width: 20px;
  border-radius: 50%;
  background-color: darkmagenta;
}
.bear-line {
  position: relative;
  top: 35px;
  left: 40px;
  border-left: 4px solid saddlebrown;
  height: 12px;
  margin-left: 8px;
}
/***   MOUTH   ***/
.bear-mouth {
  position: relative;
  top: 35px;
  left: 38px;
  width: 25px;
  height: 15px;
  background: black;
  border-radius: 15px 15px 50px 50px;
}
.bear-mouth::before {
  content: '';
  display: block;
  width: 18px;
  height: 10px;
  border-radius: 50%;
  background-color: indianred;
  position: relative;
  left: 4px;
  top: 4px;
}
