html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: dimgrey;
  display: grid;
  justify-content: center;
  align-items: center;
}

.centered {
  padding: 66.6px;
  margin: 0 auto;
  width: 50%;
}

svg {
  display: block;
  margin: auto;
}

svg polygon {
  fill: none;
  stroke: orangered;
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3.33s linear forwards;
  animation: dash 3.33s linear forwards infinite alternate;
}

h1 {
  color: orangered;
  text-align: center;
  font-family: Copperplate;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
