body {
    align-content: center;
    background-color: rgb(31, 19, 19);
  }
  
  #first {
    margin-top: 2fr;
    margin-bottom: 1fr;
    margin-left: 1fr;
    margin-right: 1fr;

    /* background-color: #fae3d9; */
    animation: stretch 2s ease-in-out 1s alternate infinite none running;
  }
  
  
  
  @keyframes stretch {
    0% {
      transform: scale(0.3);
      border-radius: 100%;
    }
    50% {
    }
    100% {
      transform: scaleY(1.3);
    }
  }
  
  /* https://www.loom.com/share/3cc673666f0d41bfa3a45f52200502a3 videolink */
  