body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.car {
  display: flex;
  flex-direction: row;
  height: 202px;
  animation: moveCar;
  animation-duration: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moveCar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(90em);
  }
}

.main {
  position: relative;
}

.wheel {
  width: 70px;
  height: 70px;
  position: relative;
  align-self: flex-end;
  animation: rotateWheel;
  animation-duration: 0.001s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rotateWheel {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
