#mainDiv {
  font-size: 0px;
}
.div {
  font-size: 0px;
}
@keyframes blackVisible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes whiteVisible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.blackSquare {
  height: 10px;
  width: 10px;
  background-color: black;
  display: inline-block;
  animation-name: blackVisible;
  animation-duration: 4s;
}
.whiteSquare {
  height: 10px;
  width: 10px;
  background-color: white;
  display: inline-block;
  animation-name: whiteVisible;
  animation-duration: 4s;
}
