* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#1ef2e0, #21c9ef);
}

.box {
  display: flex;
}

.box .eye {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow:
    0 5px 45px rgba(0, 0, 0, 0.2),
    inset 0 0 15px #21c9ef,
    inset 0 0 25px #21c9ef;
}

.box .pupil {
  position: relative;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  border: 3px solid #2177ef;
  animation: lookAround 5s infinite ease-in-out;
}

@keyframes lookAround {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(-10px, 10px);
  }
}
