#circle1{
    height: 250px;
    width: 250px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    margin: 45px;
    transition-delay: 1ms;
}
#circle2{
    height: 150px;
    width: 150px;
    background-color: rgb(100, 109, 238);
    border: 2px solid black;
    border-radius: 50%;
    position:absolute;
    margin: 8%;
    transition-delay: 1ms;
}
#circle3{
    height: 100px;
    width: 100px;
    background-color: rgb(14, 236, 81);
    border: 2px solid black;
    border-radius: 50%;
    position:absolute;
    margin: 10%;
    transition-delay: 1ms;
}

#circle1:hover{
    background-color:rgb(14, 236, 81) ;
}
#circle2:hover{
    background-color:red ;
}
#circle3:hover{
    background-color:rgb(100, 109, 238) ;
}