/*github: @akhils95*/

body {
  margin-top: 30px;
}

@keyframes eyes {
  from {
    width: 20px;
  }
  to {
    width: 16px;
  }
}

@keyframes hand {
  from {
    height: 125px;
  }
  to {
    height: 160px;
  }
}

@keyframes leg {
  from {
    height: 120px;
  }
  to {
    height: 100px;
  }
}

.dancer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.right_arm,
.left_arm,
.head {
  background-color: #f1c1a5;
}

.torso,
.left_leg,
.right_leg {
  background-color: #ff0000;
}

.head {
  width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
}

.eyes {
  display: flex;
}

.upper_body {
  width: 300px;
  height: 150px;
  display: flex;
}

.left_arm,
.right_arm {
  width: 40px;
  height: 125px;
  border-radius: 100px;
}

.left_arm {
  margin-right: 10px;
  animation-name: hand;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.right_arm {
  margin-left: 10px;
  animation-name: hand;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.torso {
  width: 200px;
  height: 200px;
  border-radius: 0 0 50px 50px;
}

.lower_body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
}

.left_leg,
.right_leg {
  width: 40px;
  height: 120px;
  border-radius: 0 0 100px 100px;
}

.left_leg {
  margin-left: 45px;
  animation-name: leg;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.right_leg {
  margin-left: 30px;
  animation-name: leg;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.left_eye,
.right_eye {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: white;
  animation-name: eyes;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.left_eye {
  position: relative;
  top: 100px;
  left: 40px;
}

.right_eye {
  position: relative;
  top: 100px;
  left: 120px;
}
