img{display:flex;
   justify-content: center;
   align-items:center;}
.Net{display:block;
    margin-left: auto;
    margin-right: auto;
    }
.Basketball{display:block;
            position:relative;
            top:20px;
            left:45%;
            transform: rotate(180deg);
           }
.Net:hover{transform: scale(1.05);
          }
.Basketball:hover{ transform: translateY(15%);}

                 