body {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  align-content: stretch;
  flex-direction: row;
  background-color: rgb(232, 199, 188);
}
.container {
  width: 600px;
  height: 600px;
  background-color: rgb(254, 201, 245);
  position: relative;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
}

@keyframes example {
  0% {
    background-color: rgb(255, 0, 166);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: rgb(173, 65, 173);
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: rgb(251, 192, 213);
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: rgb(117, 0, 128);
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: rgb(241, 148, 213);
    left: 0px;
    top: 0px;
  }
}

.love {
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  background: red;
  position: relative;
  top: 0rem;
  left: 0rem;
}

.love:before,
.love:after {
  content: '';
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.love:before {
  top: 0;
  left: -150px;
}

.love:after {
  top: -150px;
}
