* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(0, 12, 184), rgb(183, 1, 134));
}
svg {
  width: 0;
  height: 0;
}
.spin {
  position: relative;
  width: 400px;
  height: 400px;
  filter: blur(1px);
}
.spin span {
  position: absolute;
  top: 0;
  left: 1%;
  width: 100%;
  height: 100%;
  display: block;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}

.spin span:before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 20%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: linear-gradient(to right, rgb(189, 17, 223), rgb(83, 51, 199));
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
