* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.size {
  width: 150px;
  height: 200px;
}

.main-rectangle {
  background: linear-gradient(#40c4ff, #7c4dff);
  overflow: hidden;
  border-radius: 5px;
}

.rect1 {
  background: linear-gradient(#ffea00, #ffc400);
  transform: translateY(200px);
  animation: move 2s infinite alternate;
}

.rect2 {
  background: linear-gradient(#ff4081, #c51162);
  transform: translateY(200px);
  animation: move 2s infinite alternate;
}

@keyframes move {
  to {
    transform: translateY(-200px);
  }
}
