#box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 280px;
    width: 280px;
    color: #fff;
    font-size: 1.2rem;
    background: #00008b;
    
}
#car {
    text-align: center;
    position: relative;
    color: white;
    animation: slide-in 3000ms infinite ;
    animation-fill-mode: backwards;
    
}
@keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0.25;
    }
    50% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0.25;
      }
  }



