body {
    margin:0;
    padding:0;
    background-color:#ffe6e8;
}
@keyframes bar1Animation {
    0%   {background-color: #ff1a40;}
    12.5%  {background-color: #ff4d6a;}
    25%  {background-color: #ff8095;}
    37.5% {background-color: #ffb3bf;}
    50%{background-color: #ffccd2;}
    62.5% {background-color: #ffb3bf;}
    75%  {background-color: #ff8095;}
    87.5% {background-color: #ff4d6a;}
    100% {background-color: #ff1a40;}
}
.bar {
    display:flex;
    height: 20vh;
    width: 100%;
    background-color:#ff1a40;
}

#bar1 {
    animation: bar1Animation 5s linear 1s infinite;
}
#bar2 {
    animation: bar1Animation 5s linear 1.5s infinite;
}
#bar3{
    animation: bar1Animation 5s linear 2s infinite;
}
#bar4 {
    animation: bar1Animation 5s linear 2.5s infinite;
}
#bar5 {
    animation: bar1Animation 5s linear 3s infinite;
}
