/* --------------------------------------------------------------------------
Base styles
----------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #00A4FB;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: .05em;
  margin: 60px 0;
}

h2 {
  font-size: 20px;
}

/* --------------------------------------
Gallery Styles
---------------------------------------- */
/*Styles to set up the grid (multi-column) layout for the gallery using Flexbox*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px;
}

figure {
  width: 49%;
  margin: 0 0 20px;
  padding: 40px 0;
  position: relative;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
          box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 40%;
  /* Animate any changes to the images using transition */
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

figure:hover img {
  /* Move and scale the image when the user hovers on the figure */
  -webkit-transform: translateY(-30px) scale(.8, .8);
          transform: translateY(-30px) scale(.8, .8);
}

figcaption {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  /* Hide the figcaption by default by setting its opacity to 0 */
  opacity: 0;
  /* Animate any changes to the figcaption on hover */
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

figure:hover figcaption {
  /* Fade in the figcaption when the user hovers over the figure using opacity */
  opacity: 1;
}

button {
  margin-left: auto;
  background-color: #EA7273;
  color: white;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #C65758;
  padding: 4px 18px;
  /* Animate any changes on the button on hover */
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: #F78889;
  /* Move buttons 2px down on hover */
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* --------------------------------------
Theme Colors
---------------------------------------- */
figure:first-of-type {
  background-color: #00A4FB;
}

figure:nth-of-type(2) {
  background-color: #00BF78;
}

figure:nth-of-type(3) {
  background-color: #EA7273;
}

figure:nth-of-type(4) {
  background-color: #57C7FC;
}

/* --------------------------------------
Responsive Styles
---------------------------------------- */
@media only screen and (max-width: 500px) {
  figure {
    width: 100%;
  }
}
