@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html {
  background-color: #000;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p {
  color: #fff;
  font: 50px 'Press Start 2P', cursive;
  margin: 250px 120px;
  position: static;
  text-align: center;
}

.pacman {
  display: flex;
  flex-direction: column;
}

.pacman-top {
  background-color: yellow;
  height: 100px;
  width: 200px;
  border-radius: 100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom {
  background-color: yellow;
  height: 100px;
  width: 200px;
  border-radius: 0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
  margin-top: -185px;
  margin-left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 30%;
  animation: eat 1s linear 0s infinite;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

@keyframes eat {
  0% {
    box-shadow: 100px 65px 0 0 red, 300px 65px 0 0 red, 500px 65px 0 0 red,
      700px 65px 0 0 red, 900px 65px 0 0 red, 1100px 65px 0 0 red,
      1300px 65px 0 0 red;
  }

  100% {
    box-shadow: 0px 65px 0 0 blue, 100px 65px 0 0 blue, 300px 65px 0 0 blue,
      500px 65px 0 0 blue, 700px 65px 0 0 blue, 900px 65px 0 0 blue,
      1100px 65px 0 0 blue;
  }
}
