:root {
    /* Container */
    --container-size: 50vh;

    /* Earth*/
    --earth-size: 30vh;

    /* Moon */
    --moon-size: calc(var(--earth-size) * 0.25);
    --moon-x-start: -25vh;
    --moon-x-end: 25vh;
    --moon-animation-duration: 2s;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: var(--container-size);
    height: var(--container-size);
    border: 1px solid red;
    transform-style: preserve-3d;
}

.earth {
    width: var(--earth-size);
    height: var(--earth-size);
    top: calc((var(--container-size) - var(--earth-size)) / 2);
    margin: auto;
    position: relative;
    background: blue;
    border-radius: 50%;
    transform-style: preserve-3d;

    /* animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate; */
}


.moon {
    /* The value to use for centering moon inside earth */
    --center-of-earth: calc((var(--container-size) - var(--moon-size)) / 2);

    position: absolute;
    width: var(--moon-size);
    height: var(--moon-size);
    background: gray;
    border-radius: 50%;
    top: var(--center-of-earth);
    left: var(--center-of-earth);
    z-index: 1;
    transform-style: preserve-3d;
    transform: translate3d(var(--moon-x-start), 0, 0);
    
    animation: 
        moon-rotate var(--moon-animation-duration) ease-in-out 0s infinite alternate,
        show-hide calc(var(--moon-animation-duration) * 2) linear 0s infinite;
}

@keyframes moon-rotate {
    0% {
        transform: translate3d(var(--moon-x-start), 0, 0);
    }
    100% {
        transform: translate3d(var(--moon-x-end), 0, 0);
    }
}

@keyframes show-hide {
    0% {
        z-index: 1;
        /* background: green; */
    }
    9% {
        z-index: 1;
        /* background: green; */
    }
    10% {
        z-index: -1;
        /* background: red; */
    }
    60% {
        z-index: -1;
        /* background: red; */
    }
    61% {
        z-index: 1;
        /* background: green; */
    }
    100% {
        z-index: 1;
        /* background: green; */
    }
}

@keyframes rotate {
    to {
        transform: rotate(180deg);
    }
}