div#one {
  height: 100px;
  width: 100%;
  position: relative;
  background: #fae3d9;
  animation: slidein 0.5s linear 1s infinite alternate;
}

div#two {
  height: 100px;
  width: 100px;
  position: relative;
  background: #bbded6;
  animation: slidein 0.3s linear 1s infinite;
}

div#three {
  height: 100px;
  width: 100%;
  position: relative;
  background: #aaee5e;
  animation: slidein 0.4s linear 1s infinite;
}

@keyframes slidein {
  from {
    left: 0px;
  }
  to {
    left: 1000px;
  }
}
