body {
    
    
    background-image: radial-gradient(circle, rgb(155, 235, 255), rgb(29, 79, 203));
}

h1{
    text-align: center;
    margin-top: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(20, 20, 97);
}
.atom-parent{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoomAtom 2s ease-in-out infinite;
}

.atom {
    position: relative;
    width: 300px;
    height: 300px;
    animation: rotateAtom 10s linear infinite;
}

.nucleus {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.path {
    position: absolute;
    border: 3px solid black;
    border-radius: 50%;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.path1 {
    width: 100px;
    height: 250px;
}

.path2 {
    width: 100px;
    height: 250px;
    transform: translate(-50%, -50%) rotate(60deg);
}

.path3 {
    width: 100px;
    height: 250px;
    transform: translate(-50%, -50%) rotate(-60deg);
}

@keyframes rotateAtom {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes zoomAtom {
    0%, 100% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.1);
    }
}