*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #212131;
}

.sun {
	width: 200px;
	height: 200px;
	background-color: #FFDE00;
	border-radius: 50%;
	box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation: sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow: 
			0 0 0 0px #FFDE0080,
			0 0 0 20px #FFDE0080,
			0 0 0 40px #FFDE0040,
			0 0 0 60px #FFDE0020,
			0 0 0 80px #FFDE0010,
			0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
			0 0 0 20px #FFDE0080,
			0 0 0 40px #FFDE0040,
			0 0 0 60px #FFDE0020,
			0 0 0 80px #FFDE0010,
			0 0 0 100px #FFDE0000,
			0 0 40px 100px #FFDE0010;
	}
}