*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    background: #faedcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #c1c1c1;
    z-index: 2;
}
.eye1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 40%;
    right: 50%;
    z-index: 1;
}

.eye2{
    width: 45px;
    overflow: hidden;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 42%;
    right: 51%;
    z-index: 2;
}

.eye3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 40%;
    right: 43%;
    z-index: 1;
}

.eye4{
    width: 45px;
    overflow: hidden;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 42%;
    right: 44%;
    z-index: 2; 
}

.nose{
    width: 70px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    top: 52%;
    right: 47.5%;
}

.ear1{
    width: 200px;
    height: 200px;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    top: 10rem;
    right: 50vw;
    background-color: #c1c1c1;
}
.ear2{
    width: 150px;
    height: 150px;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    top: 12rem;
    right: 51vw;
    background-color: #ff8ed9;
}

.ear3{
    width: 200px;
    height: 200px;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    top: 10rem;
    left: 50vw;
    background-color: #c1c1c1;
}
.ear4{
    width: 150px;
    height: 150px;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    top: 12rem;
    left: 51vw;
    background-color: #ff8ed9;
}

.eye2, .eye4 {
    transition: transform 0.5s ease-in-out;
    animation: moveEyes 1.5s linear infinite alternate;
  }

  @keyframes moveEyes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-20px);
    }
  }