body{
    
    height: 100vh;
    background: radial-gradient(#afa0a9,#b67a31);
    font-family: fantasy;
    text-transform: uppercase;
    text-align:center;
}

div {
  align-content: center;
  width: 100px;
  height: 100px;
  margin:  50px auto auto;
  background-color: pink;
  border-radius: 28px 28px ;
  transform: rotate(45deg);
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation:  moving 5s linear: infinite;
 
}

@keyframes example {
  0% {
    background-color: darkred;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellowgreen;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: peachpuff;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: steelblue;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: lightpink;
    left: 0px;
    top: 0px;
  }
}


