body {
  background-color: #fdf0d5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart {
  background-color: #c1121f;
  height: 100px;
  width: 100px;
  margin: 100px;
  top: 0;
  animation: beat 1s infinite alternate;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #c1121f;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.heart:after {
  left: 50px;
  top: 0;
}

.heart:before {
  top: -50px;
  left: 0;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  100% {
    transform: scale(1.5) rotate(-45deg);
  }
}
