$pathNumber: 18;
$firstColor: #0057B8;
$listColors: #F11E4A, #F8A527, #266D7F, #8822AA, $firstColor;
$delayCoeff: 0.1s;

body {
  background-color: $firstColor;
  text-align: center;
  line-height: 100vh;
}

.svg {
  display: inline-block;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #FFF;
  border-radius: 50%;
}

#svg {
  display: inline-block;
  vertical-align: middle;
  fill: $firstColor;

  @for $i from 1 through $pathNumber {
    path:nth-child(#{$i}) {
      animation: pweek $pathNumber * $delayCoeff linear infinite;
      animation-delay: $i * $delayCoeff;

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes pweek {
  0% {
    fill: $firstColor;
  }
  @for $i from 1 through length($listColors) {
    #{($i * 100) / length($listColors)}% {
      fill: nth($listColors, $i);
    }
  }
}
