body {
  background-image: url(Cloudy.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  width: 250px;
  height: 250px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  flex-shrink: inherit;
}
.flex-container {
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  0% {
    left: 50%;
    top: 20%;
  }

  25% {
    margin-left: 30%;
  }
  50% {
    margin-left: 20%;
  }
  75% {
    margin-left: 10%;
  }
  100% {
    margin-left: 0%;
  }
}
