html,
body,
.container {
  height: 100%;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.container > div {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  border-radius: 50%;
}
.planet {
  margin-top: -110px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  background: #670746;
  border: 10px solid #8a39c1;
}
div > img {
  position: absolute;
}
.rocketOrbit {
  margin-top: -210px;
  margin-left: -200px;
  height: 400px;
  width: 400px;
  animation: rocket 2s linear 0s infinite normal;
}
.rocket {
  height: 100px;
  width: 130px;
  left: 130px;
  top: -100px;
  animation: intoPlanet 4.5s linear 0s infinite normal;
}

@keyframes rocket {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes intoPlanet {
  0% {
    height: 75px;
    width: 97.5px;
    top: -60px;
  }
  25% {
    height: 50px;
    width: 65px;
    top: 30px;
  }
  50% {
    height: 25px;
    width: 32.5px;
    top: 90px;
  }
  75% {
    height: 2px;
    width: 3px;
    top: 140px;
  }
  100% {
    height: 100px;
    width: 130px;
    top: -100px;
  }
}
