body {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
#sun {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: yellow;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.line {
  width: 300px;
  height: 5px;
  background: yellow;
  position: absolute;
}
.line:nth-child(1) {
  transform: rotate(45deg);
}
.line:nth-child(2) {
  transform: rotate(90deg);
}
.line:nth-child(3) {
  transform: rotate(135deg);
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
