body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('wp2895287-cartoon-cloud-background.jpg');
  background-repeat: repeat-x;
  background-size: 170%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bg 5s infinite linear;
}
@keyframes bg {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 500px;
  }
}
.sun {
  position: absolute;
  top: 5%;
  width: 100px;
  height: 100px;
  background: yellow;
  box-shadow: 0px 0px 100px yellow;
  border: 1px black solid;
  border-radius: 50%;
  animation: sun 5s linear infinite;
}
@keyframes sun {
  0% {
    top: 2%;
    left: -10%;
  }
  40% {
    top: 2%;
    left: 50%;
  }
  50% {
    top: 2%;
    left: 50%;
  }
  100% {
    top: 5%;
    left: 110%;
  }
}
.welcome {
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  top: 20%;
  left: 35%;
  text-shadow: 30px 25px 5px grey;
  color: rgb(26, 26, 172);
  letter-spacing: 4px;
  animation: shadow 5s linear infinite;
}
@keyframes shadow {
  0% {
    text-shadow: 30px 25px 5px grey;
  }
  40% {
    text-shadow: 0px 25px 5px grey;
  }
  50% {
    text-shadow: 0px 25px 5px grey;
  }
  100% {
    text-shadow: -30px 25px 5px grey;
  }
}
