@keyframes ball-slide {
  0% {
    left: 5%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 5%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ball {
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  left: 5%;
}

.blue-ball {
  animation: ball-slide 5s ease infinite;
  background-color: blue;
}

.red-ball {
  animation: ball-slide 4s ease infinite;
  background-color: red;
}
.green-ball {
  animation: ball-slide 6s ease infinite;
  background-color: green;
}
.purple-ball {
  animation: ball-slide 3.5s ease infinite;
  background-color: purple;
}

.orange-ball {
  animation: ball-slide 4s ease infinite;
  animation-delay: 1s;
  background-color: orange;
}

.yellow-ball {
  animation: ball-slide 5.5s ease infinite;
  background-color: yellow;
}

.pink-ball {
  animation: ball-slide 7.5s ease infinite;
  background-color: pink;
}
.black-ball {
  animation: ball-slide 4.5s ease infinite;
  background-color: black;
  animation-delay: 1.5s;
}
.voilet-ball {
  animation: ball-slide 5s ease infinite;
  background-color: violet;
}

.teal-ball {
  animation: ball-slide 4s ease infinite;
  background-color: teal;
}

.brown-ball {
  animation: ball-slide 7s ease infinite;
  background-color: brown;
}

.aqua-ball {
  animation: ball-slide 4.5s ease infinite;
  background-color: aqua;
}

.ball-box {
  width: 302px;
  height: 302px;
  border: 0.5px solid silver;
  animation: rotate 5s linear infinite;
}

.ball-track {
  border-bottom: 0.5px solid silver;
  width: 100%;
  padding: 1px 0px;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}
