* {
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  margin: 0;
  padding: 0;
}

.container {
  height: 400px;
  width: 80%;
  margin-bottom: 100px;
}

.area-container {
  display: flex;
  justify-content: center;
}

.circle1 {
  height: 200px;
  width: 200px;
  background-color: rgb(196, 255, 247);
  border-radius: 50px;
  position: relative;
  transition: transform 1s;
}

.circle1:hover {
  transform: translateY(100%);
  background-color: red;
}

.circle2 {
  height: 200px;
  width: 200px;
  background-color: rgb(52, 169, 247);
  border-radius: 50px;
  transition: transform 2s;
}

.circle2:hover {
  transform: translateY(300px);
  background-color: red;
}

.circle3 {
  height: 200px;
  width: 200px;
  background-color: rgb(56, 13, 92);
  border-radius: 50px;
  transition: transform 3s;
}

.circle3:hover {
  transform: translateY(-300px);
  background-color: red;
}

.circle4 {
  height: 200px;
  width: 200px;
  background-color: rgb(31, 168, 54);
  border-radius: 50px;
  transition: transform 1s;
}

.circle4:hover {
  transform: translateY(300px);
  background-color: red;
}
