html, body {
    margin: auto 0;
    background-color: #2b2424;
}

.container {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 100px;
    height: 100px;
}

.container hr {
    border: 0;
    margin: 0;
    width: 30%;
    height: 30%;
    transform: translate(-100%, -100%);
    position: absolute;
    border-radius: 70%;
    animation: orbit 2s ease infinite;
}

.container :first-child {
    background: #16b093;
    animation-delay: -1.2s;
}
.container :nth-child(2) {
    background: #fbff00;
    animation-delay: -0.9s;
}
.container :last-child {
    background: #283cb1;
}

@keyframes orbit {
    0%, 100% {
        transform: translate(-200%, -200%);
    }
    25%{
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(0%, 0%);
    }
    75% {
        transform: translate(100%, 100%);
    }
}