* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.fish img {
  width: 200px;
  height: 100px;
  animation: fish 7s linear infinite;
}
.fish .f1 {
  position: absolute;
  top: 200px;
  left: -60px;
  width: 500px;
  height: 300px;
}
.fish .f2 {
  position: absolute;
  top: 270px;
  left: -200px;
  width: 200px;
  height: 100px;
}
.fish .f3 {
  position: absolute;
  top: 250px;
  left: -200px;
  width: 250px;
  height: 200px;
}
.fish .f4 {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 250px;
  height: 150px;
}
.fish .f5 {
  position: absolute;
  top: 500px;
  left: -400px;
  width: 350px;
  height: 200px;
}
.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}
.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 20px;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 25px;
}

@keyframes fish {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(2100px);
    opacity: 1;
  }
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  0% {
    transform: translateX(0);
    opacity: 0;
  }
}

.fish img:nth-child(1) {
  animation-delay: 1s;
}
.fish img:nth-child(2) {
  animation-delay: 2s;
}
.fish img:nth-child(3) {
  animation-delay: 4s;
}
.fish img:nth-child(4) {
  animation-delay: 3s;
}
.fish img:nth-child(5) {
  animation-delay: 2s;
}
