body {
  margin-top: auto;
  width: 100vw;
  display: flex;
  place-content: center;
  align-items: center;
  flex-direction: column;
  /* place-items: center; */
  height: 100vh;
  background-image: linear-gradient(
    to left,
    rgb(250, 250, 96),
    rgb(216, 192, 192),
    rgb(80, 170, 206),
    rgb(72, 226, 72)
  );
}

div {
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 50%;
  animation: flip 5s ease 0s infinite reverse;
}

#second {
  width: 200px;
  height: 200px;
  background-color: lightsalmon;
  border-radius: 50%;
  animation: second 5s ease 0s infinite forwards;
}

@keyframes flip {
  0% {
    background-color: rgb(243, 243, 32);
    width: 230px;
    height: 230px;
    transform: rotateY(0deg);
    transition-delay: 2s;
  }
  20% {
    background-color: rgb(153, 15, 15);
    width: 260px;
    height: 260px;
    transform: rotateY(180deg);
  }
  50% {
    background-color: rgb(18, 143, 192);
    width: 290px;
    height: 290px;
    transform: rotateY(0deg);
  }
  70% {
    background-color: rgb(105, 230, 105);
    width: 310px;
    height: 310px;
    transform: rotateY(180deg);
  }
  100% {
    background-color: rgb(163, 21, 144);
    width: 340px;
    height: 340px;
    transform: rotateY(0deg);
  }
}

@keyframes second {
  0% {
    background-color: rgb(243, 243, 32);
    width: 230px;
    height: 230px;
    transform: rotateY(180deg);
    transition-delay: 2s;
  }
  20% {
    background-color: rgb(153, 15, 15);
    width: 260px;
    height: 260px;
    transform: rotateY(0deg);
  }
  50% {
    background-color: rgb(18, 143, 192);
    width: 290px;
    height: 290px;
    transform: rotateY(180deg);
  }
  70% {
    background-color: rgb(105, 230, 105);
    width: 310px;
    height: 310px;
    transform: rotateY(0deg);
  }
  100% {
    background-color: rgb(163, 21, 144);
    width: 340px;
    height: 340px;
    transform: rotateY(180deg);
  }
}
