
body {
  background-color: black;
  color: white;
  font-size: 100px;
}

p {
  font-size: 50px;
  font-family: consolas;
  position: absolute;
  top: 40%;
  left: 34%;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

 .text_3 {
  animation: text3;
} 

.text_4 {
  animation: text4;
} 

.text_1, .text_2, .text_3, .text_4 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(20, end);
  animation-iteration-count: infinite;
}

.text_1::after, .text_2::after, .text_3::after, .text_4::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text4 {
  0%, 25%, 50%, 75%, 100% {
    width: 0;
  }
  83.33%, 91.67% {
    width: 5.2em;
  }
}

@keyframes text3 {
  0%, 25%, 50%, 75%, 100% {
    width: 0;
  }
  58.33%, 66.67% {
    width: 6.5em;
  }
}

@keyframes text2 {
  0%, 25%, 50%, 75%, 100% {
    width: 0;
  }
  33.3%, 41.67% {
    width: 8.1em;
  }
}

@keyframes text1 {
  0%, 25%, 50%, 75%, 100% {
    width: 0;
  }
  8.3%, 16.6% {
    width: 7.5em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
