body {
  display: flex;
  background-color: yellow;
}

.ball1 {
  height: 200px;
  width: 200px;
  margin: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: blue;
  animation: bounce 0.5s alternate infinite;
}

.ball2 {
  height: 200px;
  width: 200px;
  margin: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: red;
  animation: bounce2 0.6s alternate infinite;
}

.ball3 {
  height: 200px;
  width: 200px;
  margin: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: black;
  animation: bounce3 0.4s alternate infinite;
}

.ball4 {
  height: 200px;
  width: 200px;
  margin: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: green;
  animation: bounce4 0.7s alternate infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 350px, 0);
  }
}

@keyframes bounce2 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 350px, 0);
  }
  0% {
    background-color: red;
  }
  50% {
    background-color: pink;
  }
  100% {
    background-color: white;
  }
}

@keyframes bounce3 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 350px, 0);
  }
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce4 {
  from {
    transform: scale(1.5);
  }
  to {
    transform: translate3d(0, 350px, 0);
  }
  0% {
    opacity: 1;
    background-color: green;
  }
  50% {
    opacity: 0.5;
    background-color: red;
  }
  100% {
    opacity: 0.5;
  }
}
