body {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #af5ffa;
}

.container {
	margin: 0 auto;
	width: 800px;
	position: relative;
}

.ball {
	position: absolute;
	top: 300px;
	left: 100px;
	background-color: #fac966;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.ball2 {
	position: absolute;
	top: 300px;
	right: 100px;
	background-color: #fac966;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}