:root {
  --skyColor: #7bbcd6;
  --sunColor: yellow;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--skyColor);
  overflow: hidden;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: var(--sunColor);
  border-radius: 50%;
}

.sunbeam-top {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  width: 50px;
  height: 10px;
  background-color: var(--sunColor);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: sunburstTop 1.5s infinite;
}

.sunbeam-right {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 50px;
  height: 10px;
  background-color: var(--sunColor);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: sunburstRight 1.5s infinite;
}

.sunbeam-bottom {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 50px;
  height: 10px;
  background-color: var(--sunColor);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: sunburstBottom 1.5s infinite;
}

.sunbeam-left {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 50px;
  height: 10px;
  background-color: var(--sunColor);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: sunburstLeft 1.5s infinite;
}

@keyframes sunburstTop {
  100% {
    transform: translate(-50%, -8000%) rotate(270deg);
  }
}

@keyframes sunburstRight {
  100% {
    transform: translate(2000%, -50%) rotate(0deg);
  }
}

@keyframes sunburstLeft {
  100% {
    transform: translate(-2000%, -50%) rotate(180deg);
  }
}

@keyframes sunburstBottom {
  100% {
    transform: translate(-50%, 8000%) rotate(90deg);
  }
}
