div {
  width: 50em;
  height: 20em;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 6s;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: 25em;
    top: 0px;
  }
  100% {
    background-color: blue;
    left: 50em;
    top: 0px;
  }
}

.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration-style: dashed;
  text-align: center;
  top: auto;
  font-size: 5em;
  background: rgb(240, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(240, 0, 0, 1) 0%,
    rgba(249, 246, 18, 1) 26%,
    rgba(0, 106, 223, 1) 100%
  );
  padding: 100px;
}
