body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background-image: linear-gradient(to right, rgb(255, 70, 70), rgb(60, 60, 255));
}

div {
    color: #fff;
    border: 3px solid #fff;
    border-radius: 25px;
    animation: example 6s linear infinite;
}

  @media only screen and (min-width: 320px) and (max-width: 479px) {
    div {
        font-size: 1rem;
        animation-duration: 3s;
    }

    @keyframes example {
        0%   {
            background-image: linear-gradient(to right, rgb(128, 0, 255), rgb(255, 0, 128));
            margin: 1rem;
            padding: 1rem;
        }
        25%  {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(128, 0, 255));
            margin: 1.5rem;
            padding: 1.5rem;
        }
        50%  {
            background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 128)); 
            margin: 2rem;
            padding: 2rem;
        }
        75%  {
            background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(128, 0, 255));
            margin: 1.5rem;
            padding: 1.5rem;
        }
        100% {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(0, 128, 255));
            margin: 1rem;
            padding: 1rem;
        }
      }
  }

  @media only screen and (min-width: 480px) and (max-width: 768px) {
    div {
        font-size: 1.1rem;
        animation-duration: 3s;
    }

    @keyframes example {
        0%   {
            background-image: linear-gradient(to right, rgb(128, 0, 255), rgb(255, 0, 128));
            margin: 1.5rem;
            padding: 1.5rem;
        }
        25%  {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(128, 0, 255));
            margin: 2rem;
            padding: 2rem;
        }
        50%  {
            background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 128)); 
            margin: 2.5rem;
            padding: 2.5rem;
        }
        75%  {
            background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(128, 0, 255));
            margin: 2rem;
            padding: 2rem;
        }
        100% {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(0, 128, 255));
            margin: 1.5rem;
            padding: 1.5rem;
        }
      }
  }

  @media only screen and (min-width: 769px) and (max-width: 991px) {
    div {
        font-size: 1.2rem;
        animation-duration: 3s;
    }

    @keyframes example {
        0%   {
            background-image: linear-gradient(to right, rgb(128, 0, 255), rgb(255, 0, 128));
            margin: 2rem;
            padding: 2rem;
        }
        25%  {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(128, 0, 255));
            margin: 2.5rem;
            padding: 2.5rem;
        }
        50%  {
            background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 128)); 
            margin: 3rem;
            padding: 3rem;
        }
        75%  {
            background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(128, 0, 255));
            margin: 2.5rem;
            padding: 2.5rem;
        }
        100% {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(0, 128, 255));
            margin: 2rem;
            padding: 2rem;
        }
      }
  }

@media only screen and (min-width: 992px) {
    div {
        font-size: 1.4rem;
    }
    
     @keyframes example {
        0%   {
            background-image: linear-gradient(to right, rgb(128, 0, 255), rgb(255, 0, 128));
            margin: 2rem;
            padding: 2rem;
        }
        25%  {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(128, 0, 255));
            margin: 3rem;
            padding: 3rem;
        }
        50%  {
            background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 128)); 
            margin: 4rem;
            padding: 4rem;
        }
        75%  {
            background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(128, 0, 255));
            margin: 3rem;
            padding: 3rem;
        }
        100% {
            background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(0, 128, 255));
            margin: 2rem;
            padding: 2rem;
        }
      }
}
  
