body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #e04f10;
}

.clock {
  width: 200px;
  height: 200px;
  border: 2px solid #000000;
  border-radius: 50%;
  position: relative;
  background-color: rgb(110, 13, 213);
}

.center {
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  /* Centered pivot point at the top */
}

.hour-hand {
  width: 4px;
  height: 40px;
  background-color: #000000;
  transform: translate(-50%, -100%) rotate(90deg);
  animation: rotateHour 360s linear infinite;
}

.minute-hand {
  width: 2px;
  height: 60px;
  background-color: #000000;
  transform: translate(-50%, -100%) rotate(90deg);
  animation: rotateMinute 60s linear infinite;
}

.second-hand {
  width: 1px;
  height: 70px;
  background-color: rgb(0, 0, 0);
  transform: translate(-50%, -100%) rotate(90deg);
  animation: rotateSecond 10s linear infinite;
}

@keyframes rotateHour {
  from {
    transform: translate(-50%, -100%) rotate(90deg);
  }

  to {
    transform: translate(-50%, -100%) rotate(450deg);
  }
}

@keyframes rotateMinute {
  from {
    transform: translate(-50%, -100%) rotate(90deg);
  }

  to {
    transform: translate(-50%, -100%) rotate(450deg);
  }
}

@keyframes rotateSecond {
  from {
    transform: translate(-50%, -100%) rotate(90deg);
  }

  to {
    transform: translate(-50%, -100%) rotate(450deg);
  }
}
