body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    ellipse at left top,
    white 10%,
    #afcced 40%,
    #91b8e6 70%,
    white
  );
}
.rainbow {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.stripe {
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.big {
  bottom: -375px;
  width: 750px;
  height: 750px;
  box-shadow: 0 0 50px white;
  @media (max-width: 800px) {
    bottom: -175px;
    width: 350px;
    height: 350px;
  }
}
.red {
  bottom: -375px;
  width: 750px;
  height: 750px;
  box-shadow: inset 0 0 100px red;
  animation: rainbow linear 4s infinite;
  @media (max-width: 800px) {
    bottom: -175px;
    width: 350px;
    height: 350px;
    box-shadow: inset 0 0 50px red;
  }
}
.orange {
  bottom: -350px;
  width: 700px;
  height: 700px;
  box-shadow: inset 0 0 100px orange;
  animation: rainbow linear 3s infinite;
  @media (max-width: 800px) {
    bottom: -162.5px;
    width: 325px;
    height: 325px;
    box-shadow: inset 0 0 50px orange;
  }
}
.yellow {
  bottom: -325px;
  width: 650px;
  height: 650px;
  box-shadow: inset 0 0 100px yellow;
  animation: rainbow linear 2s infinite;
  @media (max-width: 800px) {
    bottom: -150px;
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 50px yellow;
  }
}
.green {
  bottom: -300px;
  width: 600px;
  height: 600px;
  box-shadow: inset 0 0 100px green;
  animation: rainbow linear 2s infinite;
  @media (max-width: 800px) {
    bottom: -137.5px;
    width: 275px;
    height: 275px;
    box-shadow: inset 0 0 50px green;
  }
}
.blue {
  bottom: -275px;
  width: 550px;
  height: 550px;
  box-shadow: inset 0 0 100px blue;
  animation: rainbow linear 3s infinite;
  @media (max-width: 800px) {
    bottom: -125px;
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 50px blue;
  }
}
.purple {
  bottom: -250px;
  width: 500px;
  height: 500px;
  box-shadow: inset 0 0 100px purple;
  animation: rainbow linear 4s infinite;
  @media (max-width: 800px) {
    bottom: -112.5px;
    width: 225px;
    height: 225px;
    box-shadow: inset 0 0 50px purple;
  }
}
.pink {
  bottom: -225px;
  width: 450px;
  height: 450px;
  box-shadow: 0 0 100px violet;
  animation: rainbow linear 5s infinite;
  @media (max-width: 800px) {
    bottom: -100px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 50px violet;
  }
}
.white {
  bottom: -200px;
  width: 400px;
  height: 400px;
  box-shadow: inset 0 0 50px white;
  @media (max-width: 800px) {
    bottom: -87.5px;
    width: 175px;
    height: 175px;
  }
}
@keyframes rainbow {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
