*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  --default-color: #636e72;
  --size: 45px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--default-color);
}

.content {
  height: var(--size);
  overflow: hidden;
}

.solo {
  display: inline;
}

.container > .solo {
  animation: hider 15s ease infinite;
}

.text {
  animation: animate 15s ease infinite;
}

.text > div {
  display: inline-block;
  padding: 4px 12px;
  height: var(--size);
  margin-bottom: var(--size);
  line-height: 1.1;
  color: #fff;
}

.t-1 div {
  background-color: #e74c3c;
}

.t-2 div {
  background-color: #34495e;
}

.t-3 div {
  background-color: #f1c40f;
}

.t-4 div {
  background-color: #dc3214;
}

.t-5 div {
  background-color: #27ae60;
}

.t-6 div {
  color: #2c2c54;
  font-family: 'Merienda', cursive;
  font-size: 40px;
}

@keyframes animate {
  0% {
    transform: translateY(calc(var(--size) * 4)) scale(0);
  }

  4% {
    transform: translateY(calc(var(--size) * -11)) scale(0);
  }

  5.5% {
    transform: translateY(calc(var(--size) * -11)) scale(1);
  }

  8%,
  19% {
    transform: translateY(calc(var(--size) * -10));
  }

  21.5%,
  32.5% {
    transform: translateY(calc(var(--size) * -8));
  }

  35%,
  46% {
    transform: translateY(calc(var(--size) * -6));
  }

  48.5%,
  59.5% {
    transform: translateY(calc(var(--size) * -4));
  }

  62%,
  73% {
    transform: translateY(calc(var(--size) * -2));
  }

  75.5%,
  88% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes hider {
  4%,
  73%,
  100% {
    opacity: 1;
    margin-left: 0;
  }

  75.5%,
  99% {
    margin-left: -40px;
    opacity: 0;
  }
}
