body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.chakra {
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.light {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  animation: blink 2s infinite;
  opacity: 0;
}

.light1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0.2s;
}
.light2 {
  top: 17%;
  left: 83%;
  animation-delay: 0.4s;
}
.light3 {
  top: 50%;
  left: 100%;
  animation-delay: 0.6s;
}
.light4 {
  top: 83%;
  left: 83%;
  animation-delay: 0.8s;
}
.light5 {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 1s;
}
.light6 {
  top: 83%;
  left: 17%;
  animation-delay: 1.2s;
}
.light7 {
  top: 50%;
  left: 0;
  animation-delay: 1.4s;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
