body {
  background-color: rgba(88, 4, 16, 0.858);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ring-logo {
  display: flex;
}
.ring {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 15px dashed;
  border-radius: 50%;
  position: relative;
  animation: fallAndRotate 4s alternate-reverse infinite;
  margin: 0 -20px;
  transform-origin: center bottom;
}

.blue {
  border-color: blue;
  animation-delay: 0s;
  transform: translateX(-100px) translateY(-100px);
}

.yellow {
  border-color: yellow;
  animation-delay: 0s;
  transform: translateX(100px) translateY(-100px);
}

.black {
  border-color: black;
  animation-delay: 0s;
  transform: translateY(-100px);
}

.green {
  border-color: green;
  animation-delay: 0s;
  transform: translateY(100px);
}

.red {
  border-color: red;
  animation-delay: 0s;
}

@keyframes fallAndRotate {
  0% {
    transform: translateY(0) rotate(10deg);
  }
  100% {
    transform: translateY(250px) rotate(360deg);
  }
}
