body {
  background: #000;
}

.first {
  background: #f00 !important;
}
.second {
  background: #ff0 !important;
}
.third {
  background: #0f0 !important;
}

.lds-jongono {
  display: block;
  position: relative;
  width: 196px;
  margin: 200px auto;
}

.lds-jongono div {
  display: block;
  position: absolute;
  left: 8px;
  width: 64px;
  background: #fff;
  animation: lds-jongono 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-jongono div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-jongono div:nth-child(2) {
  left: 72px;
  animation-delay: -0.12s;
}

.lds-jongono div:nth-child(3) {
  left: 136px;
  animation-delay: 0;
}

@keyframes lds-jongono {
  0% {
    top: 8px;
    height: 164px;
  }
  50%, 100% {
    top: 24px;
    height: 132px;
  }
}

