@keyframes saltar {
  0% {
    background-color: #da2c43;
    left: 0px;
    top: 200px;
  }
  50% {
    background-color: blue;
    left: 0;
    top: 0px;
  }
  100% {
    background-color: blue;
    left: 0;
    top: 200px;
  }
}

#jump {
  width: 100px;
  height: 100px;
  background-color: #da2c43;
  position: relative;
  animation-name: saltar;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
