@keyframes slideleft {
  0% {
    left: 100%;
    opacity: 0;
  }

  30% {
    opacity: 0.5;
  }

  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }

  100% {
    left: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: rgb(255, 181, 42);
  background: linear-gradient(
    6deg,
    rgba(255, 181, 42, 0.5492699032738095) 0%,
    rgba(255, 231, 0, 0.6585136007528012) 36%,
    rgba(255, 191, 10, 0.7565528164390756) 100%
  );
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.bar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 9, 1) 35%,
    rgba(66, 66, 66, 1) 100%
  );
  width: 100%;
  height: 40%;
  margin-top: -10%;
  border-color: black;
  border-top: 6px;
  border-bottom: 6px;
  border-style: solid;
  display: flex;
}

.hit-box {
  width: 30%;
  height: 100%;
  background: rgb(255, 77, 42);
  background: linear-gradient(
    6deg,
    rgba(255, 77, 42, 0.5492699032738095) 0%,
    rgba(255, 47, 0, 0.6136956735819328) 36%,
    rgba(207, 12, 12, 0.7565528164390756) 100%
  );
  border-right: 6px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hit-circle {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  align-self: flex-end;
  margin-right: 40px;
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.3);
}

.circle {
  opacity: 0;
  animation: slideleft 2s linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-color: white;
  align-self: center;
  border: 10px solid white;
  background-color: aqua;
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
}

.circle.alt {
  background-color: red;
  animation-delay: 0.75s;
}
