body {
  padding: 0;
  margin: 0;
}
#sky {
  position: absolute;
  top: 0;
  background-color: hsl(197, 71%, 73%);
  height: 50vh;
  width: 100%;
  z-index: -1;
}
#sun {
  animation: 2s slidein;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  font-size: 100px;
}
@keyframes slidein {
  from {
    padding-top: 50vh;
  }
  to {
    padding-top: 0;
  }
}
#sea {
  position: absolute;
  top: 50vh;
  height: 50vh;
  width: 100%;
  background-color: hsl(210, 97%, 37%);
  color: hsl(210, 97%, 57%);
  z-index: 1;
}
