:root {
    --box-color: #f98787;
    --cover-color: #e76a6a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(36,0,7);
    background: linear-gradient(207deg, rgba(36,0,7,0.7818181818181819) 0%, rgba(235,186,90,0.9745454545454545) 0%, rgba(255,106,0,0.8836363636363637) 100%); */

    background: rgb(251,63,133);
    background: radial-gradient(circle, rgba(251,63,133,0.9) 0%, rgba(252,173,70,0.8818181818181818) 100%);
}

.box {
    display: flex;
}

.box {
    background-color: var(--box-color);
    height: 150px;
    width: 150px;
    position: relative;
    transition: all;
    z-index: 99;
    border-bottom-right-radius: 5px;
}

.box::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--box-color);
    top: 45%;
    left: -53%;
    border-bottom-right-radius: 5px;
}

.box::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 55px solid transparent;
    border-top: 0;
    border-bottom: 70px solid var(--box-color);
    translate: -70px 25px;
    transform: rotate(140deg);
}

.box .text {
    position: absolute;
    top: 120px;
    left: -90px;
    z-index: 1000;
    font-size: 30px;
    transform: rotate(-40deg);
    font-family: 'Lobster', cursive;
    color: transparent;
    background: linear-gradient(#ff6729, #333);
    background: -webkit-linear-gradient(#ff6729, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .bar{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 55px solid transparent;
    border-top: 0;
    border-bottom: 55px solid var(--box-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 4px;
    translate: 34px 137px;
    transform: rotate(-40deg);
}

.box .cover1 {
    position: absolute;
    width: 145px;
    height: 50px;
    background-color: var(--cover-color);
    top: -50px;
    right: -1px;
    z-index: 0;
}

.box .cover1::before {
    content: '';
    position: absolute;
    width: 107px;
    height: 50px;
    background: var(--cover-color);
    transform: rotate(-40deg) translate(-110px, -40px);  
}

.box .cover2 {
    position: absolute;
    width: 143px;
    height: 50px;
    background-color: var(--cover-color);
    top: 20px;
    left: -80px;
    z-index: 1;
}

.box .cover2::before {
    content: '';
    position: absolute;
    width: 107px;
    height: 50px;
    background: var(--cover-color);
    transform: rotate(-40deg) translate(105px, 50px); 
}

.box .cover2::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--box-color);
    bottom: -60px;
    left: 70px;
}

.shapes {
    background: var(--box-color);
    position: relative;
    bottom: -100px;
    z-index: 0;
}

.shape {
    width: 20px;
    height: 20px;
    /* background: #000; */
    position: absolute;
    z-index: 1;
    transition: all;
    animation: roll ease-in-out infinite;
    /* top: -200px; */
}

.polygon {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: 	#ffffe8;
    animation-duration: 1s;
}

.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #feffba;
    animation-duration: 1.2s;
}

.trapezoid {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: #feffa7;
    animation-duration: 1.3s;
}

.paralleogram { 
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: #feff86;
    animation-duration: 1.4s;
}

.rhombus {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #feff51;
    animation-duration: 1.5s;
}

.pentagon {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: #aee4ff;
    animation-duration: 1.6;
}

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: 	#abb5ff;
    animation-duration: 1.7s;
}

.heptagon {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: #abd3ff;
    animation-duration: 1.8s;
}

.octagon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: #6400ba;
    animation-duration: 1.9s;
}

.nonagon {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    background-color: #44008b;
    animation-duration: 2s;
}

.decagon {
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    background-color: #25003e;
    animation-duration: 2.1s;
}

.bevel {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    background-color: #452323;
    animation-duration: 2.2s;
}

.rabbet {
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    background-color: #3c1313;
    animation-duration: 2.3s;
}

.left-arrow {
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    background-color: #24c300;
    animation-duration: 2.4s;
}

.right-arrow {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background-color: #0d9a00;
    animation-duration: 2.5s;
}

.left-point {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: #006707;
    animation-duration: 2.6s;
}

.right-point {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: #ed1f1f;
    animation-duration: 2.7s;
}

.left-chev {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: 	#f66262;
    animation-duration: 2.8s;
}

.right-chev {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: #33ff7f;
    animation-duration: 2.9s;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #96ffbd;
    animation-duration: 3s;
}

.cross {
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    background-color: 	#a027ff;
    animation-duration: 3.1s;
}

.message {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: 	#b75bff;
    animation-duration: 3.2s;
}

.close {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: 	#e3c0ff;
    animation-duration: 3.3s;
}

.frame {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    background-color: 	#ff6729;
    animation-duration: 3.4s;
}

.inset {
    clip-path: inset(5% 20% 15% 10%);
    background-color: 	#ffaf8f;
    animation-duration: 3.5s;
}

.custom-polygon {
    clip-path: polygon(86% 10%, 35% 22%, 35% 22%, 70% 45%, 39% 54%, 72% 66%, 21% 37%);
    background-color: 	#30ffaa;
    animation-duration: 3.6s;
}

.circle {
    clip-path: circle(50% at 50% 50%);
    background-color: 	#96ffd4;
    animation-duration: 3.7s;
}

.ellipse {
    clip-path: ellipse(25% 40% at 50% 50%);
    background-color: 	#ff358d;
    animation-duration: 3.8s;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
        top: -50px;
        left: -20px;
    }
    10% {
        transform: rotate(30deg);
        top: -100px;
        left: -50px;
    }
    20% {
        transform: rotate(60deg);
        top: -150px;
        left: -80px;
    }
    30% {
        transform: rotate(90deg);
        top: -200px;
        left: 110px;
    }
    40% {
        transform: rotate(120deg);
        top: -250px;
        left: -130px;
    }
    50% {
        transform: rotate(150deg);
        top: -300px;
        left: 150px;
    }
    60% {
        transform: rotate(150deg);
        top: 50px;
        right: -150px;
    }
    70% {
        transform: rotate(150deg);
        top: 100px;
        right: -130px;
    }
    80% {
        transform: rotate(150deg);
        top: 150px;
        right: -110px;
    }
    90% {
        transform: rotate(150deg);
        top: 200px;
        right: 130px;
    }
    100% {
        transform: rotate(150deg);
        top: 300px;
        right: -150px;
    }
}
