* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .ring {
    position: relative;
    width: 200px;
    height: 200px;
    margin: -30px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #24ecdf ;
    animation: animate 3s linear infinite;
    
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}     


.container .ring::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #00fff9;
    z-index: 1;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9;

}

.container .ring:nth-child(2) {
    animation: animate2 3s linear infinite;
    animation-delay: -1s;
    border-top: 5px solid transparent;
    border-left: 5px solid #ffce2d;
}

.container .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 15px;
    left: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #ffce2d;
    box-shadow: 0 0 10px #ffce2d,
                0 0 20px #ffce2d,
                0 0 30px #ffce2d,
                0 0 40px #ffce2d,
                0 0 50px #ffce2d,
                0 0 60px #ffce2d,
                0 0 70px #ffce2d,
                0 0 80px #ffce2d,
                0 0 90px #ffce2d,
                0 0 100px #ffce2d
}
    

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}    

.container .ring:nth-child(3) {
    animation: animate2 3s linear infinite;
    animation-delay: -2s;
    position: absolute;
    top: -110px;
    border-top: 5px solid transparent;
    border-left: 5px solid #fa1823;
}

.container .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 20px;
    left: 15px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #fa1823;
    box-shadow: 0 0 10px #fa1823,
                0 0 20px #fa1823,
                0 0 30px #fa1823,
                0 0 40px #fa1823,
                0 0 50px #fa1823,
                0 0 60px #fa1823,
                0 0 70px #fa1823,
                0 0 80px #fa1823,
                0 0 90px #fa1823,
                0 0 100px #fa1823
} 

h5 {
    position: relative;
    color: rgb(37,40,57);
    font-size: 2.5em;
    font-family: consolas;
    bottom: -100px;
    letter-spacing: 0.15em;
    -webkit-text-stroke: 0.1vw rgb(59,62,75);
}

h5::before {
    content: attr(load-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 0vw rgb(59,62,75);
    border-right: 2px solid #fff;
    overflow: hidden;
    animation: animate3 6s linear infinite;
}

@keyframes animate3 {
    0%,10%,100%
    { 
        width: 0;
    }
    70%,90%
    { 
        width: 100%;
    }
}
