BODY {
  perspective: 300px;
  perspective-origin: center center;
  margin: 15em;
  overflow: hidden;
  font-size: 14px;
  background: #565656;
  background-image: linear-gradient(to right, hsla(0,0%,100%,.025) 50%, transparent  50%);
  background-size: 2rem 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.side,
.container {
  width: 10em;
  height: 10em;
  }

.container {
  transform-style: preserve-3d;
  animation: rotate 10s infinite;
  }

.side {
  position: absolute;
  width: 10em;
  height: 10em;
  transform-style: preserve-3d;
  }
  .side:before,
  .side:after {
    content: "DOKL57";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: translateZ(4em) rotateZ(45deg);
    background: linear-gradient(55deg, #ffffff, #e7331c);
    background-size: 400% 400%;
    }
    .side:before{
      opacity: 50%;
      color:white;
      background: linear-gradient(55deg, #000000, #000000);;

    }
  .side:after {
    width: 10em;
    height: 10em;
    box-shadow: 0 0 20px 10px white inset;
    border: 4px solid rgba(255,255,255,.5);
    box-sizing: border-box;box;
    transform: translateZ(2em) rotateZ(45deg);
    opacity: 100%;

  }

.back {
  transform: translateZ(-5em) rotateY(180deg);
  }

.left {
  transform: translateX(-5em) rotateY(-90deg);
  }

.right {
  transform: translateX(5em) rotateY(90deg);
  }

.top {
  transform: translateY(-5em) rotateX(90deg);
  }

.bottom {
  transform: translateY(5em) rotateX(-90deg);
  }

.front {
  transform: translateZ(5em);
  }

@keyframes rotate {
  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg);
  }
}


.side {
    background: linear-gradient(55deg, #f3361e, #000000);
    background-size: 400% 400%;
    -webkit-animation: 57s ease infinite;
    -moz-animation: 57s ease infinite;
    animation: 57s ease infinite;

}
