body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 4, 4);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}


h1 {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

