body {
	margin-top: 200px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bobble {
	animation: bubble-anim 2s ease-out infinite;
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.color1 {
	background: radial-gradient(#2caaaf, #000);
}

.color2 {
	background: radial-gradient(#5cafff, #000);
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  100% {
    transform: scale(1);
  }
}