body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #aad751;
  overflow: hidden;
}

.pitch {
  width: 90%;
  height: 60%;
  background-color: #6ab04c;
  border: 5px solid white;
  position: relative;
}

.goal {
  width: 10px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.goal.left {
  left: 0;
}

.goal.right {
  right: 0;
}


.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ballMove 6s infinite ease-in-out;
}

.player {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
}

.player1 {
  top: 40%;
  left: 30%;
}

.player2 {
  top: 60%;
  left: 70%;
}

.player3 {
  top: 40%;
  left: 90%;
}

.player4 {
  top: 40%;
  left: 50%;
}

@keyframes ballMove {
  0%, 100% {
    top: 50%;
    left: 50%;
  }
  25% {
    top: 40%;
    left: 30%;
  }
  50% {
    top: 60%;
    left: 70%;
  }
  75% {
    top: 50%;
    left: 90%;
  }
}