* {
  margin:0;
  padding: 0;
}

html, body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background: #0d161f;
	overflow: hidden;
}

.loader-container {
  width: 300px;
  height: 300px;
  transform: translate (-50%, -50%);
}

.loader-circles {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border: 8px solid #162534;
  border-top: 8px solid #22B7B5;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

.text{
  margin-top: 20px;
  text-align: center;
  color: aqua;
  font-family:'Bungee', cursive;
  animation: blink 3s linear infinite;
}

@keyframes blink{
  0%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}
}