.page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    color: white;
    background-color: cadetblue;
    animation: grow-and-shrink 4s ease-in-out infinite;
}

@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}