
html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
  }

@keyframes pulse {
    0%, 100% {
      background-color: yellow;
    }
    50% {
      background-color: red;
    }
  }

  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 0);
    }
    
    80% {
      transform: translate(-150px, 0);
    }
  }

  .element {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: blue;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
  }

  h1 {
      text-align: center;
       margin: auto;
      position: relative;
  }