* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container ring */
.container .ring {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: -30px;
  border-top: 4px solid blue;

  animation: animate 3s linear infinite;
}

/* Amination 1 */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .ring:nth-child(3) {
  position: absolute;
  top: -88.88px;
  /* border: #fff; */
}

.container .ring:nth-child(2) {
  animation: animate2 3s linear infinite;
  border-top: 4px solid rgb(88, 255, 241);
}

/* Amination 2 */

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container .ring:nth-child(3) {
  animation: animate2 4s linear infinite;
  /* animation-delay: 3s; */
  position: absolute;
  top: -88.88px;
  border: 1px #fff;
  border-left: 4px solid rgb(255, 8, 0);
}
.container .ring:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 88, 88);
  top: 12px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 13px rgba(255, 7, 7, 0.975),
    2px 4px 10px 10px rgba(255, 41, 41, 0.276);
}

.container .ring:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(88, 255, 241);
  top: 11px;
  left: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 13px rgb(88, 255, 241),
    2px 4px 10px 10px rgba(0, 255, 234, 0.477);
}

.container .ring::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 57, 245);
  top: 11px;
  left: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 13px rgb(0 0 255 / 98%),
    2px 4px 10px 10px rgb(121 121 255 / 40%);
}
