body {
    display: flex;
    justify-content: center;
}

.ball-box {
    display: flex;
}

.ball {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

#one {
    background-color: red;
}

#two {
    background-color: blue;
    animation-delay: 0.3s;
}

#three {
    background-color: green;
    animation-delay: 0.6s;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 200px, 0);
    }
}