body {
    background: linear-gradient(yellow, orange);
}


.pol { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    height: 300px;
    width: 300px;
}

.pol:hover {
    background-color: red;
    width: 900px;
}