body {
  background-color: rgb(156, 156, 156);
  animation-name: colours;
  transition: all 0.5s ease ease-in-out;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes colours {
  0% {
    background-color: rgb(203, 219, 53);
  }
  25% {
    background-color: rgb(223, 238, 85);
  }
  50% {
    background-color: orange;
  }
  75% {
    background-color: rgb(106, 231, 23);
  }
  100% {
    background-color: rgb(226, 226, 83);
  }
}

.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-color: rgb(0, 81, 255);
  animation-name: circle;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 6;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes circle {
  0% {
    transform: scale(0.1);
    background-color: red;
    opacity: 0.5;
    border-radius: 100%;
  }
  25% {
    background-color: rgba(3, 29, 65, 0.822);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    background-color: rgb(116, 32, 7);
  }
  75% {
    background-color: blueviolet;
  }
  100% {
    transform: scale(1.5, 1.5) rotate(720deg);
  }
}
