body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgb(187, 255, 232); 
}
.container{
    display: flex;
    height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}
.circle, .circle2{
    display: flex;
    background-color: royalblue;
    border-radius: 50%;
    margin: 0 10rem;
}
.circle{
    width: 10rem;
    height: 10rem;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {background-color:rgb(211, 88, 88)}
    25%  {background-color:rgb(227, 227, 131)}
    50%  {background-color:rgb(44, 111, 255)}
    75%  {background-color:rgb(105, 193, 105)}
    100% {background-color:rgb(211, 88, 88)}
  }
.circle2{
    width: 5rem;
    height: 5rem;
    transform: matrix3d(0,-1,0.71,0.001,1.00,0,0.71,-0.001,-0.71,-0.71,0.5041,0,30,50,30,1);
    -webkit-transform: matrix3d(0,-1,0.71,0.001,1.00,0,0.71,-0.001,-0.71,-0.71,0.5041,0,30,50,30,1);
    transform-origin: center center 0px; 
    transition: all 2s ease-in-out 1s;
    -webkit-transform-origin: center center 0px; 
    -webkit-transition: all 2s ease-in-out 1s;
}
