body {
    background-color:black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.ball {
    width: 50px;
    height: 50px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    animation: bounce 3s infinite;
}

.ball1 {
    animation-delay: 0s; 
}

.ball2 {
    animation-delay: 1s; 
}

@keyframes bounce {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(200%, 0);
    }
    75% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}
