.one {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  padding: 20px 20px;
  margin-top: 280px;
  animation: slideOutRight infinite;
  animation-duration: 1s;
}

.two {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 240px;
  margin-top: -90px;
  padding: 20px 20px;
  animation: slideOutDown infinite;
  animation-duration: 1s;
}

.three {
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-radius: 50%;
  margin-top: 30px;
  padding: 20px 20px;
  animation: slideOutUp infinite;
  animation-duration: 1s;
}

.four {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
  padding: 20px 20px;
  margin-left: 240px;
  margin-top: -91px;
  animation: slideOutLeft infinite;
  animation-duration: 1s;
}
