body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter-container {
  border-right: 4px solid #a9a9a9;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation:
    typing 3s steps(30, end) forwards,
    blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 72ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
