h1 {
  font-family: monospace;
  text-align: center;
  font-size: 50px;
  font-size: 4rem;
  height: 25vh;
  line-height: 25vh;
  color: white;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939;
  background-color: #1b245a;
}
