body {
	width: 100%;
	background-color: rgb(255, 92, 0);
}

.ShibaInu {
	display: grid;
	grid-template-columns: 12px 12px 12px;
	grid-template-rows: 12px 12px 12px;
}

#eyesOpen {
	animation: fade 2s infinite;
}

#tongueOut {
	position: relative;
	padding-left: 26px;
}

#tail {
	padding-left: 181px;
	padding-top: 190px;
	animation: wag 1s infinite;
}

@keyframes fade {
   0%, 100% {
      opacity: 1;
   }
   25%, 75% {
      opacity: 0;
   }
}

@keyframes wag {
  from { 
  	transform: translateY(px) translateX(px) rotate(10deg);
  }
  to { 
    transform: translateY(4px) translateX(-15px) rotate(-5deg);
  }
}