* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0000ff;
}

#mini-text-animation {
  -webkit-animation: mini-text-animation 1.5s
    cubic-bezier(0.215, 0.61, 0.355, 1) 4s infinite both;
  animation: mini-text-animation 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) 4s
    infinite both;
  color: #fff;
  font-size: 4rem;
}

@-webkit-keyframes mini-text-animation {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes mini-text-animation {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
