body {
    background-color: black;
}

body div {
    position: fixed;
    left: 43%;
    top: 43%;
}

body div button {
    background-image: linear-gradient(to right, rgb(139, 0, 2), rgba(253, 0, 3, 1));
    background-size: 800px 800px;
    padding: 10px 50px;
    font-size: 4rem;
    font-family: 'Creepster', cursive;
    color: white;
    animation-name: position;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 0.001px red;
    cursor: pointer;
    border-radius: 3px;
}

@keyframes position {
    0% {
        background-position: 0% 50%;
        box-shadow: 0px 3px 10px 1px grey;
    }

    50% {
        background-position: 100%;
        transform: scale(1.1);
        box-shadow: 0px 3px 30px 1px grey;

    }

    100% {
        background-position: 0% 50%;
        box-shadow: 0px 3px 10px 1px grey;
    }
}