body {
  margin: 0;
  background: #000000;
  background: radial-gradient(
    circle,
    rgba(205, 68, 138, 1),
    rgba(38, 59, 88, 1) 48.74%,
    rgba(0, 0, 0, 1)
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clock {
  width: 80vh;
  height: 80vh;
  display: flex;
  border-radius: 40vh;
  background-color: rgba(0, 0, 0, 0.1);
}
#clock .nr {
  width: 80vh;
  height: 80vh;
  border-radius: 40vh;
  margin: 0;
  padding: 0;
  position: absolute;
}
#clock .nr li {
  font-size: 4vh;
  display: block;
  width: 8vh;
  height: 8vh;
  margin: -4vh 0 0 -4vh;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 4vh;
}
#clock .nr li:nth-child(1) {
  transform: translate(15vh, -25.5vh);
}
#clock .nr li:nth-child(2) {
  transform: translate(25.5vh, -15vh);
}
#clock .nr li:nth-child(3) {
  transform: translate(30vh, 0);
}
#clock .nr li:nth-child(4) {
  transform: translate(25.5vh, 15vh);
}
#clock .nr li:nth-child(5) {
  transform: translate(15vh, 25.5vh);
}
#clock .nr li:nth-child(6) {
  transform: translate(0, 30vh);
}
#clock .nr li:nth-child(7) {
  transform: translate(-15vh, 25.5vh);
}
#clock .nr li:nth-child(8) {
  transform: translate(-25.5vh, 15vh);
}
#clock .nr li:nth-child(9) {
  transform: translate(-30vh, 0);
}
#clock .nr li:nth-child(10) {
  transform: translate(-25.5vh, -15vh);
}
#clock .nr li:nth-child(11) {
  transform: translate(-15vh, -25.5vh);
}
#clock .nr li:nth-child(12) {
  transform: translate(0, -30vh);
}

#hours {
  width: 52vh;
  height: 52vh;
  display: flex;
  border-radius: 54vh;
  align-self: center;
  margin-left: 6.4vh;
  position: absolute;
  opacity: 0.9;
  border: 65px solid rgba(233, 115, 176, 1);
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    44% 100%,
    44% 0,
    56% 0,
    56% 15%,
    44% 15%,
    44% 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    44% 100%,
    44% 0,
    56% 0,
    56% 15%,
    44% 15%,
    44% 100%,
    100% 100%,
    100% 0%
  );
  animation-duration: 48s;
  animation-name: hours;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#minutes {
  width: 36vh;
  height: 36vh;
  display: flex;
  border-radius: 40vh;
  align-self: center;
  margin-left: 15.6vh;
  position: absolute;
  opacity: 0.75;
  border: 55px solid #fff;
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    42% 100%,
    42% 0,
    58% 0,
    58% 15%,
    42% 15%,
    42% 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    42% 100%,
    42% 0,
    58% 0,
    58% 15%,
    42% 15%,
    42% 100%,
    100% 100%,
    100% 0%
  );
  animation-duration: 4s;
  animation-name: minutes;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hours {
  to {
    transform: rotate(360deg);
  }
}
@keyframes minutes {
  to {
    transform: rotate(360deg);
  }
}
