html {
  display: flex;
  justify-content: center;
  color: #000c; /* fffc - light */
  background: #fffc; /* 000c - dark */
  font-family: monospace;
}

.profile-card {
  background: linear-gradient(to right, rgb(11, 115, 251), rgb(224, 220, 99));
  box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.8);
  transition: 0.3s;
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.8);
}

/* centering img */
.img-container img {
  display: block;
  margin: 0 auto;
  width: auto;
  padding: 25px;
  object-fit: cover;
  border-radius: 50%;
}

img:hover {
  border-width: thin;
  border-radius: 2.5%;
  transform: rotate(5deg);
  transition: width 2s, height 2s, transform 2s;
}

.container {
  background: white;
  padding: 2px 15px;
}

h2 {
  display: flex;
  justify-content: center;
}

hr {
  width: 550px;
}

.typewriter-effect {
  overflow: hidden;
  border-right: 0.15em solid
    linear-gradient(to right, rgb(11, 115, 251), rgb(224, 220, 99));
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

h4,
p {
  display: flex;
  justify-content: center;
}
