div {
  width: 100px;
  height: 50px;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}

#div1 {
  animation-timing-function: linear;
  background-color: #ff66ff;
}

#div2 {
  animation-timing-function: ease;
  background-color: #33ffcc;
}

#div3 {
  animation-timing-function: ease-in;
  background-color: #33ff00;
}

#div4 {
  animation-timing-function: ease-out;
  background-color: #ffccff;
}

#div5 {
  animation-timing-function: ease-in-out;
  background-color: #ff44dd;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 900px;
  }
}
