div {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 483px;
  height: 298px;
  background: #676470;
  transition: all 0.3s ease;
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
