body {
  padding: 0;
  margin: 10px;
}

.circle {
  padding: 0;
  margin: 0;
  width: 300px;
  height: 300px;
  background-color: white;
  display: grid;
  border-radius: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  overflow: hidden;
  border: 1px solid black;
  animation: rotation 1s linear 1s infinite normal;
}

@keyframes rotation {
  0% {
    transition: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blue {
  background-color: blue;
  height: 100%;
  width: 100%;
}

.yellow {
  background-color: yellow;
  height: 100%;
  width: 100%;
}

.red {
  background-color: red;
  height: 100%;
  width: 100%;
}

.orange {
  background-color: orange;
  height: 100%;
  width: 100%;
}
