@keyframes backgrd {
  from {
    background: white;
  }
  50% {
    background: black;
  }
  to {
    background: white;
  }
}
@keyframes firstAnim {
  from {
    background: rgba(80, 240, 6, 0.795);
    margin-right: 100%;
  }
  50% {
    background: rgba(243, 148, 4, 0.897);
    margin-right: 0%;
  }
  to {
    background: rgba(80, 240, 6, 0.795);
    margin-right: 100%;
  }
}
@keyframes secondAnim {
  from {
    background: rgba(199, 101, 10, 0.966);
    margin-left: 0%;
    margin-right: 0%;
  }
  50% {
    background: rgba(14, 156, 221, 0.966);
    margin-left: 51%;
    margin-right: 51%;
  }
  to {
    background: rgba(199, 101, 10, 0.966);
    margin-left: 0%;
    margin-right: 0%;
  }
}
@keyframes thirdAnim {
  from {
    background: rgba(9, 153, 219, 0.801);
    margin-left: 100%;
  }
  50% {
    background: rgba(26, 226, 26, 0.801);
    margin-left: 0%;
  }
  to {
    background: rgba(9, 153, 219, 0.801);
    margin-left: 100%;
  }
}

body {
  animation-duration: 5s;
  animation-name: backgrd;
  animation-iteration-count: infinite;
}

#first {
  animation-duration: 5s;
  animation-name: firstAnim;
  animation-iteration-count: infinite;
  text-align: center;
  height: 33vh;
  background: rgba(80, 240, 6, 0.795);
  border-radius: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#second {
  animation-duration: 5s;
  animation-name: secondAnim;
  animation-iteration-count: infinite;
  text-align: center;
  height: 33vh;
  background: rgba(238, 119, 8, 0.966);
  border-radius: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#third {
  animation-duration: 5s;
  animation-name: thirdAnim;
  animation-iteration-count: infinite;
  text-align: center;
  height: 33vh;
  background: rgba(9, 153, 219, 0.801);
  border-radius: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: 3em;
  font-weight: 900;
  font-family: fantasy;
  color: cornsilk;
}
