/* styles 

    1. frame
    2. second-hand
    3. minute-hand
    4. hour-hand

*/

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1. frame */
.frame {
    background-color: transparent;
    width: 300px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid green;
    border-radius: 50%;
    position: absolute;
}

/* 2. second-hand */
.second-hand {
    background-color: black;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    transform: translate(-150%, -150%);
    transform-origin: 200px 0;
    -webkit-animation: second-hand 60s linear infinite;
    animation: second-hand 60s linear infinite;
}

@-webkit-keyframes second-hand {
    from {
        transform: rotate(0deg) translate(-120px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-120px) rotate(-360deg);
    }
}

/* 3. minute-hand */
.minute-hand {
    background-color: black;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    transform: translate(-150%, -150%);
    transform-origin: 200px 0;
    -webkit-animation: minute-hand 3600s linear infinite;
    animation: minute-hand 3600s linear infinite;
}

@-webkit-keyframes minute-hand {
    from {
        transform: rotate(0deg) translate(-110px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-110px) rotate(-360deg);
    }
}

/* 3. hour-hand */
.hour-hand {
    background-color: black;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    transform: translate(-150%, -150%);
    transform-origin: 200px 0;
    -webkit-animation: hour-hand 43200s linear infinite;
    animation: hour-hand 43200s linear infinite;
}

@-webkit-keyframes hour-hand {
    from {
        transform: rotate(0deg) translate(-80px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-80px) rotate(-360deg);
    }
}