* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    height: 100vh;
    width: 100%;
    background-color: rgb(12, 15, 12);
    display: grid;
    place-items: center;
  }
  
  .helicopter {
    width: 140rem;
    height: 70rem;
    background: -webkit-radial-gradient(rgb(86, 4, 149), black);
    background-image: url("https://static.vecteezy.com/system/resources/previews/028/215/445/non_2x/the-sunset-with-the-airport-runway-in-the-distance-free-photo.jpg");
  
    background-size: cover;
    background-position: center;
    position: relative;
    perspective: 80rem;
    transform: rotateY(-15deg);
  }
  
  .helicopter div {
    position: absolute;
  }
  .blade {
    width: 40rem;
    height: 0.9rem;
    background-color: black;
    position: absolute;
    left: 48rem;
    top: 34.5%;
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    animation: bladeAnim 1s linear infinite;
  }
  
  @keyframes bladeAnim {
    0% {
      transform: rotateX(90deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(90deg) rotateZ(360deg);
    }
  }
  .main-rotar {
    width: 7rem;
    height: 2rem;
    background-color: rgb(13, 11, 13);
    left: 17.5rem;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
  }
  .main-rotar::before {
    content: "";
    height: 100%;
    background-color: rgb(12, 12, 19);
    width: 100%;
    position: absolute;
    transform: rotateY(80deg);
  }
  
  .mast {
    width: 1rem;
    height: 2rem;
    background-color: rgb(19, 15, 15);
    left: 67rem;
    top: 25rem;
  }
  
  .cockpit {
    width: 25rem;
    height: 13rem;
    top: 26.3rem;
    left: 55rem;
    background-color: black;
    border-radius: 50% 40% 40%;
  }
  .cockpit::before {
    content: "";
    width: 8rem;
    height: 6rem;
    background-color: beige;
    position: absolute;
    top: 0.5rem;
    border-radius: 100% 0 40% 0;
  }
  .landing-skid1 {
    width: 23rem;
    height: 10rem;
  
    border-bottom: 1rem solid black;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-radius: 0 0 2.5rem 5rem;
  
    top: 32rem;
    left: 57rem;
  }
  .landing-skid2 {
    width: 23rem;
    height: 10rem;
  
    border-bottom: 1rem solid black;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-radius: 0 0 2.5rem 5rem;
  
    top: 34rem;
    left: 57rem;
  }
  
  .landing-skid1::before,
  .landing-skid1::after,
  .landing-skid2::before,
  .landing-skid2::after {
    content: "";
    width: 1rem;
    height: 5rem;
    background-color: rgb(21, 17, 17);
    position: absolute;
    bottom: 0rem;
  }
  .landing-skid1::before,
  .landing-skid2::before {
    left: 6rem;
  }
  
  .landing-skid1::after,
  .landing-skid2::after {
    left: 14rem;
  }
  
  .tail-cone {
    width: 25rem;
    height: 2rem;
    background-color: black;
    top: 32rem;
    left: 72rem;
    border-radius: 0 100% 100% 0;
  }
  
  .tail-fin {
    width: 2rem;
    height: 8rem;
    background-color: rgb(19, 14, 14);
    position: absolute;
    top: 29rem;
    left: 96.3rem;
    border-radius: 100% 0 0 100%;
  }
  .tail-rotar {
    width: 1rem;
    height: 6rem;
    background-color: rgb(28, 25, 25);
    top: 29.5rem;
    right: 1rem;
    animation: tailRotarAnim 0.4s infinite linear;
    position: absolute;
  }
  