div {
  width: 250px;
  height: 100px;
  background-color: cyan;
  background-image: radial-gradient(red, yellow, green);
  box-shadow: 10px 10px 5px grey;
  position: relative;
  animation: 5s ease-in 3s infinite reverse both running slidein;
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
