body{
    
    margin: 0px;
    padding: 0px;
    background-color: #dbf6e9;
}

.container{
    background-color: #dbf6e9;
    height: 800px;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
}






.cloud1{
    width: 262px; height: 60px;
    background: white;
	border-radius: 100px;
    position: relative;
    margin: 120px 150px 10px;
    
}

.cloud1 .top1{
	position: absolute;
	background: white;
    width: 75px; height: 75px;
	top: -37px; left: 37px;
    z-index: 1;
	border-radius: 100px;

}

.cloud1 .mid2{
    background: white;
    width: 135px; height: 135px;
    position: absolute;
	top: -75px; right: 30px;
	border-radius: 200px;
}



.cloud2{
    width: 262px; height: 60px;
    background: white;
	border-radius: 100px;
    position: absolute;
    left: 1000px; 
    
}

.cloud2 .top1{
	position: absolute;
	background: white;
    width: 75px; height: 75px;
	top: -37px; left: 37px;
    z-index: 1;
	border-radius: 100px;

}

.cloud2 .mid2{
    background: white;
    width: 135px; height: 135px;
    position: absolute;
	top: -75px; right: 30px;
	border-radius: 200px;
}




.ball{
   
    position: relative;
    top: 10px;
    left: 41.4%;
}




.ball > div {
  width:160px;
  height:220px; 
  background-color: #d789d7;
  border-radius:0;
  border: 3px solid black;
  border-radius:80% 80% 80% 80%;
  opacity: 0.8;
  margin: 0 auto;
  position: absolute;
  padding:10px;
  box-shadow:inset 17px 7px 10px #9d65c9; 
  -webkit-transform-origin: bottom center; 
  animation: bounce 5s infinite;
  z-index: 1;

}

@keyframes bounce{
     
    
    50%{
        height: 220px;
        width: 160px;
        transform: translateY(70px);
    }
    
    75%{
        height: 220px;
        width: 160px;
    }
    
    100%{
        transform: translateY(0px);
    }
}



.ball > div .thread:before {
  color:black;
  position:absolute;
  bottom:-75px;
  left: 63px;
  content:"~";
  transform: rotate(270deg);
  font-size:5.5em;
  font-weight: lighter;
  z-index: -2;
    
    
}





