body {
  height: 100%;
  margin: 0%;
}

.external {
  display: flex;
  justify-content: center;
}

.internal {
  position: absolute;
  top: 40%;
  font-size: 64px;
  font-family: cursive;
  animation: shake 3s ease 0.5s infinite normal;
}

@keyframes shake {
  0% {
    transform: rotate(-15deg);
    color: red;
  }
  2% {
    transform: rotate(15deg);
  }
  4% {
    transform: rotate(-18deg);
  }
  6% {
    transform: rotate(18deg);
  }
  8% {
    transform: rotate(-22deg);
  }
  10% {
    transform: rotate(22deg);
  }
  12% {
    transform: rotate(-18deg);
  }
  14% {
    transform: rotate(18deg);
  }
  16% {
    transform: rotate(-12deg);
  }
  18% {
    transform: rotate(-12deg);
  }
  20% {
    transform: rotate(0deg);
  }
}
