body {
    background: LINEAR-GRADIENT(TO RIGHT, #000000, #1f1f1f, #000000);
}

h2 {
    text-align: center;
    color: white;
    letter-spacing: .3em;
}

#container {
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 300px;
    border: solid 3px white;
    background-color: #2B2B2B;
    
}

.paddle1, .paddle2 {
    height: 45px;
    width: 10px;
    background-color: white;
}
.circle1 {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: white;
   }

#container:hover .circle1 {
    animation: moveC1 5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.paddle2 {
    position: relative;
    left: 565px;
  }

#container:hover .paddle1 {
    animation: movep1 5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
#container:hover .paddle2 {
    animation: movep2 5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes movep1 {
     0% {transform: translate(0px, 0px);}
    10% {transform: translate(0px, 85px);}
    20% {transform: translate(0px, 85px);}
    32% {transform: translate(0px, 85px);}
    40% {transform: translate(0px, 135px);}
    45% {transform: translate(0px, 135px);}
    60% {transform: translate(0px, 100px);}
    73% {transform: translate(0px, 100px);}
    80% {transform: translate(0px, 200px);}
    100% {transform: translate(0px, 190px);}
    
}
@keyframes movep2 {
    0% { transform: translate(0px, 0px);}
   10% {transform: translate(0px, 85px);}
   20% {transform: translate(0px, 220px);}
   32% {transform: translate(0px, 85px);}
   40% {transform: translate(0px, 135px);}
   45% {transform: translate(0px, 135px);}
   60% {transform: translate(0px, 0px);}
   73% {transform: translate(0px, 100px);}
   80% {transform: translate(0px, 200px);}
   100% {transform: translate(0px, 115px);}
   
}
@keyframes moveC1 {
    0% { transform: translate(0px, 0px); }
    20% {transform: translate(570px, 250px);}
    24% {transform: translate(456px, 280px);}
    40% {transform: translate(0px, 150px);}
    60% {transform: translate(570px, 30px);}
    75% {transform: translate(80px, 280px);}
    80% {transform: translate(0px, 200px);}
   100% {transform: translate(570px, 120px);}
}
