body {
  overflow: hidden;
}
.center {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 10px solid tomato;
  margin: auto;
  border-radius: 50%;
  animation: rotation 1s infinite linear;
}
span {
  color: chartreuse;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 2%;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.inner {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 10px solid blueviolet;
  margin: auto;
  border-radius: 50%;
}
.main {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 10px solid tomato;
  margin: auto;
  border-radius: 50%;
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
