* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

#container {
	width: 600px;
	height: 600px;
	position: relative;
	background: rgb(32,42,57);
	background: linear-gradient(345deg, rgba(32,42,57,1) 0%, rgba(159,186,209,1) 100%);
	overflow: hidden;
}

#left { 
    position: relative; 
    height: 0px; 
    width: 500px; 
    border-radius: 0px; 
    top: 280px;
    left: 140px; 
    transform: rotate(270deg) skew(10deg); 
    -webkit-transform: rotate(270deg) skew(10deg); 
    border-top: 0px transparent; 
    border-left: 50px solid transparent; 
    border-right: 5px solid transparent; 
    border-bottom: 40px solid #333944; 
    z-index: 8;
}

#right {
	width: 80px;
	height: 500px;
	position: relative;
	left: 410px;
	top: 6px;
	background: rgb(20,21,23);
	background: linear-gradient(346deg, rgba(20,21,23,1) 0%, rgba(51,57,68,1) 21%, rgba(201,208,210,1) 100%);
	z-index: 8;
}

#mountain { 
    position: relative; 
    height: 0px; 
    width: 0px; 
    top: -450px; 
    left: 0px; 
    transform: skew(0deg); 
    -webkit-transform: skew(0deg); 
    border-top: 0px transparent; 
    border-left: 620px solid transparent; 
    border-right: 0px solid transparent; 
    border-bottom: 120px solid black; 
    z-index: 2;
}

#square {
	width: 600px;
	height: 200px;
	position: relative;
	top: -450px;
	background-color: black;
}

#gradient-top {
	width: 600px;
	height: 220px;
	position: relative;
	top: -870px;
	z-index: 6;
	background: rgb(0,0,0);
	background: linear-gradient(146deg, rgba(0,0,0,.85) 0%, rgba(255,255,255,0) 100%);
}

#gradient-bottom {
	width: 600px;
	height: 200px;
	position: relative;
	top: -680px;
	z-index: 6;
	background: rgb(0,0,0);
	background: linear-gradient(126deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 80%);
}

#light {
	width: 600px;
	height: 600px;
	position: relative;
	top: -1280px;
	background-color: rgb(248, 248, 255, 0);
	background-image: linear-gradient(70deg, rgb(255, 255, 255, 0), rgb(255, 255, 255, .15), rgb(255, 255, 255, 1));
	z-index: 200;
	background-size: 400% 100%;
	animation: animateLight 2s infinite alternate;
}

@keyframes animateLight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50% 50%;
  }
}