html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: stretch 2.5s ease-in 1s alternate infinite;
}

#one {
  width: 90em;
  height: 150px;
  background-color: orange;
}
#two {
  width: 90em;
  height: 150px;
  background-color: white;
}
#chakra {
  width: 130px;
  height: 130px;
  border: 10px solid navy;
  border-radius: 50%;
  margin: 0 auto;
}
.spoke {
  width: 130px;
  height: 3px;
  position: relative;
  background-color: navy;
}
#a {
  transform: rotate(0deg);
  top: 65px;
  width: 100%;
  z-index: 0;
}
#b {
  transform: rotate(15deg);
  top: 62px;
  z-index: 1;
}
#c {
  transform: rotate(30deg);
  top: 59px;
  z-index: 2;
}
#d {
  transform: rotate(45deg);
  top: 56px;
  z-index: 3;
}
#e {
  transform: rotate(60deg);
  top: 53px;
  z-index: 5;
}
#f {
  transform: rotate(75deg);
  top: 50px;
  z-index: 5;
}
#g {
  transform: rotate(90deg);
  z-index: 6;
  top: 47px;
}
#h {
  transform: rotate(105deg);
  z-index: 7;
  top: 44px;
}

#i {
  transform: rotate(120deg);
  z-index: 8;
  top: 41px;
}
#j {
  transform: rotate(135deg);
  z-index: 9;
  top: 38px;
}
#k {
  transform: rotate(150deg);
  z-index: 10;
  top: 35px;
}
#l {
  transform: rotate(165deg);
  z-index: 11;
  top: 32px;
}

#three {
  width: 90em;
  height: 150px;
  background-color: green;
}
@keyframes stretch {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
