body{
  background-color: #1e1e1e;
}

.heading {
  color: rgb(255, 255, 0);
  font-weight: 400;
  font-size: 4rem;
  font-family: 'Griffy', cursive;
  text-align: center;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* translate(width, height) */
  display: flex;
}

.dashed {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: yellow;
  box-shadow: 0 0 10px 0 #5294ce;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.one {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.two {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.three {
  /* margin-left: -10px;  */
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .4s;
}
.fourth{
  /* margin-left: 50px; */
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(360deg);
  }
  30%{
    transform: rotate(370deg);
  }
  35%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes spin2{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(0deg);

  }
  30%{
    transform: rotate(-180deg);

  }
  35%{
    transform: rotate(-190deg);

  }
  40%{
    transform: rotate(-180deg);

  }
  78%{
    transform: rotate(-180deg);

  }
  95%{
    transform: rotate(-360deg);

  }
  98%{
    transform: rotate(-370deg);

  }
  100%{
    transform: rotate(-360deg);

  }
}

 @keyframes spin3{
  0%{
    transform: rotate(0deg);

  }
  27%{
    transform: rotate(0deg);

  }
  40%{
    transform: rotate(180deg);

  }
  45%{
    transform: rotate(190deg);

  }
  50%{
    transform: rotate(180deg);

  }
  62%{
    transform: rotate(180deg);

  }
  75%{
    transform: rotate(360deg);

  }
  80%{
    transform: rotate(370deg);

  }
  85%{
    transform: rotate(360deg);

  }
  100%{
    transform: rotate(360deg);
  }
} 

@keyframes spin4{
  0%{
    transform: rotate(0deg);
  }
  38%{
    transform: rotate(0deg);
  }
  60%{
    transform: rotate(-360deg);
  }
  65%{
    transform: rotate(-370deg);
  }
  75%{
    transform: rotate(-360deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}