body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.balloon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.balloon {
  background-color: #ff6f61;
  width: 60px;
  height: 80px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  position: relative;
  animation: happy-birthday-balloons 2s ease-in-out infinite;
}

.space {
  width: 40px;
}

.balloon:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #333;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes happy-birthday-balloons {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-40px);
  }
}

#balloon1, #balloon3, #balloon5, #balloon7, #balloon9, #balloon11, #balloon13 {
  animation: floatUp 2s ease-in-out infinite;
}

#balloon2, #balloon4, #balloon6, #balloon8, #balloon10, #balloon12 {
  animation: floatDown 2s ease-in-out infinite;
}

@keyframes floatUp {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-40px);
  }
}

@keyframes floatDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(40px);
  }
}
