.madelenfoss__animation-body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
   margin: 0 auto;
   width: 100%;
}

.sky {
	margin: 0 auto;
	background: rgb(112, 193, 255);
	width: 100%;
	height: 30rem;
}

.grass {
	position: absolute;
	display: flex;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: rgb(9, 46, 21);
	height: 30rem;
	top: 25rem;
}

.dog {
	position: absolute;
	top: -12rem;
	left: -10rem;
	animation-name: walk;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

.dog__head {
	position: relative;
	margin: 1rem auto;
	width: 8rem;
	height: 8rem;
	background-color: yellow;
	border-radius: 3rem;
}

.dog__ear-right {
	position: absolute;
	width: 7rem;
	height: 2.2rem;
	background-color: rgb(160, 118, 55);
	border-radius: 10rem;
	transform: rotate(30deg);
	top: 1rem;
	left: 6rem;
}

.dog__ear-left {
	position: absolute;
	width: 5rem;
	height: 1.5rem;
	background-color: rgb(160, 118, 55);
	border-radius: 10rem;
	transform: rotate(-35deg);
	top: 0.5rem;
	right: 6rem;
}

.dog__eye-left {
	position: absolute;
	margin: 1.5rem;
	width: 1rem;
	height: 1rem;
	background-color: black;
	border-radius: 10rem;
}

.dog__eye-right {
	position: absolute;
	margin: 2rem 3.5rem;
	width: 1rem;
	height: 1rem;
	background-color: black;
	border-radius: 10rem;
}

.dog__snout {
	position: absolute;
	right: 6.5rem;
	top: 4rem;
	width: 4rem;
	height: 3rem;
	background-color: yellow;
	border-radius: 4rem 0 0 4rem;
}

.dog__nose {
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-color: red;
	border-radius: 10rem;
	top: 3.8rem;
	right: 10.2rem;
	transform: skewY(30deg);
}

.dog__mouth {
	position: absolute;
	top: 4.5rem;
	right: 8rem;
	width: 2rem;
	height: 2rem;
	border-radius: 5rem;
	border-bottom: 5px solid black;
}

.dog__body {
	position: absolute;
	top: 8rem;
	left: 2rem;
	width: 20rem;
	height: 10rem;
	background-color: yellow;
	border-radius: 10rem;
}

.dog__legs {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 16rem;
	left: 3rem;
}

.dog__leg {
	margin: 0 1.5rem;
	width: 1.5rem;
	height: 10rem;
	background-color: yellow;
	border-radius: 10rem;
}

.dog__tail {
	position: absolute;
	top: 7rem;
	left: 20rem;
	width: 9rem;
	height: 1rem;
	background-color: rgb(160, 118, 55);
	border-radius: 10rem;
	transform: rotate(-30deg);
}


@keyframes walk {
	from {
		transform: translateX(80rem);
	}

	100% {
		transform: scale(50%)
	}

	to {
		transform: translateX(-10);
	}
}