body {
  background-color: white;
  background-image: radial-gradient(midnightblue 10px, transparent 11px),
    repeating-radial-gradient(
      midnightblue 0px,
      midnightblue 4px,
      transparent 5px,
      transparent 20px,
      midnightblue 21px,
      midnightblue 25px,
      transparent 26px,
      transparent 50px
    );
  background-size: 30px 30px, 90px 90px;
  background-position: 0px 0px;
  --darkreader-inline-bgcolor: #131516;
  --darkreader-inline-bgimage: radial-gradient(
      #14146f 9px,
      rgba(0, 0, 0, 0) 10px
    ),
    repeating-radial-gradient(
      #14146f 0px,
      #14146f 4px,
      rgba(0, 0, 0, 0) 5px,
      rgba(0, 0, 0, 0) 20px,
      #14146f 21px,
      #14146f 25px,
      rgba(0, 0, 0, 0) 26px,
      rgba(0, 0, 0, 0) 50px
    );
}

.eyes {
  width: 80px;
  height: 80px;
  left: 410px;
  border-radius: 50%;
  position: absolute;
  /*good for the purpose of the div not interfering with other elements position.*/
  color: black;
  /*CSS trick so that we do not refer to it in multiple times*/
  box-shadow: 150px 90px 0 0 currentColor, 300px 90px 0 0 currentColor;
}

.mustache {
  width: 180px;
  height: 180px;
  left: 350px;
  border-radius: 50%;
  position: absolute;
  /*good for the purpose of the div not interfering with other elements position.*/
  color: black;
  /*CSS trick so that we do not refer to it in multiple times*/
  box-shadow: 150px 240px 0 0 currentColor, 300px 240px 0 0 currentColor;
}

.mustache::before {
  content: ''; /* set as a string in order for tje pseudoelement to appear*/
  position: absolute;
  width: 210px;
  height: 120px;
  left: 30px;
  top: 120px;
  border-bottom: solid 180px currentColor;
  /*trick used to to curve*/
  /*background-color:red; used to distinguised between the actual box and the size of the border*/
  border-radius: 0 0 0 100%; /*top-left,top-right -->it goes clockwise --> We used % becuase pixel only go until 180px*/
  transform: rotate(-40deg);
  transform-origin: right 210px;
}

.mustache::after {
  content: ''; /* set as a string in order for tje pseudoelement to appear*/
  position: absolute;
  width: 210px;
  height: 120px;
  left: 390px;
  top: 120px;
  border-bottom: solid 180px currentColor;
  /*trick used to to curve*/
  /*background-color:red; used to distinguised between the actual box and the size of the border*/
  border-radius: 0 0 100% 0; /*top-left,top-right -->it goes clockwise --> We used % becuase pixel only go until 180px*/
  transform: rotate(40deg);
  transform-origin: left 210px;
}

.mustache:before {
  animation: upAndDownLeft 1.5s ease-in-out infinite;
}
.mustache:after {
  animation: upAndDownRight 1.5s ease-in-out infinite;
}

@keyframes upAndDownLeft {
  0% {
    transform: rotate(-55deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(-55deg);
  }
}
@keyframes upAndDownRight {
  0% {
    transform: rotate(55deg);
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(55deg);
  }
}
