body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: #2d3436;
  color: #fab1a0;
}

@keyframes rotateSquareRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotator {
  animation: rotateSquareRotate 6s linear infinite;
}

@keyframes shrinkSquareShrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  animation: shrinkSquareShrink 3s linear infinite;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  overflow: hidden;
  transform-origin: 50% 50%;
  background: currentColor;
}

.square:nth-child(1) {
  animation: growSquaresGrow-1 3s infinite;
}

@keyframes growSquaresGrow-1 {
  0%,
  10% {
    transform: scale(0) translateY(-50%);
    color: #55efc4;
  }
  75% {
    transform: scale(1) translateY(-50%);
    color: #55efc4;
  }
  100% {
    transform: scale(1) translateY(-50%);
    color: currentColor;
  }
}

.square:nth-child(2) {
  animation: growSquaresGrow-2 3s infinite;
}

@keyframes growSquaresGrow-2 {
  0%,
  20% {
    transform: scale(0) translateY(-50%);
    color: #ffeaa7;
  }
  75% {
    transform: scale(1) translateY(-50%);
    color: #ffeaa7;
  }
  100% {
    transform: scale(1) translateY(-50%);
    color: currentColor;
  }
}

.square:nth-child(3) {
  animation: growSquaresGrow-3 3s infinite;
}

@keyframes growSquaresGrow-3 {
  0%,
  30% {
    transform: scale(0) translateY(-50%);
    color: #fd79a8;
  }
  75% {
    transform: scale(1) translateY(-50%);
    color: #fd79a8;
  }
  100% {
    transform: scale(1) translateY(-50%);
    color: currentColor;
  }
}
