body {
	margin: 0;
}

.container {
	background: linear-gradient(135deg, #a4a1ce 0%, #ceb6da 100%);
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
/*
h1 {
	font-size: 11em;
	z-index: 1;
	background-blend-mode: lighten;
}*/h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -1.25rem;
}
.blending {
  span {
    mix-blend-mode: multiply;
  }
  span:nth-child(1) {
    color: #AB1795;
  }
  span:nth-child(2) {
    color: #167CFB;
  }
  span:nth-child(3) {
    color: #37D86E;
  }
}
.ring {
	width: 600px;
	height: 600px;
	/*border-radius: 50%;*/
	position: absolute;
	background-color: transparent;
	border: 15px #ea4eb0 solid;
	-webkit-animation-name: ani;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 5s;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes ani {
	0% {
		-webkit-transform: scale(0.001);
		opacity: 0;
	}
	1% {
		-webkit-transform: scale(0.001);
		opacity: 0.25;
	}
	95% {
		-webkit-transform: scale(1);
		opacity: 0.75;
	}
	100% {
		-webkit-transform: scale(2);
		opacity: 0;
	}
}

#r2 {
	-webkit-animation-delay: -1s;
}
#r3 {
	-webkit-animation-delay: -2s;
}
#r4 {
	-webkit-animation-delay: -3s;
}
#r5 {
	-webkit-animation-delay: -4s;
}
#r6 {
	-webkit-animation-delay: -5s;
}
