body {
  margin: 0%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.engine {
  animation: engine_bump 0.5s infinite ease-in-out;
}

.train {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  animation: ride 6s infinite linear;
}

.top {
  margin-bottom: -20px;
  display: flex;
  flex-direction: row;
}

.bottom {
  width: 380px;
  height: 120px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: row;
}

.wheels_group {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 50px;
}

.wheel {
  width: 100px;
  height: 100px;
  background-color: #d88f22;

  border-radius: 53% 51% 53% 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1.5s infinite linear;
}

.wheel_left {
  border-radius: 58% 50% 53% 48%;
}

.wheel_right {
  border-radius: 53% 48% 53% 57%;
}

.center {
  width: 50px;
  height: 50px;
  background-color: #e00f2b;
  border-radius: 50% 52% 53% 48%;
  position: flex;
}

.train_body_roof {
  width: 150px;
  height: 20px;
  background-color: #f3e410;
  border-radius: 50% 50% 0 0;
  margin-left: -50px;
}

.train_body_top {
  width: 150px;
  height: 120px;
  background-color: #145dca;
  display: flex;
  justify-content: center;
  margin-left: -50px;
  position: relative;
  z-index: +1;
}

.funnel {
  width: 20px;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid rgb(52, 176, 233);
  margin-left: 110px;
  align-self: flex-end;
}

.train_body_bottom {
  width: 90%;
  height: 100%;
  background-color: #447bce;
  margin-left: -50px;
}

.train_body_front {
  border-bottom: 100px solid rgb(182, 36, 226);
  border-right: 50px solid transparent;
}

.window {
  width: 60%;
  height: 60%;
  background-color: #fff;
  align-self: center;
}

.car1 {
  align-self: flex-end;
  animation: car1_bump 0.5s infinite ease-in-out;
}
.car2 {
  align-self: flex-end;
  animation: car2_bump 0.5s infinite ease-in-out;
}

.car_body {
  width: 380px;
  height: 200px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: row;
}

.car_body_bottom {
  width: 90%;
  height: 100%;
  background-color: #38bb4d;
  margin-left: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.car_body_bottom2 {
  width: 90%;
  height: 100%;
  background-color: #df23a6;
  margin-left: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.car_window {
  width: 30%;
  height: 40%;
  margin-top: 20px;
  background-color: #fff;
}

.train_body_connector {
  width: 40px;
  height: 15px;
  background-color: black;
  align-self: center;
}

.railway {
  display: flex;
  flex-direction: column;
}

.railway_line {
  position: absolute;
  margin-top: -10px;
  height: 20px;
  width: 1980px;
  background-color: rgb(66, 49, 3);
  border-bottom-width: 15px;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: dashed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes engine_bump {
  5% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes car1_bump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes car2_bump {
  13% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes ride {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(+2000px);
  }
}
