body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.circle {
  border-radius: 50%;
  left: calc(50% - 6.25em);
  top: calc(50% - 12.5em);
  transform-origin: 50% 12.5em;
  width: 12.5em;
  height: 12.5em;
  position: absolute;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
}

.one,
.two,
.three,
.four {
  background: rgba(255, 45, 45, 1);
}

.five,
.six,
.seven,
.eight {
  background: rgba(233, 1, 1, 1);
}

.nine {
  background: rgba(255, 204, 66, 1);
}
.one {
  transform: rotateZ(0);
}

.two {
  transform: rotateZ(90deg);
}

.three {
  transform: rotateZ(180deg);
}

.four {
  transform: rotateZ(-90deg);
}

.five {
  transform: rotateZ(45deg);
}
.six {
  transform: rotateZ(135deg);
}
.seven {
  transform: rotateZ(-45deg);
}
.eight {
  transform: rotateZ(-135deg);
}

.nine {
  transform: translate(0px, 100px);
}

@keyframes bounceIn {
  0% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(360deg);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.container {
  animation: bounceIn 2s;
}
