:root {
  --roof-color: #cf4068;
  --building-color: #d67798;
  --windows-color: #f9ebb4;
  --door-color: #f8e7b3;
}
body {
  background-image: linear-gradient(#90abd9, #eadeda);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.box-canvas {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 800px;
  height: 400px;
}
.roof {
  position: absolute;
  border-bottom: 150px solid var(--roof-color);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  width: 300px;
  height: 150px;
  top: 0px;
  left: 202px;
  margin-top: 0px;
  transition: transform 1s;
  /*animation: roofHop 1s infinite alternate;*/
}
@keyframes roofHop {
  from {
  }
  to {
    transform: translate(0px, -50px);
  }
}
.building {
  position: absolute;
  background: var(--building-color);
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  width: 340px;
  height: 280px;
  top: 150px;
  left: 234px;
  margin-top: 150px;
}
.wleft {
  position: absolute;
  background: linear-gradient(
    to bottom right,
    var(--windows-color),
    #eed2c6,
    var(--windows-color),
    #eed2c6,
    var(--windows-color),
    #eed2c6,
    var(--windows-color),
    #eed2c6,
    var(--windows-color)
  );
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.35);
  width: 80px;
  height: 150px;
  top: 170px;
  left: 260px;
  margin-top: 150px;
  border: 4px solid #cf5b83;
}
.wright {
  position: absolute;
  background: linear-gradient(
    to bottom right,
    var(--windows-color),
    #eed2c6,
    var(--windows-color),
    #eed2c6,
    var(--windows-color),
    #eed2c6,
    var(--windows-color),
    #eed2c6,
    var(--windows-color)
  );
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.35);
  width: 80px;
  height: 150px;
  top: 170px;
  left: 460px;
  margin-top: 150px;
  border: 4px solid #cf5b83;
}
.door {
  position: absolute;
  background: var(--door-color);
  width: 70px;
  height: 160px;
  top: 230px;
  left: 359px;
  margin-top: 150px;
  border: 10px solid #cf5b83;
  border-bottom: transparent;
}
.knob {
  position: absolute;
  background: #cf4068;
  width: 10px;
  height: 10px;
  top: 80px;
  left: 50px;
  border-radius: 50%;
}
.wleft::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 150px;
  top: 0px;
  left: 38px;
  background: #cf5b83;
}
.glassl::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 50px;
  top: 46px;
  left: 0px;
  border: 3px solid #cf5b83;
  border-left: transparent;
  border-right: transparent;
}
.wright::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 150px;
  top: 0px;
  left: 38px;
  background: #cf5b83;
}
.glassr::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 50px;
  top: 46px;
  left: 0px;
  border: 3px solid #cf5b83;
  border-left: transparent;
  border-right: transparent;
}
@keyframes grassAnime {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
.grassone,
.grasstwo,
.grassthree,
.grassfour,
.grassfive,
.grasssix,
.grassseven,
.grasseight,
.grassnine,
.grassten,
.grasseleven,
.grasstwelve,
.grassthirteen,
.grassfourteen,
.grassfifteen,
.grasssixteen,
.grassseventeen,
.grasseighteen,
.grassnineteen,
.grasstwenty {
  transform-origin: left bottom;
  animation: grassAnime 5s ease-in-out infinite alternate-reverse;
}
.grassone {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 200px;
  background: #56866a;
  border-radius: 70% 20% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grassone::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 60px;
  top: 10px;
  left: 10px;
  background: #cfc75b;
  border-radius: 30% 80% 40% 50%/ 40% 80% 10% 30%;
}
.grasstwo {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 220px;
  background: #56866a;
  border-radius: 60% 50% 40% 40%/ 60% 70% 20% 10%;
  transition: transform 0.1s;
}
.grasstwo::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 50px;
  top: 20px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassthree {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 240px;
  background: #56866a;
  border-radius: 80% 40% 40% 50%/ 60% 80% 20% 10%;
  transition: transform 0.1s;
}
.grassthree::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 55px;
  top: 15px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassfour {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 260px;
  background: #56866a;
  border-radius: 80% 40% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grassfour::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 53px;
  top: 17px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassfive {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 280px;
  background: #56866a;
  border-radius: 70% 20% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grassfive::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 60px;
  top: 10px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grasssix {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 300px;
  background: #56866a;
  border-radius: 60% 50% 40% 40%/ 60% 70% 20% 10%;
  transition: transform 0.1s;
}
.grasssix::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 40px;
  top: 30px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassseven {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 320px;
  background: #56866a;
  border-radius: 80% 40% 40% 50%/ 60% 80% 20% 10%;
  transition: transform 0.1s;
}
.grassseven::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 52px;
  top: 18px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grasseight {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 340px;
  background: #56866a;
  border-radius: 80% 40% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grasseight::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 36px;
  top: 34px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassnine {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 360px;
  background: #56866a;
  border-radius: 60% 50% 40% 40%/ 60% 70% 20% 10%;
  transition: transform 0.1s;
}
.grassnine::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 61px;
  top: 9px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassten {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 380px;
  background: #56866a;
  border-radius: 80% 40% 40% 50%/ 60% 80% 20% 10%;
  transition: transform 0.1s;
}
.grassten::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 50px;
  top: 20px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grasseleven {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 400px;
  background: #56866a;
  border-radius: 80% 40% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grasseleven::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 55px;
  top: 15px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grasstwelve {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 420px;
  background: #56866a;
  border-radius: 70% 20% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grasstwelve::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 50px;
  top: 20px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassthirteen {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 440px;
  background: #56866a;
  border-radius: 60% 50% 40% 40%/ 60% 70% 20% 10%;
  transition: transform 0.1s;
}

.grassthirteen::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 40px;
  top: 30px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassfourteen {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 460px;
  background: #56866a;
  border-radius: 80% 40% 40% 50%/ 60% 80% 20% 10%;
  transition: transform 0.1s;
}
.grassfourteen::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 58px;
  top: 12px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassfifteen {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 480px;
  background: #56866a;
  border-radius: 80% 40% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grassfifteen::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 43px;
  top: 27px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grasssixteen {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 500px;
  background: #56866a;
  border-radius: 70% 20% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 1s;
}
.grasssixteen::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 54px;
  top: 16px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassseventeen {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 520px;
  background: #56866a;
  border-radius: 60% 50% 40% 40%/ 60% 70% 20% 10%;
  transition: transform 0.1s;
}
.grassseventeen::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 58px;
  top: 12px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grasseighteen {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 540px;
  background: #56866a;
  border-radius: 80% 40% 40% 50%/ 60% 80% 20% 10%;
  transition: transform 0.1s;
}
.grasseighteen::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 50px;
  top: 20px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grassnineteen {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 560px;
  background: #56866a;
  border-radius: 80% 40% 30% 50%/ 40% 80% 10% 30%;
  transition: transform 0.1s;
}
.grassnineteen::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 45px;
  top: 25px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
.grasstwenty {
  position: absolute;
  width: 20px;
  height: 70px;
  top: 530px;
  left: 580px;
  background: #56866a;
  border-radius: 60% 50% 40% 40%/ 60% 70% 20% 10%;
  transition: transform 0.1s;
}
.grasstwenty::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 60px;
  top: 10px;
  left: 10px;
  background: #cfc75b;
  border-radius: 20% 60% 40% 40%/ 40% 80% 10% 30%;
}
