/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
  color: white;
  text-align: center;
}

/* Grid container style */
.container {

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}

/* Container's div style */
.container div {
  margin: 5px;

}

/* Style for typewriter and h1 */
.typewriter h1 {
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .19rem solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing-erase 6s steps(50, end) infinite,
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing-erase {
  0% {
    width: 0;
  }
  60% {
    width: 100%;
  }
  70%, 80%, 90% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

/* Animation to the image */
.image img {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1.0);
  }
}