body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  animation-name: rainbowSpinAnimation;
  animation-duration: 3s;
}

@keyframes rainbowSpinAnimation {
  0% {
    color: black;
    top: ;
  }
  10% {
    color: red;
    transform: rotate(36deg);
  }
  20% {
    color: orange;
    transform: rotate(72deg);
  }
  30% {
    color: yellow;
    transform: rotate(108deg);
  }
  40% {
    color: green;
    transform: rotate(144deg);
  }
  50% {
    color: blue;
    transform: rotate(180deg);
  }
  60% {
    color: indigo;
    transform: rotate(216deg);
  }
  70% {
    color: violet;
    transform: rotate(252deg);
  }
  80% {
    color: red;
    transform: rotate(288deg);
  }
  90% {
    color: orange;
    transform: rotate(324deg);
  }
  100% {
    color: black;
    transform: rotate(360deg);
  }
}
