* {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation-name: moveInright;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  cursor: pointer;
}

@keyframes moveInright {
  0% {
    transform: translate(-40px, 0);
  }
  50% {
    transform: translate(40px, 0);
  }
  100% {
    transform: translate(-40px, 0);
  }
}

.mid,
.bottom {
  width: 90%;
  height: 10px;
  border: solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.mid {
  background-color: dodgerblue;
  opacity: 0.6;
  animation-name: shrink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

@keyframes shrink {
  0% {
    width: 100%;
    background-color: pink;
  }
  50% {
    width: 0%;
    background-color: dodgerblue;
  }
  100% {
    width: 100%;
    background-color: pink;
    opacity: 0.5;
  }
}
.bottom {
  background-color: red;
  opacity: 0.4;
  animation-name: shrink;
  animation-iteration-count: infinite;
  animation-duration: 1.9s;
}

.main {
  background-image: linear-gradient(
      to right,
      rgba(47, 118, 249, 0.7),
      rgba(95, 199, 201, 0.6)
    ),
    url('https://img4.goodfon.com/wallpaper/nbig/a/5e/3d-rendering-background-design-colorful-abstract-geometry--3.jpg');
  font-family: 'Patrick Hand', cursive;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.shape {
  border-radius: 5px;
  margin-top: 20px;
  background-color: dodgerblue;
  width: 20vh;
  height: 20vh;
  transition: all 0.6s;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.shape:hover {
  border: 20px solid;
  border-radius: 300px;
  opacity: 0.5;
}
