body {
  background-color: #04364a;
}
.envelope {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.4s ease-out;
}
.top-fold {
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 80px solid #f1efef;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  z-index: 0;
}
.body-fold {
  width: 0;
  height: 0;
  border-top: 80px solid #f1efef;
  border-left: 120px solid #fff;
  border-right: 120px solid #d8d9da;
  border-bottom: 80px solid #fff;
  z-index: 0;
}
.letter {
  position: absolute;
  z-index: 2;
  top: -50px;
  width: 200px;
  height: 210px;
  transition: opacity 0.5s 0.5s ease-in-out;
  opacity: 0;
}
.letter-container {
  position: absolute;
  top: 0;
  left: 10px;
  width: 220px;
  height: 136px;
  background-color: #ffeecc;
}
.letter-title,
.letter-text,
.letter-text2,
.letter-text3 {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 4;
  width: 50px;
  height: 8px;
  background-color: #fff;
}
.letter-text {
  top: 40%;
  width: 100px;
}
.letter-text2 {
  top: 50%;
  width: 140px;
}
.letter-text3 {
  top: 65%;
  width: 90px;
}
.letter-context {
  position: absolute;
  bottom: -75px;
  left: 1px;
  width: 0;
  height: 0;
  border-top: 77px solid #ffeecc;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-bottom: 0;
}
.envelope:hover .letter {
  opacity: 1;
}
.envelope:hover .top-fold {
  opacity: 1;
}
.envelope:hover {
  transform: translate(-50%, -40%);
}
.shadow {
  position: absolute;
  top: 90%;
  left: -28%;
  width: 400px;
  height: 30px;
  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}
