body {
  height: max-content;
  width: max-content;
  background-color: black;
}

h1 {
  color: white;
  margin-left: 700px;
  margin-top: 150px;
}

.object {
  height: 50vh;
  width: 50vw;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.backpack {
  width: 10px;
  height: 50px;
  background-color: rgb(26, 6, 203);
  position: relative;
  z-index: 1;
  top: 40px;
  left: -20px;
  border-radius: 6px;
  border: 5px black solid;
}

.characterbody {
  position: absolute;
  left: 50px;
  margin-left: 675px;
}

.head {
  background-color: rgb(26, 6, 203);
  height: 100px;
  width: 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  border: 5px black solid;
  border-bottom: none;
  position: relative;
  z-index: 2;
  bottom: 0px;
}

.eyes {
  width: 60px;
  height: 30px;
  position: absolute;
  right: -10px;
  top: 20px;
  border-radius: 40%;
  background-color: skyblue;
  border: 5px black solid;
}

.legs {
  position: relative;
  width: 80px;
}

.legs .gap {
  border-top: 4px black solid;
  background-color: rgb(26, 6, 203);
}

.leg {
  background-color: rgb(26, 6, 203);
  height: 30px;
  width: 25px;
  border: 5px black solid;
  z-index: 0;
  border-radius: 30%;
}

.left-leg {
  position: absolute;
  top: -10px;
}

.right-leg {
  position: absolute;
  top: -10px;
  right: -10px;
}

.spike {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 300px solid black;
  position: relative;
  bottom: 40px;
  z-index: 0;
  display: none;
  transform: rotate(-20deg);
}

.character:hover .head {
  animation: open-head 0.4s linear;
  bottom: -10px;
}

.character:hover .spike {
  animation: killer-spike 0.3s linear;
  border-left: 300px solid rgb(205, 15, 15);
  display: block;
  opacity: 0;
}

@keyframes killer-spike {
  0% {
    opacity: 1;
    transform: scale(0) rotate(-20deg);
  }

  50% {
    opacity: 1;
    transform: scale(1) rotate(-20deg);
  }

  100% {
    opacity: 0;
    transform: scale(1) rotate(-20deg);
  }
}

@keyframes open-head {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-50deg);
    transform-origin: 10% 100%;
  }

  100% {
    transform: rotate(0deg);
  }
}
