body {
  background-image: url('bck.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#maindiv {
  height: 100%;
  width: 100%;
}

.thephrase {
  position: absolute;
  top: 50px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
  border-radius: 25px;
  text-align: center;
  font-family: 'Sigmar One', cursive;
  font-stretch: all;
  margin-left: 20%;
  margin-right: 20%;
}

h2 {
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 7px;
  font-style: italic;
}
.cont-div {
  align-content: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  left: 60%;
  height: 130px;
  margin: 0 auto;
  margin-top: 180px;
  border-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  animation-name: blinkb;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 1s;
}

.cont {
  opacity: 0;
  width: 15%;
  padding: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

#link {
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
  border: 2px solid yellow;
  height: 20px;
  text-align: center;
  width: 20%;
  height: 50px;
  margin-top: 50px;
  margin-left: 40%;
  margin-right: 0%;
  padding: 5px;
  border-radius: 50px;
  font-family: 'Barlow', sans-serif;
  animation-name: scl;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  opacity: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: yellow;
}

#sq {
  animation-name: blinksq;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes blinksq {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#tr {
  animation-name: blinktr;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes blinktr {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#ci {
  animation-name: blinkci;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes blinkci {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#x {
  animation-name: blinkx;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes blinkx {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  37.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinkb {
  0%,
  95% {
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }
  96% {
    border: 5px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
  }

  100% {
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes scl {
  0% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
#link:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
  border-color: white;
}
a:hover {
  color: white;
  cursor: grab;
}
@keyframes typing {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
