body{
    background-color: black;
    display: flex;
justify-content: center;
}


.root {

}


.mainDiv{   
    height: 500px;
    display: flex;
    position: relative;
    left: 0%;
 }

 .circle{
     width: 80px;
     height: 80px;
     margin-right: 40px;
     border-radius: 50%;
     /* background-color: lightcoral; */
     background-color: #ad2a20;
    position: relative;
    top: 2%;
    left: 2%;
    animation: circle 5s ease-in infinite ,  glow 2s ease-in-out infinite alternate;
 }
 .circle1{
     width: 80px;
     height: 80px;
     margin-right: 40px;

     border-radius: 50%;
     background-color: #138d8d;
    position: relative;
    top: 2%;
    left: 2%;
    
    animation: circle 5s  ease-in 0.3s infinite , glow1 2s ease-in-out infinite alternate;
 }
 
 .circle2{
     width: 80px;
     height: 80px;
     margin-right: 40px;

     border-radius: 50%;
     background-color: #2c9731;
    position: relative;
    top: 2%;
    left: 2%;
    
    animation: circle 5s  ease-in 0.5s infinite , glow2 2s ease-in-out infinite alternate;  ;
 }

 
 .circle3{
     width: 80px;
     height: 80px;
     margin-right: 40px;

     border-radius: 50%;
     background-color: #1b57da;
    position: relative;
    top: 2%;
    left: 2%;
    
    animation: circle 5s  ease-in 0.7s infinite , glow3 2s ease-in-out infinite alternate;  ;
 }

@keyframes glow {
from {
box-shadow:  0 0 5px #ee154c, 0 0 10px #ee154c, 0 0 15px #ee154c, 0 0 20px #ee154c, 0 0 25px #ee154c;
}

to {
box-shadow:  0 0 10px #fa4f4f, 0 0 15px #fa4f4f, 0 0 20px #fa4f4f, 0 0 25px #fa4f4f, 0 0 30px #fa4f4f, 0 0 35px #fa4f4f;
}
}

@keyframes glow1 {
from {
box-shadow:  0 0 5px #138d8d, 0 0 10px #138d8d, 0 0 15px #138d8d, 0 0 20px #138d8d, 0 0 25px #138d8d;
}

to {
box-shadow:  0 0 10px #22b9b9, 0 0 15px #22b9b9, 0 0 20px #22b9b9, 0 0 25px #22b9b9, 0 0 30px #22b9b9, 0 0 35px #22b9b9;
}
}

@keyframes glow2 {
from {
box-shadow:  0 0 5px #2c9731, 0 0 10px #2c9731, 0 0 15px #2c9731, 0 0 20px #2c9731, 0 0 25px #2c9731;
}

to {
box-shadow:  0 0 10px #4bc451, 0 0 15px #4bc451, 0 0 20px #4bc451, 0 0 25px #4bc451, 0 0 30px #4bc451, 0 0 35px #4bc451;
}
}


@keyframes glow3 {
from {
box-shadow:  0 0 5px #1b57da, 0 0 10px #1b57da, 0 0 15px #1b57da, 0 0 20px #1b57da, 0 0 25px #1b57da;
}

to {
box-shadow:  0 0 10px #437af0, 0 0 15px #437af0, 0 0 20px #437af0, 0 0 25px #437af0, 0 0 30px #437af0, 0 0 35px #437af0;
}
}


@keyframes main {
    to{
        left:125%;
    }
    from {
        left: 0%;
    }
}


@keyframes circle {
    0% {
        top: 2%;
        
    }
    10%{
        animation-timing-function: ease-out;
        top: 40%;
       

    }
    20%{
        animation-timing-function: ease-in;
      
        top: 10%;
 

    }
    30%{
        animation-timing-function: ease-out;
        top: 40%;
 
    }
    40%{
        
        animation-timing-function: ease-in;
        top: 20%;
 
    }
    50%{
        animation-timing-function: ease-out;
        top: 40%;
 
    }
    60%{
        animation-timing-function: ease-in;

        top: 30%;
    }
    70%{
        animation-timing-function: ease-out;
        top: 40%
    }
    80%{
        animation-timing-function: ease-in;

        top: 35%;
    }
    90%{
        animation-timing-function: ease-out;
        top: 40%;

    }
    100%{
        top: 2%;
        
    }
}





