.element {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

html,
body {
  height: 100%;
}
div {
  border-radius:50%;
  position:absolute;
  top:30%; left:75%;
}
div:nth-of-type(odd) { background:black; }
div:nth-of-type(even) { background:maroon; border:2px solid black; }
div:nth-of-type(11) {
  height:110px; width:110px;
  margin-top:-5px; margin-left:-5px;
  -webkit-animation:slide 4s ease-in-out infinite;
  animation:slide 4s ease-in-out infinite;
}
div:nth-of-type(10) {
  height:120px; width:120px;
  margin-top:-12px; margin-left:-12px;
  -webkit-animation:slide 4s -3.7s ease-in-out infinite;
  animation:slide 4s -3.7s ease-in-out infinite;
}
div:nth-of-type(9) {
  height:140px; width:140px;
  margin-top:-20px; margin-left:-20px;
  -webkit-animation:slide 4s -3.4s ease-in-out infinite;
  animation:slide 4s -3.4s ease-in-out infinite;
}
div:nth-of-type(8) {
  height:160px; width:160px;
  margin-top:-32px; margin-left:-32px;
  -webkit-animation:slide 4s -3.1s ease-in-out infinite;
  animation:slide 4s -3.1s ease-in-out infinite;
}
div:nth-of-type(7) {
  height:180px; width:180px;
  margin-top:-40px; margin-left:-40px;
  -webkit-animation:slide 4s -2.8s ease-in-out infinite;
  animation:slide 4s -2.8s ease-in-out infinite;
}
div:nth-of-type(6) {
  height:200px; width:200px;
  margin-top:-52px; margin-left:-52px;
  -webkit-animation:slide 4s -2.5s ease-in-out infinite;
  animation:slide 4s -2.5s ease-in-out infinite;
}
div:nth-of-type(5) {
  height:220px; width:220px;
  margin-top:-60px; margin-left:-60px;
  -webkit-animation:slide 4s -2.2s ease-in-out infinite;
  animation:slide 4s -2.2s ease-in-out infinite;
}
div:nth-of-type(4) {
  height:240px; width:240px;
  margin-top:-72px; margin-left:-72px;
  -webkit-animation:slide 4s -1.9s ease-in-out infinite;
  animation:slide 4s -1.9s ease-in-out infinite;
}
div:nth-of-type(3) {
  height:260px; width:260px;
  margin-top:-80px; margin-left:-80px;
  -webkit-animation:slide 4s -1.6s ease-in-out infinite;
  animation:slide 4s -1.6s ease-in-out infinite;
}
div:nth-of-type(2) {
  height:280px; width:280px;
  margin-top:-92px; margin-left:-92px;
  -webkit-animation:slide 4s -1.3s ease-in-out infinite;
  animation:slide 4s -1.3s ease-in-out infinite;
}
div:nth-of-type(1) {
  height:310px; width:310px;
  margin-top:-100px; margin-left:-100px;
  -webkit-animation:slide 4s ease-in-out infinite;
  animation:slide 4s ease-in-out infinite;
}
@keyframes slide {
  0% { left:75% }
  50% { left:25%; }
  100% { left:75%; }
}
@-webkit-keyframes slide {
  0% { left:75% }
  50% { left:25%; }
  100% { left:75%; }
}