*{

    margin: 0;
    padding: 0;
    
    }
    
    body
    {
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: black;
    }
    
    .Santa{
    width: 931.5454545454545px;
    height: 641px;
    background: url(santa_run.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: Santa 0.9s steps(11) infinite, moveSanta 2s linear infinite;
    
    }
    
    @keyframes Santa{
        from{
            background-position:0;
    
        }
        to{
             background-position: 10274px;
        }
    }
    
    @keyframes moveSanta{
        0%{
            left: 0;
        }
    
        100%{
            left: 100%;
        }
    }