body{
  background-color: #000000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ball {
  width: 45px;
  height: 45px;
  background: radial-gradient(circle at 10% 30%, #d6ace2, #50035a);
  border-radius: 50%;
  margin-right: 22px;
}


.ballShadow {
  width: 15px;
  height: 5px;
  background-color: rgba(138, 43, 226, 0.9);
  border-radius: 50%;
  padding: 0px 10px;
  margin-right: 24px;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #fffcfc;
  letter-spacing: 5px;
}


@keyframes bounce {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(3px);
  }
}

.ball{
  animation: bounce 1s ease-in-out infinite;
}


@keyframes expandshadow {
  0% {
    transform: scale(0.);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.ballShadow {
  box-shadow: 0 0 25px rgba(138, 43, 226, 0.9);
  animation: expandshadow 1s ease-in-out infinite;
}