* {
  background-color: #05b8ff;
}

body {
  display: block;
}

h1 {
  text-align: center;
  color: white;
}

/* The animation code */
@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

/* The element to apply the animation to */
.red {
  width: 125px;
  height: 125px;
  line-height: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  margin: auto;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.red:hover {
  transform: rotate(-20deg);
}

.yellow {
  width: 125px;
  height: 125px;
  line-height: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  background-color: yellow;
  border-radius: 25px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.yellow:hover {
  transform: rotate(-25deg);
}

.green {
  width: 125px;
  height: 125px;
  margin: auto;
  line-height: 100px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  background-color: green;
  border-radius: 25px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.green:hover {
  transform: rotate(-30deg);
}

.blue {
  width: 125px;
  height: 125px;
  line-height: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  background-color: blue;
  border-radius: 25px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.blue:hover {
  transform: rotate(-45deg);
}
