* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    animation: rotate 5s linear infinite, scale-up-down 2s ease-in-out infinite alternate;
}

.square1 {
    background-color: #ff6f61;
    top: 0;
    left: 0;
    animation-delay: 0s;
}

.square2 {
    background-color: #fdd835;
    top: 0;
    right: 0;
    animation-delay: 0.5s;
}

.square3 {
    background-color: #29b6f6;
    bottom: 0;
    right: 0;
    animation-delay: 1s;
}

.square4 {
    background-color: #66bb6a;
    bottom: 0;
    left: 0;
    animation-delay: 1.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale-up-down {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
