*{

margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html, body{
    background: rgb(52, 30, 139);

height: 100%;
width: 100%;
}

#container{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}
.square{

    height: 94%;
    width: 94%;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
   
}

.black{
    background: white;
    animation: rotate 15s infinite linear;
}

@keyframes rotate {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg);}
}