html,
body {
  height: 100%;
}
body {
  background: skyblue;
  overflow: hidden;
  margin: 0;
  -webkit-animation: sky 5.5s 2s forwards;
  animation: sky 5.5s 2s forwards;
}
.grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
.sun {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  background-color: rgb(248, 248, 94);
  -webkit-box-shadow: 0 0 10px 5px rgb(228, 228, 206);
  box-shadow: 0 0 10px 5px rgb(228, 228, 206);
  -webkit-animation: day 10s ease;
  animation: day 10s ease;
}
.building-1 {
  position: absolute;
  bottom: 0;
  left: 70%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 6.25rem;
  height: 12.5rem;
  background-color: rgb(133, 145, 145);
  -webkit-animation: buildings 10s forwards;
  animation: buildings 10s forwards;
}
.building-2 {
  position: absolute;
  bottom: 0;
  left: 40%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 10rem;
  height: 7.5rem;
  background-color: rgb(133, 145, 145);
  -webkit-animation: buildings 10s forwards;
  animation: buildings 10s forwards;
}

@-webkit-keyframes day {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes day {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes sky {
  50% {
    background-color: #00b7ff;
  }
  65% {
    background-color: #0797d0;
  }
  85% {
    background-color: #05328d;
  }
  100% {
    background-color: #021948;
  }
}

@keyframes sky {
  50% {
    background-color: #00b7ff;
  }
  65% {
    background-color: #0797d0;
  }
  85% {
    background-color: #05328d;
  }
  100% {
    background-color: #021948;
  }
}

@-webkit-keyframes buildings {
  50% {
    background-color: darkslategrey;
  }
  100% {
    background-color: rgb(9, 9, 9);
  }
}

@keyframes buildings {
  50% {
    background-color: darkslategrey;
  }
  100% {
    background-color: rgb(9, 9, 9);
  }
}
