body {
    background: linear-gradient(to right, rgb(116, 50, 116), rgb(70, 5, 70));
}

.square {
    border: 2px solid black;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 54.7%;
    left: 52.3%;
    width: 50px;
    height: 50px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinna 4s linear infinite;
    -moz-animation:spinna 4s linear infinite;
    animation:spinna 4s linear infinite;
}
@-moz-keyframes spinna { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinna { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinna { 100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }}   
    

.square2 {
    border: 2px solid white;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 54.7%;
    left: 52.3%;
    width: 50px;
    height: 50px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinerrr 4s linear infinite;
    -moz-animation:spinerrr 4s linear infinite;
    animation:spinerrr 4s linear infinite;
}
@-moz-keyframes spinerrr { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinerrr { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinerrr { 100% { -webkit-transform: rotate(-360deg);
    transform:rotate(-360deg); }}  

.square3 {
    border: 2px solid white;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 53.4%;
    left: 51.65%;
    width: 70px;
    height: 70px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spiner 4s linear infinite;
    -moz-animation:spiner 4s linear infinite;
    animation:spiner 4s linear infinite;
}
@-moz-keyframes spiner { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spiner { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spiner { 100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }}
        
.square4 {
    border: 2px solid black;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 53.4%;
    left: 51.65%;
    width: 70px;
    height: 70px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spined 4s linear infinite;
    -moz-animation:spined 4s linear infinite;
    animation:spined 4s linear infinite;
}
@-moz-keyframes spined { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spined { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spined { 100% { -webkit-transform: rotate(-360deg);
    transform:rotate(-360deg); }}

.square5 {
    border: 2px solid black;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 52%;
    left: 51%;
    width: 90px;
    height: 90px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinCounter 4s linear infinite;
    -moz-animation:spinCounter 4s linear infinite;
    animation:spinCounter 4s linear infinite;
}
@-moz-keyframes spinCounter { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinCounter { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinCounter { 100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }}

.square6 {
    border: 2px solid white;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 52%;
    left: 51%;
    width: 90px;
    height: 90px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinCounterr 4s linear infinite;
    -moz-animation:spinCounterr 4s linear infinite;
    animation:spinCounterr 4s linear infinite;
}
@-moz-keyframes spinCounterr { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinCounterr { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinCounterr { 100% { -webkit-transform: rotate(-360deg);
    transform:rotate(-360deg); }}    

.square7 {
    border: 2px solid white;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }}

.square8 {
    border: 2px solid black;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinn 4s linear infinite;
    -moz-animation:spinn 4s linear infinite;
    animation:spinn 4s linear infinite;
}
@-moz-keyframes spinn { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinn { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinn { 100% { -webkit-transform: rotate(-360deg);
    transform:rotate(-360deg); }}    

.square9 {
    border: 2px solid black;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 48%;
    left: 49%;
    width: 150px;
    height: 150px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinach 4s linear infinite;
    -moz-animation:spinach 4s linear infinite;
    animation:spinach 4s linear infinite;
}
@-moz-keyframes spinach { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinach { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinach { 100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }}

.square10 {
    border: 2px solid white;
    animation: 5s linear 2s infinite alternate;
    position: absolute;
    top: 48%;
    left: 49%;
    width: 150px;
    height: 150px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spinachh 4s linear infinite;
    -moz-animation:spinachh 4s linear infinite;
    animation:spinachh 4s linear infinite;
}
@-moz-keyframes spinachh { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinachh { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinachh { 100% { -webkit-transform: rotate(-360deg);
    transform:rotate(-360deg); }}

       
