.container {
  display: flex;
  justify-content: center;
}
.container img:hover {
  cursor: pointer;
  border-radius: 4px;
  border: 10px solid black;
  box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 20px hsl(0, 0%, 90%);
  transform: rotate(-5deg);
}
