.container {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  background: red;
}

.face {
  margin-top: 5vh;
  height: 600px;
  width: 600px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  grid-column-start: 5;
}

@keyframes blink {
  0% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  50% {
    margin-top: 10px;
    margin-left: -5px;
    height: 5px;
    width: 80px;
    background-color: black;
  }
  100% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.eye1 {
  grid-column-start: 7;
  grid-row-start: 6;
  background-color: black;
  animation: blink 2s infinite;
}

.eye2 {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  grid-column-start: 14;
  grid-row-start: 6;
}

.nose {
  border-left: 14px solid black;
  height: 150px;
  grid-row-start: 9;
  grid-column-start: 10;
}

@keyframes smile {
  0% {
    height: 5px;
    width: 200px;
    background-color: black;
  }
  50% {
    border: 2px solid black;
    background: white;
    display: inline-block;
    margin: 0 1em 1em 0;
    height: 100px;
    width: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  100% {
    height: 5px;
    width: 200px;
    background-color: black;
  }
}
.mouth {
  grid-row-start: 16;
  grid-column-start: 7;
  animation: smile 2s infinite;
}
