body {
  background: #e1ad01;
}

.pulse {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(1.5, 1.5) translate(-50%, -50%);
  height: 150px;
  width: 150px;
  background: #a83f39;
  border-radius: 50%;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(168, 63, 57, 0.4);
  }
  70% {
    box-shadow: 0 0 0 50px rgba(168, 63, 57, 0);
  }
  100% {
    box-shadow: 0 0 0 150px rgba(168, 63, 57, 0);
  }
}
