/* 
Rabbit hopping

This animation uses only CSS and HTML to draw and move a rabbit across the screen.
The rabbit is enclosed in a box that slides left to right across the screen.
The rabbit encloses all parts of the rabbit: head, ears, torso, legs, foot.
The rabbit was created larger initially and is scaled to allow ore hops across the screen.
The whole rabbit rotates upward as some individual components adjust.
The front leg, backleg, foot and ears rotate. 
The backleg and back foot also adjust position to appear connected durng motion.

The project has not been optimized for mobile display.
A future refactoring may implement functionality using grid and/or flexbox.


The following page guided creation of rabbit curves: 

https://stackoverflow.com/questions/43014832/need-to-make-curve-line-using-css

 */

@keyframes moveRight {
  0% {
    left: 0px;
  }
  100% {
    left: 800px;
  }
}

#slider {
  width: 100px;
  position: relative;
  left: 0px;
  animation: moveRight 5s linear 1.75s 3;
}

@keyframes hop {
  0% {
    transform: rotate(-25deg) scale(0.25);
    left: 0px;
  }
  30% {
    left: 30px;
  }
  80%,
  100% {
    transform: rotate(0deg) scale(0.25);
    left: 90px;
  }
}

#rabbit {
  left: 0px;
  margin-top: -180px;
  position: relative;
  transform: scale(0.25);
  animation: hop 3s ease-in-out 1.5s 5;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
}

#head {
  width: 480px;
  height: 30px;
  position: relative;
  left: 430px;
  top: 80px;
  margin-bottom: -175px;
  transform: rotate(20deg);
}
#head:before {
  /* content enables before and after to display something, borders would not be visible otherwise */
  content: '';
  display: block;
  width: 50%;
  height: 134px;
  position: relative;
  border-top: 19px ridge rgba(220, 220, 220, 0.9);
  /* border: border-width border-style border-color|initial|inherit; */
  border-radius: 50%;
  left: 5%;
  transform: rotate(15deg);
}
#head:after {
  content: '';
  display: block;
  width: 50%;
  height: 147px;
  position: relative;
  border-bottom: 19px ridge rgba(220, 220, 220, 0.9);
  border-radius: 50%;
  left: 5%;
}

#eye {
  width: 10px;
  height: 10px;
  position: relative;
  left: 187px;
  top: -109px;
  margin-bottom: -175px;
  transform: rotate(20deg);
}
#eye:before {
  content: '';
  display: block;
  width: 18px;
  height: 12px;
  position: relative;
  border-top: 4.9px ridge rgba(220, 220, 220, 0.9);
  border-radius: 50%;
  left: 5%;
}
#eye:after {
  content: '';
  display: block;
  width: 18px;
  height: 25px;
  position: relative;
  border-bottom: 4.9px ridge rgba(220, 220, 220, 0.9);
  border-radius: 50%;
  left: 5%;
  top: -31px;
}

#mouth {
  display: block;
  width: 40px;
  height: 25px;
  position: relative;
  border-bottom: 4.9px ridge rgba(220, 220, 220, 0.9);
  border-radius: 0px 0px 0px 17px;
  left: 223px;
  top: 93px;
}

@keyframes ears_back {
  0% {
    transform: rotate(50deg);
  }
  80%,
  100% {
    transform: rotate(80deg);
  }
}

#ears {
  width: 318px;
  height: 20px;
  position: relative;
  left: 350px;
  top: 0px;
  transform: rotate(80deg);
  animation: ears_back 3s ease-in-out 1.5s 5;
}

#ears:before {
  content: '';
  display: block;
  width: 80%;
  height: 50px;
  position: absolute;
  border-top: 19px ridge rgba(220, 220, 220, 0.9);
  border-radius: 50%;
  left: 5%;
}
#ears:after {
  content: '';
  display: block;
  width: 80%;
  height: 50px;
  position: absolute;
  border-bottom: 19px ridge rgba(220, 220, 220, 0.9);
  border-radius: 50%;
  left: 5%;
}

#torso {
  width: 800px;
  height: 200px;
  position: relative;
  left: 39px;
  top: 130px;
}

#torso:before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 200px;
  border-top: 19px ridge rgba(220, 220, 220, 0.9);
  border-radius: 50%;
  left: 4%;
}

#torso:after {
  content: '';
  display: block;
  width: 50%;
  height: 225px;
  position: absolute;
  border-bottom: 19px ridge rgba(220, 220, 220, 0.9);
  border-radius: 50%;
  left: 10%;
}

@keyframes backlegPush {
  0%,
  80%,
  100% {
    transform: rotate(-50deg);
    top: 44px;
  }
  30%,
  50% {
    transform: rotate(-40deg);
    top: 44px;
  }
}

#backleg {
  left: 50px;
  top: 44px;
  width: 235px;
  height: 187px;
  border-radius: 0px 0px 328px 33px;
  border-bottom: 29px ridge rgba(220, 220, 220, 0.9);
  position: relative;
  transform: rotate(-50deg);
  animation: backlegPush 3s ease 1.3s 5;
  /* cubic-bezier(0.1, -0.6, 0.2, 0)  */
}

@keyframes backfootPush {
  0% {
    left: 100px;
    top: 112px;
    transform: rotate(33deg);
  }
  30%,
  50% {
    transform: rotate(33deg);
    top: 112px;
    left: 55px;
  }
  80%,
  100% {
    transform: rotate(10deg);
    left: 128px;
    top: 75px;
  }
}

#backfoot {
  content: '';
  display: block;
  width: 250px;
  height: 150px;
  position: relative;
  left: 128px;
  top: 75px;
  border-top: 24px ridge rgba(220, 220, 220, 0.9);
  border-radius: 20px 22px 0px 0px;
  transform: rotate(0deg);
  animation: backfootPush 3s ease 1.3s 5;
}

@keyframes frontfootExtend {
  0%,
  80%,
  100% {
    transform: rotate(45deg);
  }
  30% {
    transform: rotate(30deg);
  }
}

#frontleg {
  content: '';
  display: block;
  width: 257px;
  height: 126px;
  position: relative;
  left: 300px;
  top: -289px;
  transform: rotate(45deg);
  border-bottom: 24px ridge rgba(220, 220, 220, 0.9);
  border-radius: 0px 0px 20px 102px;
  animation: frontfootExtend 3s ease 1.3s 5;
}
