*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.box{
    background-color: black;
    height: 150px;
    display: flex;
}
.wrapper{
    background-color: black;
    height: 200px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.txt{
    color: white;
    background-color: black;
    font-size: 100px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}
.txt::before {
    content: "Hacktoberfest ";
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.year{
    color: white;
    background-color: black;
    font-size: 100px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}
 .year::before{
    content: " 2020";
    position:absolute;

    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon{
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
.gradient{
    background: linear-gradient(114.0036460327866deg, rgba(250, 143, 191,1) 6.486313088109496%,rgba(138, 176, 250,1) 94.85243798118049%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.reflection{
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: anim 3s linear infinite;
}
 @keyframes anim {
     to {
         transform: translate(50%, 50%);
     }
 }