

body {
    position: relative;
    background: rgb(0, 0, 0);
    animation: color 2s infinite alternate;
}

#bars{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#bars p{
    display: inline-block;
    font-size: 100px;
}

.bar {
    animation: wave10 2s infinite alternate;
    animation-delay: 450ms;

}

.bar2 {
    animation: wave10 2s infinite alternate;
    animation-delay: 400ms;

}


.bar3 {
    animation: wave10 2s infinite alternate;
    animation-delay: 350ms;
}


.bar4 {
    animation: wave10 2s infinite alternate;
    animation-delay: 300ms;
}


.bar5 {
    animation: wave10 2s infinite alternate;
    animation-delay: 250ms;
}


.bar6 {
    animation: wave10 2s infinite alternate;
    animation-delay: 200ms;

}


.bar7 {
    animation: wave10 2s infinite alternate;
    animation-delay: 150ms;


}


.bar8 {
    animation: wave10 2s infinite alternate;
    animation-delay: 100ms;

}


.bar9 {
    animation: wave10 2s infinite alternate;
    animation-delay: 50ms;

}


.bar10 {
    animation: wave10 2s infinite alternate;
    animation-delay: 0ms;
}


.bar11 {
    animation: wave10 2s infinite alternate;
    animation-delay: 50ms;

}


.bar12 {
    animation: wave10 2s infinite alternate;
    animation-delay: 100ms;

}


.bar13 {
    animation: wave10 2s infinite alternate;
    animation-delay: 150ms;

}


.bar14 {
    animation: wave10 2s infinite alternate;
    animation-delay: 200ms;

}


.bar15 {
    animation: wave10 2s infinite alternate;
    animation-delay: 250ms;

}

.bar16 {
    animation: wave10 2s infinite alternate;
    animation-delay: 300ms;

}
.bar17 {
    animation: wave10 2s infinite alternate;
    animation-delay: 350ms;

}
.bar18 {
    animation: wave10 2s infinite alternate;
    animation-delay: 400ms;

}
.bar19 {
    animation: wave10 2s infinite alternate;
    animation-delay: 450ms;

}

@keyframes wave10 {
    from {transform:translateY(450px);color: rgb(255, 81, 0);}
    to {transform: translateY(-100px);color: rgb(0, 255, 72); transform: rotateX(180deg);}
} 