html,
body {
/*  width: 100%;
  height: 100%;*/
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*font-size: 20px;*/
  background-color: rgb(255, 254, 247);
}

p {
  min-width: 25rem;
  height: 25rem;
  font-size: 4rem;
  font-weight: 600;
  border: 10px solid black;
  padding: 20px;
  
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
}

.p1 {
  border-color: lightgreen;
  animation: fly1 1.3s infinite alternate;
}

.p2 {
  border-color: rgba(59, 66, 72, 0.8);  
  animation: fly2 1.3s infinite alternate;
}

.p3 {
  border-color: rgba(235, 97, 143);
  animation: fly3 1.3s 0.7s infinite alternate;
}

@keyframes fly1 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(150px);
  }

}

@keyframes fly2 {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(25px);
  }

}

@keyframes fly3 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(150px);
  }

}