@keyframes animate {
    25%{margin-left: 1000px;}
    50%{margin-top: 700px;}
    75%{margin-bottom: 700px;}
    100%{margin-top: 50%;}
}
.container{
    width: 100vw;
    height: 100vh;
}
.box{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 2px solid rgb(0, 223, 148);
    margin: 0 auto;
    animation-name: animate;
    animation-duration: 4s;
}