body {
  background-color: rgb(164, 209, 159);
  margin: 0;
}
.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bear_face {
  width: 250px;
  margin: 0 auto;
  height: 300px;
  border-radius: 200px;
  background-color: #5e3233;
}
.ears {
  display: flex;
  justify-content: space-between;
}
.ear {
  background-color: #5e3233;
  border-radius: 30px;
  width: 60px;
  height: 80px;
}
.ear_1 {
  transform: rotate(-30deg);
}

.ear_2 {
  transform: rotate(30deg);
}
.eyes {
  display: flex;
  justify-content: space-evenly;
}
.eye {
  background-color: black;
  border-radius: 25px;
  width: 45px;
  height: 60px;
  position: relative;
}
.eye_2 {
  align-self: center;
  animation-name: twinkle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.white_circle {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: 3px;
}
.white_circle_2 {
  animation: twinkle_circle 3s infinite;
}
.nose {
  width: 35px;
  height: 35px;
  border-radius: 30px 30px;
  background-color: rgb(43, 31, 31);
  display: flex;
  margin: 30px auto 0;
}

.mouth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.upper_line {
  width: 2px;
  height: 30px;
  background-color: rgb(43, 31, 31);
}

.lower_line {
  width: 95px;
  height: 60px;
  display: block;
  background-color: transparent;
  border-radius: 100%;
  border-bottom: 2px solid rgb(43, 31, 31);
  position: absolute;
  top: -31px;
}

.tongue {
  background-color: palevioletred;
  border-radius: 0 0 20px 20px;
  border-color: transparent;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  animation-name: tongueOut;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes tongueOut {
  0% {
    height: 0;
  }
  50% {
    height: 20px;
    transform: scaleY(1);
  }
  90%,
  100% {
    height: 0;
  }
}

@keyframes twinkle {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    border-radius: 50%;
    transform: scaleY(0.04) scaleX(1.2);
  }
  80%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes twinkle_circle {
  0% {
    opacity: 1;
  }
  40%,
  60% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
    border-radius: 50%;
    transform: scaleY(0.04) scaleX(1.2);
  }
  100% {
    opacity: 1;
  }
}
