html {
  font-family: 'Montserrat';
}

h2 {
  font-size: 100px;
  margin: 0;
  writing-mode: vertical-rl;
  text-align: center;
  line-height: 1.5;
}

.rotate {
  transform: rotate(180deg);
}

.rotate2 {
  transform: rotate(180deg);
}

div {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;
}
h2:hover {
  cursor: pointer;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
    35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;
}

body {
  margin: 0;
}
