.arrow-up {
  width: 0px;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid rgb(70, 70, 248);
}

div {
  width: auto;
}

.triangle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 60px solid navy;
}

.wavy {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
