body {
  align-content: center;
  top: 0px;
  animation-name: example7;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
div {
  margin: auto;
  width: 50%;
  height: 50%;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

div.inner {
  width: 10em;
  height: 10em;
  background-color: red;
  position: relative;
  animation-name: example5;
  animation-duration: 1.5s;
}
div.a {
  width: 5em;
  height: 5em;
  background-color: red;
  position: relative;
  animation-name: example1;
  animation-duration: 1.5s;
}
div.b {
  width: 5em;
  height: 5em;
  background-color: yellow;
  position: relative;
  animation-name: example2;
  animation-duration: 1.5s;
}
div.c {
  width: 5em;
  height: 5em;
  background-color: red;
  position: relative;
  animation-name: example3;
  animation-duration: 1.5s;
}
div.d {
  width: 5em;
  height: 5em;
  background-color: yellow;
  position: relative;
  animation-name: example4;
  animation-duration: 1.5s;
}
div.my {
  animation-name: example6;
}
@keyframes example1 {
  0% {
    background-color: green;
    left: 17.5em;
    top: -5em;
  }

  25% {
    background-color: yellow;
    left: 17.5em;
    top: 20em;
  }
  50% {
    background-color: blue;
    left: -17.5em;
    top: 20em;
  }
  75% {
    background-color: green;
    left: -17.5em;
    top: -5em;
  }
  100% {
    background-color: green;
    left: 17.5em;
    top: -5em;
  }
}

@keyframes example2 {
  0% {
    background-color: green;
    left: -17.5em;
    top: -10em;
  }

  25% {
    background-color: yellow;
    left: 17.5em;
    top: -10em;
  }
  50% {
    background-color: blue;
    left: 17.5em;
    top: 15em;
  }
  75% {
    background-color: green;
    left: -17.5em;
    top: 15em;
  }
  100% {
    background-color: green;
    left: -17.5em;
    top: -10em;
  }
}

@keyframes example3 {
  0% {
    background-color: green;
    left: -17.5em;
    top: 10em;
  }

  25% {
    background-color: yellow;
    left: -17.5em;
    top: -15em;
  }
  50% {
    background-color: blue;
    left: 17.5em;
    top: -15em;
  }
  75% {
    background-color: green;
    left: 17.5em;
    top: 10em;
  }
  100% {
    background-color: green;
    left: -17.5em;
    top: 10em;
  }
}

@keyframes example4 {
  0% {
    background-color: green;
    left: 17.5em;
    top: 5em;
  }

  25% {
    background-color: yellow;
    left: -17.5em;
    top: 5em;
  }
  50% {
    background-color: blue;
    left: -17.5em;
    top: -20em;
  }
  75% {
    background-color: green;
    left: 17.5em;
    top: -20em;
  }
  100% {
    background-color: green;
    left: 17.5em;
    top: 5em;
  }
}

@keyframes example5 {
  0% {
    background-color: green;
    width: 5em;
    height: 5em;
    top: -30em;
  }

  25% {
    background-color: yellow;
    width: 15em;
    height: 15em;
    top: -30em;
  }
  50% {
    background-color: blue;
    width: 30em;
    height: 20em;
    top: -30em;
  }
  75% {
    background-color: green;
    width: 15em;
    height: 15em;
    top: -30em;
  }
  100% {
    background-color: green;
    width: 5em;
    height: 5em;
    top: -30em;
  }
}
@keyframes example6 {
  0% {
    background-color: rgb(119, 136, 153);
  }
  25% {
    background-color: rgb(128, 128, 128);
  }

  50% {
    background-color: rgb(169, 169, 169);
  }

  75% {
    background-color: rgb(211, 211, 211);
  }
}
@keyframes example7 {
  0% {
    background-color: rgb(169, 169, 169);
  }
  20% {
    background-color: rgb(119, 136, 153);
  }

  50% {
    background-color: rgb(211, 211, 211);
  }
  75% {
    background-color: rgb(128, 128, 128);
  }
  100% {
    background-color: rgb(211, 211, 211);
  }
}
