<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Square</title>
</head>

<body>
  <style>
    .square.bounce a:before {
      content: '';
      width: 50px;
      height: 50px;
      background-color: rgb(4, 0, 0);
      position: absolute;
      top: 10%;
      /* adjusted this to vertically center the square */
      left: 20%;
      /* added this to horizontally center the square */
      transform: translate(-50%, -50%);
      /* this makes sure the square is centered in front of the text */
      animation: bounceSquare 2s infinite;
      z-index: -1;
    }
  </style>

  <dev class="square bounce"><a href="#bounce">Bouncing</a>
</body>

</html>