body {
  background-color: black;
}
.element {
  animation-duration: 3s;
  animation-name: slidein;
  color: hotpink;
  font-weight: 900;
  margin-top: 25%;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.container {
  overflow: hidden;
}
