html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.space{
	position: relative;
 	height: 100%;
	background-color: black;
	display: grid;
	grid-template-columns: 100px 100px 100px 100px auto 50px 50px 50px 50px;

}

#rocket{
	position: absolute;
	top: 0px;
	width: 150px;
	height: 350px;
	transform: rotate(-28deg);
	margin-left:  160px;
	margin-top: 150px;
	margin-bottom: 0px;
	padding: 0;
	grid-column-start: 5;
	grid-column-end: 6;
}

#flame{
	position: absolute;
	bottom: 0px;
	width: 150px;
	height: 350px;
	transform: rotate(-180deg);
	margin-left:  170px;
	margin-top: 0px; 
	padding: 0;
	grid-column-start: 5;
	grid-column-end: 6;
	-webkit-animation: flicker 10s infinite;
}

#star1{
	height: 40px;
	width: 40px;
	grid-column-start: 1;
	grid-column-end: 2;
	justify-content: center;
	align-self: center;
	margin-left: 20px;
	animation: movement 5s linear infinite;
}

#star2{
	height: 40px;
	width: 40px;
	grid-column-start: 2;
	grid-column-end: 3;
	justify-content: center;
	align-self: center;
	margin-left: 40px;
	animation: movement 4.5s linear infinite;
}

#star3{
	height: 40px;
	width: 40px;
	grid-column-start: 3;
	grid-column-end: 4;
	justify-content: center;
	align-self: center;
	margin-left: 60px;
	animation: movement 5s linear infinite;
}

#star4{
	height: 40px;
	width: 40px;
	grid-column-start: 4;
	grid-column-end: 5;
	justify-content: center;
	align-self: center;
	margin-left: 100px;
	animation: movement 4s linear infinite;
}

#asto{
	height: 80px;
	width: 80px;
	grid-column-start: 7;
	grid-column-end: 8;
	justify-content: center;
	align-self: center;
	margin-left: 60px;
	animation: movement 10s linear infinite;
}
#star5{
	height: 40px;
	width: 40px;
	grid-column-start: 6;
	grid-column-end: 7;
	justify-content: center;
	align-self: center;
	margin-right: 50px;
	animation: movement 7s linear infinite;
}
#star6{
	height: 40px;
	width: 40px;
	grid-column-start: 8;
	grid-column-end: 9;
	justify-content: center;
	align-self: center;
	margin-left: 100px;
	animation: movement 3.6s linear infinite;
}
#star7{
	height: 40px;
	width: 40px;
	grid-column-start: 10;
	grid-column-end: 11;
	justify-content: center;
	align-self: center;
	margin-left: 120px;
	animation: movement 4.1s linear infinite;
}

/*// KEYFRAMES //*/
@keyframes movement{
  from{ transform: translateY(-800px)}
  to{ transform: translateY(1000px)}
}

@keyframes flicker { /* flame pulses */
	0%{
		opacity: 0.5;
	}
	25%{
		opacity: 1.5;
	}
	50%{
		opacity: 2.5;
	}
	75%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}


