* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sky,
.grass,
.road,
.lines {
  position: relative;
  width: 100vw;
}

.sky {
  height: 40vh;
  background-color: skyblue;
}

.grass {
  height: 30vh;
  background-color: seagreen;
}

.road {
  height: 30vh;
  background-color: dimgray;
  border: 10px solid grey;
  border-left: none;
  border-right: none;
}

.lines {
  position: absolute;
  top: 50%;
  border-top: 5px dashed #fff;
  height: 0px;
  /* z-index: 10; */
}

/*// ELEMENTS TO ANIMATE //*/
.mario {
  height: 50%;
  position: absolute;
  top: -2rem;
  left: 0;
  /* --- Chaining the animation --- */
  animation: drive 8s both infinite linear, jump 0.3s 1.2s ease;

  /* animation-fill-mode: forwards;
  animation-fill-mode: backwards; */
  /* animation-delay: 2s; */

  /* --- Repeating the Animation --- */
  /* animation-iteration-count: infinite; */

  /* --- animation timing function --- */
  /* animation-fill-mode: both; */
  /* animation-delay: 2s; */

  /* --- Repeating the Animation --- */
  /* animation-iteration-count: infinite; */
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: linear; */
}

.luigi {
  height: 50%;
  position: absolute;
  animation: drive 5s both linear infinite;
  top: 4rem;
  /* animation-direction: reverse; */
  /* animation-duration: 5s; */
  /* animation-fill-mode: both; */
  /* animation-timing-function: ease-out; */
  /* animation-timing-function: linear; */
  /* --- Repeating the Animation --- */
  /* animation-iteration-count: infinite; */

  /* --- We can use own function --- */
  /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

/* ---Cloud--- */

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  opacity: 0.5;
  top: 100px;
  animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse;
}
/* --- // KEYFRAMES // --- */
@keyframes drive {
  from {
    transform: translateX(-10vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes luigi {
  from {
    transform: translateX(-10vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes wind {
  from {
    left: -100px;
  }

  to {
    left: 100%;
  }
}

/* --- Chaining Animations --- */

@keyframes jump {
  0% {
    top: -2rem;
  }

  50% {
    top: -4rem;
  }

  100% {
    top: -2rem;
  }
}
