:root {
  --black: #141416;
  --pink: #e9baa7;
}

body {
  background: #05935f;
}

.box-canvas {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 10vmin;
  margin-bottom: 10vmin;
  width: 100vmin;
  height: 80vmin;
}

.tail {
  width: 5vmin;
  height: 25vmin;
  position: absolute;
  right: 7vmin;
  box-shadow: 2vmin -2vmin 0 white;
  border-radius: 50%;
  transform: rotate(-20deg);
  top: 40vmin;
}

.tail::before {
  content: '';
  position: absolute;
  background: white;
  width: 5vmin;
  height: 5vmin;
  border-radius: 51% 49% 40% 60% / 91% 92% 8% 9%;
  bottom: 0;
  left: 3vmin;
}

.body {
  width: 70vmin;
  height: 35vmin;
  background: white;
  right: 10vmin;
  position: absolute;
  top: 25vmin;
  border-radius: 20% 50% 0% 0%;
  overflow: hidden;
}

.patch {
  position: absolute;
  background: var(--black);
}

.patch:nth-child(1) {
  width: 30vmin;
  height: 15vmin;
  bottom: -2vmin;
  left: 10vmin;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transform: rotate(20deg);
}

.patch:nth-child(2) {
  width: 20vmin;
  height: 10vmin;
  left: 20vmin;
  top: -2vmin;
  border-radius: 86% 14% 37% 63% / 30% 76% 24% 70%;
}

.patch:nth-child(3) {
  height: 20vmin;
  width: 20vmin;
  right: 10vmin;
  top: 10vmin;
  border-radius: 25% 75% 40% 60% / 54% 58% 42% 46%;
}

.legs {
  position: absolute;
  width: 70vmin;
  bottom: 0;
  height: 20vmin;
  right: 10vmin;
}

.leg {
  position: absolute;
  height: 20vmin;
  width: 8vmin;
  background: white;
  border-radius: 0 0 20% 20%;
}

.leg.right {
  right: 0;
}

.leg.left::before {
  content: '';
  position: absolute;
  height: 18vmin;
  left: 8vmin;
  width: 8vmin;
  background: #efeded;
  border-radius: 0 0 20% 20%;
}

.leg.right::before {
  content: '';
  position: absolute;
  height: 18vmin;
  right: 8vmin;
  width: 8vmin;
  background: #efeded;
  border-radius: 0 0 20% 20%;
}

.horns {
  position: absolute;
  left: 11vmin;
  top: -8vmin;
  width: 35vmin;
  height: 20vmin;
  transform: rotate(10deg);
  border-radius: 50%;
  box-shadow: 5vmin 5vmin 0 var(--pink), -5vmin 5vmin 0 var(--pink);
}

.head {
  position: absolute;
  left: 10vmin;
  top: 5vmin;
  width: 30vmin;
  height: 35vmin;
  background: white;
  border-radius: 50% 50% 45% 45%;
  overflow: hidden;
  transform: rotate(10deg);
}

/* Patch */
.head::before {
  content: '';
  position: absolute;
  width: 16vmin;
  height: 20vmin;
  background: var(--black);
  border-radius: 40% 40% 40% 30%;
  transform: rotate(10deg);
}

.snout {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 25vmin;
  height: 15vmin;
  background: var(--pink);
  border-radius: 50%;
  bottom: 0;
}

.snout::before {
  content: '';
  left: 8vmin;
  top: 5vmin;
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  background: var(--black);
}

.snout::after {
  content: '';
  right: 8vmin;
  top: 5vmin;
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  background: var(--black);
}

.mouth {
  position: absolute;
  bottom: 4vmin;
  left: 50%;
  transform: translateX(-50%);
  width: 15vmin;
  height: 5vmin;
  border-radius: 50%;
  box-shadow: 0 0.75vmin 0 var(--black);
}

.eye {
  width: 5vmin;
  height: 5vmin;
  position: absolute;
  border: 2px solid var(--black);
  border-radius: 50%;
  top: 10vmin;
  background: white;
}

.eye::before {
  width: 2vmin;
  height: 2vmin;
  content: '';
  position: absolute;
  background: var(--black);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.eye.left {
  left: 5vmin;
}

.eye.right {
  right: 5vmin;
}
