body {
  font-family: Arial, sans-serif;
  background-color: #f6378f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background: transparent;
  border-image: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  border-image-slice: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
