body {
  display: flex;
  justify-content: center;
  margin: auto 0;
  background-color: #622870;

  animation: colorChange 1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;

  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 200px, 0);
  }
}

@keyframes colorChange {
  from {
    background-color: #622870;
  }
  to {
    background-color: #27576b;
  }
}
