* {
  margin: 0;
  padding: 0;
}
body {
  background-color: teal;
}
main {
  width: 500px;
  height: 95vh;
  margin: 1% auto;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  overflow: hidden;
}
main img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  transition: all 0.5s;
  overflow: hidden;
  filter: grayscale(100%);
}
main:hover img {
  transform: scale(1.2, 1.2);
  filter: grayscale(0%);
}
