.modal {
  padding: 200px;
}
.container {
  display: flex;
}
.container div {
  margin: 15px;
}
.box {
  height: 200px;
  width: 200px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-name: load;
}
.rect1 {
  background-color: salmon;
  animation-delay: 1s;
}
.rect2 {
  background-color: gold;
  animation-delay: 2s;
}
.rect3 {
  background-color: mediumturquoise;
  animation-delay: 4s;
}
.rect4 {
  background-color: palegreen;
  animation-delay: 3s;
}
@keyframes load {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scale(1.2);
  }
}
