@keyframes one {
  0% {
    background-color: rgb(155, 12, 238);
    width: 6rem;
    height: 6rem;
  }
  10% {
    background-color: lightblue;
    width: 5rem;
    height: 5rem;
  }
  25% {
    background-color: yellow;
    width: 4rem;
    height: 4rem;
  }
  50% {
    background-color: blue;
    width: 3rem;
    height: 3rem;
  }
  60% {
    background-color: lightcoral;
    width: 2rem;
    height: 2rem;
  }
  75% {
    background-color: black;
    width: 1rem;
    height: 1rem;
  }
  100% {
    background-color: rgb(12, 245, 12);
    width: 0rem;
    height: 0rem;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#one {
  background-color: rgb(155, 12, 238);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin: 1em;
  animation: one 4s linear 0s infinite alternate;
}
#two {
  background-color: rgb(155, 12, 238);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin: 1em;
  animation: one 4s linear 0s infinite alternate;
}
#three {
  background-color: rgb(155, 12, 238);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin: 1em;
  animation: one 4s linear 0s infinite alternate;
}
#four {
  background-color: rgb(155, 12, 238);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin: 1em;
  animation: one 4s linear 0s infinite alternate;
}
#five {
  background-color: rgb(155, 12, 238);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin: 1em;
  animation: one 4s linear 0s infinite alternate;
}
