* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	color: #fff;
	background-color: #333;
    overflow: hidden;
}

.sky {
	position: relative;
	height: 60vh;
	background-color: royalblue;
    animation: sky 8s linear infinite;
}

.sun {
	position: absolute; 
	top: 50px;
	left: 100px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: orange;
	box-shadow: 0 0 70px yellow;
    animation: sun 8s linear infinite;
}

.ground {
	position: relative;
	bottom: 0;
	height: 40vh;
	background-color: #4a3535;
}

.grass {
	position: absolute;
	top: 0;
	height: 200px;
	width: 100%;
	background-color: lime;
}

.road {
	position: absolute;
	top: 30px;
	height: 120px;
	width: 100%;
	background-color: gray;
}

.car {
	position: absolute;
	top: -15px;
	left: 200px;
	height: 70px;
	width: 150px;
	background-color: tomato;
	border-radius: 15px;
    animation: car 8s linear infinite;
}

.car::before,
.car::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 35px;
	background-color: tomato;
}

.car::after {
	right: -20px;
	border-top-right-radius: 10px;
}

.car::before {
	left: -20px;
}

.wheel {
	position: absolute;
	bottom: -10px;
	width: 35px;
	height: 35px;
	background-color: black;
	border-radius: 50%;
	border: 2px dashed #999;
    animation: wheel 2s linear infinite;
}

.front-wheel {
	right: 8px;
	z-index: 1;
}

.rear-wheel {
	left: 8px;
}

.window {
	position: absolute;
	top: 5px;
	height: 30px;
	width: 50px;
	background-color: blue;
}

.front-window {
	right: 0;
	border-top-right-radius: 9px;
}

.rear-window {
	left: 0;
	border-top-left-radius: 9px;
}

@keyframes sun {
	0% {
		top: 1000px;
	}
	40% {
		top: 100px;
	}
	60% {
		top: 100px;
	}
	100% {
		top: 1000px;
	}
}

@keyframes sky {
	0% {
		background-color: black;
	}
	40% {
		background-color: royalblue;
	}
	60% {
		background-color: royalblue;
	}
	100% {
		background-color: black;
	}
}

@keyframes car{
    from{
        left: -500px;
    }

    to{
        left: 2500px;
    }
}

@keyframes wheel{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}