* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #0011ff, #000000);
  background-size: 400% 400%;
  position: relative;
  animation: AnimationFade 10s ease-in-out infinite;
}

@keyframes AnimationFade {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
