body{
margin: 0;
background-color:#2b2b2b;
}
h1 {
font-size: 48px;
}
.header {
position: relative;
text-align: center;
background: linear-gradient(
60deg,
rgb(226, 102, 0) 0%,
rgb(250, 206, 10) 100%
);
color: #2b2b2b;
}
.inner-header {
height: 65vh;
width: 100%;
margin: 0;
padding: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7pX;
    min-height: 100px;
    max-height: 150px;
    }
    .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
    infinite;
    }
    .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration:7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay:-3s;
        animation-duration: 10s;
        }
        .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration:13s;
        }
        .parallax > use:nth-child(4) {
        animation-delay:-5s;
        animation-duration: 20s;
        }
        @keyframes move-forever{
        0% {
        transform: translate3d(-90px, 0, 0);
        }
        100% {
        transform: translate3d(85px, 0, 0);
        }
        }