* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #222;
  font-size: 4.5rem;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: bold;
}

h1 span {
  transition: all 0.5s ease;
}

h1:hover span:nth-child(1) {
  margin-right: 10px;
}
h1:hover span:nth-child(1)::after {
  content: "'";
}
h1:hover span:nth-child(2) {
  margin-left: 40px;
}

h1:hover span {
  color: #fff;
  opacity: 0.9;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 120px #fff;
}
