.tile--css_animations__demo3 {
  background: rgb(20, 20, 20);
  overflow: hidden;
  padding-top: 50px;
}
.tile--css_animations__demo3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 78%;
  overflow: hidden;
}
.tile--css_animations__demo3 div {
  margin-top: -17%;
  height: 34%;
  width: 2%;
  top: 30%;
  border-radius: 20px;
  position: absolute;
}
.tile--css_animations__demo3 div:nth-of-type(1) {
  animation: wave 17s 0s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(2) {
  animation: wave 17s -16.227s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(3) {
  animation: wave 17s -15.455s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(4) {
  animation: wave 17s -14.682s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(5) {
  animation: wave 17s -13.909s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(6) {
  animation: wave 17s -13.136s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(7) {
  animation: wave 17s -12.364s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(8) {
  animation: wave 17s -11.591s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(9) {
  animation: wave 17s -10.818s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(10) {
  animation: wave 17s -10.045s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(11) {
  animation: wave 17s -9.273s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(12) {
  animation: wave 17s -8.5s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(13) {
  animation: wave 17s -7.727s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(14) {
  animation: wave 17s -6.955s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(15) {
  animation: wave 17s -6.182s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(16) {
  animation: wave 17s -5.409s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(17) {
  animation: wave 17s -4.636s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(18) {
  animation: wave 17s -3.864s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(19) {
  animation: wave 17s -3.091s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(20) {
  animation: wave 17s -2.318s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(21) {
  animation: wave 17s -1.545s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(22) {
  animation: wave 17s -0.773s linear infinite;
}
@keyframes wave {
  0% {
    left: -2%;
    background: #3b44d1;
  }
  5% {
    background: #9337fe;
  }
  10% {
    height: 10%;
    margin-top: -5%;
    background: #c532fc;
  }
  15% {
    background: #f639f8;
  }
  20% {
    height: 34%;
    margin-top: -17%;
    background: #f236c8;
  }
  25% {
    background: #ff2f8d;
  }
  30% {
    height: 10%;
    margin-top: -5%;
    background: #ee3860;
  }
  35% {
    background: #dc5245;
  }
  40% {
    height: 34%;
    margin-top: -17%;
    background: #f38643;
  }
  45% {
    background: #f8b435;
  }
  50% {
    height: 10%;
    margin-top: -5%;
    background: #faf444;
  }
  55% {
    background: #e0ff3b;
  }
  60% {
    height: 34%;
    margin-top: -17%;
    background: #e1ff3c;
  }
  65% {
    background: #46f443;
  }
  70% {
    height: 10%;
    margin-top: -5%;
    background: #54e67b;
  }
  75% {
    background: #4df3a9;
  }
  80% {
    height: 34%;
    margin-top: -17%;
    background: #3af9da;
  }
  85% {
    background: #36ebf4;
  }
  90% {
    height: 10%;
    margin-top: -5%;
    background: #3db3f3;
  }
  95% {
    background: #3c82f1;
  }
  100% {
    height: 34%;
    margin-top: -17%;
    left: 100%;
    background: #5b38ee;
  }
}
