:root {
	--Black: #000;
	--Moon: #9c9556;
	--Purple: #d700ff;
	--White: #fff;
}

body{
	padding: 0;
	margin: 0;
	background: linear-gradient( var(--Purple), 
		var(--Black) 76%);
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center; 
  position: relative;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.moon{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: var(--Moon);
	position: absolute;
}
.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
 	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.clouds_group {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	z-index: 2;
	position: relative;
}

.cloud {
	width: 350px;
	height: 30px;
	border-radius: 80%;
	border: 2px solid var(--Purple);
	background: var(--White);
	filter: drop-shadow(-4px 2px 15px var(--Purple));
	display: flex;
	flex-direction: row;
	justify-content: space-around;

 	z-index: 2;
	overflow: visible;
	position: relative;

	animation-name: wind;
	animation-duration: 4.5s;
	animation-direction: normal;
	animation-fi ll-mode: forwards;

}

.cloud_low{
	margin-left: 300px;
	margin-top: 55px;
}

.fluff{
	width: 150px;
	height: 55px;
	border-radius: 45%;
	background: var(--White);
	display: flex;
	position: relative;
	overflow: visible;
}

.fluffLeft{
	width: 140px;
	height: 45px;
	border-radius: 45%;
	margin-left: -44px;
	background: var(--White);
	position: relative;
	overflow: visible;
}
.fluffRight{
	width: 140px;
	height: 45px;
	border-radius: 45%;
	margin-right: -44px;
	background: var(--White);
	position: relative;
	overflow: visible;
}

@keyframes wind {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1450px);
  }
}
