css * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000a14;
    font-family: Arial, sans-serif;
}

.scene {
    perspective: 800px;
}

.cube {
    position: relative;
    width: 200px;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
    transform-origin: center;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    /* Glow effect */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.front {
    transform: rotateY(0deg) translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.imgBg {
    background-color: white;
    /* border-radius: 2px; */
}