body {
  /* background-color: white; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  border-bottom: 10px solid black;
  height: 510px;
}
.ball {
  background-color: orange;
  border: 10px solid black;
  margin-top: 449px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  animation-name: smoothBounce;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
.ball2 {
  animation-delay: 2s;
}

.ball3 {
  animation-delay: 3s;
}

.ceiling {
  background-color: black;
  margin-top: 200px;
  padding: 5px;
  position: absolute;
  width: 100%;
}
@keyframes smoothBounce {
  100% {
    margin-top: 448px;
  }
  90% {
    margin-top: 400px;
  }
  80% {
    margin-top: 448px;
  }
  70% {
    margin-top: 350px;
  }
  60% {
    margin-top: 448px;
  }
  50% {
    margin-top: 300px;
  }
  40% {
    margin-top: 448px;
  }
  30% {
    margin-top: 250px;
  }
  20% {
    margin-top: 448px;
  }

  10% {
    margin-top: 200px;
  }
}
