body {
  background: #000;
}
.wrap {
  width: 700px;
  margin: 100px auto;
  color: #fff;
  text-align: center;
  font-size: 20em;
  font-family: Impact;
}
span {
  display: block;
  background: url("fire.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fire 0.6s linear infinite;
}
@keyframes fire {
  0% {
    background-position: 0% 50%;
  }
  0% {
    background-position: 120% -70%;
  }
}
