body {
  color: #f8f8f2;
  background-color: #282a36;
}

#box {
  margin: 15% auto;
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 10rem;
}

.node {
  width: 50%;
  height: 100%;
}

#magenta {
  background-color: #ff79c6;
  animation: color1 4s linear infinite;
}

#purple {
  background-color: #bd93f9;
  animation: color2 4s linear infinite;
}

#cyan {
  background-color: #8be9fd;
  animation: color3 4s linear infinite;
}

#yellow {
  background-color: #f1fa8c;
  animation: color4 4s linear infinite;
}

@keyframes color1 {
  25% {
    background-color: #bd93f9;
  }

  50% {
    background-color: #8be9fd;
    /*border-radius: 50%;*/
  }

  75% {
    background-color: #f1fa8c;
  }

  100% {
    background-color: #ff79c6;
    border-radi/us: 0;
  }
}

@keyframes color2 {
  25% {
    background-color: #8be9fd;
  }

  50% {
    background-color: #f1fa8c;
    /*border-radius: 50%;*/
  }

  75% {
    background-color: #ff79c6;
  }

  100% {
    background-color: #bd93f9;
    /*border-radius: 0;*/
  }
}

@keyframes color3 {
  25% {
    background-color: #f1fa8c;
  }

  50% {
    background-color: #ff79c6;
    /*border-radius: 50%;*/
  }

  75% {
    background-color: #bd93f9;
  }

  100% {
    background-color: #8be9fd;
    /*border-radius: 0;*/
  }
}

@keyframes color4 {
  25% {
    background-color: #ff79c6;
  }

  50% {
    background-color: #bd93f9;
    /*border-radius: 50%;*/
  }

  75% {
    background-color: #8be9fd;
  }

  100% {
    background-color: #f1fa8c;
    /*border-radius: 0;*/
  }
}

/* @keyframes snake { */
/*   33% { */
/*     transform: translateY(100%); */
/*   } */
/**/
/*   66% { */
/*     transform: translateX(100%) translateY(100%); */
/*   } */
/**/
/*   100% { */
/*     transform: translateX(100%); */
/*   } */
/* } */
