h1 {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  font-size: 5rem;
  color: red;
  margin: auto;
  display: block;
  text-align: center;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes example {
  0,
  100% {
    font-size: 5rem;
    color: black;
  }

  10,
  90% {
    font-size: 8rem;
    color: purple;
  }

  20%,
  80% {
    font-size: 11rem;
    color: blue;
  }

  30%,
  70% {
    font-size: 14rem;
    color: green;
  }

  40%,
  60% {
    font-size: 17rem;
    color: lightgreen;
  }

  50% {
    font-size: 20rem;
    color: yellow;
  }
}
