body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #031321;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  animation: animate0 4s infinite;
}

/* a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px 2196f3;
    transition-delay: 0.8s;
    
} */

@keyframes animate0 {
  0% {
    color: #255784;
  }
  50%,
  100% {
    color: #5b09b8;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px 2196f3;
    transition-delay: 4s;
  }
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

/* a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
} */

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
  animation: animate2 2s linear infinite;
}

@keyframes animate2 {
  0% {
    left: 100%;
  }
  50%,
  100% {
    left: -100%;
  }
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    top: 100%;
  }
  50%,
  100% {
    top: -100%;
  }
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
  animation: animate4 2s linear infinite;
}

@keyframes animate4 {
  0% {
    bottom: 100%;
  }
  50%,
  100% {
    bottom: -100%;
  }
}

a:hover span:nth-child(4) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
