body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.emoji {
  width: 200px;
  height: 200px;
  background: #ffc107;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(31, 28, 28, 0.73);
}
.mouth {
  background: black;
  height: 50px;
  width: 25px;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  position: fixed;
  animation-name: fix;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.eye1 {
  background: black;
  height: 20px;
  width: 25px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 50%;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.eye2 {
  background: black;
  height: 20px;
  width: 200px;
  margin-left: 120px;
  margin-top: -13px;
  border-radius: 50%;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    height: 3px;
    width: 25px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}
@keyframes fix {
  0% {
    margin-top: 52px;
  }
}
