#animation-container {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  background: rgb(143, 143, 212);
}

.circle {
  height: 50px;
  width: 50px;
  background: #f04e4e;
  border-radius: 50%;
  align-self: center;
}
.circle-1 {
  animation: bounce 1s linear infinite;
}
.circle-2 {
  animation: bounce 1s linear infinite;
  animation-delay: 0.5s;
}
.circle-3 {
  animation: bounce 1s linear infinite;
  animation-delay: 0s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
