* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252a34;
}

.circle-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #454545;
  border-top: 2px solid #ff6000;
  animation: load 2s linear infinite;
}

.circle-inner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #454545;
  border-top: 2px solid #ffa559;
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
