body {
  background: radial-gradient(circle at 50% 50%, gray -100%, black 50%);
  height: 99vh;
}

.scene {
  position: relative;
  top: 50vh;
  left: 50vw;
  width: 0;
  height: 0;
}

.shapes {
  filter: drop-shadow(1px 3px 5px #9ac5db);
  animation: light 9s infinite alternate;
}

.depth {
  transform-origin: 0 0;
  transform-style: preserve-3d;
}

.triangle {
  position: absolute;
  left: -33px;
  top: 74.5px;
  width: 0;
  height: 0;
  border-left: 33.3px solid transparent;
  border-right: 33.3px solid transparent;
  border-bottom: 100.5px solid;
}

.trapeze {
  position: absolute;
  left: -33px;
  top: -36px;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 36px solid;
  height: 0;
  width: 33px;
}

.hexagon {
  position: absolute;
  left: -16px;
  top: -28px;
  width: 0;
  height: 0;
  border-left: 16.7px solid transparent;
  border-right: 16.7px solid transparent;
  border-bottom: 16.7px solid;
}

/* Bottom Edges */

.triangle {
  transform-origin: 50% 0%;
}

.triangle.face-one {
  animation-delay: -3s;
  transform: rotateY(0deg) rotateX(35deg) scaleY(-1);
}

.triangle.face-two {
  animation-delay: -6s;
  transform: rotateY(60deg) rotateX(35deg) scaleY(-1);
}

.triangle.face-three {
  animation-delay: -9s;
  transform: rotateY(120deg) rotateX(35deg) scaleY(-1);
}

.triangle.face-four {
  animation-delay: -12s;
  transform: rotateY(180deg) rotateX(35deg) scaleY(-1);
}

.triangle.face-five {
  animation-delay: -15s;
  transform: rotateY(240deg) rotateX(35deg) scaleY(-1);
}

.triangle.face-six {
  animation-delay: -18s;
  transform: rotateY(300deg) rotateX(35deg) scaleY(-1);
}

/* Top Edges */

.trapeze {
  transform-origin: 50% 50%;
}

.trapeze.face-one {
  transform: rotateY(0deg) translateZ(-43px) rotateX(-55deg);
}

.trapeze.face-two {
  animation-delay: -3s;
  transform: rotateY(60deg) translateZ(-43px) rotateX(-55deg);
}

.trapeze.face-three {
  animation-delay: -6s;
  transform: rotateY(120deg) translateZ(-43px) rotateX(-55deg);
}

.trapeze.face-four {
  animation-delay: -9s;
  transform: rotateY(180deg) translateZ(-43px) rotateX(-55deg);
}

.trapeze.face-five {
  animation-delay: -12s;
  transform: rotateY(240deg) translateZ(-43px) rotateX(-55deg);
}

.trapeze.face-six {
  animation-delay: -15s;
  transform: rotateY(300deg) translateZ(-43px) rotateX(-55deg);
}

/* Top */
.hexagon {
  transform-origin: 50% 0%;
  border-bottom-color: #cbe3f0;
}

.hexagon.part-one {
  transform: rotateY(0deg) translateZ(3px) rotateX(-90deg) scaleY(1.9);
}

.hexagon.part-two {
  transform: rotateY(60deg) translateZ(3px) rotateX(-90deg) scaleY(1.9);
}

.hexagon.part-three {
  transform: rotateY(120deg) translateZ(3px) rotateX(-90deg) scaleY(1.9);
}

.hexagon.part-four {
  transform: rotateY(180deg) translateZ(3px) rotateX(-90deg) scaleY(1.9);
}

.hexagon.part-five {
  transform: rotateY(240deg) translateZ(3px) rotateX(-90deg) scaleY(1.9);
}

.hexagon.part-six {
  transform: rotateY(300deg) translateZ(3px) rotateX(-90deg) scaleY(1.9);
}

/* Animations */

.rotate {
  transform: rotateX(-18deg);
}

.spinner {
  animation: spinner 18s infinite Linear;
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes light {
  0% {
    border-bottom-color: #f1f7fb;
  }

  25% {
    border-bottom-color: #d9ebf4;
  }

  50% {
    border-bottom-color: #cbe3f0;
  }

  75% {
    border-bottom-color: #b8d8e7;
  }

  100% {
    border-bottom-color: #9ac5db;
  }
}
