@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
body,
html {
  height: 100%;
  background-color: rgb(155, 155, 155);
  font-family: 'Marck Script', cursive;
  font-size: 1em;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  height: 300px;
  width: 450px;
}
.band {
  height: calc(100% / 3);
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: rgb(241, 241, 241);
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 30px;
  animation: title 3s ease infinite alternate;
  font-size: 3em;
}
@keyframes title {
  0%,
  30%,
  70%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/* ANIMATION */
/* Vertival sliding bands */
.one {
  animation: opacity1 3s ease infinite alternate,
    translate1 3s ease infinite alternate;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  border-radius: 60px;
  box-shadow: rgba(255, 255, 255, 0.301) 0px 0px 50px;
}
@keyframes opacity1 {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
}
@keyframes translate1 {
  0% {
    transform: translate(40px, 0px);
  }
  50% {
    transform: translate(-40px, calc(100% / 3 * 3));
  }
  100% {
    transform: translate(40px, calc(100% / 3 * 6));
  }
}
.three {
  animation: opacity3 3s ease infinite alternate,
    translate3 3s ease infinite alternate;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 50px;
}
@keyframes opacity3 {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
}
@keyframes translate3 {
  0% {
    transform: translate(-40px, 0px);
  }
  50% {
    transform: translate(40px, calc(-100% / 3 * 3));
  }
  100% {
    transform: translate(-40px, calc(-100% / 3 * 6));
  }
}
