body {
  background: violet;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.shape {
  background: #f3f3f3;
  border-radius: 50%;
  height: 90vh;
  width: 90vw;
  margin: auto;
  display: flex;
  animation: shaping 7s ease-in-out 1s infinite;
}

@keyframes shaping {
  0% {
    height: 90vh;
  }
  50% {
    height: 0vh;
  }
  100% {
    height: 90vh;
  }
}

.boulder {
  background: red;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  border: 3px solid #2e3546;
  animation: 10s boulder linear infinite;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.boulder div {
  background: #2e3546;
}

.line1 {
  height: 100%;
  width: 3px;
  position: relative;
  left: 50%;
}

.line2 {
  width: 100%;
  height: 3px;
  position: relative;
  bottom: 50%;
}

@keyframes boulder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.lash {
  background: #0746d8;
  width: 100vw;
  height: 0vh;
  animation: lashes 7s ease-in-out 1s infinite;
  position: absolute;
  z-index: 999;
}

.bottom {
  bottom: 0;
}

@keyframes lashes {
  0% {
    height: 0vh;
  }
  50% {
    height: 50vh;
  }
  100% {
    height: 0vh;
  }
}
