body{
	background: #333;
}

.box{
	background: #fff;
	width:200px;
	height:200px;
	position: relative;
	text-align: center;
	justify-content: center;
	padding: 50px;
	animation-name:nickimation;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes nickimation{
	0%{
		 background-color: #fff;
		 left: 0px;
		 top: 0px;
		 border-radius: 0 0 0 0;
	 }
	25%{
		background-color: #1E8449;
		left: 300px;
		 top: 0px;
		 border-radius: 50% 0 0 0;
	}
	50%{
		background-color: #1F618D;
		left: 300px;
		 top: 300px;
		 border-radius: 50% 50% 0 0;
	}
	75%{
		background-color: #B03A2E;
		left: 0px;
		 top: 300px;
		 border-radius: 50% 50% 50% 0;
	}
	100%{ 
		background-color: #fff;
		left: 0px;
		 top: 0px;
		 border-radius: 50%;
	}
}