body {
    background-image: linear-gradient(to right, rgb(136, 254, 246), rgb(73, 155, 248));
}

.robot {
    width: 0;
    height: 0;
    position: relative;
    animation: move 3s ease-in-out infinite alternate;
}

@keyframes move {
    from {left: 2%;}
    to {left: 20%}
}

.top-of-head {
    height: 13px;
    width: 40px;
    background-color: rgb(53, 236, 246);
    border-radius: 50%;
    margin-left: 25px;
    margin-bottom: -8px;
    position: relative;
    bottom: 97%;
    z-index: 2;
}

.antenna {
    width: 10px;
    height: 65px;
    background-color: #10f1e6;
    position: absolute;
    top: -1px;
    border-radius: 1%;
    right: 1px;
    z-index: -1;
}

.antenna:last-child {
    right: 87%;
    z-index: -1;
}

.ball {
    width: 15px;
    height: 15px;
    background-color: rgb(245, 234, 131);
    border-radius: 50%;
    position: absolute;
    transform: translate(-18%, -37%);
    animation: change-color 3s infinite ease-in-out alternate;
}

@keyframes change-color {
    from {background-color: rgb(245, 234, 131);}
    to {background-color: rgb(97, 163, 245);}
}


.head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90px;
    width: 90px;
    background-color: #54a8d5;
    border-radius: 40%;
}

.eye {
    margin: auto;
    position: relative;
    height: 25px;
    width: 30px;
    background-color: #36e7fb;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.pupil {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-eye {
    width: 8px;
    height: 8px;
    background-color: rgb(6, 24, 128);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes rotate {
    from {left: 80%;}
    to {left: 20%;}
}

.nose {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(173, 245, 241);
}

.mouth {
    position: absolute;
    height: 10px;
    width: 65px;
    margin: auto;
    margin-top: 45px;
    background-color: #050365;
    border-radius: 40%;
}

.teeth {
    margin-left: 2px;
    margin-top: 1px;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, white, transparent 1px);
    background-size: 10px 100%; 
}