.element {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: red;
    animation: 
        stretch,
        rotation infinite linear;
    animation-duration: 1s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  @keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: red;
      border-radius: 100%;
    }

    100% {
      transform: scale(1.5);
      background-color: yellow;
      border-radius: 20%;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  body,
  html {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }