*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    animation: body-cicle 2s infinite;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.square {
    margin: 10px;
}

.div1 {
    width: 200px;
    height: 200px;
    background-color: rgb(138, 247, 105);
    animation: div1-circle 2s cubic-bezier(0.42, 0, 0, 0.97) infinite
}
.div2 {
    width: 200px;
    height: 200px;
    background-color: rgb(100, 188, 247);
    animation: div2-circle 2s cubic-bezier(0.42, 0, 0, 0.97) infinite;
    animation-delay: 0.1s;
    z-index: -1;
}
.div3 {
    width: 200px;
    height: 200px;
    background-color: rgb(138, 247, 105);
    animation: div3-circle 2s cubic-bezier(0.42, 0, 0, 0.97) infinite;
}


@keyframes div1-circle {
    0% {
        transform: rotate(0deg);
        border-radius: 10%;
    }

    50% {
        transform: rotate(180deg) scale(0.8);
        border-radius: 90%;
    }

    100% {
        transform: rotate(360deg);
        border-radius: 10%;
    }
}

@keyframes div2-circle {
    0% {
        transform: rotate(0deg);
        border-radius: 10%;
    }

    50% {
        transform: rotate(45deg) scale(3.1);
        border-radius: 50%;
    }

    100% {
        transform: rotate(180deg);
        border-radius: 10%;
    }
}

@keyframes div3-circle {
    0% {
        transform: rotate(0deg);
        border-radius: 10%;
    }

    50% {
        transform: rotate(180deg) scale(0.8);
        border-radius: 90%;
    }

    100% {
        transform: rotate(360deg);
        border-radius: 10%;
    }
}



@keyframes body-cicle {
    0% {
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    }

    50% {
        background-image: linear-gradient(to right, #4facfe6c 0%, #00f1fe5d 100%);
    }


    100% {
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    }
}