html,
body {
  background-color: #404456;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: #404456;
}


#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid palegoldenrod;
  transform: rotate(45deg);
  animation: fall 5s infinite;
}

@keyframes fall {
    0% {
        transform: translate(0, 0) rotate(45deg);
    }
    35% {
        transform: translate(0, 0) rotate(45deg);
    }
    45% {
        transform: translate(-6.5em, 0) rotate(135deg);
        animation-timing-function: cubic-bezier(0, 0, 0, 0);
    }
    60% {
        transform: translate(-6.5em, 0) rotate(135deg);
        animation-timing-function: cubic-bezier(.79, 0, .47, .97);
    }
    100% {
        transform: translate(0, 0) rotate(45deg);
    }
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid palegoldenrod;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  2.5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  10% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  12.5% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  15% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  22.5% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  25% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  27.5% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  35% {
    transform: translate(3em, -4em) rotate(217deg); 
  }
  37.5% {
    transform: translate(3em, -4em) rotate(220deg);
    animation-timing-function: cubic-bezier(.56,0,.87,.15);
  }
  50% {
    transform: translate(3em, -0.75em) rotate(405deg);
    animation-timing-function: cubic-bezier(.55,-100.81,.87,.15);
  }
  55% {
    transform: translate(3em, -0.74em) rotate(405.3deg);
  }
  65% {
    transform: translate(3em, -0.74em) rotate(405.3deg);
    animation-timing-function: cubic-bezier(.7,0,1,1.02);
  }
  72.5% {
    transform: translate(2.9em, -1.85em) rotate(380deg);
    animation-timing-function: cubic-bezier(.43,.59,.56,1);
  }
  86% {
    transform: translate(1.5em, -3.8em) rotate(275deg);
    animation-timing-function: cubic-bezier(.57,.02,1,.73);
  }
  90% {
    transform: translate(1.2em, -3.2em) rotate(225deg);
    animation-timing-function: cubic-bezier(.7,.45,.53,1.30);
  }
  100% {
    transform: translate(0, -1em) rotate(-45deg);
  }
}

