

body {
  margin: 0;
}

img, div{
  width: 10em;
  height: 10em;
}

.x{
  animation: x 13s linear infinite alternate;
}

.y{
  animation: y 7s linear infinite alternate;
}



@keyframes x {
  100% {
    transform: translateX( calc(100vw - 10em) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 10em) );
    }
  }


