#one {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellow;
  position: relative;
  animation: example1 5s linear 2s infinite normal;
}

@keyframes example1 {
  0% {
    background-color: black;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: black;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: yellow;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: black;
    left: 0px;
    top: 0px;
  }
}
