body {
  display: flex;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.face-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: yellow;
  overflow: hidden;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.face-wrapper:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.eye-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 35%;
  z-index: 5;
  margin-top: -60px;
}

.eye {
  background-color: #000;
  height: 50px;
  width: 15px;
}

.smile {
  display: block;
  position: absolute;
  width: 50%;
  height: 45%;
  border: 15px solid #000;
  border-radius: 50%;
  margin-bottom: -20px;
}

.block {
  position: absolute;
  height: 55%;
  top: 0;
  background-color: yellow;
  width: 100%;
  z-index: 4;
}
