body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 2.5s linear infinite backwards;
}

#div1 {
  animation-delay: 0.25s;
  background-color: red;
}
#div2 {
  animation-delay: 0.5s;
  background-color: blue;
}
#div3 {
  animation-delay: 0.75s;
  background-color: yellow;
}
#div4 {
  animation-delay: 1s;
  background-color: violet;
}
#div5 {
  animation-delay: 1.25s;
  background-color: purple;
}
#div6 {
  animation-delay: 1.5s;
  background-color: red;
}
#div7 {
  animation-delay: 1.75s;
  background-color: blue;
}
#div8 {
  animation-delay: 2s;
  background-color: yellow;
}
#div9 {
  animation-delay: 2.25s;
  background-color: violet;
}
#div10 {
  animation-delay: 2.5s;
  background-color: purple;
}

@keyframes mymove {
  0% {
    top: 300px;
  }
  25% {
    top: 500px;
  }
  50% {
    top: 300px;
  }
  75% {
    top: 100px;
  }
  100% {
    top: 300px;
  }
}
