@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px) scale(0.5);
  }
  50% {
    transform: translateY(200px) scale(1);
  }
}

.bouncingball {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: black;
  animation: bounce 2s linear infinite;
  position: absolute;
  bottom: 50%;
  left: 10%;
  transform: translateX(-50%);
}

.bouncingball::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: ballHit 0.2s forwards;
}

@keyframes ballHit {
  to {
    transform: scaleY(1);
    background: rgba(0, 0, 0, 0);
  }
}
