/* adding animation to circles */
.circle0,
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  border-radius: 50%;
  height: 80px;
  width: 30vw;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circle0 {
  background: red;
  animation-timing-function: linear;
}
.circle1 {
  background: yellow;
  animation-timing-function: ease;
}
.circle2 {
  background: grey;
  animation-timing-function: ease-in;
}
.circle3 {
  background: green;
  animation-timing-function: ease-out;
}
.circle4 {
  background: blue;
  animation-timing-function: ease-in-out;
}
.circle5 {
  background: lightblue;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes example {
  0% {
    left: 0vw;
    border-radius: 0 0;
  }
  50% {
    border-radius: 50px 50px;
  }
  100% {
    left: 65vw;
    border-radius: 0 0;
  }
}
