.element {
	display: inline-block;
	background-color: green;
	width: 100px;
	height: 100px;
	font-size: 1px;
	padding: 1px;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
	animation: skew 3s infinite;
	transform: skew(20deg);
	animation-direction: alternate;
	opacity: .7;
}

@keyframes skew {
	0% {
		transform: skewX(20deg);
	}
	100% {
		transform: skewX(-20deg);
	}
}

.element2 {
	display: inline-block;
	background-color: blue;
	width: 100px;
	height: 100px;
	margin-top: 100px;
	font-size: 1px;
	padding: 1px;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
	animation: shake 2s infinite;
	transform: skew(20deg);
	animation-direction: alternate;
	opacity: .7;
}

@keyframes shake {
	0% {
		transform: skewY(20deg);
	}
	100% {
		transform: skewY(-20deg);
	}
}

