.animatedBox {
  display:flex;
  align-items: center;
  margin: auto;
  border: 10px solid black;
  background-color: aqua;
  height: 300px;
  width: 600px;
  animation-name: example;
  animation-duration: 4s;
  margin-top: 200px;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

