* {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
  display: grid;
  justify-items: center;
  align-items: center;
}

h1{
  font-size: 4rem;
  display: block;
  height: 10vh;
  width: 10vw;
  color: white;
}


@keyframes anim {
  0% {
    width: 100px;
    background-color: red;
  }
  75%{
    width: 200px;
  }
  100% {
    background-color: blue;
    width: 100px;
  }
}

/* SNOW */
@keyframes snow-drop {
  0% {
    padding-top: 0;
  }
  
  100% {
    padding-top: 99vh;
  }
}
@keyframes wind {
  0% {
    padding-left: 0;
  }
  
  100% {
    padding-left: 20px;
  }
}

.snowflake-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
}
.snowflake {
  width: 15px;
  height: 15px;
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  z-index: 10;
  position: absolute;
}

.s0 {
  margin-left: 7vw ;
  top: 4vh;
  animation: snow-drop 25.92s infinite,  wind 9.49s alternate infinite;
}

.s1 {
  margin-left: 8vw ;
  top: 12vh;
  animation: snow-drop 35.32s infinite,  wind 5.22s alternate infinite;
}

.s2 {
  margin-left: 8vw ;
  top: 27vh;
  animation: snow-drop 24.33s infinite,  wind 14.64s alternate infinite;
}

.s3 {
  margin-left: 7vw ;
  top: 34vh;
  animation: snow-drop 31.51s infinite,  wind 13.97s alternate infinite;
}

.s4 {
  margin-left: 7vw ;
  top: 40vh;
  animation: snow-drop 28.08s infinite,  wind 9.79s alternate infinite;
}

.s5 {
  margin-left: 7vw ;
  top: 57vh;
  animation: snow-drop 38.3s infinite,  wind 2.18s alternate infinite;
}

.s6 {
  margin-left: 8vw ;
  top: 64vh;
  animation: snow-drop 39.39s infinite,  wind 14.07s alternate infinite;
}

.s7 {
  margin-left: 15vw ;
  top: 79vh;
  animation: snow-drop 33.86s infinite,  wind 2.63s alternate infinite;
}

.s8 {
  margin-left: 8vw ;
  top: 89vh;
  animation: snow-drop 23s infinite,  wind 4.01s alternate infinite;
}

.s9 {
  margin-left: 18vw ;
  top: 96vh;
  animation: snow-drop 29.88s infinite,  wind 3.89s alternate infinite;
}

.s10 {
  margin-left: 17vw ;
  top: 7vh;
  animation: snow-drop 26.75s infinite,  wind 4.23s alternate infinite;
}

.s11 {
  margin-left: 20vw ;
  top: 12vh;
  animation: snow-drop 39.53s infinite,  wind 8.85s alternate infinite;
}

.s12 {
  margin-left: 13vw ;
  top: 24vh;
  animation: snow-drop 32.1s infinite,  wind 11.47s alternate infinite;
}

.s13 {
  margin-left: 16vw ;
  top: 32vh;
  animation: snow-drop 35.46s infinite,  wind 4.93s alternate infinite;
}

.s14 {
  margin-left: 21vw ;
  top: 40vh;
  animation: snow-drop 28.71s infinite,  wind 6.9s alternate infinite;
}

.s15 {
  margin-left: 15vw ;
  top: 54vh;
  animation: snow-drop 29.21s infinite,  wind 11.47s alternate infinite;
}

.s16 {
  margin-left: 24vw ;
  top: 67vh;
  animation: snow-drop 24.23s infinite,  wind 10.6s alternate infinite;
}

.s17 {
  margin-left: 25vw ;
  top: 74vh;
  animation: snow-drop 24.9s infinite,  wind 9.13s alternate infinite;
}

.s18 {
  margin-left: 21vw ;
  top: 81vh;
  animation: snow-drop 31.73s infinite,  wind 3.81s alternate infinite;
}

.s19 {
  margin-left: 23vw ;
  top: 98vh;
  animation: snow-drop 33.77s infinite,  wind 13.28s alternate infinite;
}

.s20 {
  margin-left: 25vw ;
  top: 5vh;
  animation: snow-drop 29.88s infinite,  wind 3.29s alternate infinite;
}

.s21 {
  margin-left: 29vw ;
  top: 18vh;
  animation: snow-drop 33.02s infinite,  wind 8.7s alternate infinite;
}

.s22 {
  margin-left: 30vw ;
  top: 25vh;
  animation: snow-drop 29.29s infinite,  wind 7.61s alternate infinite;
}

.s23 {
  margin-left: 28vw ;
  top: 34vh;
  animation: snow-drop 34.47s infinite,  wind 10.45s alternate infinite;
}

.s24 {
  margin-left: 27vw ;
  top: 47vh;
  animation: snow-drop 33.96s infinite,  wind 14.58s alternate infinite;
}

.s25 {
  margin-left: 34vw ;
  top: 55vh;
  animation: snow-drop 32.25s infinite,  wind 6.87s alternate infinite;
}

.s26 {
  margin-left: 28vw ;
  top: 60vh;
  animation: snow-drop 39.97s infinite,  wind 13.8s alternate infinite;
}

.s27 {
  margin-left: 27vw ;
  top: 70vh;
  animation: snow-drop 37.39s infinite,  wind 14.54s alternate infinite;
}

.s28 {
  margin-left: 33vw ;
  top: 81vh;
  animation: snow-drop 38.1s infinite,  wind 9.9s alternate infinite;
}

.s29 {
  margin-left: 29vw ;
  top: 90vh;
  animation: snow-drop 28.39s infinite,  wind 8.77s alternate infinite;
}

.s30 {
  margin-left: 34vw ;
  top: 2vh;
  animation: snow-drop 37.81s infinite,  wind 8.33s alternate infinite;
}

.s31 {
  margin-left: 38vw ;
  top: 11vh;
  animation: snow-drop 35.43s infinite,  wind 13.69s alternate infinite;
}

.s32 {
  margin-left: 41vw ;
  top: 29vh;
  animation: snow-drop 38.99s infinite,  wind 9.78s alternate infinite;
}

.s33 {
  margin-left: 38vw ;
  top: 32vh;
  animation: snow-drop 36.09s infinite,  wind 5.84s alternate infinite;
}

.s34 {
  margin-left: 39vw ;
  top: 44vh;
  animation: snow-drop 37.59s infinite,  wind 6.8s alternate infinite;
}

.s35 {
  margin-left: 39vw ;
  top: 50vh;
  animation: snow-drop 38.71s infinite,  wind 13.45s alternate infinite;
}

.s36 {
  margin-left: 38vw ;
  top: 63vh;
  animation: snow-drop 24.44s infinite,  wind 8.15s alternate infinite;
}

.s37 {
  margin-left: 45vw ;
  top: 79vh;
  animation: snow-drop 30.67s infinite,  wind 11.61s alternate infinite;
}

.s38 {
  margin-left: 47vw ;
  top: 89vh;
  animation: snow-drop 34.25s infinite,  wind 8.32s alternate infinite;
}

.s39 {
  margin-left: 48vw ;
  top: 90vh;
  animation: snow-drop 38.82s infinite,  wind 9.63s alternate infinite;
}

.s40 {
  margin-left: 46vw ;
  top: 3vh;
  animation: snow-drop 38.05s infinite,  wind 11.1s alternate infinite;
}

.s41 {
  margin-left: 48vw ;
  top: 10vh;
  animation: snow-drop 33.82s infinite,  wind 5.61s alternate infinite;
}

.s42 {
  margin-left: 49vw ;
  top: 28vh;
  animation: snow-drop 23.5s infinite,  wind 5.48s alternate infinite;
}

.s43 {
  margin-left: 48vw ;
  top: 34vh;
  animation: snow-drop 37.43s infinite,  wind 11.22s alternate infinite;
}

.s44 {
  margin-left: 49vw ;
  top: 46vh;
  animation: snow-drop 25.82s infinite,  wind 3.1s alternate infinite;
}

.s45 {
  margin-left: 53vw ;
  top: 52vh;
  animation: snow-drop 37.48s infinite,  wind 10.01s alternate infinite;
}

.s46 {
  margin-left: 50vw ;
  top: 63vh;
  animation: snow-drop 37.2s infinite,  wind 10.42s alternate infinite;
}

.s47 {
  margin-left: 47vw ;
  top: 76vh;
  animation: snow-drop 29.65s infinite,  wind 11.49s alternate infinite;
}

.s48 {
  margin-left: 56vw ;
  top: 84vh;
  animation: snow-drop 39.9s infinite,  wind 9.75s alternate infinite;
}

.s49 {
  margin-left: 55vw ;
  top: 95vh;
  animation: snow-drop 35.75s infinite,  wind 11.17s alternate infinite;
}

.s50 {
  margin-left: 54vw ;
  top: 5vh;
  animation: snow-drop 33.82s infinite,  wind 9.84s alternate infinite;
}

.s51 {
  margin-left: 60vw ;
  top: 18vh;
  animation: snow-drop 37.56s infinite,  wind 10.32s alternate infinite;
}

.s52 {
  margin-left: 56vw ;
  top: 22vh;
  animation: snow-drop 32.28s infinite,  wind 7.97s alternate infinite;
}

.s53 {
  margin-left: 61vw ;
  top: 38vh;
  animation: snow-drop 33.82s infinite,  wind 6.37s alternate infinite;
}

.s54 {
  margin-left: 57vw ;
  top: 46vh;
  animation: snow-drop 31.74s infinite,  wind 7.26s alternate infinite;
}

.s55 {
  margin-left: 57vw ;
  top: 53vh;
  animation: snow-drop 36.11s infinite,  wind 4.42s alternate infinite;
}

.s56 {
  margin-left: 63vw ;
  top: 63vh;
  animation: snow-drop 31.56s infinite,  wind 6.17s alternate infinite;
}

.s57 {
  margin-left: 66vw ;
  top: 77vh;
  animation: snow-drop 38.9s infinite,  wind 8.48s alternate infinite;
}

.s58 {
  margin-left: 61vw ;
  top: 86vh;
  animation: snow-drop 25.37s infinite,  wind 8.87s alternate infinite;
}

.s59 {
  margin-left: 66vw ;
  top: 93vh;
  animation: snow-drop 25.88s infinite,  wind 2.16s alternate infinite;
}

.s60 {
  margin-left: 61vw ;
  top: 7vh;
  animation: snow-drop 38.93s infinite,  wind 10.73s alternate infinite;
}

.s61 {
  margin-left: 66vw ;
  top: 11vh;
  animation: snow-drop 33.2s infinite,  wind 12.4s alternate infinite;
}

.s62 {
  margin-left: 70vw ;
  top: 24vh;
  animation: snow-drop 23.68s infinite,  wind 4.76s alternate infinite;
}

.s63 {
  margin-left: 64vw ;
  top: 30vh;
  animation: snow-drop 35.98s infinite,  wind 12.77s alternate infinite;
}

.s64 {
  margin-left: 71vw ;
  top: 45vh;
  animation: snow-drop 31.55s infinite,  wind 3.4s alternate infinite;
}

.s65 {
  margin-left: 70vw ;
  top: 58vh;
  animation: snow-drop 28.31s infinite,  wind 14.31s alternate infinite;
}

.s66 {
  margin-left: 73vw ;
  top: 67vh;
  animation: snow-drop 25.79s infinite,  wind 7.21s alternate infinite;
}

.s67 {
  margin-left: 73vw ;
  top: 73vh;
  animation: snow-drop 23.93s infinite,  wind 14.8s alternate infinite;
}

.s68 {
  margin-left: 76vw ;
  top: 80vh;
  animation: snow-drop 26.94s infinite,  wind 10.71s alternate infinite;
}

.s69 {
  margin-left: 76vw ;
  top: 96vh;
  animation: snow-drop 27.06s infinite,  wind 12.62s alternate infinite;
}

.s70 {
  margin-left: 74vw ;
  top: 4vh;
  animation: snow-drop 34.1s infinite,  wind 9.97s alternate infinite;
}

.s71 {
  margin-left: 74vw ;
  top: 11vh;
  animation: snow-drop 25.35s infinite,  wind 11.74s alternate infinite;
}

.s72 {
  margin-left: 75vw ;
  top: 25vh;
  animation: snow-drop 38.14s infinite,  wind 10.35s alternate infinite;
}

.s73 {
  margin-left: 77vw ;
  top: 30vh;
  animation: snow-drop 34.32s infinite,  wind 6.2s alternate infinite;
}

.s74 {
  margin-left: 79vw ;
  top: 40vh;
  animation: snow-drop 32.34s infinite,  wind 2.4699999999999998s alternate infinite;
}

.s75 {
  margin-left: 77vw ;
  top: 51vh;
  animation: snow-drop 31.91s infinite,  wind 3.19s alternate infinite;
}

.s76 {
  margin-left: 83vw ;
  top: 67vh;
  animation: snow-drop 25.9s infinite,  wind 11.77s alternate infinite;
}

.s77 {
  margin-left: 77vw ;
  top: 77vh;
  animation: snow-drop 26.69s infinite,  wind 4.48s alternate infinite;
}

.s78 {
  margin-left: 86vw ;
  top: 87vh;
  animation: snow-drop 34.85s infinite,  wind 13.36s alternate infinite;
}

.s79 {
  margin-left: 87vw ;
  top: 93vh;
  animation: snow-drop 29.99s infinite,  wind 9.65s alternate infinite;
}

.s80 {
  margin-left: 85vw ;
  top: 8vh;
  animation: snow-drop 27.86s infinite,  wind 10.4s alternate infinite;
}

.s81 {
  margin-left: 88vw ;
  top: 13vh;
  animation: snow-drop 37.1s infinite,  wind 8.39s alternate infinite;
}

.s82 {
  margin-left: 88vw ;
  top: 25vh;
  animation: snow-drop 25.65s infinite,  wind 6.67s alternate infinite;
}

.s83 {
  margin-left: 87vw ;
  top: 38vh;
  animation: snow-drop 30.82s infinite,  wind 8.84s alternate infinite;
}

.s84 {
  margin-left: 87vw ;
  top: 42vh;
  animation: snow-drop 31.41s infinite,  wind 6.98s alternate infinite;
}

.s85 {
  margin-left: 92vw ;
  top: 56vh;
  animation: snow-drop 29.22s infinite,  wind 9.8s alternate infinite;
}

.s86 {
  margin-left: 93vw ;
  top: 67vh;
  animation: snow-drop 23.61s infinite,  wind 3.36s alternate infinite;
}

.s87 {
  margin-left: 88vw ;
  top: 76vh;
  animation: snow-drop 30.31s infinite,  wind 14.43s alternate infinite;
}

.s88 {
  margin-left: 96vw ;
  top: 89vh;
  animation: snow-drop 37.32s infinite,  wind 11.38s alternate infinite;
}

.s89 {
  margin-left: 89vw ;
  top: 90vh;
  animation: snow-drop 23.14s infinite,  wind 7.4s alternate infinite;
}

.s90 {
  margin-left: 92vw ;
  top: 7vh;
  animation: snow-drop 25.73s infinite,  wind 11.96s alternate infinite;
}

.s91 {
  margin-left: 91vw ;
  top: 15vh;
  animation: snow-drop 24.11s infinite,  wind 14.18s alternate infinite;
}

.s92 {
  margin-left: 99vw ;
  top: 26vh;
  animation: snow-drop 23.24s infinite,  wind 10.38s alternate infinite;
}

.s93 {
  margin-left: 93vw ;
  top: 35vh;
  animation: snow-drop 33.82s infinite,  wind 2.5s alternate infinite;
}

.s94 {
  margin-left: 97vw ;
  top: 41vh;
  animation: snow-drop 25.46s infinite,  wind 11.73s alternate infinite;
}

.s95 {
  margin-left: 95vw ;
  top: 53vh;
  animation: snow-drop 34.17s infinite,  wind 7.53s alternate infinite;
}
