body,
html {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  transition: 2s;
}

h1:hover {
  transform: translate3d(5rem, 1rem, 5rem);
}
