* {
    background-color: black;
}

#picture {
    /* background: white; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: absolute;
    animation: mymove 10s infinite;
    animation-direction: alternate-reverse;
}

@keyframes mymove {
    100% {transform: rotate(2160deg);}
    from {left: 0px;}
    to {left: 1350px;}
}
