body {
  margin: 2rem;
  padding: 0;
  line-height: 1.5;
}

.grid {
  display: grid;
  /* margin: auto; */
  max-width: 990px;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: center;
  grid-template-rows: 250px 250px 250px;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 1px;
}

.grid > div {
  /* background: #EDE7F6; */
  padding: 1.5rem;
  text-align: center;
  /* border-radius: 1rem; */
}

@keyframes redshades {
  transform: rotate(135deg);
  0% {
    background-color: rgba(255, 0, 0, 0);
  }
  10% {
    background-color: rgba(255, 0, 0, 0.2);
  }
  20% {
    background-color: rgba(255, 0, 0, 0.4);
  }
  30% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  40% {
    background-color: rgba(255, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(255, 0, 0, 1);
  }
  60% {
    background-color: rgba(255, 0, 0, 0.8);
  }
  70% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  80% {
    background-color: rgba(255, 0, 0, 0.4);
  }
  90% {
    background-color: rgba(255, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}

.one {
  background-color: rgba(255, 0, 0, 0);
  animation-name: redshades;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.two {
  background-color: rgba(255, 0, 0, 0);
  animation-name: redshades;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.three {
  background-color: rgba(255, 0, 0, 0);
  animation-name: redshades;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.four {
  background-color: rgba(255, 0, 0, 0);
  animation-name: redshades;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

.five {
  background-color: rgba(255, 0, 0, 0);
  animation-name: redshades;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.six {
  background-color: rgba(255, 0, 0, 0);
  animation-name: redshades;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

.seven {
  background-color: rgba(255, 0, 0, 0);
  animation-name: redshades;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.eight {
  background-color: rgba(255, 0, 0, 0.1);
  animation-name: redshades;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.nine {
  background-color: rgba(255, 0, 0, 0.1);
  animation-name: redshades;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
