body {
  background-color: purple;
}
#one {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: aqua;
  margin: 0 auto;
  position: relative;
  animation: jumpAround 5s infinite;
}
#leye {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: brown;
  position: relative;
  top: 50px;
  left: 50px;
}
#reye {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: brown;
  position: relative;
  top: 50px;
  left: 150px;
}
#mouth {
  width: 75px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: 60px;
  left: 50px;
  transform: rotateZ(20deg);
}
#scream {
  width: 100px;
  height: 50px;
  font-size: 2rem;
  color: #fff;
  position: relative;
  right: 200px;
}

@keyframes jumpAround {
  from {
    top: 0px;
    transform: rotate(0deg);
  }
  to {
    top: 900px;
    transform: rotate(360deg);
  }
}
