/* move container to the center of the screen */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 50%;
    height: 75%;
    margin: 0 auto;
    padding: 0;
    align-items: end;
    
}

.wrap-shapes {
    position: relative;
    width: 100px;
    height: 100px;
    padding-left: 36px;
    animation-timing-function: ease-out;
    animation:shapes-animation 5s 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes shapes-animation {
    0%   { 
      
      left:0px; top:0px;
    }
    50%  {     

    }
    100% {
      left:50%; top:0px;

    }
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 80%;
  }
100% {
    transform: scale(1);
    border-radius: 0%;
  }
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}

.circel {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 100%;
  animation-name: stretch;
  animation-duration: 3.1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation-name: stretch;
  animation-duration: 3.1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}


.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.diamond {
    border-style: solid;
    border-color: transparent transparent red transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    box-sizing: content-box;
    position: absolute;
    margin: 20px 0 50px 0;
    top: -15px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}

.diamond:after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: red transparent transparent transparent;
  border-width: 70px 50px 0 50px;
}

.floor {

  text-align: center;
  font-weight: bold;
  font-size: 70px;
  position: relative;
  padding-top: 82px;
  margin: 0 auto;
  width: 50%;
  flex-basis: 30%;
  height: 25%;
  animation: one 2s infinite;
  animation-direction: alternate;
  color: #FFFFFF;
  background: #0e8dbc;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
  color: #FFFFFF;
  background: #0e8dbc;

}

@keyframes one {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(50deg);
  }
}