.naruto {
  display: flex;
  justify-content: center;
}
img {
  width: 40%;
  border-radius: 50px;
  animation-name: imgAnimation;
  animation-duration: 3s;
}
.class {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  animation: running;
  animation-name: color-change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin-top: 0%;
}
@keyframes imgAnimation {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  25% {
    transform: rotate(20deg);
    left: 0px;
  }
  100% {
    transform: rotate(-360deg);
    left: 0px;
  }
}

@keyframes color-change {
  from {
    color: yellow;
  }
  to {
    color: orange;
  }
}
