body {
    background-color: #242424;
}

h1 {
    text-align: center;
    color: #fff;
    padding: 10px;
    font-family: sans-serif;
    animation-name: title;
    animation-duration: 4s;
}

#circle {
    height: 100px;
    width: 100px;
    background-color: #27ae60;
    position: relative;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 4s;
    margin: auto;
    align-items: center;
    transition: width 2s;
}

@keyframes title {
    from {
        color: #e74c3c;
    }

    to {
        color: #f1c40f;
    }
}


@keyframes circle {
    0% {
        background-color: #27ae60;
        left: 0px;
        top: 40px;
    }

    25% {
        background-color: #f1c40f;
        right: 50px;
        top: 10px;
    }

    50% {
        background-color: #fff;
        left: 20px;
        top: 50px;
    }

    75% {
        background-color: #e67e22;
        left: 10px;
        top: 100px;
    }

    100% {
        background-color: #27ae60;
        left: 0px;
        top: 0px;
    }
}

#circle:hover {
    width: 200px;
}