*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
body{
    height:100vh;
    background:linear-gradient(to bottom right, rgb(116, 116, 211), rgb(91, 216, 139));
}
h1{
    text-align: center;
    margin:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.container{
    margin: 0px auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* justify-content:center; */
    width:90vw;
    padding:20px;
}
.box{
    /* width:30%; */
    height:100px;
    text-align:center;
    transition:width .4s ease .5s;
}
.box1{
    width:10%;
    background-color:rgb(236, 84, 84);
    /* animation-duration: 3s;
    animation-name: slideIn; */
    animation: slideIn 1s linear 1s infinite alternate;
}
.AnimationSlide{
    animation: slideIn 1s linear 1s infinite alternate;
}
@keyframes slideIn{
    from {
        width:0%;
    }
    to {
        width: 100%;
    }
}
.box2{
    width:100px;
    background-color:rgb(97, 97, 245);
    animation: circle1 6s linear 1s infinite ;
    z-index: -10000000;
    border-radius: 50%;
    position: relative;
    padding: 10px;
    margin: 10px;
}
.box2::before{
    content:'';
    height:5px;
    width:100%;
    background-color:red;
    position:absolute;
    top:50%;
    left:-1px;

}
.box2::after{
    content:'';
    height:5px;
    width:100%;
    background-color:red;
    position:absolute;
    top:50%;
    left:0;
    transform: rotate(90deg);
}
@keyframes circle1{
    0%{transform:rotate(0deg)}
    /* 25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(-180deg)} */
    100%{transform: rotate(360deg);}
}
.box3{
    width:100px;
    height:70px;
    border-radius: 50px 20px 0px 0px;
    /* border:1px solid black; */
    background-color:rgb(255, 255, 103);
    align-self: flex-end;
    position: relative;
    animation: run 7s linear 1s infinite ; 
}
.back{
    height: 40px;
    width: 60px;
    background-color: rgb(255, 255, 103);
    position: absolute;
    right:-40px;
    bottom:0;
    border-radius: 10px;

}
.front{
    height: 40px;
    width: 60px;
    background-color: rgb(255, 255, 103);
    position: absolute;
    left:-50px;
    bottom:0;
    border-radius: 30px 10px;

}
.front-w{
    content:'';
    height:35px;
    width:35px;
    border-radius: 50%;
    background-color:  rgb(56, 56, 56);
    position:absolute;
    left:-10px;
    bottom:-10px;
    z-index: 1000;
    animation: rotateW 6s linear 1s infinite ;
}
@keyframes rotateW{
    0%{transform: rotate(0);}
    25%{transform: rotate(-360deg);}
    50%{transform: rotate(-720deg);}
    75%{transform: rotate(-1080deg);}
    100%{transform: rotate(-1440deg);}
    

}
.front-w::before{
    content:'';
    height:5px;
    width:30px;
    
    /* border-radius: 50%; */
    background-color: rgba(255, 0, 0, 0.534);
    position:absolute;
    left:2.5px;
    bottom:14px;
    z-index: 1001;
}
.front-w::after{
    content:'';
    height:5px;
    width:30px;
    /* border-radius: 50%; */
    background-color:rgba(255, 0, 0, 0.534);
    position:absolute;
    left:2px;
    transform: rotate(90deg);
    bottom:14px;
    z-index: 1001;
}
.back-w{
    content:'';
    height:35px;
    width:35px;
    border-radius: 50%;
    background-color: rgb(56, 56, 56);
    position:absolute;
    right:-10px;
    bottom:-10px;
    z-index: 1000;
    /* padding: 10px; */
    animation: rotateW 6s linear 1s infinite;
}
.back-w::before{
    content:'';
    height:5px;
    width:30px;
    margin: 0px auto;
    /* border-radius: 50%; */
    background-color: rgba(255, 0, 0, 0.534);
    position:absolute;
    left:2.5px;
    bottom:14px;
    z-index: 1001;
}
.back-w::after{
    content:'';
    height:5px;
    width:30px;
    /* border-radius: 50%; */
    background-color:rgba(255, 0, 0, 0.534);
    position:absolute;
    left:2px;
    transform: rotate(90deg);
    bottom:14px;
    z-index: 1001;
}
@keyframes run{
    0%{transform: translateX(0);}
    100%{transform: translateX(-70vw);}
    /* 0%{transform: rotate(0deg);}
    25%{transform-origin: bottom left;transform: rotate(-90deg);}
    50%{transform-origin:-100px 50px;transform: rotate(-180deg);}
   
    75%{transform-origin:;transform: rotate(-270deg);}
    75%{transform-origin:50px -100px;transform: rotate(-360deg);} */
}
.box4{
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius:50%;
    border:10px solid blue;
    margin:40px;
    position: relative;
    animation: sm 1s linear 1s infinite ;
    z-index: 100;
}
.box4::before{
    content:'';
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:white;
    position:absolute;
    border: 5px solid black;
    top:5px;
    left:5px;
    animation: sm 1s linear 1s infinite ;
}
.box4::after{
    content:'';
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color:white;
    position:absolute;
    border: 10px solid black;
    top:-30px;
    left:-30px;
    z-index: -111;
    animation: sm 1s linear 1s infinite ;
}
@keyframes sm{
    0%{
        transform: scale(0);
        /* transform: translateX(0); */
    }
    100%{transform: scale(-1);
        /* transform: translateX(20px);    */
    }
    
}

.big{
    width:100%;
}
.btn{
    padding: 10px;
    margin: 10px;
    color: #fafafa;
    background-color: rgba(99, 99, 228, 0.603);
    border:none;
    transition: all .2s ease;
    cursor: pointer;
}
.btn:focus{
    outline:none;

}
.btn:hover{
    background-color:rgb(74, 74, 184);
    transform: scale(1.2);
}
/* .small{
    width:20%;
} */