.full-bike {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bike {
    position: absolute;
    width: 600px;
    height: auto;
    z-index: 2;
    background-color: transparent;
}

.wheel {
    width: 290px;
    height: auto;
}

.wheel.front {
    position: absolute;
    margin-right: 33rem;
    margin-top: 13.5rem;
    z-index: 1;
    background-color: transparent;
    animation: rotation1 1s infinite linear;
}

.wheel.rear {
    position: absolute;
    margin-left: 32rem;
    margin-top: 13.5rem;
    z-index: 1;
    background-color: transparent;
    transform: rotate(130deg);
    animation: rotation2 1s infinite linear;
}

@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(130deg);
  }
  to {
    transform: rotate(-229deg);
  }
}
