.the_ball{
	display: block;
	background-color: black;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	margin: 0;
	position: relative;
	animation-name: rolling;
	animation-duration: 10s;
	animation-iteration-count: infinite
}

@keyframes rolling{
	0%{background-color:yellow; left:0%; top:0px;}
	25%{background-color:blue; left:20%; top:100px;}
	50%{background-color:red; left:40%; top:200px;}
	75%{background-color:purple; left:60%; top:300px;}
	100%{background-color:green; left:80%; top:400px;}
}