@keyframes bounce-and-move {
  0% {
    transform: translateX(0);
    font-size: small;
  }
  25% {
    transform: translateX(30vw);
    font-size: xx-large;
  }
  50% {
    transform: translateX(80vw);
    font-size: small;
  }
  75% {
    transform: translateX(30vw);
    font-size: xx-large;
  }
  100% {
    transform: translateX(0);
    font-size: small;
  }
}

@keyframes rainbow {
  from {
    color: #5757ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #ffe600;
  }
  75% {
    color: #ff8133;
  }
  100% {
    color: #ff6666;
  }
}

.shifting-name {
  animation:
    bounce-and-move 3s infinite ease-in-out,
    rainbow 5s infinite ease-in-out;
}

.top-margin {
  margin-top: 35vh;
}
