
body {
    background-color: #3F2F3A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 60vw;
    padding: 80px;
    background: rgba(0, 0, 0, 0.2);
}

h1 {
    position: relative;
    color: #f25f4c;
}

.line {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    display: block;
    background-color: #f25f4c;
    bottom: calc(50% - 1px);
    animation: line 2000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transform-origin: left;
    transform: translateX(0) scaleX(0);
    /* // animation-iteration-count: infinite; */
}

.char {
    display: inline-block;
    position: relative;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-name: kern;
    animation-delay: calc(var(--char-index) * 5ms);
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 0;
    /* // animation-iteration-count: infinite; */
}

@keyframes line {
    45% {
        transform: translateX(0) scaleX(0);
    }

    70% {
        transform: translateX(0) scaleX(0.8);
    }

    100% {
        transform: translateX(100%) scaleX(0);
    }
}

@keyframes kern {

    0%,
    70% {
        transform: translateX(calc((var(--char-index)) * 40px));
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        animation-timing-function: none;
    }
}

/* Blue Loading */
/* body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

} */

.all-loading {
    display: block;
}

.loading {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #009EE5;
    position: relative;
    overflow: hidden;
    display: block;
}

.loading:before {
    content: "";
    height: 300px;
    width: 300px;
    background: #fff;
    position: absolute;
    bottom: 100px;
    left: -50px;
    border-radius: 40%;
    animation: loading1 4s linear infinite;
}

@keyframes loading1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading:after {
    content: "";
    height: 300px;
    width: 300px;
    background: #fff;
    position: absolute;
    bottom: 100px;
    left: -50px;
    opacity: .6;
    border-radius: 35%;
    animation: loading2 6s linear infinite;

}

@keyframes loading2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* for box loading */

.box {
    height: 30px;
    width: 200px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;

}

.box:before {
    content: "";
    height: 30px;
    width: 200px;
    background: linear-gradient(45deg, orange, #009EE5);
    position: absolute;
    animation: boxloading 6s linear infinite;

}

@keyframes boxloading {
    0% {
        left: -200px;
    }

    100% {
        left: 0px;
    }
}

/* Cup Loading */
.container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 400px;
}

/* Cup */
.cup {
    position: absolute;
    background-color: #ecfdf7;
    border-radius: 0 0 25px 25px;
    width: 40%;
    height: 70%;
    top: 12.5%;
    left: 25%;

    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
    border: 5px solid rgba(255, 255, 255, 0.06);
    border-top: none;
    border-bottom: 15px solid rgba(255, 255, 255, 0.06);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

/*.cup:before {
content: "";
position: absolute;
height: 85%;
width: 40%;
left: 113px;
top: 4px;
z-index: 20;
background-color: rgba(255, 255, 255, 0);
box-shadow: 13px 2px 8px -8px rgba(255, 255, 255, 0.2);
}*/

/* Liquid */
.cup-liquid {
    position: absolute;
    position: relative;
    background: #f17b3f;

    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;

    border-radius: 0 0 5% 5%;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.cup-liquid:before,
.cup-liquid:after {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 15%;
    left: 30%;
    background: #000;
}

.cup-liquid:before {
    border-radius: 45%;
    background: rgba(255, 255, 255, 1);
    background: rgba(63, 47, 58, 1);
    animation: animate 5s linear infinite;
}

.cup-liquid:after {
    border-radius: 40%;
    background: rgba(255, 255, 255, .5);
    background: rgba(63, 47, 58, .5);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }


    /*@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(500deg);
  }
}*/

    /*.cup-liquid:before {
  content: "";
  width: 100%;
  height: 15%;
  position: absolute;
  background-color: #f95329;
  border-radius: 50%;
  left: 0%;
  top: -8%;
}

.cuq-liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}*/