body {
  margin: 0px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(14, 168, 14);
  animation-name: groundChange;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

@keyframes groundChange {
  100% {
    background-color: rgb(17, 39, 3);
  }
}

.Sky {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  clip-path: polygon(
    0 100%,
    19% 83%,
    29% 78%,
    48% 72%,
    56% 74%,
    83% 61%,
    95% 58%,
    100% 61%,
    100% 0,
    0 0
  );
  background: linear-gradient(
    to bottom,
    rgb(207, 134, 236),
    rgb(0, 135, 212),
    rgb(70, 201, 241),
    rgb(120, 235, 255),
    rgb(183, 243, 245)
  );
  animation-name: skyChange;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

@keyframes skyChange {
  0% {
    background: linear-gradient(
      to bottom,
      rgb(207, 134, 236),
      rgb(0, 135, 212),
      rgb(70, 201, 241),
      rgb(120, 235, 255),
      rgb(183, 243, 245)
    );
  }

  20% {
    background: linear-gradient(
      to bottom,
      rgb(185, 97, 219),
      rgb(26, 137, 201),
      rgb(81, 199, 235),
      rgb(173, 221, 228),
      rgb(236, 245, 158)
    );
  }

  50% {
    background: linear-gradient(
      to bottom,
      rgb(163, 83, 238),
      rgb(71, 182, 226),
      rgb(230, 235, 168),
      rgb(253, 255, 115),
      rgb(194, 177, 82)
    );
  }

  80% {
    background: linear-gradient(
      to bottom,
      rgb(224, 88, 156),
      rgb(226, 217, 87),
      rgb(235, 155, 50),
      rgb(211, 110, 16),
      rgb(117, 27, 0)
    );
  }

  100% {
    background: linear-gradient(
      to bottom,
      rgb(2, 0, 0),
      rgb(8, 8, 0),
      rgb(31, 18, 1),
      rgb(43, 21, 1),
      rgb(48, 11, 0)
    );
  }
}

.Sun {
  position: relative;
  align-self: flex-end;
  margin-left: 50px;
  margin-bottom: 400px;
  height: 150px;
  width: 150px;
  background-color: rgb(238, 238, 67);
  border-radius: 50%;
  animation-name: sunDown;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

@keyframes sunDown {
  0% {
    transform: translateY(20%);
  }

  80% {
    background: rgb(180, 7, 7);
  }

  100% {
    transform: translateY(300%);
    background: transparent;
  }
}

.Moon {
  position: relative;
  align-self: flex-end;
  margin-left: 50px;
  margin-bottom: 400px;
  height: 150px;
  width: 150px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px rgb(223, 220, 220);
  animation-name: moonUp;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

@keyframes moonUp {
  0% {
    transform: translateY(300%);
    box-shadow: 25px 10px 0px 0px transparent;
  }

  100% {
    transform: translateY(20%);
  }
}
