html, body {
	height: 100%;
	margin: 0;
}

div.green {
	display: flex;
	background-color: #1A6811;
	font-size: 5rem;
	height: 100%;
	animation: greennight 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes greennight {
	from {
		background-color: #1A6811;
	}
	to {
		background-color: #0B2608;
	}
}

div.lake {
	width: 5em;
	height: 4em;
	align-self: center;
	background-color: #246B61;
	border-radius: 30%;
	border: 10px solid #AA7F39;
	text-align: center;
	font-weight: bold;
	color: lightblue;
	line-height: 3.5rem;
	animation: bluenight 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes bluenight {
	from {
		background-color: #246B61;
		border: 10px solid #AA7F39;
	}
	to {
		background-color: #08141E;
		border: 10px solid #2F230A;
	}
}

div.ground {
	width: 6em;
	height: 4em;
	background-color: #AA7F39;
	align-self: flex-end;
	border-radius: 7%;
	animation: groundnight 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

@keyframes groundnight {
	from {
		background-color: #AA7F39;
	}
	to {
		background-color: #2F230A;
	}
}

.palm1 {
	position: relative;
	top: 10rem;
	height: fit-content;
}

.palm2 {
	position: relative;
	top: 2rem;
	height: fit-content;
}

.palm3 {
	position: relative;
	top: 16rem;
	left: 4.7rem;
	height: fit-content;
}

.palm4 {
	position: relative;
	top: 21rem;
	left: 3rem;
	height: fit-content;
}


.uomo, .dino {
	height: fit-content;
	position: relative;
	animation: run 4s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

.dino {
	animation-delay: .7s;
}

@keyframes run {
	0% {
		top: 0%;
	}
	10% {
		top: 80%;
		right: 0%;
	}
	30% {
		top: 80%;
		right: 50%;
		}
	50% {
		top: 20%;
		bottom: 70%;
	}
	70% {
		top: 3%;
		right: 39%;
	}
	100% {
		top: 3%;
		right: 0%;
	}

}
